[2018-03-17 03:54] ariel-phet commented on #179
@jessegreenberg this seems like it would be a nice addition considering we are not likely to work on greenhouse anytime soon. Yes it would be reasonable for @mbarlow12

@arouinfar any thoughts? We should certainly make a mockup (feel free to delegate that to @DianaTavares)

[2018-03-19 18:21] jessegreenberg opened #181 "branch: description-temp"
A branch with initial commits for #180. Should be short lived likely merged with master quickly. Assigning to @mbarlow12 just so he is aware since he is working on that issue.

[2018-03-19 18:36] arouinfar commented on #179
@ariel-phet I think this would be a great idea!! I talked to several teachers at NSTA who wanted to see The Greenhouse Effect ported to HTML5, so I think this would be a nice addition to MAL.

My primary concern with methane would be how to represent it. It has a tetrahedral geometry, but is presented with a square planar geometry in Java. A quick Unfuddle search reveals that we don't appear to ha

[2018-03-19 18:39] DianaTavares commented on #179
Thanks! I am interested in participate.

[2018-03-19 18:40] arouinfar commented on #179
Great! We can talk about it more when I'm in the office tomorrow @DianaTavares. :smile:

[2018-03-23 00:13] DianaTavares commented on #179
this is the sim mockup with the methane molecule

![screen shot 2018-03-22 at 6 08 48 pm](https://user-images.githubusercontent.com/26031501/37804857-1b3963de-2dfc-11e8-90a0-5626fcf8fc75.png)

Closer mockup of the molecule

![screen shot 2018-03-22 at 6 09 58 pm](https://user-images.githubusercontent.com/26031501/37804886-40ade02c-2dfc-11e8-8809-fbdef8af5b46.png)

and this si the movement of the m

[2018-03-23 18:18] mbarlow12 commented on #180
Completed the help text in the above commits. We can review at

https://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.5.0-dev.4/phet/molecules-and-light_a11y_view.html

Up next is handling the alerts.

[2018-03-27 16:08] arouinfar commented on #179
Great, @ariel-phet!

@mbarlow12 please let me know if you have any questions.

[2018-03-28 00:05] mbarlow12 commented on #179
I added the basic functionality in the above commit, but I still need to tweak the appearance of the CH4 molecule.

- [ ] TODO: match methane appearance to design

[2018-03-28 15:04] pixelzoom opened #182 "Automated testing failure: value should be string, but it was undefined"
This error is chronic and started with CT at `3/27/2018, 6:31:10pm`.  Looks like @mbarlow12 and @zepumph were making a11y-related commits around then, assigning to them.

[code]
Approximately 3/28/2018, 8:22:14 AM

[2018-03-28 16:04] samreid commented on #179
In the preceding commit, I fixed a typo that was causing a phet-io fuzzing bug (and probably other issues), please pull.

[2018-03-28 19:38] mbarlow12 commented on #179
Thanks @samreid for catching.

[2018-03-28 19:38] mbarlow12 commented on #182
Appears to be fixed with https://github.com/phetsims/molecules-and-light/commit/ac881dacec99e0f3b53356c1a1b434293faaea3e.

[2018-03-28 19:39] #182 closed

[2018-04-19 02:03] terracoda opened #183 "Need new dev link for this sim"
We are creating new content for the PhET website (https://github.com/phetsims/website/issues/666).

The latest dev version of MAL has some issues withe list of molecules. Could we get a new dev version as it seems this issue is fixed on phettest?

[2018-04-19 17:25] jessegreenberg commented on #183
A dev version off of master might include incomplete work for #179. @terracoda what features of MAL are required for the prototype version?

[2018-04-19 17:54] terracoda commented on #183
The latest [dev version](https://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.5.0-dev.4/phet/molecules-and-light_all_phet.html?accessibility) has the molecules chopped off.

It would be great if the version fixes the visual is keyboard accessible, and has the latest version of the descriptions (Scenery Summary and labels, maybe).

[2018-04-19 17:55] terracoda commented on #183
Oh, yes, I noticed methane. I though that was new! But I think that might be ok. It sounded fine on PhET Test.

[2018-04-19 19:47] jessegreenberg commented on #183
The latest implementation of the descriptions is still a work in progress and probably won't sound very good with a screen reader (I noticed some wonky HTML). The addition of Methane is also a work in progress its requested physical behavior is hasn't been fully implemented. @terracoda when do you need this link by? It seems like depending on time frame, we need to

- Use a previous dev version
-

[2018-04-19 21:33] terracoda commented on #183
@emily-phet, for the prototypes, do we need to be really mindful of how advanced the features are and what kinds of issues they might have?

[2018-04-19 21:59] emily-phet commented on #183
@terracoda I think simple is better for this list. Let's not indicate anything specific about how advanced or refined the features are. We can add somewhere that if people have questions about a prototype they can contact phethelp. I predict it will be too much overhead to update the info about the status of the prototype each time we want to update the link.

[2018-04-19 22:29] jessegreenberg commented on #183
@terracoda @emily-phet @arouinfar if OK with methane, here is a a new dev version:

https://bayes.colorado.edu/dev/html/molecules-and-light/1.5.0-dev.5/phet/molecules-and-light_en_phet.html?accessibility

https://bayes.colorado.edu/dev/html/molecules-and-light/1.5.0-dev.5/phet/molecules-and-light_a11y_view.html

[2018-04-24 18:10] pixelzoom opened #184 "startup crash due to custom close button in SpectrumWindowDialog"
Reported by @zepumph.

After the Dialog close button was made mandatory in https://github.com/phetsims/joist/issues/413, MAL started crashing on startup with PhET-iO enabled.  E.g.

http://localhost/~cmalley/GitHub/molecules-and-light/molecules-and-light_en.html?brand=phet-io&ea&phetioStandalone

Stack trace was complaining about the tandem id for the close button being registered twice in `Spectr

[2018-04-24 18:32] pixelzoom opened #185 "unbelievably bad PhET-iO support in SpectrumWindowDialog"
Noticed while working on #184 in `SpectrumWindowDialog`.

There's some really awful stuff in `SpectrumWindowDialog`, "done primarily for PhET-iO support".  I can't tell who is responsible based on GitHub commits.

Here's the relevant part of the implementation:

[code]

So many things wrong with this, but the 2 big things are:

(1) There's something being done here for PhET-iO support that is not

[2018-04-24 18:36] pixelzoom opened #186 "rename SpectrumWindowDialog to LightSpectrumDialog"
Noted while working on #184 and #185.

`SpectrumWindowDialog`?... What the heck is a "window dialog"?...

Highly recommended to rename `SpectrumWindowDialog` to `LightSpectrumDialog`.  Renaming will make this dialog easier to find.   Ditto for the a11y and i18n strings and their keys.

It looks like this:

![screenshot_585](https://user-images.githubusercontent.com/3046552/39206880-d2b4a3ce-47bb-1

[2018-04-25 15:04] jbphet commented on #186
+1 for the rename.  It probably got this name when it was ported from `SpectrumWindow.java`, and @pixelzoom's suggested name is an improvement.

[2018-04-26 20:15] zepumph commented on #184
Looks good, thanks @pixelzoom.

[2018-04-26 20:15] #184 closed

[2018-05-15 13:17] mbarlow12 commented on #186
@jessegreenberg do you mind if I reassign to myself since I'm working on the alerts and CH4 updates?

[2018-05-15 13:26] mbarlow12 commented on #180
I noticed this text in the description [spreadsheet](https://docs.google.com/spreadsheets/d/1AwlqM8DUchUunzUHyK63xXIIjVtgkV6Q55oDLlKC9hg/edit#gid=0),

`* In observation window, {{ultraviolet}} light source points direclty at {{an}} {{ozone}} molecule and photons are being emitted at {{slow}} rate towards the molecule.`

This appears to be a 3rd case for the dynamic text for the Observation Window,

[2018-05-15 13:45] terracoda commented on #180
@mbarlow12 are you referring to cell C9 under Linear Description tab? Where are the other 2 descriptions for the Observation Window?

Phrases in C9 are not alerts by my examination. I believe that the 2 cases there are dynamic descriptions and intended to describe the state of the observation window. If it the light source is off, you get various possibilities using the phrase for Case 1, and if t

[2018-05-15 13:47] terracoda commented on #180
@mbarlow12, the link in https://github.com/phetsims/molecules-and-light/issues/180#issuecomment-375756966 is not working. Could post a new one when you have time?

[2018-05-16 20:17] mbarlow12 commented on #180
@terracoda It's actually the cell G9 in the 'Notes' column. There's an added placeholder for the rate of photon emission (e.g. {{slow}}) that does not appear in the C9 strings.

C9 Case 2:
[code]

G9
[code]

It's unclear if this text is supposed to appear in the html or if it's just a note from the design process/dicsussion.

[2018-05-16 20:18] mbarlow12 commented on #180
Here's the latest dev release:
https://bayes.colorado.edu/dev/html/molecules-and-light/1.5.0-dev.5/phet/molecules-and-light_a11y_view.html

[2018-05-17 01:12] terracoda commented on #180
@mbarlow12, oh, I see, great question! I am pretty sure the notes column, is just "notes" that you can ignore. I think in this case, the note is a previous iteration.

I think you just need either case 1 or case 2 that are actually in cell C9.

[2018-05-17 01:26] terracoda commented on #180
@mbarlow12, I had a quick peak at the a11y view. The content is looking great! Nice work so far!

[2018-05-17 21:56] mbarlow12 commented on #180
Thanks for the clarification! Alerts are almost done—they just need some clean up.

[2018-05-24 18:17] terracoda commented on #180
@mbarlow12, re https://github.com/phetsims/molecules-and-light/issues/180#issuecomment-382898599, I made a quick stab at Methane, based on the other descriptions.

[2018-05-26 00:17] jessegreenberg commented on #185
This TODO is at least a year old and the feature hasn't been added to Dialog in that time, maybe it is no longer required.

I am not very familiar so removing my assignment, let me know if I can help.

[2018-05-26 00:19] jessegreenberg commented on #186
Please do @mbarlow12, and thanks.

[2018-05-26 00:20] jessegreenberg opened #187 "Cannot register two different instances to the same id: moleculesAndLight.moleculesAndLightScreen.view.observationWindow.photonEmitterNode.infraredSlider.visibleProperty"
Showing up frequently in bayes CT.

[code]

[2018-05-26 00:31] jessegreenberg commented on #187
@zepumph kindly let me know this is related to https://github.com/phetsims/phet-io/issues/1326 and will be handled there.

[2018-05-26 00:31] jessegreenberg commented on #187
This is a duplicate issue and will be handled elsewhere. Closing.

[2018-05-26 00:31] #187 closed

[2018-06-01 00:51] mbarlow12 commented on #186
No instances of 'SepctrumWindowDialog' and the sim's running with no lint errors. Closing.

[2018-06-01 16:22] jessegreenberg commented on #186
@mbarlow12 was this done on a branch? I am still seeing SpectrumWindowDialog in master.

[2018-06-01 16:26] mbarlow12 commented on #186
Shoot—yes. In the description branch. That would be why I kept this open, I believe. I'll check through the other branch and merge with master.

[2018-06-01 16:29] jessegreenberg commented on #186
Thanks!

[2018-06-04 15:57] jbphet commented on #142
Assigning to @ariel-phet to answer question above.

[2018-06-07 00:59] ariel-phet commented on #142
@jbphet @jessegreenberg

I think this might be a good candidate to do a new RC on instead of a maintenance release. I would like to get sims on chipper 2.0 when possible, and this seems like a fairly easy one to test, and QA is not backlogged at the moment, so we have a good window.

@jessegreenberg does it seem to reasonable to republish off master? If so move forward, if not please reassign me f

[2018-06-12 15:46] samreid commented on #185
I'm not planning to work on this until we revisit Molecules and Light, unless it is blocking work for Dialog.  @pixelzoom please reassign me if this is blocking work on Dialog.

[2018-06-18 22:46] jessegreenberg commented on #170
@mbarlow12 are you working in this branch at all? I *think* that this branch can be deleted since more recent description work is happening in #181, is that correct?

[2018-06-18 22:54] jessegreenberg commented on #142
@ariel-phet The only thing holding up a deployment out of master is work for https://github.com/phetsims/molecules-and-light/issues/179, adding methane to this sim. The behavior of methane from the java version was added, but some work needs to go into updating the look of the vibration behavior.

How would you like to proceed? Would you like to finish the work for methane first or remove it and r

[2018-06-19 01:36] jessegreenberg commented on #142
After reviewing I would  expect it to take 4-5 hours to add the requested 3D looking methane to the sim.

[2018-06-19 01:47] jessegreenberg commented on #179
From #142, the requested 3D appearance of Methane is a bit different from the others and won't be supported by the current representation strategies. I expect it to take ~4 hours to add support for the new appearance and vibration behavior.

[2018-06-19 15:47] ariel-phet commented on #142
@jessegreenberg I would like to finish off the methane work.

[2018-06-19 23:52] jessegreenberg commented on #179
In #142 @ariel-phet said

I discussed with @mbarlow12 and he will work on this soon. Most of the work will go into creating a new Molecule view type that supports layering atoms and atomic bonds, adding support for atomic bonds to not just extend from atom centers, adding support for gradients on the bond nodes, and implementing a vibration strategy to support https://github.com/phetsims/molecules

[2018-06-19 23:54] jessegreenberg commented on #142
Sounds good, then this is on hold until #179 is complete. Discussed with @mbarlow12 and removing my assignment.

[2018-07-09 19:23] pixelzoom commented on #186
Would be nice to get this one wrapped up. It's name came up again in https://github.com/phetsims/sun/issues/369, and my reaction was "has that still not been renamed?"

[2018-07-09 19:28] pixelzoom commented on #186
I handled the rename in master.  I also noticed that the constructor param `spectrumWindowButton` was unused, so I removed it.

@mbarlow12 please review.

[2018-07-09 19:30] pixelzoom commented on #186
@zepumph @samreid Note that this dialog's tandem was renamed from `spectrumWindowDialog` to `lightSpectrumDialog`, in case that impacts anything.

[2018-07-17 00:13] mbarlow12 commented on #186
Everything looks good. I also updated some variable names to use 'spectrumDialog' instead of 'spectrumWindow' in latest commit. Fuzz tested w/out errors. @pixelzoom do you prefer to close issues you originally opened or have the assigned dev do so?

[2018-07-17 22:07] jessegreenberg opened #188 "String rename causing lint issues"
Some changes in #186 caused a lint issue to start popping up.
[code]

There is a lint rule that enforces naming conventions for our strings.

[2018-07-17 22:10] jessegreenberg commented on #188
I think we should revert changes to `MoleculesAndLightScreenView` in 3e0bac411d0f66487de88c3b05ffa143ed1ce2c8 since string keys  can't be renamed.

[2018-07-17 22:23] jessegreenberg commented on #188
@mbarlow12 friendly reminder to run lint tests before committing to master.

Lint error has been fixed, but now we will have a11y strings that will be prefixed with `spectrumDialog` and non-a11y strings that will be prefixed with `spectrumWindow`. I don't think this is too big of an issue, but @mbarlow12 can you please review? If you would rather change for consistency go ahead, otherwise this can

[2018-07-17 22:44] mbarlow12 commented on #188
Reverted the other changes for consistency. Apologies for the errors. Closing.

[2018-07-17 22:44] #188 closed

[2018-12-20 09:10] mbarlow12 commented on #179
New one-off prototype here:
https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-3dtemp.1/phet/molecules-and-light_en_phet.html

Some pixel polishing necessary still.

[2018-12-20 17:39] arouinfar commented on #179
@mbarlow12 the methane vibration is looking really nice! I also kinda like the skewed perspective, as I think it makes it a bit easier to see the vibration. For methane itself, the only pixel polishing I would request would be shorter bonds, similar to the mockup in https://github.com/phetsims/molecules-and-light/issues/179#issuecomment-375801860.

[2019-01-02 20:23] samreid opened #189 "Microwave wavelength is incorrect"
While working on https://github.com/phetsims/phet-io-wrappers/issues/217 @zepumph and I noticed that Molecules and Light reports the microwave wavelength as 20 meters.   This value was reported in the phet-io state wrapper:

[code]

However, https://www.sciencedaily.com/terms/microwave.htm suggests that valid ranges for microwaves is:

@ariel-phet is this really an incorrect microwave value?  If s

[2019-01-03 03:31] zepumph opened #190 "slider focusHighlight is "stuck""
The focus highlight doesn't move with the slider right now, this should block publication on all a11y related releases of this, here is a screen shot.

[2019-01-03 03:31] zepumph commented on #190
![image](https://user-images.githubusercontent.com/6856943/50622807-a700d180-0ebc-11e9-895a-6cabca4aa645.png)

[2019-01-03 16:00] jessegreenberg commented on #190
Thanks @zepumph, would be good to investigate this since it may not be a sim specific issue.

[2019-01-03 21:52] ariel-phet commented on #189
@samreid that value does seem incorrect.

@jessegreenberg - is there any reason that value is set a certain way? Does it affect anything else in the sim if we change this value to 20 cm? (Microwave oven is about 12 cm).

Since this value isn't displayed anywhere except iO I am not quite sure why it would matter.

[2019-01-03 22:22] jessegreenberg commented on #189
Interesting, thanks for pointing out. I don't see any consequences in changing this value, it isn't used in any calculations. The sim just compares current wavelength  against values in WavelengthConstants.

Two sonification wrappers are using the value "20" to play a microwave sound, Ill update those too.

[2019-01-09 15:53] jessegreenberg opened #191 "Slider thumb is no longer draggable"
Maybe related to #190 but the thumb in this sim is no longer draggable.

[2019-01-09 23:40] jessegreenberg commented on #191
Sorry, this was due to working copy changes.

[2019-01-09 23:40] #191 closed

[2019-01-10 00:17] jessegreenberg commented on #190
It looks like this used to be working because the thumb itself with a pink rectangle child was the focus highlight for the slider. But that has changed, and the focus highlight is now just set on the slider. But that change used FocusHighlightPath, which doesn't track the node's transform.

[2019-01-10 00:22] jessegreenberg commented on #190
Accessibility improvements since this sim was last worked on means that we don't need to create a custom highlight for the thumb, the default highlight in Slider will go around the custom thumb's bounds.

[2019-01-10 01:07] zepumph commented on #190
Before the focusHighlight was touching the background, now there is a bit of space:

![image](https://user-images.githubusercontent.com/6856943/50939298-aae6a380-1428-11e9-8206-581d8766ea85.png)

Does this matter to you @jessegreenberg?

[2019-01-10 17:19] jessegreenberg commented on #190
Thank you @zepumph, we scoured the related issue and couldn't find explicit documentation about it, but after sleeping on it I am remembering that having the highlight hug the grey box makes it easier to see against the red of the emitter node. Ill make the change, and add documentation to the code about why the smaller highlight was required.

[2019-01-10 17:36] jessegreenberg commented on #190
Here it is now, @zepumph does this look better?
![capture](https://user-images.githubusercontent.com/6396244/50986270-63b5ec80-14d4-11e9-9417-d6918ab745c8.PNG)

[2019-01-10 18:48] zepumph opened #192 ""photons" group tandem should be singular"
I think it makes more sense to see `photon_1` instead of `photons_1`

[2019-01-10 20:16] #190 closed

[2019-01-15 21:00] jessegreenberg opened #193 "Possible memory leak?"
CT just reported
[code]

[2019-01-15 21:57] jessegreenberg commented on #193
Hmm, running with fuzzBoard I watched the heap grow from 28 - 31 MB over about 7 minutes, that isn't much of a leak. If it doesn't show up again in future rounds of CT testing this can be closed.

[2019-01-15 23:36] jessegreenberg commented on #193
The sim has been fuzzing for the past 90 minutes or so and grew to 36.2 MB. CT has gone through 4 snapshots without this showing up again. Maybe it will resurface but looks like this was transient.

[2019-01-15 23:36] #193 closed

[2019-02-28 11:04] terracoda opened #194 "Fill in empty H1 element"
I was just reviewing some of our accessible sims, and I noticed that the PDOM for Molecules and Light has an empty H1 element.

It doesn't seem to me that there would be any harm and potentially significant benefit of filling the empty H1 with the title of the sim, like so:

[code]

Tagging @jessegreenberg, @emily-phet and @terracoda for discussing at our next meeting.

[2019-02-28 11:05] terracoda commented on #194
Actually since this sim not on anyone's plate at the moment. I'll just mark it for Friday's a11y meeting.

[2019-03-20 14:38] KatieWoe opened #195 "CT Emitted unexpected number of args"
[code]

[2019-03-20 14:58] jessegreenberg commented on #195
Thanks @KatieWoe, this must have come from recent changes to emitter validation.

[2019-03-20 15:04] jessegreenberg commented on #195
Should be fixed by the above commit.

[2019-03-20 15:04] #195 closed

[2019-04-15 18:46] KatieWoe opened #196 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS](https://user-images.githubusercontent.com/41024075/56157337-809f0780-5f7c-11e9-8e33-873d031a202b

[2019-04-15 18:47] #196 closed

[2019-05-13 16:00] oliver-phet opened #197 "User request: UV light on diatomic oxygen"
Received from sim suggestion google form:

[2019-05-13 16:30] arouinfar commented on #197
@oliver-phet O2 photodissociates in the UVC region, while the UV band represented in the simulation is UVB. In general, this simulation is more qualitative, and does not represent every possible absorption process. The Teacher Tips have quite a bit of information about the model simplifications that this user may find useful.

[2019-05-13 16:39] oliver-phet commented on #197
Thanks, @arouinfar. Email to user sent! Closing for now.

[2019-05-13 16:39] #197 closed

[2019-05-13 17:52] jessegreenberg opened #198 "branch: browserZoom"
In support of initial investigation for phetsims/scenery#175, to see if we can leverage the browser to support zoom and magnify. Expecting changes in scenery, joist, and chipper, each which will require a branch like this one. For more documentation, please see phetsims/scenery#175.

[2019-05-15 20:20] jessegreenberg opened #199 "branch: customZoom"
In support of initial investigation for https://github.com/phetsims/scenery/issues/974, to explore a custom solution to zoom and magnify. This is an alternative to #198 where we explored using native browser support for this. Expecting changes in scenery, joist, each which will require a branch like this one. For more documentation, please see phetsims/scenery#974.

[2019-07-02 21:49] ariel-phet commented on #170
@jessegreenberg I think OK to create this branch considering current status of various people who have worked on it.

[2019-07-02 21:58] ariel-phet commented on #181
Seems like this can be closed.

[2019-07-02 22:01] ariel-phet commented on #180
Marking deferred until someone is assigned to do this a11y work

[2019-07-03 05:42] terracoda commented on #180
I'm working on a github issue template for tracking A11y design and implementation.
We should use it, but it is not quite ready. Please see:
https://github.com/phetsims/a11y-research/blob/master/issue-templates/description-design-template.md

[2019-07-03 15:37] jessegreenberg commented on #181
This issue is to document an existing branch which still exists. We should check the branch against master to see if it can be deleted, and then close this issue.

[2019-07-03 15:42] jessegreenberg commented on #181
This wasn't merged into master, but there is a lot of description work that may be useful to keep for #180, when we pick that up again this should be reviewed.

[2019-07-03 15:46] jessegreenberg commented on #181
For reference, these are the commits on description-temp:
[code]

[2019-07-03 15:48] jessegreenberg commented on #170
Here are the commits currently on `description`
[code]

[2019-07-03 15:50] jessegreenberg commented on #170
Descriptions in this branch are actually not as up to date as master so this branch can be deleted.

[2019-07-03 15:52] jessegreenberg commented on #170
Deleted.

[2019-07-03 15:52] #170 closed

[2019-07-11 11:09] terracoda commented on #180
@Matthew-phet and @zepumph, the issue template may be good enough to try to use with Moleclues and Light.

One possible way to move forward, is to you close this issue, and reference it in a new issue that is populated with the checklist.

[2019-07-25 15:10] terracoda commented on #180
@Matthew-phet and @zepumph, I think the issue template is good enough to use, and many things can already be checked off.
https://github.com/phetsims/a11y-research/blob/master/issue-templates/description-design-template.md

[2019-07-29 17:07] zepumph commented on #180
I agree we should close this issue and create a new one to track description progress with the template.

[2019-07-29 17:08] zepumph opened #200 "Accessible Descriptions Progress"
This issue helps tracks the big picture progress of the description design, description implementation, and implementation of alternative input. Sound and adaptive features are incorporated only at a high-level here, though could be added as we move forward and learn more.

# A11y Features
**Checked features are being worked on for this sim**
- [ ] Alternative Input -  (Started: ) (Completed: )

[2019-07-30 15:05] terracoda opened #201 "A11y Implementation"
This issue helps tracks the big picture progress of the description design, description implementation, and implementation of alternative input. Sound and adaptive features are incorporated only at a high-level here, though could be added as we move forward and learn more.

# A11y Features
**Checked features are being worked on for this sim**
- [x] Alternative Input -  (done)
    - [x] Mobile A11y

[2019-07-30 15:05] zepumph commented on #200
nevermind, see https://github.com/phetsims/molecules-and-light/issues/201

[2019-07-30 15:05] #200 closed

[2019-07-30 15:49] zepumph opened #202 "convert WavelengthConstants to Enumeration"

[2019-08-08 23:59] zepumph opened #203 "redesign PhET-iO API"
This sim was last instrumented for PhET-iO with the "instrument everything" approach. It should be updated.

In addition to the general updates. I am mainly creating this issue now because of discussion with the Accessibility team. @emily-phet, @jessegreenberg and I today discussed the expansive difficulties in handling the intersection of auditory description and phet-io. One potential baby step

[2019-08-13 18:42] terracoda commented on #180
@Matthew-phet, I'll close this issue and we can continue tracking progress in https://github.com/phetsims/molecules-and-light/issues/201

[2019-08-13 18:42] #180 closed

[2019-08-29 16:30] KatieWoe opened #204 "Panning with "middle" click (wheel) isn't supported"
For https://github.com/phetsims/QA/issues/419
Found on Win 10 Chrome with Mouse
From issue:

The panning only works if panning up or down.  This is fairly expected on its face, but clicking down on the wheel does not allow for 8-directional scrolling, and there is no scroll bar to scroll right and left.  Arrow keys on keyboard do allow this type of scrolling.

Not sure if any of this can be worked

[2019-08-29 16:46] jessegreenberg commented on #204
Interesting, thanks for pointing out @KatieWoe it would be really cool to support this. Panning to the left and right *does* work with a wheel that supports left and right movement. But specifically what doesn't work is pressing down on the wheel to create a cursor like this:
![image](https://user-images.githubusercontent.com/6396244/63959763-ea670c00-ca5a-11e9-9e79-058a524459fe.png)
To pan in all

[2019-09-10 15:49] KatieWoe opened #205 "Is there/should there be a keyboard command to end keyboard nav?"
For https://github.com/phetsims/QA/issues/419
When zooming in you can use the arrow keys to scroll around.  However, if you are using keyboard nav, this doesn't work anymore.  You can still scroll using the track pad if there is one, but many mouses only allow scrolling up and down and a track pad may not be available.  In order to scroll using the arrows you need to exit keyboard nav.  The only w

[2019-09-10 16:11] KatieWoe opened #206 "Screen may not always shift enough to keep focus on screen"
For https://github.com/phetsims/QA/issues/419. Win 10 Chrome.
When using keyboard nav when zoomed in, the screen pans to keep the focused element on screen.  However, it is possible for this to not occur.  If the element is technically on screen, but the relevant part isn't, the panning doesn't happen and this may cause pedagogical problems, or even make it difficult to tell keyboard nav is active

[2019-09-10 16:25] KatieWoe commented on #206
This can also be a problem when shifting between options.  Specifically, the default position for the screen when zoomed in and focused on the control for type of light is to start on the left of the panel and cut off the right side.  If you move the selecting focus to Ultraviolet, the screen does not pan to fully show the option and it can be unclear what you are selecting.

[2019-09-10 17:03] KatieWoe opened #207 "Scrolling around dialog box"
For https://github.com/phetsims/QA/issues/419.  Win 10 Chrome (touch screen).
When zoomed in and looking at a dialog box, it can be slightly difficult to pan when using a touch screen.  If you try to start the pan outside the box, it registers it as a click to leave the dialog.  Not necessarily a major problem, and I'm not sure if there is a clean solution.

Video:
https://drive.google.com/file/d/

[2019-09-10 18:30] zepumph commented on #179
This came up during MAL design meeting. @jessegreenberg @ariel-phet out of curiosity what is the priority on this?

[2019-09-10 21:54] lmulhall-phet opened #208 "Command + mouse wheel on macOS"
For https://github.com/phetsims/QA/issues/419.

I was trying to do command + mouse wheel to zoom in/out on my MacBook Air, so I plugged in a mouse. I then realized that in the default macOS accessibility settings, you can't do command + mouse wheel to zoom in/out. No problem, I'll just change that setting in System Preferences like so...

![problem](https://user-images.githubusercontent.com/312855

[2019-09-10 23:49] jessegreenberg commented on #179
@zepumph and I discussed this today. This is on my list but not at high priority.  It is work to be done after energy-skate-park or when there is a lull for that sim work. RC target for that sim is mid October and I could work on this then.

But please let me know if this is blocking description design/implementation and I could try to work on this sooner.

[2019-09-11 15:24] jessegreenberg commented on #208
Thats a lot of zoom! It appears that you are zooming in on the entire screen since the mouse is getting larger too. So I wonder if this would happen outside of the sim/browser too and is therefore Apples intended behavior. Ill take a look.

[2019-09-11 15:26] jessegreenberg commented on #207
Thanks for pointing out @KatieWoe, I think we can improve this.

[2019-09-11 15:29] jessegreenberg commented on #206
Thanks for pointing out. The behavior is "if the focused item is completely outside of the visible area, we pan to the focused item". I think that both of the cases you pointed out might be improved if it we change it to be "If any portion of the focused item is outside the visible area, pan so that the entire item is within visible bounds.

[2019-09-11 21:23] lmulhall-phet opened #209 "Zooming in causes zooming in and out repeatedly"
**Test Device**

Bates

**Operating System**

Windows 7

**Browser**

Internet Explorer

**Problem Description**

For https://github.com/phetsims/QA/issues/419.

If you try to use `ctrl` + `+` to zoom in, the sim will zoom in and out repeatedly on its own. (See gif below.) Clicking around will usually fix this.

**Visuals**

![issue](https://user-images.githubusercontent.com/31285590/64736365-b30b

[2019-09-11 21:29] jessegreenberg commented on #209
Interesting, thanks @lmulhall-phet. Is it *only* from keyboard or do other methods like the trackpad or mouse  produce this too?

[2019-09-11 21:37] loganbraywork opened #210 "Long String Test causes some Pointer Area overlap"
**Test device**
Windows 7 Laptop
**Operating System**
Professional 6.1
**Browser**
Chrome version 77.0.3865.75
**Problem description**

When using the long string test the show light spectrum button moves close enough to the pause button that their pointer areas overlap.
**Steps to reproduce**
1. Enter the query ?showPointerAreas&stringTest=long
**Visuals**
![2019-9-11PntArelngMlclght](https://use

[2019-09-11 21:43] lmulhall-phet commented on #209
Forgot to mention these two methods for zooming. Apologies.

Unfortunately, this device is old enough that its trackpad doesn't have the pinch-to-zoom-in/out feature, so I don't have a way to test this.

The mouse will also produce the behavior seen in the gif.

[2019-09-11 22:50] jessegreenberg commented on #207
This is the same issue as not being able to pan out of a clickable item when it takes up much of the screen. Currently, if any pointer is "attached" (meaning that it is marked as responsible for firing a listener) we don't allow panning.

If you go to  another example for web content like https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio and zoom way in to the radio button exam

[2019-09-11 22:56] lmulhall-phet opened #211 "Keyboard navigation can lead to incorrect location"
**Test Device**

Bates

**Operating System**

Windows 7

**Browser**

Internet Explorer

**Problem Description**

Not for any test, but discovered during https://github.com/phetsims/QA/issues/419.

There is a scenario in which the keyboard navigation focus won't be on the active flashlight radio button upon keyboard navigating to the radio button group. (Please let me know if this doesn't make sen

[2019-09-11 22:59] jessegreenberg commented on #207
The above is a potential solution for this. It supports panning everywhere by interrupting input if movement occurs while the pointer is down. It also supports a way to prevent this when we need (like for draggable things). So far it is working pretty well, though I am not sure if this is the best solution.

It presented a different issue though, which is that interrupting pressed buttons continue

[2019-09-12 03:14] jessegreenberg commented on #211
I am not able to produce this, at least on Windows 10 IE11. Just pasting a gif of the above steps in IE11, with focus on the selected radio button. Do I have the steps correct @lmulhall-phet?
![4446c398bb87c6fe46a4373aea08dbb6](https://user-images.githubusercontent.com/6396244/64751332-c50ddf80-d4e9-11e9-94d8-053094c81fc6.gif)

[2019-09-12 03:54] jessegreenberg commented on #206
I went with https://github.com/phetsims/molecules-and-light/issues/206#issuecomment-530434145. This fixes the issue pointed out by @KatieWoe. The result feels a little more "agressive", the sim moves more sometimes. For example, if something is mostly in view but just slightly out of the window, we will still move the whole sim so that the node gets centered.

@KatieWoe do you think this is better

[2019-09-12 18:42] KatieWoe opened #212 "Zooming difficulties with a small screen"
For https://github.com/phetsims/QA/issues/419. IOS 12.4 on an iPhone 7
When zooming in on a small screen such as an iPhone, I noticed two potential problems.
1. If you zoom in on the list and it takes up the whole screen, scrolling can be hard.
2. If the first finger down hits a button such as the one to look at the light spectrum, attempting to zoom activates the button instead.  I had this happe

[2019-09-12 19:20] loganbraywork opened #213 "Two finger scrolling on Firefox not as responsive as on other browsers"
**Test device**
Windows 7 Laptop
**Operating System**
Professional 6.1 Build
**Browser**
Firefox version 69
**Problem description**
From https://github.com/phetsims/QA/issues/419

Two finger or mouse-wheel scrolling when zoomed in is not very responsive and only moves the screen a minor amount. One other browsers as demonstrated in the visual the scrolling is more responsive, and scrolling is equa

[2019-09-12 22:51] loganbraywork opened #214 "Panning the screen using two fingers sometimes manipulates sliders and buttons if pointer happens to cross over one"
**Test device**
Hanson
**Operating System**
Windows 7 1809
**Browser**
Edge 44.17763.1.0
**Problem description**
From https://github.com/phetsims/QA/issues/419

Using two fingers to pan up or down or left or right when the mouse is hovered over any slider will manipulate that slider.
As if you used key navigation to select a slider and then used the left and right arrows to adjust it.
**Steps to r

[2019-09-23 21:33] jessegreenberg commented on #211
OK thanks - I suspect that this could be a native behavior of Windows 7. @loganbraywork or @lmulhall-phet can you see if this happens in this test case?

https://jsfiddle.net/8ke1cb76/1/

Use keyboard nav to select the second radio button then tab/shift tab back and forth between the "Focus Me!" buttons. Do you see this behavior there?

[2019-09-24 14:30] jessegreenberg commented on #205
Discussed with @terracoda - we decided that since this is not a standard feature it is not expected and therefore not worth adding at this time. There were some thoughts that this could create a keyboard focus trap if used incorrectly as well. We are not going to include at this time. The other issue mentioned here (unable to pan while focus is on the dialog close button) will be addressed in othe

[2019-09-24 14:30] #205 closed

[2019-10-01 14:18] jessegreenberg commented on #208
Talked with @terracoda and we decided that it would be great to support this.

[2019-10-03 02:31] jessegreenberg commented on #204
Supported with the above commit.

[2019-10-03 14:46] KatieWoe opened #215 "CT Changed state on startup should be empty"
[code]

[2019-10-03 14:51] jessegreenberg commented on #215
Thanks @KatieWoe. I am not sure whether this issue is sim specific or related to PhET-iO internals. Happy to look into this but not sure where to start. Assigning to PhET-iO team first to have a look or for recommendation.

[2019-10-03 20:30] zepumph commented on #202
@jessegreenberg is taking over MAL interactive description work, over to you.

[2019-10-03 20:44] zepumph commented on #215
This issue is related to the changes we made in ObservableArrayIO yesterday. Basically it was using reference serialization for state, and MoleculeIO was largely not being used for the array, but now we are using MoleculeIO. I will do more investigation.

[2019-10-03 21:25] zepumph commented on #215
This test is signifying that the during startup, but after the "initialState" has been collected, some state in the `molecules` array changes. I added logging, and haven't yet found an obvious place where this is happening. I don't think it is from `updateActiveMolecule`, the only place molecules are added, so perhaps it has to do with the Molecule mutating.

[2019-10-03 22:04] zepumph commented on #215
This issue was caused because we made all instrumented ObservableArrays that were using reference type serialization instead be dependent on their parameter type. In MAL, this.photons and this.molecules were both then utilizing `PhotonIO` and `MoleculeIO`. Before to/fromStateObjects weren't being used here.

@samreid please review the changes in the IO types (or Molecule.fromStateObject in that ca

[2019-10-04 18:51] jessegreenberg commented on #215
Took a look. This is a good change, thanks!

[2019-10-07 16:37] jessegreenberg commented on #209
Not able to see this on my desktop with IE11 but I think I saw this on my laptop. So this is probably related to performance.

My guess is that we are overshooting destination scale when zooming in because dt is so large.

[2019-10-07 16:40] jessegreenberg commented on #209
Not seeing this on my laptop either.

[2019-10-07 16:45] jessegreenberg commented on #209
I see this just a little bit with window.phet.chipper.makeRandomSlowness

[2019-10-07 17:52] jessegreenberg commented on #209
Ill bet we have the same problem with panning too.

[2019-10-07 20:11] jessegreenberg commented on #209
Should be fixed, I am not seeing this in with window.phet.chipper.makeEverythingSlow().

However, when this happens I expect that performance is still pretty poor. If it is specific to Win 7 IE11 then it may not b etoo concerning.

[2019-10-07 20:13] jessegreenberg commented on #213
For the same reason, I am seeing that scrolling with the mouse is just as slow.

[2019-10-07 20:18] jbphet opened #216 "Prototype the sound design"
The sound design group has been working on a sound design for this sim for a while, and even created an initial shot at the sound design a while back that can be seen (and heard) at https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.125/build/phet-io-wrapper-sonification/molecules-and-light/html/molecules-and-light-sonification.html?accessibility.  A decision was recently ma

[2019-10-07 20:51] jessegreenberg commented on #213
Firefox has WheelEvent.deltaMode of DOM_DELTA_LINE while others default to while other browsers default to DOM_DELTA_PIXEL. Commit above determines if in "line" mode and modifies the deltas accordingly. It feels much snappier now in Firefox.

[2019-10-07 20:55] jessegreenberg opened #217 "You should be able to keyboard pan on all buttons in the sim"
From #205, and for https://github.com/phetsims/QA/issues/419, the method of preventing panning on elements with key listeners is too strict.

We need a method to disable panning without checking for existence of keydown listeners. It will probably work really similarly to the solution for pointers.

[2019-10-07 22:34] jbphet opened #218 "Can commented out accessible order code be removed"
The following lines are in `MoleculesAndLightScreenView` as of this writing.  Can they be removed?
[code]

[2019-10-08 03:55] jessegreenberg commented on #214
This seems to be fixed in other work, would be good to verify though.

[2019-10-08 04:02] jessegreenberg commented on #208
OK, I can see this on my laptop too. This is actually the intended behavior. This is the amount of zoom supported by the OS and it allows so much because it is a dedicated accessibility tool. The zoom is not confined to the browser and has nothing to do with the Sim, you can zoom that far into the desktop or task bar as well.

Closing.

[2019-10-08 04:02] #208 closed

[2019-10-08 14:18] jessegreenberg opened #219 "Try panning an when dragging an object off screen"
When dragging with a keyboard or pointer, try panning the sim if the dragged object goes out of view.

[2019-10-08 14:21] jessegreenberg commented on #219
For https://github.com/phetsims/QA/issues/419, and discussed during a meeting with @terracoda and @emily-phet on 10/8/19

[2019-10-08 15:10] KatieWoe opened #220 "CT tandem was required but not supplied"
[code]

[2019-10-08 16:52] jessegreenberg commented on #218
Yep, thanks! They can be removed, we are about to implement new description design for #201.

[2019-10-08 16:56] #218 closed

[2019-10-09 19:04] jessegreenberg commented on #219
An initial pass at this is done in the above commits.

[2019-10-09 19:04] #219 closed

[2019-10-09 19:43] jessegreenberg commented on #220
It looks like a tandem needs to be supplied to malSoundOptionsDialogContent or its components need to opt out. I assume opting out makes most sense for now since these are internal to the project. But I will let @jbphet decide.

[2019-10-09 19:47] jessegreenberg commented on #220
Just noticed this is already fixed, thanks!

[2019-10-09 19:47] #220 closed

[2019-10-09 21:12] jessegreenberg commented on #217
Sorry this issue isn't very clear. You should be able to pan with a keyboard even while focus is on an object in the sim. The only exception is if that object also uses the arrow keys (like sliders, radiobuttons, and other draggables).

This is a solution for the issue pointed out in https://github.com/phetsims/molecules-and-light/issues/205.

[2019-10-09 21:15] KatieWoe commented on #217
Looks good in the dev test

[2019-10-09 21:22] KatieWoe commented on #214
Seems a bit better, but still can happen when scrolling sideways over the light emitter.

[2019-10-09 21:32] KatieWoe commented on #209
Looks good

[2019-10-09 21:33] KatieWoe commented on #207
Seems to be behaving better now.

[2019-10-09 21:39] KatieWoe commented on #204
Supported, but seems to behave a bit differently then i would expect.  The icon for the cursor look like the one for dragging an object rather than panning.  It also doesn't continue to work after you let go.  If all of this is intended then that's fine.

[2019-10-09 22:22] zepumph commented on #215
@samreid instead of using your time to review this issue. I think we should focus on getting Group to a usable place, and converting this sim to use that. CT has been clear of this for some time now. Closing

[2019-10-09 22:22] #215 closed

[2019-10-09 22:34] KatieWoe commented on #211
Still happens in the above QA issue.
The link provided in the above comment doesn't work in IE.

[2019-10-10 18:42] KatieWoe commented on #213
Looks good

[2019-10-10 18:43] KatieWoe commented on #212
Looks good

[2019-10-14 14:51] KatieWoe opened #221 "CT t.highElectronicEnergyStateProperty.removeListener is not a function"
[code]

[2019-10-14 15:56] jessegreenberg commented on #221
All occurences on CT show up with ?fuzzBoard

[2019-10-14 15:59] jessegreenberg commented on #221
It looks like an emitter for this was recently removed and a new or existing Property was used instead. Not related to ?fuzzBoard.

[2019-10-14 16:01] jessegreenberg commented on #221
Fixed in above commit.

[2019-10-14 16:01] #221 closed

[2019-10-14 22:05] jessegreenberg commented on #217
Great, thank you!

[2019-10-14 22:05] #217 closed

[2019-10-14 23:24] jessegreenberg commented on #213
Great, thank you @KatieWoe.

[2019-10-14 23:25] jessegreenberg commented on #212
Great, thank you @KatieWoe

[2019-10-14 23:25] #212 closed

[2019-10-14 23:27] jessegreenberg commented on #204
Got it, thanks. Ill fix that.

The cursor I used was the closest one I could find that is supported by CSS cursors. If we want something more custom we will have to do extra work to support that. At this time, I don't really think it is worthwhile. But Ill check in with @emily-phet and @terracoda.

[2019-10-14 23:28] jessegreenberg commented on #207
Excellent, thanks

[2019-10-14 23:28] #207 closed

[2019-10-14 23:28] jessegreenberg commented on #209
Great, tahnk you

[2019-10-14 23:28] #209 closed

[2019-10-14 23:33] jessegreenberg commented on #211
Ah, I see that JSfiddle doesn't work in IE anymore. Ill make another test.

[2019-10-14 23:42] jessegreenberg commented on #211
@KatieWoe or @lmulhall-phet can you please see if it happens in Windows 7 here?

https://phet-dev.colorado.edu/html/jg-tests/test.html

[2019-10-14 23:45] jbphet commented on #216
I have a version that is ready to review and get feedback on.  It allows selection of different photon sounds via `PhET menu->Options...`, and integrates the currently set of common UI sounds (this was done by building it as a one-off on a branch).  It can be found at https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-soundDesignProto01.1/phet/molecules-and-light_en_phet.html?supportsSou

[2019-10-14 23:47] jessegreenberg commented on #214
Ah, I am seeing this now with the slider! Crazy

[2019-10-14 23:48] jbphet commented on #216
@Ashton-Morris and @emily-phet - there is a prototype available at the link in the comment just above this one.  Please review and provide your comments, or we can review in real time at the next meeting.  This version includes the current set of common UI sounds.

[2019-10-14 23:50] jessegreenberg commented on #214
It is not, I am not seeing this for other web sliders.

[2019-10-15 00:17] jessegreenberg commented on #214
This is fixed for buttons because we changed it so that we can interrupt a button press when we continue to pan the screen. This is not fixed for sliders, because when we begin a pan gesture on a draggable element, we disable this interrupt functionality.

[2019-10-15 01:31] jessegreenberg commented on #214
We are coming back to the issue where one cannot detect when a user is using a mouse vs a trackpad: https://stackoverflow.com/questions/10744645/detect-touchpad-vs-mouse-in-javascript

Nor is there a way to do this with proprietary MSGestureEvents (https://msdn.microsoft.com/en-us/windows/desktop/hh441180#properties)

This behavior may be acceptable, would be good to discuss with the team. I don't

[2019-10-15 01:33] jessegreenberg commented on #214
I just tested on the new Edge beta, and this issue is not happening there. I now feel confident that we shouldn't spend more time on this.

[2019-10-15 13:38] emily-phet commented on #216
Did a quick review - a few quick thoughts:

- timing of photon sound seems off - I think the sound should fire as we can see the photon appearing from the source (in real time and in step forward mode)
- boingy vibration sound (e.g., Infrared + CO) sounds too game-y. Makes me think of a literal spring. "Feels" a little better for CO2 than CO, not sure why!
- (bug) boingy/glowing sound gets stuck o

[2019-10-15 15:37] jbphet commented on #216
An issue that I'll need to address is that the sounds keep going if they are in progress when the pause button is pressed.  @Matthew-phet noticed this too.

[2019-10-15 16:35] KatieWoe commented on #211
First link works ok.  Published link has the same bug but it seems worse, after switching once, the light selector loses focus, making it hard to make a selection.

[2019-10-15 17:59] jessegreenberg commented on #204
@KatieWoe can you please see if the middle mouse button behaves better after the above commit in this version? Does middle mouse panning also *stop* when you expect it to now?

https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-customZoom.13/phet/molecules-and-light_en_phet.html

[2019-10-15 18:17] jessegreenberg opened #222 "Photon Emitter radio buttons aren't working in IE11 (published version)"
In #211 @KatieWoe found out that the photon emitter radio buttons aren't working with keyboard navigation in IE11 in the published version. Molecule buttons work OK, and all are working in IE11 off of master. I expect that it will be 2-3 hours to debug on IE11 and then prepare a maintenance release for QA to spot check. @emily-phet do you think it is important to do this now? Alternatively, we cou

[2019-10-15 18:20] jessegreenberg commented on #214
I discussed this issue with @emily-phet and @terracoda this morning. We agreed that it is not worth spending any more time on and it is not worth removing magnification on Edge. It is easy to recover from this issue (move the mouse off of a draggable element), obvious what is happening, and will not be present in the next Edge, we are OK letting this go.

[2019-10-15 18:20] #214 closed

[2019-10-15 18:22] jessegreenberg commented on #211
I see, thanks - I made an issue about the issue with the published version. (https://github.com/phetsims/molecules-and-light/issues/222)

Good deal, does it have the behavior described in https://github.com/phetsims/molecules-and-light/issues/211#issue-492504711?

[2019-10-15 18:26] KatieWoe commented on #211
No, it works as you would expect (sorry, that's what I meant)

[2019-10-15 18:28] KatieWoe commented on #204
Looks good @jessegreenberg

[2019-10-15 18:30] jessegreenberg commented on #211
OK, thank you. Win 7 bugs will be expensive for us to debug so we should decide whether or not to do this. @lmulhall-phet or @KatieWoe  do you think you could paste a gif here of the issue so we can discuss with the team?

[2019-10-15 18:33] jessegreenberg commented on #204
Alright! Thank you!

[2019-10-15 18:33] #204 closed

[2019-10-15 19:18] KatieWoe commented on #211
From original QA issue:
![newissue](https://user-images.githubusercontent.com/41024075/66862512-4542bd00-ef4e-11e9-8875-6ce1ef80f389.gif)

From published sim:
![published](https://user-images.githubusercontent.com/41024075/66862519-48d64400-ef4e-11e9-93f0-6e903d8090c4.gif)

[2019-10-15 21:31] jessegreenberg commented on #211
Great, thank you @KatieWoe!

[2019-10-15 22:00] jbphet commented on #216
Here are some notes from today's review meeting:
+ Most folks thought the vibration sound was a little too "cartoon-y".  @Ashton-Morris was in the meeting, and will take the feedback and provide some new options to try out. I'll add them along with some options selections for choosing between them.
+ The emission of photons from the sources sounds the same as the emission from the molecules, and t

[2019-10-15 22:02] jessegreenberg commented on #211
I remember that we may be able to set up remote debugging, @KatieWoe will help me with this to learn more.

[2019-10-15 22:09] emily-phet commented on #222
I think we should hold off until the next publication - probably in the first quarter of 2020.

[2019-10-15 22:21] jessegreenberg commented on #222
OK, thanks. Adding the "fixed-awating-deploy" label to indicate that this is fixed in master and we expect it to be fixed in the next publication.

[2019-10-22 17:01] jessegreenberg commented on #194
Interactive descriptions are being designed and worked on now, this will be cleaned up as part of that. Closing.

[2019-10-22 17:01] #194 closed

[2019-10-22 17:48] jbphet commented on #216
I've incorporated the feedback from the last meeting and some new sounds supplied by @Ashton-Morris into a new version, see https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-soundDesignProto01.3/phet/molecules-and-light_en_phet.html?supportsSound.  Remember that different sounds can be selected using the "Options..." dialog from the PhET menu.  We will review at today's meeting and deci

[2019-10-22 18:46] jessegreenberg opened #223 "Incorrect folder name moleculesandlight"
Under js directory, there is a moleculesandlight directory for this single screen sim. Convention is to separate with hyphens.

[code]
should be
  const MoleculeSelectionPanel = require( 'MOLECULES_AND_LIGHT/molecules-and-light/view/MoleculeSelectionPanel' );

[2019-10-22 20:03] jbphet commented on #216
Review during 10/22/2019 meeting

+ The group likes the combo of photon sound set 3 for initial emission and set 1 for re-emmision.
+ We like the new, softer break-apart sound over the harsher one demoed last week
+ The higher pitched glow sound is approved
+ Here are some of the opinions expressed about the glow sound
  + option 3 is probably too low, since it doesn't come across on laptop speake

[2019-10-25 19:39] jessegreenberg opened #224 "currentVibrationRadians needs to be an observable Property"
For interactive descriptions we would like to describe when a linear molecule is expanding/contracting during vibration. And so the currentVibrationRadians needs to be observable so we can describe this phase.

[2019-10-25 19:52] jessegreenberg commented on #224
This is done.

[2019-10-25 19:52] #224 closed

[2019-10-29 19:32] jbphet commented on #216
We reviewed the latest master version, which included several new variations of the vibration sound, in today's sound design meeting.  Here are the next steps based on the outcome of the meeting:

- [ ] vibration sounds 2, 4, and 7 are the favorites, and the others can be eliminated
- [ ] we liked the quality of vibration sound 2, but are concerned that it may be too bassy to hear on some laptop s

[2019-11-01 15:35] jessegreenberg commented on #211
@KatieWoe helped me set up a remote debugging session, writing notes from that here. I was able to verify the issue in the sim and see that it is not a problem in basic HTML like this:
<details><summary>Example HTML</summary>

[code]
</details>

[2019-11-04 20:11] jbphet commented on #216
I wanted to capture a record of the vibration sounds that we eliminated, so I published [a dev version with the 10 vibration options that we reviewed last week](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-soundDesignProto01.5/phet/molecules-and-light_en_phet.html?supportsSound).  Note that, so that I could publish this quickly and easily, this version does *not* include the common

[2019-11-04 23:20] jbphet commented on #216
A dev version with the latest vibration sound options and with fixes for the photon emission timing and sound pausing is available at https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.11/phet/molecules-and-light_en_phet.html?supportsSound.  This doesn't include common UI sounds.

[2019-11-05 22:01] jbphet commented on #216
The latest sound implementation was reviewed in today's design meeting.  We concluded that:
+ Vibration sound 2 is "the chosen one"
+ @Ashton-Morris is going to provide a modified rotation sound that is based off the chosen vibration sound so that they are similar yet distinct

[2019-11-19 19:51] jbphet commented on #216
Over Slack, @emily-phet said:

I've published a version with the latest sound design at https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.14/phet/molecules-and-light_en_phet.html?supportsSound.  @BLFiedler, @Matthew-phet, @arouinfar, @Ashton-Morris, @emily-phet, @terracoda, and @jessegreenberg - please review and log your input in this issue.  Even if you don't have any changes to s

[2019-11-19 19:57] jbphet commented on #216
After using the sim quite a bit, I'd like to suggest that we soften the attack of the primary photon emission sound (i.e. when they come out of the sources).  I like the basis of the sound itself, but it wears on my a bit if I use the sim for a while, and it think it's the strong "ping" at the onset of the sound that's causing this effect for me, and I think softening the attack will help.

[2019-11-20 14:52] terracoda commented on #216
I agree with @jbphet, the light sources are little loud.
I also find the rotating sound subtle and the break apart sound quite subtle.
I am not sure if volume would decrease the subtle nature of these 2 sounds.

I always find the reset button loudish ;-) I have no idea if anyone else feels this way.

[2019-11-20 15:12] BLFiedler commented on #216
Generally on board with JB & TS.  It does feel a little like something is being physically hit with the light souecw, though I still like the quality of the tone after the attack.

Also, I agree on the break-apart volume. It seems to me that clicking the Light Spectrum button is louder than the molecule breaking apart? Though that could be wrong. Doesn't seem like it needs to change too much.

For

[2019-11-25 22:12] Ashton-Morris commented on #216
I think the emitting photon sounds good but the main photon might have too much attack to it. I agree the reset is louder. We should bring up the levels of the other sounds a bit to adjust to that.

[2019-11-26 17:17] jessegreenberg opened #225 "Molecule Alerts getting interrupted"
NOticed in Safari with VO and Firefox with NVDA. Does not happen in Chrome with NVDA. Alerts relating to molecule/photon interraction get interrupted immediately and the AT is reading seemingly random content in the DOM instead.

[2019-11-26 17:21] jessegreenberg commented on #225
When I comment out updates to the list item that describes the molecule the issue goes away.

[2019-11-26 20:29] BLFiedler opened #226 "MAL Teacher Tips sound update: UI sound reversed"
The radio button UI sounds (high pitch to low) is reversed for the Light Source radio group. This is a case where the concept overrides the default assignment of UI sounds.

Higher energy, higher frequency (similar to sound waves) feels better with higher pitch on UV compared to Microwave selection.

When doing the Teacher Tips update and the Sound Features video, indicate this!

[2019-11-26 21:29] jbphet commented on #216
Notes from 11/2/2019 review meeting:
+ I modified the existing V3 photon emission sounds to have a softer attack and demonstrated them, and there was general agreement that this was an improvement.  @Ashton-Morris also created some similar variations, but I didn't have time to integrate them before the meeting, so I'll compare the two sounds sets and choose one.
+ We're okay with the stronger atta

[2019-12-03 22:20] jbphet commented on #216
Notes from 12/3/2019 review meeting:

+ softer attack sound for initial photon emission (i.e. from the lamps) sounds good, we'll go with this
+ increasing frequency for emission selector radio buttons sounds good
+ for the rotation sound, option 1 for clockwise and option 2 for counterclockwise sounded best to the group

The dev version at https://phet-dev.colorado.edu/html/molecules-and-light/1.5

[2019-12-03 22:20] jbphet commented on #216
The next step will be to work out the mix.

[2019-12-06 15:39] jessegreenberg commented on #225
It looks like when the molecule is stretching, we are creating new elements in the PDOM, I wonder if that is related. Maybe we have never created new elements while alerts were going before?

[2019-12-06 15:45] jessegreenberg commented on #225
Yes, when I replace usages of `accessibleName` with `innerContent` in ObservationWindowDescriber the problem goes away. `accessibleName` causes a full redraw of the PDOM element while innerContent doesn't create new elements.

I am really surprised we haven't seen this before.

[2019-12-06 15:59] jessegreenberg commented on #225
Another thing I notice is that it isn't reading the new content, it is moving the virtual cursor to a different place (like the top) every time the content changes. And the problem is still there when alerts are disabled.

[2019-12-06 16:54] #225 closed

[2019-12-06 16:55] jessegreenberg commented on #225
Not sure why this had an impact yet, but this was not the true issue. The reason this was happening was because the `li` elements did not have a containing `ul` item. This has been resolved after the above commit. Closing.

[2019-12-06 19:07] terracoda opened #227 "Change "Light Source" h3 to "Light Sources" in PDOM"
@Matthew-phet and I were testing MAL dev version 1.5.0-dev.18 https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.18/phet/molecules-and-light_en_phet.html?a11y

Please add an "s" to "Light Source" in H3 that names the radiobutton group for the four light sources. The help text is great!

This was an over sight on our part. There is no "s" in the design doc.

[2019-12-06 19:21] terracoda opened #228 "Long molecule responses: Shorten delay and repeat long response on every third response"
The current delay observed in [1.5.0-dev.18](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.18/phet/molecules-and-light_en_phet.html?supportsSound&a11y) does make it so we hear the longer molecule response at least once, most of the time.

After playing with the sim, @Matthew-phet and @terracoda think that a better approach might be to have a shorter delay (possibly even no delay

[2019-12-06 19:27] terracoda opened #229 "Rarely hear break-apart response when molecule breaks apart"
When testing dev version [1.5.0-dev.18](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.18/phet/molecules-and-light_en_phet.html?supportsSound&a11y)

we rarely heard the break-apart response. We did hear it on VoiceOver at least once, maybe twice, but we never hear it while using on NVDA.

When checking with A11y View, we noticed the response rarely fired, so maybe there is a bug

[2019-12-06 19:59] terracoda opened #230 "Where to put focus after returning the molecule?"
When we were testing [dev version 1.5.0-dev.18](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.18/phet/molecules-and-light_en_phet.html?supportsSound&a11y) we realized that moving focus to the light source slider after finding and pressing the "Return Molecule" button may not necessarily the best place to be because the molecule keeps breaking apart (edited).

**Question:**
Where

[2019-12-06 20:20] terracoda opened #231 "Design Interview Questions"
Interviews are coming up (Dec 18th and possibly 20th)

Please add any questions that should explored about the current design.

1. What to say, if anything, when photon passes through repeatedly?
2. Do the radiobutton interactions (Light Sources and Molecules) communicate that the changed selections are updating what is in the Observation Window? Is it obvious that this is what is happening? effec

[2019-12-06 20:32] BLFiedler commented on #231
I think we made some pretty big decisions w/r/t the static descriptions of the molecule geometry/bond nature. Do we want to inquire as to the clarity of that information and if it is appropriately layered? I think that is maybe secondary to the above questions though.

[2019-12-06 20:41] terracoda opened #232 "Has help text for radio groups been updated recently?"
@Matthew-phet , I just compared design doc with dev version 18, and I am not sure we have the updated help text implemented. Could you verify what our decision was. I think I forgot to make an issue for the change we discussed.

**Here's what in the sim:**
- For Light Sources: "Choose light source, ordered low to high energy, and observe effects on molecule."
- For Molecules: "Choose molecule and

[2019-12-08 13:57] emily-phet commented on #231
- (Something to consider, not necessarily asking explicitly) Does the basic organization of the static/dynamic descriptions make sense? Does the information provided in summary, in play area, etc. feel 'about right').
- (A key moment to attend to) How long does it take to make sense of all the sounds heard once the light source is turned on? What is the thought process taken to make sense of these

[2019-12-09 20:45] jbphet opened #233 "Finalize the sound implementation"
In https://github.com/phetsims/molecules-and-light/issues/216 we started working on prototyping the sound design.  The sounds have been selected, so it is now time to finalize the implementation.  The main activities for this will be to remove the code that supports different option selections and to set the desired volume levels for all sounds.

[2019-12-09 20:47] jbphet commented on #216
The prototyping work is essentially complete, and the sound selections have been finalized.  Various published versions of the prototypes can be found at the links in comments above.  I'm going to close the issue and track the final implementation steps in #233.

[2019-12-09 20:47] #216 closed

[2019-12-09 21:06] jessegreenberg commented on #232
I recall that we decided to change these as well and I did not update the sim since that discussion. I saw in the design document that these were changed on Nov 26 (day after we talked about it) so Ill go ahead and update the sim.

[2019-12-09 21:09] jessegreenberg commented on #232
Updated in the above commit to use the strings in the design doc and in https://github.com/phetsims/molecules-and-light/issues/232#issue-534248129. @terracoda @Matthew-phet this is pretty cut and dry so I am just going to close without further review.

[2019-12-09 21:09] #232 closed

[2019-12-09 21:38] jessegreenberg commented on #230
I investigated and unfortunately this will be difficult. The individual radio buttons are private to the group and so I cannot (with the current implementation of RadioButtonGroup) set focus programmatically to one button.

As a sighted user I think it makes most intuitive sense to put either focus on the slider (since it is also in the observation window), or to just make focus go nowhere and hav

[2019-12-09 21:39] jessegreenberg commented on #229
This is happening because of the delay that we added before saying an alert. No other alerts happen here so we need to either remove the delay in general or remove it in this case. Will review other issues related to the delay before working on this.

[2019-12-09 21:44] jessegreenberg commented on #228
This is technically possible, but the delay was initially added to prevent a long queue up of alerts after the screen reader reads aria-valuetext/radio button responses, not to make sure they are always spoken. So if we do this we will still have that problem.

[2019-12-09 21:45] jessegreenberg commented on #228
Im going to look at utteranceQueue and see if there is a better workaround that doesn't use a delay.

[2019-12-09 22:43] jbphet commented on #233
@Ashton-Morris - I have added markers to the file `MoleculesAndLightScreenView.js` for each place where the sound level may need adjustment.  They look like this:
[code]
Please make any level adjustments that you feel are necessary, remove the comment, and assign this issue back to me when you're done.  Please remember to reference this issue in any commits.

[2019-12-09 22:53] jessegreenberg opened #234 "Wording for photon emitter aria-valuetext"
Currently, the aria-valuetext is something like
"Infrared photon emits quickly"

which is read every time the photon emitter slider is moved.

I have two thoughts about this wording.
1) The photon isn't emitting anything, the light source is emitting the photons. Would it be more correct to say "Infrared light source emits photons quickly"? Or "Infrared photons emitted quickly"?
2) I still wonder

[2019-12-09 23:03] jessegreenberg commented on #228
Delay removed for now in the above commit.

[2019-12-09 23:05] BLFiedler commented on #234
You could put the adverb on the verb instead: "Infrared Light Source quickly emits photons"

I agree the current text is confusing. From a content side I'm fine with the second, longer suggestion as well.

[2019-12-09 23:05] jessegreenberg commented on #229
The delay was removed and this is now fixed.

[2019-12-09 23:05] #229 closed

[2019-12-09 23:06] jessegreenberg opened #235 "Long photon/molecule alerts getting cut off in VoiceOver"

[2019-12-09 23:59] terracoda commented on #232
Thanks @jessegreenberg !

[2019-12-10 00:33] terracoda commented on #230
Ok, @jessegreenberg, let's leave it as is - on the light source slider... and see what blind learners make of it.

Thanks for investigating. We can re-visit/re-open after if needed after interviews.

[2019-12-10 00:33] #230 closed

[2019-12-10 01:40] terracoda commented on #234
Great question @jessegreenberg.
The stated values in the design doc should actaully be region ranges and not individual values.

That said, I don't think we have thought through this interaction very clearly.
This is actually quite tricky!
We have not thought through how the `aria-valuetext` will support the learner's interaction on focus and then again when they are adjusting the slider.

I think

[2019-12-10 01:40] jessegreenberg commented on #235
FOr some reason, when the aria-live attribute is on individual `p` elements rather than the container of aria-live elements this goes away. The aria-live element was moved to the container accidentally when utteranceQueue was moved to its own repo. So I feel comfortable reverting the change.

[2019-12-10 01:41] terracoda commented on #234
But, first question @jessegreenberg, is a dynamic label possible?

[2019-12-10 01:45] #235 closed

[2019-12-10 01:53] jessegreenberg commented on #234
@BLFiedler I like "Infrared Light Source quickly emits photons".

@terracoda I also like "Infrared Light Source, slider, photon rate fast"

Yes it is, and would be a simple change.

We could set this as the aria-valuetext, but I don't think there is a guarantee that the screen reader won't also say other things. So it might end up as
"Infrared Light Source, very slow".

This sounds more complicate

[2019-12-10 02:00] jessegreenberg commented on #227
Thanks for pointing out, done in the above commit.

[2019-12-10 02:00] #227 closed

[2019-12-10 02:01] arouinfar commented on #231
This piggybacks on @BLFiedler's comment a bit, but in terms of the learning goals, I'd want to know if the users are able to connect the molecule geometry/structure to the interaction with the light (eg. microwave photons induce rotations in asymmetric molecules).

[2019-12-10 02:01] jessegreenberg commented on #211
THis is a low priority issue, it only appears on Windows 7. I won't get to this for a while. I may investigate again closer to sim publication.

[2019-12-10 02:05] terracoda commented on #234
@jessegreenberg, I didn't finish out the examples. I am not sure I understand your concern, but we could also set the aria-valuetext to:
- photon rate slow
- photon rate medium
- photon rate fast

And then it only get read out at region changes. The regions are quite small in the case of this slider, so maybe everything will be perfect.

[2019-12-10 02:16] jessegreenberg commented on #228
@terracoda @Matthew-phet here is a new version with this. Can you please try and see how alerts appear in this version and determine if any further work is necessary?

https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.19/phet/molecules-and-light_en_phet.html?a11y&supportsSound

[2019-12-10 02:20] jessegreenberg commented on #234
Ah I see - so it isn't shorter text when the region changes, but ONLY read any text when region changes. Hmm, I don't think that is generally how screen readers handle reporting of the changing slider value so I don't think that would be possible.

[2019-12-10 02:59] terracoda commented on #234
Generally, if there is no change in value, nothing is read out.

[2019-12-10 03:03] terracoda commented on #234
For keyboard we often have to jig things to avoid blank steps, and for mouse we have to adjust the utterance queue to prevent too many things from piling up.

It's a challenge. I am willing to try the 4 regions:
- photon rate off
- photon rate slow
- photon rate medium
- photon rate fast

[2019-12-10 12:43] terracoda commented on #228
The alerts are all firing nicely with no delay on VoiceOver.
VoiceOver stops announcing responses from time to time but that is a known bug and you just needs to restart VoiceOver to get them going again.

[2019-12-10 12:49] terracoda commented on #228
I still think it may be beneficial to repeat longer responses occasionally. I think this would enhance the current experience. We can discuss at design meeting, though.

As it is working right now (at least on my machine) the experience is nice enough for getting feedback from screen reader users.

[2019-12-10 14:36] terracoda commented on #234
@BLFiedler and @Matthew-phet, for me it's important to think about the name of the slider, and any responses (object responses in this case) together with the help text for the interaction. I try to economize phrases in object responses and context responses by strategically placing certain key content words in any of the three places. So if the word "emit" can't go in the object response, maybe i

[2019-12-10 14:39] terracoda commented on #234
@jessegreenberg, I am hearing the label of the slider repeat often when an adjustment is made, but this doesn't happen on other sliders we have implemented. It doesn't happen in JT or GFL, for example.

There is something different about the Light Source slider.

[2019-12-10 14:55] terracoda commented on #234
If the label was "Infrared Photon Rate" slider, words describing the actual rates might work perfectly on their own? Imagine as an example, does this work? Maybe not, maybe? These are potential object responses fired on focus:
- light source off, Infrared Photon Rate, slider
- very slow, Infrared Photon Rate, slider
- slow, Infrared Photon Rate, slider
- fast, Infrared Photon Rate, slider

[2019-12-10 17:09] BLFiedler commented on #234
Ooohhhh. I do like that last suggestion @terracoda. I think there are multiple places for the user to be made aware there is a light source there, and if they're remind when it's off, I think calling that slider the {EM spectrum} Photon Rate is very informative and concise.

I think eventually you will learn enough physics, chemistry & math that you won't need Amy or me! 😆

[2019-12-10 17:36] terracoda commented on #234
@BLFiedler, I think my suggestion of "Photon Rate" slider is a re-hash of something @arouinfar already pointed out to me when we first looked at this sim, so I am not yet ready to let go of yours and @arouinfar 's content knowledge ;-)

I do enjoy diving deep into the content and how best to present it in an interactive experience, though!

[2019-12-10 20:30] terracoda opened #236 "Absorption sound?"
@jbphet and @Ashton-Morris is there an absorption sound?
I very clearly hear an emission sound, but I don't seem to hear an absorption sound.

Just listening on Master with the Step button.
I think there might be something subtle for absorption when the sim is playing, but using the Step button, I hear all other photon sound except the absorption sound.

[2019-12-11 00:37] jessegreenberg commented on #234
Oh I see! OK I will make a new issue to investigate this.

OK it sounds like we have a consensus in https://github.com/phetsims/molecules-and-light/issues/234#issuecomment-564070461 I will implement that.

[2019-12-11 00:38] jessegreenberg opened #237 "Slider label is read out frequently"
For some reason VoiceOver is repeating the slider label in this sim frequently. See https://github.com/phetsims/molecules-and-light/issues/234#issuecomment-564062693.

I will investigate.

[2019-12-11 14:52] terracoda opened #238 "Remove extra help text above Pause/Play/Next Frame buttons"
@jessegreenberg, I think the phrase: "Pause what is happening in the Play Area" is old and was meant to be replaced by "Pause, play, or step forward in time while paused."

Could you please remove the first paragraph, preferably before interview on Dec 18th.

[2019-12-11 14:56] terracoda commented on #234
@BLFiedler and I have consensus, and hopefully @Matthew-phet likes it too. I'll give him the heads up.
This change may require a couple of tweaks to the Screen Summary. I'll read through the Screen Summary and post a new issue for any updates.

[2019-12-11 15:42] terracoda opened #239 "Do not hear "disabled" on Next Frame button when it is visually greyed out"
@jessegreenberg, the Next Frame button is visually greyed out (visually disabled) when the Play button is not in its Paused state.

With screen reader software, I don't hear anything about the button being disabled.

I am assuming there is an actual HTML5 `disabled` attribute on the button, and that it might not be communicating the `disabled` state.

Could you check? If there is an HTML5 attribut

[2019-12-11 15:43] terracoda commented on #239
Ideally, it would be great to hear disabled on the Next Frame button before interview on Dec 18th.

[2019-12-11 15:50] terracoda opened #240 "Change screen summary interaction hint to reference "Photon Rate" slider"
In issue #234, we changed the label on the slider in the Observation Window.

Please make a similar change to the initial interaction hint at the end of the Screen Summary.

Specifically, change:
 - Look for **light source** slider to play.

To:
- Look for **photon rate** slider to play.

Other adjustments to the screen summary can take place after interviews next week.

[2019-12-11 16:33] jbphet commented on #236
There isn't a specific sound for absorption.  I remember discussing it, but in non-paused situations, it was hard to distinguish from the rotation, glow, or vibrate sound, so we dropped it.  I don't think we had talked about the case where the user is stepping, since the looping sounds are disabled in that case.

Assigning to @terracoda and @Ashton-Morris to work out whether they feel this is some

[2019-12-11 16:34] jbphet commented on #236
For reference, this issue is a child of #233.

[2019-12-11 16:45] jessegreenberg commented on #240
Great, done in the above commit.

[2019-12-11 17:22] jessegreenberg commented on #239
It looks like this hadn't been added at all yet. I added `aria-disabled` as we have done with other buttons and check boxes. VoiceOver now reports "dimmed" when focus lands on the button. Back to @terracoda for review.

[2019-12-11 17:50] Matthew-phet commented on #234
Yup! This looks like a good change

[2019-12-11 18:57] terracoda commented on #239
VoiceOver is so visual sometimes... I guess "Next Frame dimmed button" when greyed-out and disabled sounds better than just "Next Frame button".

Thanks @jessegreenberg.
I'll go ahead and close.

[2019-12-11 18:57] #239 closed

[2019-12-11 20:22] jessegreenberg commented on #238
Done in the above commits:
![image](https://user-images.githubusercontent.com/6396244/70657582-17b28100-1c2a-11ea-8f96-2a5e674a6a00.png)

Back to @terracoda to review.

[2019-12-11 20:27] jessegreenberg commented on #237
Before it reads the name again VO makes the sound that indicates focus has moved. So I am wondering if the PDOM is getting redrawn and causing this.

[2019-12-11 20:29] jessegreenberg commented on #237
The slider is not getting redrawn but the screen summary gets redrawn frequently.

[2019-12-11 20:31] jessegreenberg commented on #237
I verified that every time a new element is created and added to the DOM VoiceOver re-reads the slider name.

[2019-12-11 20:41] jessegreenberg commented on #237
HTML Validator at https://validator.w3.org/nu/#textarea is reporting no issues. So this seems to be a problem with updating the PDOM so frequently.

[2019-12-11 20:43] jessegreenberg commented on #237
The reason we are is recreating PDOM elements and re-sorting the DOM so frequenlty in this sim is because we are using `accessibleName` setter so frequently. And that is why we aren't seeing this issue in any other issues.

[2019-12-11 20:45] terracoda commented on #238
@jessegreenberg, I am not seeing or this on master.

[2019-12-11 20:49] terracoda commented on #238
@jessegreenberg, apologies help text is correctly no longer there. I am not seeing the "Step" button label yet.

That is likely separate.

[2019-12-11 20:50] #238 closed

[2019-12-11 21:02] jessegreenberg commented on #237
@terracoda just so you know, I discovered that this is a general scenery problem rather than an issue with the slider (https://github.com/phetsims/scenery/issues/1026)

For now, I think I can fix this in molecules-and-light by removing usages of `setAccessibleName`.

[2019-12-11 21:05] terracoda commented on #237
Ok, I guess it is new problem because this is the first time I have noticed it.

[2019-12-11 21:07] jessegreenberg commented on #237
Correct, I verified that molecules-and-light is the first sim to have the conditions necessary to cause this bug.

[2019-12-11 21:12] terracoda commented on #240
@jessegreenberg , I should have mentioned that this change was dependent on implementing changes in https://github.com/phetsims/molecules-and-light/issues/234#issuecomment-564070461

Can I assume those changes are coming, too.

[2019-12-11 21:13] terracoda commented on #240
If so, safe to close.

[2019-12-11 21:16] jessegreenberg commented on #240
Definitely, ill make that change in that issue.

[2019-12-11 21:16] #240 closed

[2019-12-11 21:18] jessegreenberg commented on #237
After the above commits I am no longer seeing this issue. @terracoda can you please confirm?

[2019-12-11 21:25] terracoda commented on #236
@jbphet, I get why it was dropped. I could hardly ever hear it. But when the sounds are uncoupled and isolated in the Step view it would be perfect to have an absorption sound that sits in contrast to the regular light source emission sound and the emitted from molecule sound.

In this way, a learner might even be able to go back and listen for it in the regular Play mode???

[2019-12-11 21:26] terracoda commented on #236
What do you think @Ashton-Morris and @emily-phet?
The alternative would to just describe the absorption and not sonfify it, though I feel that might be a short sighted.

[2019-12-11 21:34] jessegreenberg commented on #234
Great! This is done in the above commit, @terracoda or @Matthew-phet can you please review>?

[2019-12-11 22:58] emily-phet commented on #236
@terracoda I just played with the sim using the step button, and I think you're spot on. For many events, it takes the form of absorption, "action", re-emission.

It makes practical sense to me to not have the "action" sound (vibrating, etc.) for reasons discussed before that are problematic with the looping sounds, but also makes sense to me pedagogically since the focus will be on either perceiv

[2019-12-12 00:01] terracoda commented on #237
The label is only read once now. Sounds good, thanks @jessegreenberg !

[2019-12-12 00:03] terracoda commented on #234
@jessegreenberg, the dynamic Photon Rate slider and its 4 spedds sound awesome!
Thanks @jessegreenberg!

[2019-12-12 00:03] #234 closed

[2019-12-12 00:10] terracoda opened #241 "Still hear "Next Frame" button"
@jessegreenberg, I think we discussed this in the design doc, but I didn't make an issue for it.

I think, "Next Frame" is supposed to be "Step".

Since I think you did this in common code, there might be an old string getting in the way in MAL's code??

I saw a screenshot you shared that had the correct label, but in https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.20/phet/molecul

[2019-12-12 00:11] terracoda commented on #241
This is not critical for interviews next week, but would be nice.

[2019-12-12 00:17] terracoda opened #242 "Split big paragraph in Screen Summary into 2 paragraphs"
@jessegreenberg, could you split the big paragraph into two, so that

Is split like this:

Some sims are naturally a bit shorter, but I always try to split the Play Area info and Control Area info. More than once, screen reader users have told me that the screen summary info should be chunked into manageable pieces, and this is how I have decided to do it.

[2019-12-12 13:11] terracoda commented on #236
@emily-phet, I agree that the Step button should be used minimally. It is there to get a detailed view to understand exactly this absorption-excitation-re-emission. In the visual Play mode, I find it somewhat difficult to notice the absorption, but in the Step mode it is much more salient.

I think it is fine to have an absorption that is difficult to hear when it is coupled with excitation, but i

[2019-12-12 13:14] terracoda commented on #236
@Ashton-Morris, @emily-phet, shall we just put back the absorption sound that goes with the current re-emission sound, and if needed adjust it?

It would be great to have this sound it for next week's interviews.

[2019-12-12 16:30] jessegreenberg commented on #241
Sounds good, I asked the question in the design doc but hadn't made any changes to the sim yet. Ill update this in the sim.

[2019-12-12 16:30] jessegreenberg commented on #242
Sounds good, Ill split it up.

[2019-12-12 16:48] jbphet commented on #236
@terracoda - when exactly are next week's interviews?

[2019-12-13 00:25] terracoda commented on #236
wed dec 18, 10 am eastern time

[2019-12-13 15:50] KatieWoe opened #243 "CT API Mismatches"
[code]

[2019-12-13 16:41] jessegreenberg commented on #243
Thanks! Fixed with a grunt update

[2019-12-13 16:41] #243 closed

[2019-12-13 16:47] jessegreenberg commented on #242
Done in the above commit.

[2019-12-13 16:47] #242 closed

[2019-12-13 16:50] jessegreenberg commented on #241
This is now done, I don't see "Frame" anywhere anymore.

[2019-12-13 16:50] #241 closed

[2019-12-13 20:53] KatieWoe opened #244 "Make it sound like visible light caused a molecule to break apart"
**Device:**
Mac Book
**OS:**
10.15
**Browser:**
Safari
**Problem Description:**
For https://github.com/phetsims/QA/issues/461. Found using Mac VO. This is a more general problem with moving through the types of light emissions quickly, but the situation described is the easiest to see. The order of priority for reading alerts can cause confusion as to what type of light caused a molecule's behavio

[2019-12-13 20:58] jessegreenberg commented on #244
Thanks @KatieWoe, I have encountered this before too. I don't think this is a bug but more a result of the current design so it would be good to hear from @Matthew-phet and @terracoda if anything should be done about this.

The issue is that it is possible to change photon wavelength while the previous photons are still in the observation window. So "Ultraviolet" wavelength can be selected while a

[2019-12-13 21:15] KatieWoe opened #245 "Sufficient Description of Light Spectrum Box?"
For https://github.com/phetsims/QA/issues/461. Found in MacOS VO.
Currently, when examining the light spectrum dialog box, you hear:

Knowing how frequency, energy, and wavelength relate to the parts of the spectrum may very well be necessary for students. As such, I don't think this should be so vague. At the very, very least it should say something about microwave having low energy/high waveleng

[2019-12-13 21:22] jessegreenberg commented on #245
Thanks @KatieWoe - Indeed, what is in the sim is pretty old.

I noticed there is more content for this in the design doc @BLFiedler @Matthew-phet @terracoda can you comment on whether or not this is complete/ready to go into the sim?

[2019-12-13 22:44] KatieWoe opened #246 "Differentiate between linear molecules?"
For https://github.com/phetsims/QA/issues/461. Found on Mac OS VO
When reading the scene description with a linear molecule selected, you hear:

You hear this both for 2 atom molecules like carbon monoxide and for the three atom molecule, carbon dioxide. I think that some confusion may be avoided if we say "bonded to one other atom" or "bonded to two other atoms" depending on the situation. Feel f

[2019-12-13 22:48] jessegreenberg commented on #246
Thanks @KatieWoe  - @Matthew-phet or @terracoda can you comment on whether it is OK to combine with "one or two other atoms"  instead of describing exactly how many are bonded?

[2019-12-13 23:30] KatieWoe opened #247 "Some observations are hidden"
For https://github.com/phetsims/QA/issues/461. Found in MacOS VO.
I noticed that, depending on what happened to the molecule last, the observations given during the scene description can change. For instance, when microwaves are used on carbon monoxide it will either describe it absorbing and spinning in one direction or another, or it will describe it no longer spinning and releasing a photon in

[2019-12-13 23:46] jessegreenberg commented on #247
Thanks @KatieWoe, there are two points to this issue:

I assume you are referring to the alerts. In the first alert we hear "Molecule rotates clockwise" then afterward we hear "clockwise" only.  This is out of date with the current design doc, sorry. We decided to remove the direction entirely from this alert because it isn't important to the learning. Ill make this change.

It is true, we don't e

[2019-12-13 23:52] KatieWoe commented on #247
Making note that this is not the only combination I have noticed this in.
I don't think it is in the alerts, you can see it talk about clockwise/counterclockwise in the blue scene description.

[2019-12-14 00:05] jessegreenberg commented on #247
I see. So is the concern that they may find this paragraph once and hear it say "clockiwse" and even though it may say "counterclockwise" in the future there is a chance that they will never find it?

[2019-12-14 01:48] terracoda commented on #247
I think it is awesome that you notice these subtle differences @KatieWoe.
For now this is a design choice for brevity, and the direction is not critical to learning goals.
We will be getting some more feedback next week.

Student can and do read the state descriptions more than once. The deepest exploration would normally mean going between reading the state, making changes and reading the states

[2019-12-14 01:50] terracoda commented on #247
This is not a bug, but a feature of getting slightly different descriptions depending when you are reading and when you are interacting.

[2019-12-14 02:02] terracoda commented on #245
I can’t comment, @Matthew-phet or @BLFiedler can comment on readiness of Light Spectrum description?

If not ready, it can wait until next round of interviews.

[2019-12-14 02:04] BLFiedler commented on #245
I think @Matthew-phet was going to pretty it up, but let me know if you need some help!

[2019-12-14 02:08] terracoda commented on #244
I have noticed this too and think we just have to accept this odd transition period - at least for now. Though this something we should discuss in design meeting.

I will mark for meeting topic.

[2019-12-14 02:48] BLFiedler commented on #245
Okay - I fixed up the ranges under H2. @terracoda, can you check that a screen reader will read out the ranges correctly? Not sure what the best nomenclature is for exponents.

Unassigning for now, feel free to reassign if you need help @Matthew-phet

[2019-12-14 11:11] terracoda commented on #247
@KatieWoe, again, thanks for your comments...like the Jesse mentioned the content in the blue column is a snap shop.  It is not read out automatically to the learner like the content in the orange box is. This sim is a bit challenging as it can keep changing even as the learner is reading through the state descriptions, making the changing details seem like responses (or alerts) that are automatic

[2019-12-16 19:29] KatieWoe opened #248 "Possible to select a button that isn't being highlighted"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/461. Found with NVDA
It is possible to select a button without it being visually shown with the pink highlight. This is rather minor. Likely not confined to this instance. Occurs when moving backwards when navigating using screen reader commands rather than tab/shi

[2019-12-16 19:53] jessegreenberg commented on #248
Thanks for pointing out @KatieWoe. This is actually expected behavior and a feature of screen readers. As the user reads through with their cursor they can interact with things as they find them without having to use tab. The screen reader doesn't tell us where they are reading so we can't move the pink highlight as they read. But it correctly lets us know where focus is after they activate someth

[2019-12-16 19:54] #248 closed

[2019-12-16 20:13] KatieWoe opened #249 "Leaving the Show Light Spectrum box seems to continue the scene description"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/461. Found with NVDA.
When you exit the dialog box for the light spectrum, it will read a selection of the scene description, even though/if none were played before opening the dialog.
**Steps to reproduce**
1. Tab over to the Show Light Spectrum box and open it
2.

[2019-12-16 20:33] KatieWoe commented on #249
May happen with the keyboard nav dialog box too, but what it reads seems much less random there.

[2019-12-16 21:11] KatieWoe opened #250 "Molecules stay highlighted grey"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/461. Found with NVDA.
When you select molecules using the screen reader, it causes that molecule to have a grey hover highlight when not selected. This highlight can show up on multiple molecules and does not go away from any method I have tried other than refreshi

[2019-12-16 21:44] KatieWoe opened #251 "Random syllables read out during molecule selection on mobile VO"
**Device**
iPad (6th Gen)
**OS**
iPadOS 13.3
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/461. Found on mobile voice over.
When going through the molecule list on the iPad, either manually or automatically, there are out of place words between the options such as "2" or "linear" depending on what was in the previous option.
**Visual**
https://drive.google.co

[2019-12-16 22:13] KatieWoe opened #252 "Button to return ozone molecule doesn't appear right away"
**Test device**
Dell or iPad
**Operating System**
Win 10 or iPadOS 13.3
**Browser**
Chrome or Safari
**Problem description**
For https://github.com/phetsims/QA/issues/461. Not directly an a11y issue, but can have a larger impact on screen users. Noticed on iPadOS VO.
When you are stepping through while paused, the Return Molecule button doesn't appear until several steps after the ozone breaks apa

[2019-12-16 22:19] jessegreenberg commented on #252
Good question @KatieWoe. The current behavior is that the "Return Molecule" button becomes visible when the first constituent molecule is removed from the Observation Window.

It seems like in order to support step with screen readers we will need to wait to alert about this button until it is actually on screen. But assigning to @terracoda and @Matthew-phet to review and decide how to handle.

[2019-12-16 22:21] jessegreenberg commented on #251
Thanks, that looks strange I will investigate.

[2019-12-16 22:23] jessegreenberg commented on #250
Thanks, I will take a look. This is likely because we change the "over" fill on focus. But when reading with the virtual cursor we don't get any focus events. So the radio buttons are not told to update their fill.

[2019-12-16 22:23] jessegreenberg commented on #249
Thanks, this looks strange I will investigate.

[2019-12-16 23:20] KatieWoe opened #253 "Mobile VO jumping around and reading wrong things"
**Device**
iPad 6th Gen
**OS**
iPadOS 13.3
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/461. If you try to start the scene description while something that generates alerts is happening VO will jump around, repeat things, say things that I can't identify, and generally be indescribable until the user interrupts it.
**Steps to Reproduce**
1. With VO on, start

[2019-12-17 00:01] KatieWoe opened #254 "No indication that you are at the end of the slider"
For https://github.com/phetsims/QA/issues/461. Noticed on iPadOS 13.3 VO.
When moving the slider that controls light intensity, there is an indication that you've reached the left end when it says the light is off, but there is no indication that you've reached the right end. The last few just say "fast." I think it would be better if it gave some indication that you are at the end by saying "fast

[2019-12-17 02:44] Matthew-phet commented on #252
It would make sense to me to have the "Return Molecule" button appear as soon as the molecule breaks apart, to have it line up with the alert and the sound effect of the molecule breaking apart but i am not sure how possible that is.

[2019-12-17 11:45] terracoda commented on #252
I noticed in Step view that button is quite delayed.
We could have 2 separate alerts instead. That might be clearer and less likely to get missed.

[2019-12-17 15:29] Ashton-Morris commented on #233
@jbphet Here is the mix

`// Copyright 2014-2019, University of Colorado Boulder

/**
 * View for Molecules and Light
 *
 * @author Jesse Greenberg (PhET Interactive Simulations)
 * @author Sam Reid (PhET Interactive Simulations)
 * @author John Blanco
 *
 */
define( require => {
  'use strict';

  // modules
  const Bounds2 = require( 'DOT/Bounds2' );
  const DialogIO = require( 'SUN/DialogIO' );

[2019-12-17 15:33] Ashton-Morris commented on #233
@jbphet Here is the code for the mix

[code]

[2019-12-17 15:35] Ashton-Morris commented on #233
@jbphet I did notice that the rotate sounds continue after you pause the scene. The absorb and vibrate stop properly when you pause during their playback but the rotate ones do not.

[2019-12-17 16:41] jessegreenberg commented on #252
Could certainly implement this but the current behavior was an explicit design decision so we would want to check with @arouinfar before changing.

[2019-12-17 16:42] KatieWoe opened #255 "Screen reader pronounces nitric oxide as "no" and nitrogen dioxide as "number 2""
For https://github.com/phetsims/QA/issues/461. Noticed on iPadOS 13.3 VO.
When reading out "NO2" the screen reader pronounces this as "number 2" instead of "N" "O" "2."  When UV light breaks the molecule apart it reads NO as "no."

[2019-12-17 16:43] KatieWoe commented on #252
Could you say "Return molecule button will appear soon" and then "appeared" when it does?

[2019-12-17 16:46] jessegreenberg commented on #255
Thanks @KatieWoe, this is unfortunate. I think we were aware of this but it is good to have documentation. To my knowledge there is no way to force a screen reader to pronounce things differently. We could use a string like "N O" but don't know if we should be doing that.

@terracoda can you please comment on if anything should be done about this?

[2019-12-17 17:18] KatieWoe opened #256 "Screen Reader describes molecule that isn't there"
For https://github.com/phetsims/QA/issues/461. Noticed on iPadOS 13.3 VO.
This may be intended, and if so feel free to close. I noticed that the scene description will describe what the original molecule looks like even if it is broken up or off the screen entirely.
![brokenmolecule](https://user-images.githubusercontent.com/41024075/71018857-7b1f3180-20b6-11ea-82b5-f36de9560669.png)
![outofviewde

[2019-12-17 17:20] jessegreenberg commented on #256
Thanks @KatieWoe, @Matthew-phet @terracoda can you verify that this is the desired design?

[2019-12-17 17:23] terracoda commented on #256
I am not sure of the context. I will check.

[2019-12-17 17:30] jessegreenberg commented on #254
Nice thought @KatieWoe, this is a design recommendation so assigning to @Matthew-phet and @terracoda to review.

[2019-12-17 17:38] KatieWoe opened #257 "Keyboard use with mobile VO is inconsistant"
For https://github.com/phetsims/QA/issues/461. Noticed on iPadOS 13.3 VO with a bluetooth keyboard.
First, on such sims there is no keyboard dialog. This is because it is on iPad, but it is possible to connect a keyboard.
Second, it seems to be very difficult and inconsistent getting a slider to work with keyboard commands. I've gotten it to work once by pressing up/down while focused on it, but o

[2019-12-17 17:53] terracoda commented on #254
I like the recommendation of a single-value region for "fastest".
However, we also need to think about how the slider values are going to be represented on the state descriptions.

For example,
- "Currently, paused in observation window, ‪Visible‬ light source emits photons slowly and directly at ‪Water‬ molecule."

I'll mark for design meeting.

[2019-12-17 18:16] jessegreenberg commented on #257
Keyboard use with mobile VO is a little fuzzy.

In general we have not supported bluetooth keyboard with iOS because they don't work very well for a11y. When it apeared that we would looks iOS platform information, we tested and found in https://github.com/phetsims/QA/issues/428 that it worked OK. But then we were able to keep iOS platform info and so we continued to NOT support it with a keyboard

[2019-12-17 18:29] jessegreenberg commented on #254
For tomorrows interviews we will add "fastest" at the right most position.

[2019-12-17 18:41] jessegreenberg commented on #246
Discussed during meeting:

The pain point is "molecule with a central atom bonded to one or two other atoms" because for two atoms there isn't a central atom. We are going to try to rephrase this in a way that can stay static but still accurately describes both cases.

Currently we have:
Linear, molecule with a central atom bonded to one or two other atoms forming a straight line. Bond angle is 18

[2019-12-17 18:48] jessegreenberg commented on #245
Discussed during meeting, for tomorrow I will add this content:
H1: Light Spectrum
P: The Light Spectrum shows the relative energy of the different classifications of light waves as defined by their characteristic wavelengths (measured in meters) and frequencies (measured in Hertz or inverse seconds). The order from lowest energy (lowest frequency and largest wavelength) to highest energy (highest

[2019-12-17 19:35] jessegreenberg commented on #257
I just tried out keyboard navigation with a bluetooth keyboard with and without VO. OVerall I cannot tab navigate in basic HTML pages wth the bluetooth keyboard. Some text input is in the navigation order, but most are not. When VO is on sliders or other things arrow keys do not move them, but move the virtual cursor.

In https://github.com/phetsims/QA/issues/428 the balloon moved because it is sp

[2019-12-17 19:35] #257 closed

[2019-12-17 20:09] terracoda opened #258 "Sound: Close dialog sound on Keyboard Shortcuts dialog?"
@jbphet, this is our first sim with a dialog that can be popped up from within the Sim Area.

I just noticed that the close dialog sound for the Light Spectrum Dialog also plays when I close the Keyboard Shortcuts dialog.

I think this is a mistake (not 100% sure, though). I think it is a mistake because there is no open dialog sound for the Keyboard Shortcuts pop-up button.

It might be prudent t

[2019-12-17 20:37] jbphet commented on #258
It's not really a mistake.  We have added common UI sounds to master, and the close button is playing the generic push button sound.  The nav bar buttons are a different type of button and, so far, we have not added a common sound to those.  It would be fairly straightforward to turn off the sound for closing the button dialog.  It would be easy, though probably more controversial, to add sounds t

[2019-12-17 20:41] terracoda commented on #258
Since, we have the first review of this sim tomorrow, I am in favour of removing the sound on that dialog.

[2019-12-17 21:03] KatieWoe opened #259 "Selecting light types and molecules in Jaws can use screen reader, rather than our, focus"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/461. Found using Jaws.
When trying to select a type of light or molecule Jaws will often use its light green highlight instead of the normal pink highlight. This can even occur when you used tab to get to that section. If you press tab while doing this, the pink hig

[2019-12-17 21:11] jbphet commented on #236
I've added the sound back, but I don't like it much, and I think the "absorb-loop" was initially meant to be the sound that played as a loop whenever **any** absorption happened, and there was a bit of a misunderstanding about its intent.

I'm going to talk with @Ashton-Morris and see if we can get something a little better in time for the interviews.

[2019-12-17 21:13] terracoda commented on #236
I'll need a dev version published when you are done.

For initial review, I can do a pull.

[2019-12-17 21:26] KatieWoe opened #260 "Screen reader says that Visible light was selected when UV light was (Jaws)"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/461. Connected to https://github.com/phetsims/molecules-and-light/issues/259.
There are some situations where the screen reader seems to indicate that the wrong light was selected. This occurs when using Jaws highlight to select an option, rather than the pink highl

[2019-12-17 21:35] KatieWoe opened #261 "No way to read Light Spectrum Dialog with Jaws"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/461. On Jaws.
I was unable to get Jaws to read the dialog in Show Light Spectrum. I had no trouble getting it to read the keyboard nav dialog.

**Visuals**
https://drive.google.com/file/d/1C14mC5cqm_eWSMtquM31HYOsBoShdfY9/view?usp=sharing

Troubleshooting informatio

[2019-12-17 22:17] jessegreenberg commented on #256
Done in the above commit @terracoda.

[2019-12-17 22:17] #256 closed

[2019-12-17 22:22] jessegreenberg commented on #254
'fastest' added in the above commit @terracoda

[2019-12-17 22:22] #254 closed

[2019-12-17 22:24] jessegreenberg commented on #246
Done in the above commit @terracoda.

[2019-12-17 22:24] #246 closed

[2019-12-17 22:29] jessegreenberg commented on #247
This is done in the above commit.

[2019-12-17 22:33] jessegreenberg commented on #261
In https://github.com/phetsims/molecules-and-light/issues/245 I noticed that the instrumentation of the dialog looks incorrect, ill fix up and see if that resolves the issue with JAWS

[2019-12-17 22:50] jessegreenberg commented on #245
https://github.com/phetsims/molecules-and-light/issues/245#issuecomment-566697059 content was added to sim.

We will continue with the scientific notation portions outside of sim.

[2019-12-17 22:50] #245 closed

[2019-12-17 22:59] jessegreenberg commented on #261
Thanks for reporting @KatieWoe I verified that this is fixed after #245

[2019-12-17 22:59] #261 closed

[2019-12-17 23:04] jessegreenberg commented on #259
Thanks for pointing out @KatieWoe. This is actually an expected difference introduced by JAWS. JAWS removes the "auto selection" of arrow keys and by default lets the user read what the radio button is before selecting it. If the user presses spacebar or enter while the green highlight is over a button that is not selected, the new radio button still gets pressed correctly and gets surrounded by o

[2019-12-17 23:06] KatieWoe commented on #259
For the most part. My only remaining concern is https://github.com/phetsims/molecules-and-light/issues/260, so this can be closed.

[2019-12-17 23:10] jessegreenberg commented on #260
I agree that this seems incorrect and see the issue in the provided video recording. But I am not able to produce this bug on my machine with JAWS.

When I use the cursor method to select a radio button, it correctly reports the new button.

[2019-12-17 23:16] jbphet commented on #233
I've fixed the issue with rotation and adjusted the output levels based on @Ashton-Morris's input.  I also added in an absorption sound.  Team: Please review the version at  https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.22/phet/molecules-and-light_en_phet.html and let me know what, if anything, you think needs to be changed.

I for one would like a different sound for absorption

[2019-12-17 23:17] jessegreenberg commented on #260
At least JAWS is correctly reporting "Visible button, NOT checked 3/4" in the recorded video.
One difference I notice is that in your recording @KatieWoe the pink highlight does not appear when the radio button is selected. That doesn't happen for me, is anything done to get it in that state @KatieWoe?

[2019-12-17 23:18] jessegreenberg commented on #259
OK soundsd good, closing this one. #260 may still be an issue, we will continue there.

[2019-12-17 23:18] #259 closed

[2019-12-17 23:18] KatieWoe commented on #260
I used space. I think you mentioned using enter. That might be doing it.

[2019-12-17 23:24] jessegreenberg commented on #260
Interesting, even with space it selects the new radio button and moves focus to the pink highlight to the "Ultraviolet" radio button.

[2019-12-17 23:32] jessegreenberg commented on #260
@KatieWoe and I met. It seems like I undertsnad the issue but we are seeing different behaviors. I am going to search for user settings related to this. I am also going to update JAWS to see if that has an impact.

[2019-12-17 23:54] jessegreenberg commented on #260
OK updating JAWS definitely had an impact and I am seeing this behavior now. Ill investigate soon.

[2019-12-18 16:53] BLFiedler commented on #233
Trying to listen on mobile and I'm not sure I hear an absorption sound. Is it a small atonal sound? It seems to blend in with the following phenomenon noise.

[2019-12-30 17:37] terracoda commented on #255
We will work on how best to represent Chemical abbreviations as we continue to work on this sim.

[2019-12-30 17:42] terracoda commented on #252
@KatieWoe, nice thought. We haven't found the need to describe anticipated changes. I'd prefer not to take that route.

Something more general is possible, though..."Look for Return Molecule button."
We will continue to optimize this interaction and how it is described.

[2020-01-06 18:31] KatieWoe commented on #258
Quick note for when I was testing https://github.com/phetsims/QA/issues/464.
When you click the x to get out of the keyboard nav instructions it makes a noise. If you click outside the box it doesn't. This seems a bit inconsistent, but not bad enough that I think a fix is needed. Noting here for review.

[2020-01-06 23:27] arouinfar commented on #233
Overall, it's sounding nice @jbphet!

For dissociation (e.g. UV/ozone), I'm hearing a buzz that is triggered at the same time as the ripping sound when the bond breaks. I don't remember hearing this sound before, and I'm not sure what it's meant to represent.

It also seems a little strange that the molecule RadioButtonGroup and the photon RadioButtonGroup have reversed pitches. For molecules the

[2020-01-08 20:32] terracoda commented on #245
BTW, our consultant liked the general description of light spectrum a lot. We just need to figure how to present the valued range of. She said it might be useful to describe the ranges in terms of an approximate magnitude (e.g. the rainbow of visible light occupies a tiny part of the spectrum between blah and blah).

[2020-01-08 20:46] BLFiedler commented on #245
Do you think she meant in a way that adds additional information to the ranges or would replacing the existing ranges with more approximate values (and qualitative description) be better? This ties to my thought that the exact ranges are not very meaningful without some quick mental math and that stating order of magnitude ranges might be better.

[2020-01-08 20:53] terracoda commented on #245
I think she meant that a qualitative description of the ranges would be more useful, in general.

That said, I think if we have numeric ranges in the visual, we have to provide both in the non-visual. The visual has both. The visual has a spacial and numeric representations.

[2020-01-14 21:23] jbphet commented on #258
We discussed this in a review meeting on 1/1/2020, and concluded that we should integrate specific sounds for open and close of dialogs and override the default button sound.  @Ashton-Morris is going to review the combo box open/close sounds and make a recommendation as to whether to use those or create new, dialog-specific sounds.

[2020-01-15 12:06] Ashton-Morris commented on #233
I think we need to raise the levels of the absorption sound so that it is more apparent to listeners. It if still doesn't stand out enough, then I need to rethink it.

[2020-01-15 23:20] jbphet opened #262 "Add slow motion"
@terracoda recently performed some interviews on the new a11y features for this simulation, and reported that at least one of the users had some problems with the play/pause/step functionality.  It was suggested that adding a "Slow Motion" feature would likely alleviate the problem, because slow motion would allow more descriptions to finish, and because users that are navigating via keyboard woul

[2020-01-15 23:25] jbphet commented on #262
The control arrangement in Pendulum Lab may serve as a good model for what is implemented here.  It looks like this:

![image](https://user-images.githubusercontent.com/3082831/72480131-a2e7df00-37b3-11ea-8dc4-7997a81dfd15.png)

[2020-01-16 16:34] Ashton-Morris commented on #258
After review I feel that the combo box open and close sounds will fit nicely. I have added the files in our Sounds folder for GFL for easy access as well. @jbphet

[2020-01-21 22:16] jbphet commented on #236
In the 1/21/2020 Molecules & Light sound design meeting we reviewed several sounds that @Ashton-Morris created as an alternative to "absorb-loop".  We decided to go with, at least for now, the sound named "absorb-based-on-photon.mp3".  I'll integrate that sound and will publish a dev version (that will also include other changes) and will send out for review.

[2020-01-21 22:56] jessegreenberg commented on #262
Slow motion controls added in the above commits.

@arouinfar can you please review the behavior? Animation speed at slow motion is 1/3 of normal speed. Does this seem like an appropriate slow down?

[2020-01-21 22:57] jbphet opened #263 "Vibration sound produces an audible click"
This is a child of issue #233.

There are several loops used in the sound design, but one - vibration - produces a click much of the time when it starts.  I don't hear this with any of the other loops.

[2020-01-21 22:59] jbphet commented on #263
When I look at the .wav file for this sound, it starts at the top of a max amplitude moment.  Here is a screenshot from Audacity:

![image](https://user-images.githubusercontent.com/3082831/72850733-ff8d4300-3c66-11ea-83a9-22a4bed33cbb.png)

I'm going to try editing this sound so that it starts at a low amplitude point instead and see if that helps.

[2020-01-21 23:27] jbphet commented on #263
The edits did make the problem go away.  Here is a post-edit screenshot:

![image](https://user-images.githubusercontent.com/3082831/72851935-39ac1400-3c6a-11ea-9173-0ab632d010ce.png)

[2020-01-21 23:29] jbphet commented on #263
@Ashton-Morris - can I get a .wav file for this sound that matches what I did above but includes five cycles and is thus at least a second long?  I think that will help to ensure that the user never hears any gaps in the loop.  Also, please make sure that there is no silence at the end so that it loops well.

[2020-01-21 23:32] jbphet commented on #233
In today's sound design meeting for this sim, it was requested that the initial photon emission sound be turned down.  This was based on input from @terracoda's recent reviews with consultants.

[2020-01-22 19:49] jbphet commented on #258
I have added sounds for dialog open and close.  I'm going to assign this issue to @Ashton-Morris to review as the general sound designer, and to @terracoda since she initially brought this to our attention.

@Ashton-Morris - If you and @terracoda approve, please demonstrate the sound in the next general UI sound design meeting and see if there are any objections and note the results here (I'll be

[2020-01-22 19:53] jbphet commented on #233
I've turned on sound for this sim in `package.json`, to the query parameter is no longer needed.  I've also made the following changes based on recent input:

+ The output level for photons coming from the emitters has been reduced
+ A new sound has been integrated for photon absorption by the molecules
+ Sounds have been added for dialog open/close (more on this in https://github.com/phetsims/mol

[2020-01-22 19:59] emily-phet commented on #258
@terracoda @Ashton-Morris
Just played around with this, a few thoughts:
- the sound feels like it has a slight delay, like it happens after the visual change rather than both imitating at the same time. This may have a quirky device/browser dependence (I'm on my Mac using Safari), but if not, would be nice to figure out why that's happening.
- Each sound feels slightly long to me
- I'm not sure if

[2020-01-22 20:01] emily-phet commented on #233
@jbphet This link (as well as the latest as of yesterday) are not keyboard accessible for me (e.g., I can't tab around). This may also be related to lack of description access in them as well. If you're able before you leave, can you double check with @jessegreenberg on this. Perhaps there's something missing in the process you're doing to publish these last few MAL sim versions.

[2020-01-22 20:09] jessegreenberg commented on #233
Sorry, it is just that the query param is still required for interactive description in this sim. This should include it:
https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.23/phet/molecules-and-light_en_phet.html?a11y

I think we are ready to enable description by default in this sim so this doesn't continue to happen for molecules-and-light.

[2020-01-22 22:28] arouinfar commented on #262
@jessegreenberg 1/3 speed looks pretty good to me.

@terracoda can you also take a look at the slow motion speed? I'm not sure what plans there are for the descriptions when in slow motion, but the current speed in master seems reasonably slow (1/3 of normal speed).

[2020-01-23 00:02] Ashton-Morris commented on #258
I think it sounds really good and fits perfectly with the visuals.

I can't see any improvements needed but I can experiment with a single tone via @emily-phet suggestion before our next meeting.

[2020-01-23 19:35] Ashton-Morris commented on #263
Sure here is an edited .wav file [vibration](https://drive.google.com/open?id=1CpbEnamabFhqfXK7PAaa74wPEhwuXqQ0)

[2020-01-28 18:53] jessegreenberg opened #264 "Implement new alerts during slow motion"
We just added slow motion in #262 -

Among other things this gave us more time to describe what is going on in sim. New alerts have been designed to describe molecule/photon interaction. I will implement them for next design meeting.

[2020-02-03 13:17] terracoda commented on #252
We decided on changing "Return Molecule" to "New Molecule" in the button's label, and to provide a context response that fires upon appearance of the button. This context response offers a help-text-like interaction hint: "Look for New Molecule button."

@jessegreenberg, these decisions are recorded in the design doc, as well.
Back to you for implementation.

[2020-02-03 13:19] terracoda commented on #252
@jessegreenberg, note that the context response for the button is now separate from other context responses about the molecule breaking apart, so it can be timed with the actual appearance of the button.

[2020-02-03 13:22] terracoda commented on #244
I think we discussed this at a meeting. We'll keep an eye on this as we do more interviews.

[2020-02-03 18:04] terracoda opened #265 "Rename "New Molecule" button to "Reset Molecule" button"
This is a design change to make it more it more clear that the molecule (Ozone or Nitrogen Dioxide) were destroyed when they broke apart. Learners are putting a new molecule in the observation window and not "returning" a repaired one.

This issue is related to https://github.com/phetsims/molecules-and-light/issues/252 identifying that the timing of the button's context response has to be tied to

[2020-02-03 18:07] terracoda commented on #265
From #252,

[2020-02-03 18:21] terracoda opened #266 "Change "See" to "Examine" in Light Source pop-up button help text"
A static state change - rewording. The Show Light Spectrum provides a learner a detailed diagram and description of the light spectrum - a way to examine the spectrum.

Change current Help Text (change is bolded):
- See details of full light spectrum.
- To: **Examine** details of full light spectrum.

[2020-02-03 18:38] terracoda opened #267 "Timing Controls: New labels and help text for the group of Timing Controls"
We are adding options for regular speed and slow motion to MAL. We need new state descriptions describing all the timing controls. These changes are based on initial interviews that described the step button and the step interaction as quite confusing.

Updated design and content are also noted in red in the [Control Area section of the design doc](https://docs.google.com/document/d/1r9D3vq4QvmmXk

[2020-02-03 18:52] terracoda opened #268 "Change help text for photon rate slider"
Please change help for photon rate slider from
- "Adjust to emit photons at different rates."
To:
- "Adjust photon emission rate from slow to fast."

Rationale: Better wording now that the rates are:
- light source off
- very slow
- slow
- fast
- fastest

[2020-02-03 21:06] arouinfar commented on #268
That all looks reasonable to me.

[2020-02-03 22:30] jessegreenberg commented on #268
Done in the above commit.

[2020-02-03 22:30] #268 closed

[2020-02-03 22:32] jessegreenberg commented on #266
Done in the above commit.

[2020-02-03 22:32] #266 closed

[2020-02-04 15:58] jessegreenberg commented on #267
Sounds good - so if I were to mock up the HTML it may look something like this:
[code]

And in cases where the slow motion radio buttons are not visible it will look like this:
[code]

[2020-02-04 16:23] terracoda commented on #267
@jessegreenberg, I didn't realize the radiobuttons would disappear or become disabled? Maybe I need to understand this group of controls a bit better. Maybe we need  to more explicitly describe the Play and Pause modes and use more dynamically explicit help text. I've updated the help text in the code examples below.

Also, I was thinking that the speeds offered through the radiobuttons were more

[2020-02-04 16:30] terracoda commented on #267
Just adding links to aria 1.1 and 1.2:
- https://www.w3.org/TR/wai-aria/#aria-disabled
- draft 1.2: https://rawgit.com/w3c/aria/master/#aria-disabled

I haven't looked at the Authoring Practices yet.

[2020-02-04 16:33] jessegreenberg commented on #267
Yes, they can disappear. Not in molecules-and-light, but I need to instrument the TimeControlNode which is in scenery-phet and supports the case where there are no radio buttons at all (as it was in MAL before this change).

We could put them first. But are you OK with them coming first in tab navigation order too? In my opinion these controls are not as important as play/pause buttons, and this o

[2020-02-04 16:40] terracoda commented on #267
I am okay with playing with the order, the Tab order, that is, once we have something implemented. The help text I composed, however, assumes the radiobuttons are coming first in the Tab order. We might have to adjust that as well.

In my mind, I think the Pause/Play button is most important, then the radiobuttons, and then the Step button, but I didn't know how to place the Step button further fr

[2020-02-04 16:43] terracoda commented on #267
I wonder if a checkbox for slow motion would be better?

[2020-02-04 16:43] jessegreenberg commented on #265
Since this changes a visual (translated) string, we will have to consider translations. A change to the string will impact the english simulation only. If it is important that it apply to the translated versions we will need to notify translators to re-translate when this sim is republished. @arouinfar @terracoda is that something we should do?

[2020-02-04 16:46] terracoda commented on #267
@jessegreenberg, I'll mark for discussion at today's meeting.
If it's not too much trouble go ahead implement, but if this could get gnarly, maybe we should discuss with others first?

[2020-02-04 16:57] jessegreenberg commented on #265
Almost done for english with the above commit. For a11y, we also have this string.
[code]

Should this change to "... Create new molecule to make more observations."?

[2020-02-04 17:00] terracoda commented on #265
I like I mentioned, "Add New Molecule..." in the design doc, but I like, "Create New Molecule..." better.

[2020-02-04 17:02] jessegreenberg commented on #267
OK sounds good - I will wait to implement until we discuss further.

[2020-02-04 17:03] terracoda commented on #265
Actually, @jessegreenberg, is this a context response? Or a string in the Screen summary?

@Matthew-phet and I thought, "Look for New Molecule button." would work as a context response.

[2020-02-04 17:06] jessegreenberg commented on #265
Oh sorry, I missed it!

This is the description for the Observation Window in this case
![image](https://user-images.githubusercontent.com/6396244/73768310-c9f85780-4746-11ea-987d-62c0f56bfaeb.png)

[2020-02-04 17:07] jessegreenberg commented on #264
These are implemented and ready for discussion at todays meeting.

[2020-02-04 17:07] #264 closed

[2020-02-04 17:11] terracoda commented on #265
Ah! Thanks. Maybe stick with, "Add new molecule to make more observations." It's simple, and there is more than one way to add a molecule - the button and the radio buttons.

[2020-02-04 17:18] arouinfar commented on #265
@jessegreenberg the string on the button should be "New Molecule" so it aligns with the descriptions. The translated versions will then be out-of-sync with the English version and the updated string should probably be re-translated. I think @oliver-phet would be the one to handle contacting the translators about something like this.

[2020-02-05 00:22] jessegreenberg commented on #267
We discussed today, notes are in https://docs.google.com/document/d/1r9D3vq4QvmmXkQ5G6HexpybUv_vL6LrYFb3wgPfUdWg/edit#, see "Timing Controls". Before moving forward, I want to discuss with the team one more way to potentially generalize.

[2020-02-05 14:24] terracoda opened #269 "Change "See" to "Examine" in help text for Show Light Spectrum button"
As discussed and decided in Feb 4 description design meeting:
For Show Light Spectrum, pop-up button, please update the help text to:
- "Examine details of full light spectrum."

Changing from "See" to "Examine".

[2020-02-05 14:40] terracoda commented on #265
@jessegreenberg, I'm not sure an example of the Observation Window you posted in https://github.com/phetsims/molecules-and-light/issues/265#issuecomment-582013486 is actually in the design doc, so you didn't miss anything ;-) You found something.

[2020-02-07 16:05] terracoda commented on #265
Assigning back to you @jessegreenberg to change the label of the button.
I think these are the three things we want:
1. new label for button:
  - "New Molecule"
2. new context response tied to the appearance of the button:
  - "Look for New Molecule button."
3. any interaction hints that are needed in the state descriptions to help learners figure out that they need to put a molecule back into the

[2020-02-07 16:50] BLFiedler opened #270 "MAL Sound Features Video Script & Recording"
Make sound features video script and review with team

https://drive.google.com/open?id=15am5708SUVtuKrX2X91zEbkkj8qSlYHkAtYOaMMUnT4

Recording will happen after.

[2020-02-11 18:52] jessegreenberg commented on #255
In https://github.com/phetsims/molarity/issues/215 it was decided that there isn't anything we can do about how the screen reader reads abbreviations.

[2020-02-11 18:52] #255 closed

[2020-02-11 18:53] jessegreenberg commented on #269
This is done
![image](https://user-images.githubusercontent.com/6396244/74268409-d562fa00-4cd5-11ea-9c07-08fa4cb6b054.png)

[2020-02-11 18:53] #269 closed

[2020-02-11 18:54] jessegreenberg opened #271 "Change keyboard step size of EmissionRateControlSlider"
Requested in meeting last week, should take 3 key presses to span the whole range.

[2020-02-11 19:15] jessegreenberg commented on #271
Also, it was requested that we only have 4 different speeds "off", 'very slow", "slow" and "fast".

[2020-02-11 19:40] terracoda commented on #267
At Feb 11 design meeting, we decided to move forward on Timing Controls specifically for this sim. Things might change as work on the general Timing Control node is worked out in scenery issue https://github.com/phetsims/scenery-phet/issues/575 and related issues.

The order, the accessible names and the help text are all in the design doc under the [Timing Controls heading](https://docs.google.co

[2020-02-11 19:41] terracoda commented on #267
@jessegreenberg, other details are in the design doc. Let me know if you have any questions.

[2020-02-17 17:01] KatieWoe opened #272 "CT phetioID not found"
[code]

[2020-02-17 18:21] jessegreenberg commented on #271
Done in the above commit.

[2020-02-17 18:21] #271 closed

[2020-02-17 18:36] jessegreenberg commented on #272
Sim builds and `?phetioStandalone` from phetmarks with `&fuzz` is running without error. I am not sure where else to start with this but I would like to learn more. Assigning to PhET-iO team for guidance.

[2020-02-17 19:08] zepumph commented on #272
This will be covered by https://github.com/phetsims/aqua/issues/76#issuecomment-587123626, closing

[2020-02-17 19:08] #272 closed

[2020-02-17 19:28] terracoda opened #273 "Changes to screen summary due to new timing controls"
Related to changes in https://github.com/phetsims/molecules-and-light/issues/267

Please change the static description in the screen summary describing the Control Area from:

- From the Control Area you can use buttons to pause/play and step forward what’s happening in the observation window. You can also access details about the light spectrum and reset the sim.

TO (bolded text changed):
- **Th

[2020-02-17 19:31] terracoda commented on #267
@jessegreenberg, can you use change from "Sim Speeds" to "Play Speeds". I have a feeling that might be more clearly connected to the Play button, and more distinct from the Photon Rate slider's rates.

[2020-02-17 19:46] terracoda opened #274 "Photon Rate slider changes to rate regions, step size, and help text."
In last week's design meeting we decided to reduce the described number of rates on the Photon Rate slider from 5 to 4 rate regions and make the default key press 1 region. And in addition change the help text for the slider.

**Described regions for photon rates:**
- light source off (0)
- very slow (1)
- slow (2)
- fast (3)

**Step sizes:**
- Default step size with Arrow keys: 1 region
- Larger

[2020-02-17 20:01] terracoda opened #275 "Changes to dynamic screen summary due to changes to Photon Rate regions"
In https://github.com/phetsims/molecules-and-light/issues/274 we reduced the number of rates in the Photon Rate slider.

There is a dynamic phrase in the Screen Summary describing the photon rate. It would be nice to align the wording in the phrase with the actual rates.

The new rates are: very slow, slow, and fast. So, I think the change only requires changing one parameter: change "quickly" to

[2020-02-17 20:08] terracoda commented on #275
@jessegreenberg, here's an example of the prase I am talking about:
**Case 2a (light source on - 3 rates):**
- Currently, {{in observation window}}, {{infrared}} light source {{emits photons {{very slowly, slowly, fast}}}} and directly at {{carbon monoxide molecule}}.

And a further change also noted in design document is to replace the "and" in front of "directly" with a comma, like this:
- Curre

[2020-02-17 20:33] terracoda opened #276 "Need dev link for upcoming interviews"
@jessegreenberg, please post a dev link to the best final version you have at the end of your day today.

I have 5 upcoming interviews over the next 2 weeks with the first being at 10 am Eastern Time tomorrow.

If straight forward, please mention any quirks you might have noticed in your own testing.

[2020-02-17 20:34] jessegreenberg commented on #267
OK this has been done in the above commits. Implementation follows design comments above and notes in https://docs.google.com/document/d/1r9D3vq4QvmmXkQ5G6HexpybUv_vL6LrYFb3wgPfUdWg/edit#heading=h.gkri4hptbrio.

Closing this issue, review will come with a new dev version.

[2020-02-17 20:34] #267 closed

[2020-02-17 20:44] jessegreenberg commented on #274
This should be done in https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.25/phet/molecules-and-light_en_phet.html, can you please verify @terracoda?

[2020-02-17 20:45] jessegreenberg commented on #276
Here is a new dev version for testing @terracoda. At this time I am not aware of any quirks.

https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.25/phet/molecules-and-light_en_phet.html

[2020-02-17 20:49] jessegreenberg commented on #276
Sorry I missed #275.

[2020-02-17 21:00] jessegreenberg commented on #275
Done.

This pattern doesn't work very well in the "off" case.
![image](https://user-images.githubusercontent.com/6396244/74686114-7ce0a080-519e-11ea-9aa4-e18553005935.png)

Would you still like me to change and have a custom string pattern for the off case?

[2020-02-17 21:15] jessegreenberg commented on #265
1 and 2 from the above comment are done. Sorry, I don't understand 3. Should there be a new paragraph with that in the screen summary? I don't see that paragraph in the design document.

[2020-02-17 21:16] jessegreenberg commented on #262
We reviewed the speeds last week, alerts worked well with slow motion at this sim speed.

[2020-02-17 21:16] #262 closed

[2020-02-17 21:20] jessegreenberg commented on #276
Updated link with work for #275, and a few other things.
https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.27/phet/molecules-and-light_en_phet.html

[2020-02-17 23:30] jessegreenberg commented on #273
Done in the above commit @terracoda.

[2020-02-17 23:30] #273 closed

[2020-02-17 23:46] jessegreenberg commented on #260
I am looking into this again. To clarify, it isn't that JAWS says "Visible light was selected when UV light was (Jaws)", its that it says "visible light was NOT checked, rather than saying UV light is checked" (see https://drive.google.com/file/d/1I4zBizHxdu8mgFNK0O3vSODi0mz2pUdu/view?usp=sharing). The experience is likely still confusing to the user but it isn't as wrong.

[2020-02-18 00:05] jessegreenberg commented on #260
With monitorEvents( window ) in chrome dev tools I see
![image](https://user-images.githubusercontent.com/6396244/74693120-5cbddb00-51b8-11ea-9b16-445000db0c49.png)

So in this case, Jaws is trying to "click" something by sending a fake mouse event to the screen. That is why we lose focus in these examples.

[2020-02-18 00:12] jessegreenberg commented on #249
Ah, this is actually the same thing that is happening in https://github.com/phetsims/gravity-force-lab/issues/234 and in that issue we decided there is nothing we can do about it. Note has been added to A11y bug tracker and we are submitting a bug repiort to NVAccess about this.

[2020-02-18 00:12] #249 closed

[2020-02-18 00:14] jessegreenberg commented on #260
When I do the same steps in a basic html example I get the following events
![image](https://user-images.githubusercontent.com/6396244/74693376-9fcc7e00-51b9-11ea-83d3-3180f9b76204.png)

[code]

[2020-02-18 14:09] terracoda commented on #276
This version sounds great, @jessegreenberg! Thanks for getting so much in for today's session.

[2020-02-18 14:14] terracoda commented on #275
@jessegreenberg, I don't see "very slowly", so I might have been wrong about my comment above (sorry). I'll review more for next interview which is Friday.

[2020-02-18 16:58] terracoda commented on #276
Worked great for Interview, @jessegreenberg!

[2020-02-18 17:44] terracoda opened #277 "Spelling correction needed -"
During an interview, @BLFiedler noticed that "Tetrahedral" is spelled incorrectly in Methane radio button description.

@jessegreenberg, please check and update.

[2020-02-18 18:30] jbphet commented on #263
@Ashton-Morris - I just looked at the revised sound file, and I guess I wasn't very clear on my request.  Can I get a version of this sound that begins at the lowest amplitude value instead of the highest and includes a total of five cycles?  Starting at (or near) the max amplitude is contributing to the audible click, as described in https://github.com/phetsims/molecules-and-light/issues/263#issu

[2020-02-18 19:52] jessegreenberg opened #278 "Add hint to look for new molecule button to dynamic screen description"
While reviewing sim against current design document with @Matthew-phet . Assigning to myself to add.

[2020-02-18 19:56] jessegreenberg commented on #278
It isn't decided yet where this should be in the screen summary, for now we will put it at the end of the observation window descriptoin within the screen summary. Like

...only when it is visible.

[2020-02-18 19:58] jessegreenberg opened #279 "Add hint about PlayPauseButton in screen summary interaction hint"
From the design document, there are a couple of options but we are going to add

When the Play button is visible, and "Play" will change to "Pause" when the pause button is visible.

[2020-02-18 20:00] jessegreenberg opened #280 "Move "New Molecule" button under "Observation Window" heading in PDOM order"
To match design document.

[2020-02-18 20:03] jessegreenberg opened #281 "Observation window description isn't always describing the absorbed photon"
See this case:
![image](https://user-images.githubusercontent.com/6396244/74773409-d230b680-525f-11ea-9be7-9e3d8276953f.png)

It is describing an ultraviolet photon when in reality a visible photon has been absorbed.

[2020-02-18 20:21] jessegreenberg opened #282 "Add rotation direction to slow motion absorption alert"

[2020-02-18 20:21] jessegreenberg commented on #282
Currently it is just "rotating"

[2020-02-18 21:14] jessegreenberg commented on #277
Thanks for poitning out, fixed in above commit.

[2020-02-18 21:14] #277 closed

[2020-02-18 21:15] jessegreenberg commented on #276
Excellent! Closing.

[2020-02-18 21:15] #276 closed

[2020-02-18 21:27] jessegreenberg commented on #282
Done with the above commit.
![image](https://user-images.githubusercontent.com/6396244/74779460-85eb7380-526b-11ea-8e68-320c14621ca2.png)

[2020-02-18 21:27] #282 closed

[2020-02-18 21:33] jessegreenberg commented on #281
Having a hard time producing this agian./

[2020-02-18 21:37] jessegreenberg commented on #281
Found it, happens when
- Ultraviolet photon breaks apart a molecule
- Switch to water
- Switch to microwave
- First absorbtion will show "ultraviolet" photon described when "visible" is actually the absorbed photon.

[2020-02-18 22:34] jessegreenberg commented on #281
Fixed in the above commit.

[2020-02-18 22:34] #281 closed

[2020-02-18 22:39] jessegreenberg commented on #280
Done in above commit.

[2020-02-18 22:39] #280 closed

[2020-02-18 22:56] jessegreenberg commented on #279
Done in the above commit.

![image](https://user-images.githubusercontent.com/6396244/74784991-327f2280-5277-11ea-951a-2d7663fe5d67.png)

![image](https://user-images.githubusercontent.com/6396244/74785000-390d9a00-5277-11ea-8185-67c01ca9a211.png)

[2020-02-18 22:58] jessegreenberg commented on #279
Oops, I added a descriptoin for the return molecule button. It was supposed to be for the play button.

[2020-02-18 23:04] jessegreenberg commented on #279
OK, fixed now
![image](https://user-images.githubusercontent.com/6396244/74785772-2005e880-5279-11ea-963b-a6f8fa823caf.png)

![image](https://user-images.githubusercontent.com/6396244/74785786-25fbc980-5279-11ea-8191-aa795ede5573.png)

[2020-02-18 23:18] jessegreenberg commented on #279
Done

[2020-02-18 23:18] #279 closed

[2020-02-19 00:51] jessegreenberg commented on #278
Done.
![image](https://user-images.githubusercontent.com/6396244/74791162-b80ace80-5287-11ea-8ce2-6ef19bd9bcb8.png)

[2020-02-19 00:51] #278 closed

[2020-02-19 15:09] terracoda opened #283 "Sound Design Consideration: Stretching/Bending sound"
Based on the first of 5 interviews we might want to consider making the bending/stretching sound more rubberbandy sounding.

Feb-P1 thought the bending/stretching sound sounded like fast spinning.
Feb-P1 really liked the the spinning and glowing sounds and the break-apart pop sound. Though P1 did mention the break-apart sound could be easy to miss.

We have 4 more interviews scheduled up until Feb

[2020-02-19 16:41] terracoda opened #284 "Sound Design Consideration: Investigate Stereo & Panning options/possibilities"
Based on interview feedback, and will post related feedback if I get more over the next two weeks.

Feb-P1 participant had a good exploration of Molecules and Light and suggested that stereo as an option and panning sounds could improve the experience when people are using headphones.

Panning was suggested for indicating the movement of photons from left to right.

Sound design team could conside

[2020-02-20 19:01] terracoda opened #285 "Description Design: Responses pile up with Step interaction"
In VO responses pile up when pressing and holding Step button.
Not sure of solution.

Perhaps @Matthew-Moore240 and @jessegreenberg could explore?

[2020-02-20 19:12] jessegreenberg commented on #285
Over slack @terracoda recommended that we change the design to only alert the first vibration alert "...molecule stretching." rather than alert that both "..molecule stretching" AND "...molecule contracting".

This will reduce verbosity quite a bit.

I will also think about ways to manage the utterances better.

[2020-02-20 20:07] jessegreenberg commented on #285
I think this is improved with the above commit, @terracoda and @Matthew-Moore240 can you please review?

https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.30/phet/molecules-and-light_en_phet.html

[2020-02-21 15:24] terracoda commented on #285
@jessegreenberg, this works really nicely. I will use it for the interview today.

[2020-02-21 15:27] terracoda commented on #285
You can close this issue if there is no more work to do on this until I get feedback.

@Matthew-Moore240, the wording in the response is different. It uses "contracting" instead of "stretching".

Is that intentional?

[2020-02-21 15:49] jessegreenberg commented on #285
This is because it is describing what the molecule does when it first absorbs the photon.  If the molecule bonds immediately start contracting it will say "contracting" instead of stretching. We could change things if it is better for alerts to always say "stretching".

[2020-02-21 16:44] terracoda commented on #274
@jessegreenberg, I see I cut myself off in the first comment (apologies).

Please change Help Text from "Adjust to emit photons at different rates."
TO:
- Set photon emission rate.

[2020-02-21 16:44] terracoda commented on #274
@jessegreenberg, please assign reviews to @Matthew-Moore240

[2020-02-21 19:47] terracoda opened #286 "Consider no "pop-up" for Dialog Buttons"
Some screen readers (at least Voice Over) describes `aria-haspopup = "true"` as a menu pop-up. For VoiceOver users the PhET Menu button is the perfect example of pop-up button, whereas the Light Source Spectrum as a pop-up button is confusing.

We could/should re-investigate to see what the latest supported option there is for buttons that pop-up dialogs. For example, it this well supported?
- `ar

[2020-02-21 19:49] terracoda commented on #286
@jessegreenberg, this change would be common code, so this issue might need to move once we discuss at next meeting. Feel free to share with other devs if you have time to investigate.

[2020-02-21 20:10] Ashton-Morris commented on #263
@jbphet Sure: This[ .wav starts at the lowest amplitude](https://drive.google.com/open?id=1ssZ4EjantEsa94PpFTtJa498FjNcnWh2)

[2020-02-23 18:26] jessegreenberg commented on #286
Sounds good, ill test `aria-haspopup="dialog"` to determine its output.

- [ ] JAWS (Chrome)
- [ ] NVDA (Firefox)
- [ ] iOS VO
- [ ] VO Safari

[2020-02-23 18:31] jessegreenberg commented on #274
OK updated above. @Matthew-Moore240 can you please make sure master matches https://github.com/phetsims/molecules-and-light/issues/274#issue-566487934? Please let me know if you have any questions about testing the latest version on phettest.

[2020-02-24 14:43] terracoda commented on #285
@Matthew-Moore240, do you have any thoughts? Should it say "contracting and stretching"?

[2020-02-24 14:53] terracoda commented on #275
@jessegreenberg, yes the dynamic screen summary seems to be off by one region:

![Screen Shot 2020-02-24 at 11 17 13 AM](https://user-images.githubusercontent.com/1902116/75162432-1d334980-56f8-11ea-8c86-284058ee7b2f.png)

[2020-02-24 15:00] terracoda opened #287 "Change to initial interaction hint"
Please change to:
- Look for photon rate slider to explore.

And if sim is paused:
- Look for photon rate slider to explore. If needed, set sim to Play under Timing Controls.

[2020-02-24 15:20] jessegreenberg commented on #287
Addressed in the above commit. While running:
![image](https://user-images.githubusercontent.com/6396244/75164707-2ec42380-56ef-11ea-9d13-2ee310b41ee6.png)

While paused:
![image](https://user-images.githubusercontent.com/6396244/75164745-3c79a900-56ef-11ea-83ef-06f78f114123.png)

[2020-02-24 15:30] jessegreenberg commented on #287
Provided in this version:
https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.31/phet/molecules-and-light_en_phet.html

[2020-02-24 15:30] #287 closed

[2020-02-24 15:49] jessegreenberg commented on #286
With aria-haspopup="true":
  - NVDA + Firefox: "Show Light Spectrum menu button, sub menu"
  - VO + Safari: "Show Light Spectrum, menu pop up, button"
  - VO + iOS Safari: "Show Light Spectrum, Pop up button, Menu Pop up"
  - JAWS + Chrome:

With aria-haspopup="dialog":
  - NVDA + Firefox: "Show Light Spectrum button, sub menu
  - VO + Safari: "Show Light Spectrum, Dialog pop up, button"
  - VO +

[2020-02-24 15:57] terracoda commented on #286
Ok, thanks @jessegreenberg, `aria-haspopup="dialog"` is not well supported.

Let's go with no indication of pop-up in the code for dialog buttons. I can explore some generic help text that might be more helpful than what aria can currently provide.

[2020-02-24 16:01] jessegreenberg commented on #286
@terracoda  I was just about to write that we should switch to `aria-haspopup="dialog"` since at least it was better on VO. But you would rather remove all `aria-haspopup` attributes on buttons that open a dialog (including keyboard help button and so on)?

[2020-02-24 19:10] terracoda commented on #275
When light source is on of one of it's 3 speeds and the sim is in Play mode, the phrase  should be:

Currently, {{in observation window}}, {{infrared}} light source {{emits photons}}
{{
- very slow
- slowly
- fast
}}
, directly at {{carbon monoxide molecule}}.

There are other phrases. Pop them in here if you need me or @Matthew-Moore240  to look at them.

Ideally, we have 4 speeds (off, very slow

[2020-02-24 19:11] terracoda commented on #275
@jessegreenberg, note I took the "ly" of "very slowly".

[2020-02-24 19:27] terracoda commented on #274
his is all good @jessegreenberg!
Thanks!

[2020-02-24 19:27] #274 closed

[2020-02-24 20:59] Ashton-Morris commented on #284
I have thought about this idea before and I feel stereo imagery could bring a lot of information to the sims sound.

Thinking @jbphet could probably put the sound source on the actual image of the photon and have it pan using that location information. Will be good to talk about tomorrow.

Also it would be good to get Wanda's input on this tomorrow

[2020-02-24 22:22] jessegreenberg commented on #275
Over slack @terracoda summarized:

[2020-02-24 22:30] jessegreenberg commented on #275
All done in the above commit.

[2020-02-24 22:30] #275 closed

[2020-02-25 18:13] jbphet commented on #263
Thanks @Ashton-Morris - that's perfect.  I've added the `.wav` file as and asset and I derived an `mp3` file from it that fades in at the beginning, and I no longer notice the click.  Closing.

[2020-02-25 18:13] #263 closed

[2020-02-25 18:48] jessegreenberg opened #288 "Reset the observation window photon wavelength changes"
From user interviews with blind participants, there was some confusion when changing the photon wavelength while there are old photons that exist in the window that can be absorbed.  For instance, Having CO2 in the window while there are infrared photons, then changing to visible photons, it was confusing when the CO2 molecule absorbed an infrared molecule after visible photons were selected.

To

[2020-02-25 19:00] jessegreenberg commented on #265
From meeting on 2/25/19 we are going to change again to "Return Molecule" button. There was confusion in a user interview that "New" molecule meant that we were adding a different kind molecule to the observation window, or adding a new molecule to the radio button list.

[2020-02-25 20:10] jbphet opened #289 "Need sounds with slower modulation for "Slow" speed setting"
In https://github.com/phetsims/molecules-and-light/issues/262, the ability to set the sim into a "slow motion" mode was added.  The sounds that are used to indicate vibration and rotation (clockwise and counterclockwise) are timed to match the rate at which the normal (i.e. non-slow-motion) behavior operates.  We discussed this in the Feb 25 2020 sound design meeting and decided that we'd like to

[2020-02-25 20:13] jbphet commented on #284
I implemented a prototype of panning for the photon emission sound and tried to demo it over zoom, but people didn't seem to be able to hear it.  I'll work on implementing support for panning to the point where it can be checked in, and then will publish a dev version so that people can try it out on their own machines.

[2020-02-26 14:18] terracoda commented on #285
@Matthew-Moore240, please review the responses currently being offered up in the Step Forward mode and see if you think they need to be combined or changed.

I have no data from blind users on the Step Forward button yet, but the responses could still be really helpful for other learners.

The slow motion, "Slow" radio button seems to be most useful for blind users, and so I think efforts on optim

[2020-02-26 14:31] terracoda commented on #265
@jessegreenberg, we might need 3 updates to address the "Reset Molecule" button:
- update the button's label: "Reset Molecule"
- update the response delivered when button appears: "Look for Reset Molecule button."
- update the interaction his in the Observation Window that comes after the Split molecule description:
  - NO and O out of view. Reset molecule to make more observations.

[2020-02-26 14:44] terracoda commented on #265
Assigning to @Matthew-Moore240 and @jessegreenberg, think the above is what we agreed to in our meeting yesterday.

@jessegreenberg, I think it is safe to implement, @Matthew-Moore240 please comment. My main concern is if the string in number 4 is the best?

[2020-02-26 15:02] terracoda opened #290 "Move Reset Molecule button to under the Photon Rate slider's Help Text"
In #280 we moved the button and in #265 we are renaming it. This little button is a tricky one.

let's try once again placing it in the PDOM after the Photon Rate slider:

**Sample Pseudo Code:**
H3: Observation Window
‪
UL
Li: O2 and O out of view. Reset molecule to make more observations.

INPUT type range: Ultraviolet Photon Rate, slider
P for Help text (for slider): Set photon emission rate.

[2020-02-26 15:36] jessegreenberg commented on #290
Done in the above commit
![image](https://user-images.githubusercontent.com/6396244/75360434-c78ba800-5883-11ea-9894-7a1b30ea7af0.png)

This is a general issue with aria-valuetext and the a11y-view. Ill make an issue in chipper, if there isn't one already.

[2020-02-26 15:41] terracoda commented on #290
@jessegreenberg, maybe it is time to think about how we could put Object Responses like current aria-valuetext over above the Context Responses, or interwoven with the the Context responses?

[2020-02-26 15:43] jessegreenberg commented on #290
Interesting! I moved your comment to https://github.com/phetsims/chipper/issues/896 since we work on this more generally there. Closing this issue.

[2020-02-26 15:43] #290 closed

[2020-02-26 15:53] jessegreenberg commented on #265
Thanks for the reminder @terracoda. Rename done in all 4 places in the above commits. IMO your suggestion for #4 sounds great for consistency. Assigning to @Matthew-Moore240 for review.

[2020-02-26 16:30] jessegreenberg commented on #288
This was done in the above commit.

@arouinfar and @terracoda can you please review this behavior change?

[2020-02-26 16:47] arouinfar commented on #288
@jessegreenberg the behavior looks fine to me, but I thought we decided only to clear the photons; not reset the molecule. @terracoda @BLFiedler?

[2020-02-26 16:52] BLFiedler commented on #288
I believe we thought it'd be best to try to only clear the photons and let the molecule continue whatever it was doing, assuming it's incapable of absorbing a new photon while it's undergoing an interaction with a previously selected light source.

[2020-02-26 17:15] jessegreenberg commented on #288
I see, thanks, I misunderstood. Corrected in the above commit. Back to @arouinfar @BLFiedler or @terracoda to verify.

[2020-02-26 17:36] arouinfar commented on #179
@jessegreenberg is there any plan to address the structure of methane before the next publication? In master methane appears to be square planar, but at some point, the molecule had a more tetrahedral structure (see https://github.com/phetsims/molecules-and-light/issues/179#issuecomment-448926228).

We are likely going to get quite a bit of pushback from users if we use a square planar representat

[2020-02-26 17:37] arouinfar commented on #288
Looks good in master @jessegreenberg

[2020-02-26 17:56] jbphet commented on #283
Assigning to @terracoda to log her input once the interviews are complete.  I'm also removing myself as an assignee, since there is nothing that I need to do on it at the moment.  @terracoda - please assign back to me once the interviews are complete and you've added your input.

[2020-02-26 18:40] Matthew-Moore240 commented on #265
Yup it all looks good to me!

[2020-02-26 18:52] Matthew-Moore240 commented on #285
I think if we only want one version of the response either "stretching" or "contracting"  we should go with "stretching". Just so I understand we would only want

**For stepping through**
_{{Light source}} photon {{absorbed}} and bonds of {{molecule}} molecule {{stretching}}_

**For normal speed**
_Bonds of molecule stretching._
**After first response**
_Stretching_

[2020-02-27 16:25] terracoda commented on #285
@Matthew-Moore240, I am not opposed to using both words:
{{Light source}} photon {{absorbed}} and bonds of {{molecule}} molecule {{ contracting and stretching}}

And we could make the strings briefer in a few ways:
- Replace "and" with a comma,
- use consistent tenses: simple present for absorbed and emitted, and simple present for reactions or non-reactions. The present progressive doesn't pair w

[2020-02-27 16:27] terracoda commented on #285
And for the record, I like the present progressive ("ing") at Normal speed. I am not convinced it works in Slow motion or Step Forward, though when combined with other verb tenses.

[2020-02-27 18:00] terracoda commented on #265
This is all done. Closing.

[2020-02-27 18:00] #265 closed

[2020-02-27 18:19] terracoda opened #291 "Description: Consider "photons off""
Currently, we have the following values for the Photo Rate slider:
- light source off
- very slow
- slow
- fast

So on first focus, screen reader users hear:
- Infrared Photon Rate, slider, light source off

Then when they move the slider, will hear the new values as they pass them:
- very slow
- slow
- fast

What do people think of changing "light source off" to:
- photons off

And if we change t

[2020-02-27 18:22] terracoda commented on #291
And if the string is changed, the slider would sound like this:
- Infrared Photon Rate, slider, photons off

Then as they the slider to an on-value:
- very slow
- slow
- fast

I think, "photons very slow" is more easily inferred after "photons off" than with "light source off".

[2020-02-28 00:35] terracoda commented on #286
Well, if we assume the in the future things will get better rather than worse, sure let's switch to aria-haspopup="dialog" for dialogs.

[2020-02-28 00:37] terracoda commented on #286
I think that 2 years ago, there was no support, so maybe things are already getting better :-) And I suppose we could file bug reports to push things along :-)

[2020-02-28 00:42] terracoda commented on #228
We have had feedback from at least 3 interview participants that the amount of description in the normal-speed responses is good.

There is no need to repeat the longer response at regular intervals.

Closing this issue.

[2020-02-28 00:42] #228 closed

[2020-02-28 01:23] terracoda commented on #288
Looks like it is working great to me!

[2020-02-28 01:24] terracoda commented on #288
Since I am the last person. I am closing.

[2020-02-28 01:24] #288 closed

[2020-02-28 16:47] arouinfar commented on #291
@terracoda great idea! I think the "photons off" phrasing flows better with the rest of the descriptions.

[2020-02-28 20:58] BLFiedler commented on #291
Some small, deep part of me thinks "off" should refer to the thing the photon is doing (emitting, emission, etc). However, I don't actually feel that strongly about it and agree that the consistency provided is nice!

[2020-02-28 20:59] terracoda commented on #291
@BLFiedler, "photon emissions off" could work, too.

[2020-02-28 21:00] BLFiedler commented on #291
I think the conciseness > absolute precision here. Stick to "photons off".

[2020-02-28 21:01] terracoda commented on #291
@Matthew-Moore240, what do you think?

[2020-02-28 21:20] Matthew-Moore240 commented on #291
It looks good to me! I think it gives a clear idea of whats going on.

[2020-02-28 21:33] terracoda commented on #291
@jessegreenberg, please change the off value for the photon rate slider from:
- light source off

TO:
- photons off

[2020-02-29 15:44] terracoda commented on #291
The end result should be something like:
- Infrared Photon Rate, slider, photons off

Then when moving the slider:
- very slow
- slow
- fast

[2020-03-02 16:20] Ashton-Morris commented on #289
I have created files that are 1/3 the current rate for the "Slow Motion" mode.

[They can be found here.](https://drive.google.com/open?id=1UdeAk6MxXEZMSj2Nt6tDi35R-jej5ppM)

[2020-03-02 16:45] Ashton-Morris opened #292 "Sound: Add stereo-reverb version of molecule break apart sound"
[Here is the new file](https://drive.google.com/open?id=1XXWE_7DrHBXDdIxLa9QA6X4juWmR4TO-)

[2020-03-02 16:48] Ashton-Morris commented on #292
Currently asking for access so I can assign people.

[2020-03-02 17:07] Ashton-Morris opened #293 "Sound: Hear if having a delay between the absorb sound and the interaction sound improves anyting"
Here is a short video example of how a little delay before the interaction would sound.

With a short delay
[absorb-with-delay-between-absorb-and-interaction-sound-example-video](https://drive.google.com/open?id=1kkUptImW5-ERvbDyxTtRXtBHdSNnNIWZ)

With no delay
[absorb-with-no-delay-between-absorb-and-interaction-sound-example-video](https://drive.google.com/open?id=177hDNOOxxZ97MuuqK_peRQVGcncSNh

[2020-03-02 21:19] terracoda opened #294 "A11y Checklist for Description design & implementation"
This issue is meant to help guide and track the big picture progress of the description design, description implementation, and implementation of alternative input. Sound and adaptive features are incorporated only at a high-level here, though could be added as we move forward and learn more.

Tagging team for FYI of issue: @Matthew-Moore240, @emily-phet, @jessegreenberg , @arouinfar , @BLFiedler

[2020-03-02 21:23] BLFiedler commented on #294
#270  Sound Features Video for MAL issue Linked here.

[2020-03-02 22:13] Ashton-Morris commented on #284
[I added a few files here](https://drive.google.com/open?id=1dII2m4KtMuZyxGShyF0rXf7ZSGUKOkq6)

- vibration-spacialized.mp3 (this goes from smallest width-mono to largest width-full stereo with the vibration) it is hard to perceive though
- rotate-directions-002-spacialized.mp3 (these go through a rotary speaker cabinet effect that make it sound like its going around. The rotation speed is not exa

[2020-03-03 20:23] jbphet commented on #284
I integrated the new spatialized sounds for photon emission (initial emission only), rotation, and vibration, and published these changes in a dev version (see https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.34/phet/molecules-and-light_en_phet.html).  These changes were reviewed with the sound design team during the 3/3/2020 MAL sound design meeting, and the general conclusion was

[2020-03-03 23:10] Ashton-Morris commented on #284
[Ok here is what I have.](https://drive.google.com/open?id=1dII2m4KtMuZyxGShyF0rXf7ZSGUKOkq6)

- photon-stays-little-left-003.mp3
- photon-stays-little-left-002.mp3
- photon-stays-little-left-001.mp3
- photon-stays-little-left-000.mp3
- photon-rate-of-visual-motion-003.mp3
- photon-rate-of-visual-motion-002.mp3
- photon-rate-of-visual-motion-001.mp3
- photon-rate-of-visual-motion-000.mp3
- photon-

[2020-03-04 00:00] arouinfar opened #295 "Replace photon source slider with on/off button"
Discussed in the 3/3/20 description meeting.

Adjusting the photon emission rate does not serve any of the primary learning goals. In the original design of the sim, the slider posed some challenges with student flow which we addressed by changing the shape of the thumb to look more tactile (see #83). Now that the sim has slow motion, a slider for the photon emission rate is less necessary. At tim

[2020-03-04 01:44] terracoda commented on #295
Green button looks good to me.

[2020-03-04 13:19] emily-phet commented on #295
Yes - green. The sim has so much blue, a blue button doesn't stand out enough, i think.

[2020-03-04 13:32] terracoda commented on #291
Due to issues in interviews the slider is being changed to a button in #295.
This issue is no longer relevant. Work on this object will continue in #295 and other issues.

[2020-03-04 13:32] #291 closed

[2020-03-04 16:13] arouinfar commented on #295
Thanks @terracoda @emily-phet.

I realized we haven't specified what the photon emission rate should be. It will likely take a bit of tuning, but I think 85% of the current max rate might be a good place to start @jessegreenberg.

[2020-03-04 17:31] Matthew-Moore240 commented on #293
I kind of like it with the tiny delay

[2020-03-04 18:21] emily-phet commented on #284
Everyone,
Please take a listen to these as well and weigh in on the following (below). Please use the checkbox list below to let us track who has taken a listen and added all their comments.

- [ ] @terracoda
- [ ] @Matthew-Moore240
- [ ] @Ashton-Morris
- [ ] @jbphet

Here are the questions on the table:
1) Is there a more refined version of the stereo sound design that we prefer over the current

[2020-03-05 00:16] jbphet commented on #292
This sound has been integrated into the dev version https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.34/phet/molecules-and-light_en_phet.html.  I personally think it is *way* more noticeable new.  @Ashton-Morris, @emily-phet, @BLFiedler, and @Matthew-Moore240 - please have a listen and let me know (in the issue) if you're good with this new version.  I found it best to compare it t

[2020-03-05 00:27] Matthew-Moore240 commented on #292
Sounds good to me.

[2020-03-05 03:08] BLFiedler commented on #292
I found that really enjoyable. Just closing my eyes and listening, I really got the sense the sound was moving! Same goes for the rotation.

It doesn't seem to me just using the right ear that anything is lost, but maybe others have another feeling or want the volume tuned.

[2020-03-05 22:30] Ashton-Morris commented on #293
I agree with Matthew. Visually it seems accurate still as well

[2020-03-06 01:44] Matthew-Moore240 commented on #284
I really like the stereo sound. Some of the interviewees have mentioned that stereo sound would enhance there experience, so I think if its possible to add it even for just the rotating molecules would be good as long as it wasn't jarring. The dream of course is to have an option for a user to pick either mono or stereo sound and kind of tailor there own experience, but I think John talked briefly

[2020-03-06 22:14] arouinfar commented on #292
I think dev.34 is a definite improvement. It sounds more dynamic to me, and I don't find that I lose anything when listening with just one earbud.

[2020-03-08 15:03] emily-phet commented on #289
@jbphet Please prioritize this issue in preparation for Tuesday's design meeting. Our goal is to get MAL design complete by the end of the month, so we'll need to have an initial listen and consider next steps soon for "slow motion" sound in order to meet that goal.

Note - spatialization is secondary.

[2020-03-10 15:06] jessegreenberg commented on #295
Looks great! @arouinfar is there a chance that the slider and photon emission rate will be needed in greenhouse? If not, I will remove things from PhotonAbsorptionModel related to this. Otherwise I will leave them in for that sim.

[2020-03-10 15:57] jessegreenberg commented on #295
There is a substantial amount of code that could potentially l be removed related to emission frequency if that is definitely getting removed from both MAL and greenhouse, making a list here to remember in case it can be totally removed.

- PhotonAbsorptionModel.emissionFrequencyProperty
- PhotonAbsorptionModel.setPhotonEmissionPeriod
- PhotonAbsorptionModel.getSingleTargetPeriodFromFrequency
- Ph

[2020-03-10 16:28] jessegreenberg commented on #295
Button added in the above commit. Current implementation updates the 'on' frequency and 'off' frequency when pressed without changing anything else.  But if we think that control of the emission frequency can be fully removed we will want to change the implementation so that things in https://github.com/phetsims/molecules-and-light/issues/295#issuecomment-597165243 are removed and Properpties that

[2020-03-10 16:31] jessegreenberg commented on #181
This branch can be deleted and closed now.

[2020-03-10 16:33] jessegreenberg commented on #181
Deleted.

[2020-03-10 16:33] #181 closed

[2020-03-10 17:40] arouinfar commented on #295
Discussed in the 3/10/20 description meeting.

* Button color/size/placement looks good.
* @arouinfar will double check with the Greenhouse team before @jessegreenberg removes all slider-related code for good.
* @jessegreenberg will create 2 query parameters to fine-tune the photon emission: one for the photon emission rate and one for the slow motion scale factor.

[2020-03-10 17:45] jbphet commented on #293
I think it is an improvement, but I think the delay needs to be kept pretty short so that it is clear that the sound corresponds to the action that is occurring.

Let's experiment with this in the 3/10/2020 sound design review meeting.  I can demonstrate different delay values over Zoom and we can decide what to go with.

[2020-03-10 18:00] jbphet commented on #289
The sounds have been integrated, and a dev version is available at https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.37/phet/molecules-and-light_en_phet.html.

[2020-03-10 18:05] jessegreenberg opened #296 "Representation of photon emitter button in PDOM"
From #295 and mentioned over slack, how would we like this button to appear in the PDOM? @terracoda is going to provide some markup to try and then I will listen to how each sounds on our supported platforms.

[2020-03-10 18:08] jessegreenberg opened #297 "Consistent file name prefix"
Some files are called MoleculesAndLight*.js and others are called MAL*.js, they should be consistent.

[2020-03-10 18:40] jbphet commented on #284
In the 3/10/2020 sound design meeting we decided to try stereo sounds for rotation and vibration but leave the photon sounds as mono for now.

@Ashton-Morris - To do this, I'll need stereo versions of the slow motion versions of these sounds to meet this goal.  I'll assign this to you, please assign back to me once we have them.

[2020-03-10 18:55] jessegreenberg commented on #295
@arouinfar @terracoda @Matthew-Moore240 I made two query parameters `?slowSpeed` and `?emissionFrequency`. These are both values that can go from 0 to 1. They are both proportions of existing frequency/speeds. So ?`slowSpeed=0.5` means that at "slow" speed, the sim will run half as fast as "normal" speed. and `?emissionFrequency=0.25` means that photons will be emitted at 1/4 frequency comparted t

[2020-03-10 19:07] jessegreenberg commented on #297
Done in the above commit.

[2020-03-10 19:07] #297 closed

[2020-03-10 19:21] jbphet commented on #289
We reviewed the dev version linked in the comment just above in the 3/10/2020 sound design meeting.  The general consensus was that the changes are good and we should go with them.  Here are some other notes from the discussion:

+ @Ashton-Morris noted that the slower photon sounds hadn't been incorporated.  I hadn't realized that they were supposed to be, but after some discussion, we decided tha

[2020-03-10 19:21] #289 closed

[2020-03-10 19:22] jbphet commented on #292
Discussed in the 3/10/2020 sound design meeting and the team members who haven't yet commented agreed that the new sound is an improvement.  We're going to go with it, at least for now.  Closing.

[2020-03-10 19:22] #292 closed

[2020-03-10 19:24] jbphet commented on #293
We experimented with this in real time for the absorb-and-vibrate case (using IR photons and CO2), and concluded that a 200 ms delay seems like an improvement.  I'll fold this in for all sounds in a more permanent way, and we can review and hopefully finalize at the next meeting.

[2020-03-10 19:34] jbphet commented on #284
I listened to the sounds listed in https://github.com/phetsims/molecules-and-light/issues/284#issuecomment-594218881, and my favorite was `photon-rate-of-visual-motion-xxx`.  The one "stays-little-left" versions weren't bad, but the motion of the other seemed good to me.  The others were generally a bit too much.

If we end up using a stereo sound, I think the "rate-of-visual-motion" ones would be

[2020-03-10 19:43] jbphet commented on #295
The MAL sound design team was using the button in context during today's review meeting, and we have a suggestion: There should be no, or at least a lot less, delay between pushing the button and the emission of the first photon.  The current behavior, which can be seen on https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.37/phet/molecules-and-light_en_phet.html, seems a bit sluggis

[2020-03-10 19:47] jbphet opened #298 "Try removing some of the high harmonics on the "glow" sound"
During the 3/10/2020 sound design meeting, Wanda recommended experimenting with the removal of some of the high harmonics from the glow sound.  The members of the team noted that several interviewees had commented that the sound stood out, and maybe it stands out a bit too much.  @Ashton-Morris said he could try a few things to moderate this, and then we can review the revised versions and decide

[2020-03-10 23:16] terracoda commented on #296
@jessegreenberg, I read this article a while back, and I think we could explore some of these ideas for the different kinds of buttons we use in sims...
https://www.smashingmagazine.com/2017/09/building-inclusive-toggle-buttons/

I'll share the article and then post in some html code tomorrow.

[2020-03-10 23:24] terracoda commented on #296
There are 3 or 4 types of toggle buttons in that article :-)
Main point: communicate a change in state on one way only - state change or name change.

When a label does not change` aria-pressed` is often a good choice.
However, when a label change is needed (e.g. "On/Off" or "Pause/Play") changing the state and label at the same time is not a good choice.

[2020-03-11 13:38] terracoda commented on #294
Ooops this issue was opened in error. We already have #204 opened. It just wasn't labeled or assigned to anyone. I will move comments and close this issue.

[2020-03-11 13:41] terracoda commented on #201
Posted by @BLFiedler in duplicate issue #294

[2020-03-11 13:53] terracoda commented on #294
Closing this issue as it is a duplicate of #201. I moved all comments to #201.

[2020-03-11 13:53] #294 closed

[2020-03-11 17:50] jbphet commented on #233
I'm changing this back to be assigned only to me, since we are currently handling questions about the sound design implementation in a separate set of GitHub issues.

[2020-03-12 13:28] terracoda opened #299 "Play Pause button needs improvement to communicate states"
There are a few different types of binary logic interactions in HTML. Traditionally, we have toggle buttons (pressed and not pressed), checkboxes (checked and not checked), and 2 radiobuttons (only one of which can be selected).

The labels (or names of the elements) and their states combine to communicate the success of the interaction. Thus, it is crucial to think carefully what the interaction

[2020-03-12 14:02] terracoda commented on #299
This issue related to https://github.com/phetsims/scenery-phet/issues/575 and possible related to https://github.com/phetsims/molecules-and-light/issues/295.

[2020-03-12 14:59] terracoda commented on #296
@jessegreenberg I think we might have three options for the Light Source button. The first 2 do not require any visual changes. The third would require having on/off on the screen.
**Options**
1. Traditional toggle button with aria-pressed=”true/false” - a traditional toggle button is an acceptable option because the current button interaction does not have a visual name change and the on/off stat

[2020-03-12 15:04] terracoda commented on #296
@jessegreenberg, I am curious to know if any of these options work well in MAL.

[2020-03-12 15:07] terracoda commented on #296
We also need new help text. Here are the 5 options that are in the design doc:

1. Turn light source on or off.
2. Turn light source photons on or off.
3. Turn light source on to start photons.
4. Activate light source to start photons.
5. Activate light source to start exploration.

Just go with option 1 for now.

[2020-03-12 15:07] KatieWoe opened #300 "CT tandem was required but not supplied"
[code]

[2020-03-12 15:53] terracoda opened #301 "Consider new alert and help text for Reset Molecule button"
I think the "Reset Molecule" label is better. I am still not sure where this button should go, but that said, I think we can improve the Context Response and dynamic hints in the screen summary and Observation Window.

I've updated the design doc and suggest the following changes to the strings that we are currently using:
1. Context Response - change from "Look for Reset Molecule button."
 - To:

[2020-03-12 15:58] terracoda commented on #301
@Matthew-Moore240, let me know if you think this is better.
@BLFiedler, @arouinfar, @jessegreenberg  and @emily-phet are free to comment as well.

We could easily switch the phrasing like "Look for Reset Molecule button or change molecule." And "Look for Reset Molecule button or change molecule to make more observations." I just thought the verb "Change" easily cues that something has to change to

[2020-03-12 16:30] terracoda commented on #301
Posting in visual of where these phrases show up.
![Screen Shot 2020-03-12 at 1 54 53 PM](https://user-images.githubusercontent.com/1902116/76543728-dec4bb00-6469-11ea-865b-1a48a39a0f02.png)

[2020-03-12 16:41] terracoda commented on #296
@jessegreenberg, is it easy to prototype options 1 and 2? I would think option 3 is more involved.

[2020-03-12 16:42] emily-phet commented on #298
Ideal timeline for this would be to have a new sound in the sim to consider, or sounds (if there are multiple) to review so a final decision could be made next Tuesday (March 17th).

[2020-03-12 16:45] emily-phet commented on #296
@terracoda - is there a reason to *not* go with option 1? Seems like it would be good to keep this as simple as possible, and #1 seems the simplest (from my naive interpretation).

[2020-03-12 16:53] terracoda commented on #296
@emily-phet, I think option 1 will work and it is consistant with the visual design of the button. If we want to literally communicate "off" and "on", option 2 might be an option.

It's not an issue yet, but I am not sure how options 1 or 2 will work with voice activation software.

Option 3, might be the clearer way to communicate "off" and "on" and would work with voice activation software.

[2020-03-12 16:55] emily-phet commented on #284
At last meeting - EM suggested that we consider the panning for the photons separately from spatialization for other sounds.

From the March 10th meeting, seemed all were on board with the stereo versions of the rotation and vibration sounds, we didn't get to discussing decisions related to panning for the photon sound.

Let's go ahead and move forward with the spatialization for the rotation and

[2020-03-12 16:55] terracoda commented on #296
We have many different types of buttons in PhET sims and that article I posted above has a few design patterns that could potentially be very useful for us.

[2020-03-12 16:58] terracoda commented on #286
@jessegreenberg, go ahead with `aria-haspopup="dialog"`. Assigning over to you.

[2020-03-12 17:00] emily-phet commented on #258
This is good to go - let's go with what is currently there.
@jbphet I'm assuming what's in there now is what was positively reviewed above. Please confirm and close.

[2020-03-12 17:04] terracoda commented on #283
Feb-P2 commented that the stretching sound sounded like a rubberband, which is good from an association perspective.
Feb-P3 commented that the rotation and glowing sounds made sense, and did not comment on stretching/bending sound.

So, no serious negative feedback on be stretching/bending sound. The latest version that adds some stereo effect might address Feb-P1's comment.

[2020-03-12 17:10] terracoda commented on #283
@jbphet, I am not sure if anything more needs to be done. There's a new version of the sound for the stretching/bending since the interview, right?

[2020-03-12 17:17] terracoda commented on #258
I like the sound. I don't remember any direct comments from the recent interviews that took place. Two interviewees did indeed open the dialog, and I have no negative feedback.

[2020-03-12 17:19] terracoda commented on #258
@jbphet, see @emily-phet https://github.com/phetsims/molecules-and-light/issues/258#issuecomment-598299968

[2020-03-12 17:46] terracoda opened #302 "Adjust/Update State Descriptions (PDOM) affected by interaction change to Light Source"
Changes to the Light Source interaction are in progress in #295 and #296. @terracoda and @Matthew-Moore240 need to review PDOM and address necessary changes to:
- [x] created issues for changes to screen summary - references to slider and rates (#306, #307, #308, #301)
- [x] created issues for observation window (if any) - (#301)
- [x] created issue for new interaction name and help text (and code

[2020-03-12 17:51] wandita commented on #298
hello! yes i think minimizing the harmonic it already has may make it bright  ( auditorily) and in context, and comfortable to the ear.

[2020-03-12 17:52] terracoda opened #303 "Keyboard Help Dialog - needs updating based on ineraction changes"
Current Dialog has slider instructions, so we need to update it, but I am not exactly sure what is be needed.
![Screen Shot 2020-03-12 at 3 21 03 PM](https://user-images.githubusercontent.com/1902116/76550463-23a21f00-6475-11ea-8d82-cc4cb3dbb5ae.png)

[2020-03-12 17:53] wandita commented on #298
is the video working?

[2020-03-12 17:56] terracoda commented on #303
The main interaction issue in the sim has been the Play, Pause and Step buttons.
I am wan to explore an HTML code change in #299

[2020-03-12 17:57] Matthew-Moore240 commented on #301
Yeah that looks really good to me!

[2020-03-12 18:00] terracoda opened #304 "Light Spectrum dialog - content create/review"
@BLFiedler is completing the content for the Light Spectrum dialog in the design doc.

We should review:
- [x] @terracoda
- [x] @Matthew-Moore240

[2020-03-12 18:21] BLFiedler commented on #304
H2 completed on my end for now. Left an indented bullet list as well as a version laid out in sentence structure.

[2020-03-12 18:25] terracoda commented on #301
Or, just discussed with @emily-phet maybe this is better,
- "Reset or change molecule."
- "Reset or change molecule to make more observations."

[2020-03-12 18:33] terracoda commented on #296
@jessegreenberg, could you prototype options 1 and 2 first, please.

[2020-03-12 19:43] terracoda opened #305 "Reset Molecule button not working"
@jessegreenberg, the Reset Molecule button is not currently operational with mouse or keyboard. Please have a look.

[2020-03-12 19:47] terracoda commented on #305
I looks pressed, so you might have the pressed states reversed.

[2020-03-12 20:01] terracoda commented on #305
Actually, there seems to be a lot issues with the other buttons. Some I can operate with mouse and some I can't.

It seems I can't use the mouse on the Play, Pause, or Step Forward buttons, and the Global Sound button is also not operable by mouse. Something weird is going on with the buttons.

[2020-03-12 20:25] jessegreenberg commented on #305
I just pulled master and I am not seeing any issues with buttons, including the "Reset Molecule" button. @terracoda what version are you testing? If you open the developer tools do you see any errors?

[2020-03-12 20:26] terracoda commented on #305
I'll pull master. I haven't pulled since this morning.

[2020-03-12 20:30] terracoda commented on #296
And we need a label on the button as soon as possible, too. It is currently nameless and thus inaccessible.

The dynamic name for the button is similar the dynamic name for the slider, so hopefully some of that code is re-usable for the new button interaction.

New dynamic label for button from design doc:
- {{Microwave}} Light Source
- {{Infrared}} Light Source
- {{Visible}} Light Source
- {{Ultr

[2020-03-12 20:31] terracoda commented on #296
Please re-assign if you have questions :-)

[2020-03-12 20:39] terracoda commented on #305
Still having issues...
Could be performance related.
The Reset Molecule didn't work with mouse or keyboard.
The other buttons worked for a bit, then stopped working and Voice Over was saying, "Safari Busy"

No buttons were working once Safari became busy.

[2020-03-12 20:39] terracoda commented on #305
Using MacOs 10.13.6, Voice Over and Safari

[2020-03-12 20:50] terracoda opened #306 "New Interaction Hint needed in Screen Summary"
Related to #302 (review of PDOM), please update the initial interaction hint from:
- "Look for photon rate slider to explore. {{If needed, set sim to Play under Timing Controls.}}" to:
- "Turn light source on to explore. {{Make sure sim is set to Play.}}"

The dynamic parts of the hint are in curly braces, and should work the same as the current implementation.

[2020-03-12 21:12] jessegreenberg commented on #305
THanks @terracoda OK ill take a look at that platform

[2020-03-12 21:18] terracoda opened #307 "Best name for Light Sources radio group?"
Hi @arouinfar, @BLFiedler and @Matthew-Moore240 , in issue #296 we are changing the Photon Rate slider to be a button. @Matthew-Moore240 and I settled on calling it a Light Source button see https://github.com/phetsims/molecules-and-light/issues/296#issuecomment-598404599.

With "Light Source" used on the button, would it make better sense to change the name of the radio group, and its help text?

[2020-03-12 21:20] terracoda commented on #307
"Choose light for light source ordered low to high energy." - just another thought for help text.

[2020-03-12 21:34] BLFiedler commented on #307
My gut reaction to calling any of those a light "spectrum", is that the result of you pressing that is a piece of equipment that emits a photon (which exists at a single wavelength from that spectrum). Spectrum implies something continuous. I think I would side with leaving as is.

Should the "Light Source Button" have some indication that it's an on/off button?

[2020-03-12 22:05] terracoda opened #308 "Updates to Static Screen Summary"
In #302 we are checking changes to PDOM, the static part of the screen summary needs updating. @Matthew-Moore240, we need to review changes can be found in design doc.

[2020-03-12 22:08] terracoda commented on #301
@Matthew-Moore240, shall we go with this instead?

[2020-03-12 22:13] terracoda commented on #307
@BLFiedler, the on/off issue is being worked on in #296
Typically in a toggle button, the sates are communicated as pressed and not pressed.
I think we can do better than pressed and not pressed, but we may not have time to do better.

[2020-03-12 22:30] emily-phet commented on #298
@wandita - I don't think Ashton has created a new version of this sound yet. He may link it here, or it may not be available until Tuesday's design meeting...depending on when he gets to it.

@Ashton-Morris if you could link it here in advance, that would great!

[2020-03-12 22:35] emily-phet commented on #284
@Ashton-Morris - just noticed a note from @jbphet [here](https://github.com/phetsims/molecules-and-light/issues/289?email_source=notifications&email_token=ABG7KP5KNGLCJUXK7BQKVJ3RG2HMDA5CNFSM4K3RIZO2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEOMZKEQ#issuecomment-597267730) that they'll need to be spatialized versions of the sound in slow motion. Can you create these for Tuesday as

[2020-03-12 22:36] Ashton-Morris commented on #284
Sure I can do that

[2020-03-12 23:44] Matthew-Moore240 commented on #301
Yeah those corrections look good.

[2020-03-12 23:48] terracoda commented on #301
1. Context Response - change from "Look for Reset Molecule button."
 - To: "Reset or change molecule."
2. Dynamic string added to end of Molecule description in Observation Window, change from “Look for Reset Molecule button to make more observations.”
  - To: “Reset or change molecule to make more observations.”
3.  As a dynamic string in the screen summary.
 Change from:  "Currently, in observat

[2020-03-13 00:18] terracoda commented on #301
@jessegreenberg, assigning over to you for implementation.

[2020-03-13 00:43] terracoda commented on #299
The visual I imagined for option 3 (down the road if we ever go there), might be something like these states:
![Screen Shot 2020-03-12 at 10 07 43 PM](https://user-images.githubusercontent.com/1902116/76579255-6fbd8580-64ae-11ea-8818-2fcc34d12fb7.png)
![Screen Shot 2020-03-12 at 10 07 51 PM](https://user-images.githubusercontent.com/1902116/76579250-6d5b2b80-64ae-11ea-9b80-326d2d0b19c3.png)
These

[2020-03-13 01:41] terracoda commented on #308
@Matthew-Moore240, I made changes in the design doc. We can discuss before next meeting.

[2020-03-13 03:54] arouinfar commented on #307
Thanks for checking in @terracoda. Similar to @BLFiedler, the action I associate with the radio buttons is selecting a piece of equipment (or the "source"). "Spectrum" has continuous associations that I do not think are appropriate here.

[2020-03-13 03:58] arouinfar commented on #303
Good catch @terracoda. We should eliminate the entire "Light Source Slider" section of this dialog since it's now irrelevant.

Since these are all buttons, I don't think there's necessarily any special instructions we need to include in the keyboard dialog for these controls. Actually, I can't think of any keyboard actions that we need to describe in the dialog that don't already fall under "Basic

[2020-03-13 04:25] arouinfar commented on #295
Agreed @jbphet. Can you look into this @jessegreenberg?

I also noticed that the color of the light bulb still depends on the `emissionFrequency`. For example, this is what the IR source looks like when `emissionFrequency=0.25`:
<img src="https://user-images.githubusercontent.com/8419308/76588668-2ae51f00-64ad-11ea-8ce9-34c7937cc8f6.png" width=200>

I think we should show gray bulb when the source

[2020-03-13 16:01] kathy-phet opened #309 "New Issue for Testing Wanda's set-up"
Hi Wanda, this is the body of the issue. Did you receive it?

[2020-03-13 16:11] wandita commented on #309
Received it
wanda

[2020-03-13 18:17] jbphet commented on #283
No, there isn't.  It's the same sound as before, and we were waiting on the results of the interviews to decide whether to work on creating and reviewing alternate sounds.

Based on your comments above, I think we should try the stereo versions of this sound and see if we're happy with that.  I'll leave this open and assigned to me, and we can decide at the next review meeting what's next.

[2020-03-13 20:25] terracoda commented on #283
@jbphet, regarding my comment

I meant to say, there is a new version of the stretching/contracting sound that includes some type of "stereo". If so, I think we should use those and that might address the comments from Feb-P1.

[2020-03-14 01:07] Matthew-Moore240 commented on #307
Light source button seems good to me

[2020-03-14 15:36] jbphet commented on #283
@terracoda - thanks for the clarification.  Yes, we are planning to integrate stereo sounds for the stretching/bending and for rotation, and plan to review them at next week's sound design meeting.

[2020-03-14 15:39] jbphet commented on #258
Yep, I can confirm that.  Closing.

[2020-03-14 15:39] #258 closed

[2020-03-14 16:52] jbphet commented on #236
The absorption sound has been in place for a while, and interviews have been conducted with no suggestions made for modification.  Still, it would be good to give this sound a bit of focused scrutiny during the next review meeting and make sure we are good with it.

There is a related issue that was logged about how the absorption sound is hard to distinguish from the other actions, like vibration

[2020-03-14 18:07] terracoda commented on #307
Leaving the radiobutton group heading as "Light Sources". Thanks for the feedback.

[2020-03-14 18:07] #307 closed

[2020-03-16 20:00] Ashton-Morris commented on #284
[Here they are.](https://drive.google.com/open?id=1UdeAk6MxXEZMSj2Nt6tDi35R-jej5ppM)

- rotate-directions-001-spacialized-slow-mo.mp3
- rotate-directions-002-spacialized-slow-mo.mp3
- vibration-spacialized-slow-mo.mp3

[2020-03-16 20:09] Ashton-Morris commented on #298
Here you go

[absorb-loop-low-harmonics-reduction.mp3](https://drive.google.com/open?id=1lrt_GHru9EVHFDfrNOa3b-sK2RWSL_Aq)
[absorb-loop-medium-harmonics-reduction.mp3](https://drive.google.com/open?id=1YvDaaCGfavxLwXPtBhwTJGn4v9Bx7MZ2)
[absorb-loop-large-harmonics-reduction.mp3](https://drive.google.com/open?id=1aUP2iFI3onQuThiJQAOo2GB6SwMY4uhl)

[2020-03-16 22:59] jbphet commented on #233
There are a number of things that I'll need to remember to do when the sound design team has agreed that the implementation is complete.  Here's a list:

- [ ] remove the useStereoSounds query parameter
- [ ] remove the USE_SPATIALIZED_SOUNDS constants, and possibly the whole constants file if there is nothing else in it
- [ ] remove all unused sounds
- [ ] rename the remaining sounds to something

[2020-03-17 00:00] jbphet commented on #284
@Ashton-Morris - I integrated these, but I'm hearing clicks when they loop.  Can I get .wav files from you so that I can edit and export them to loop more smoothly?  Thanks.

[2020-03-17 15:27] Ashton-Morris commented on #284
[Here you go](https://drive.google.com/open?id=1UdeAk6MxXEZMSj2Nt6tDi35R-jej5ppM)

rotate-directions-002-spacialized-slow-mo-longer.mp3
rotate-directions-002-spacialized-slow-mo-longer.wav
rotate-directions-001-spacialized-slow-mo-longer.wav
rotate-directions-001-spacialized-slow-mo-longer.mp3
vibration-spacialized-slow-mo-loop.wav

[2020-03-17 15:32] jbphet commented on #284
I’m also noticing it on the spatialized vibration loop, so can I get a longer version of that one too?

Thanks,
John

From: Ashton-Morris [mailto:notifications@github.com]
Sent: Tuesday, March 17, 2020 9:27 AM
To: phetsims/molecules-and-light <molecules-and-light@noreply.github.com>
Cc: John Peter Blanco <John.Blanco@colorado.edu>; Assign <assign@noreply.github.com>
Subject: Re: [phetsims/molecule

[2020-03-17 15:37] jessegreenberg commented on #300
Thanks @KatieWoe , fixed.

[2020-03-17 15:37] #300 closed

[2020-03-17 16:38] jbphet opened #310 "Consider making MoleculesAndLightQueryParameters.slowSpeed into a constant"
The comments for `MoleculesAndLightQueryParameters.slowSpeed` say:

[code]

Is it ready to move from this file to the constants file?

[2020-03-17 17:05] Ashton-Morris commented on #284
[vibration-spacialized-slow-mo-longer.wav](https://drive.google.com/open?id=1WjV7o_qAFq4WuoFUU2JBOh6U1MoLzvk7)
[vibration-spacialized-slow-mo-longer.mp3](https://drive.google.com/open?id=1DYr3Do8W9dBZcCyF80bM60pIrFT-8IDY)

[2020-03-17 17:22] jbphet commented on #284
I need the vibration, spatialized, normal speed loop as well.

[2020-03-17 17:46] arouinfar opened #311 "Swap order of controls in TimeControlNode"
In today's description design meeting, we decided to put the normal/slow radio button group on the left side of the play/pause/step buttons. Reasons for the change:
* Flow wise, Normal/Slow is the more important interaction (for all users), and should come before the buttons in the tab order.
* It's nice to keep the visual and tab orders in sync.
* Moving the button group to the right side of the

[2020-03-17 17:50] jessegreenberg commented on #311
Moved to the left in the above commit.

[2020-03-17 17:50] jessegreenberg commented on #311
@arouinfar back to you for review.

[2020-03-17 17:53] arouinfar commented on #311
Looks good @jessegreenberg!

![Molecules and Light screenshot](https://user-images.githubusercontent.com/8419308/76886078-d98ab600-6845-11ea-9db0-8e58a5e6017a.png)
![mal](https://user-images.githubusercontent.com/8419308/76886072-d7285c00-6845-11ea-8685-f55118f7b3c3.png)

[2020-03-17 17:55] jbphet commented on #284
I have build a dev version with the latest spatialized sounds for vibration and rotation (including slow motion), and there is a query parameter called `useStereoSounds` to turn on/off the spatialized sounds.  However, there seems to be some sort of "scratchiness" that is inherent in the vibration sound, so it's a bit difficult to compare.  We should review and see if we can "hear beyond" the issu

[2020-03-17 17:56] arouinfar commented on #311
@terracoda the tab order has already been swapped with the visual order, but not sure if there are any other changes that need to be made in the PDOM for this issue.

[2020-03-17 18:19] jbphet commented on #293
Reviewed at the 3/17/2020 meeting, approved.

[2020-03-17 18:19] #293 closed

[2020-03-17 18:21] jbphet commented on #236
Current sound approved in 3/17/2020 review meeting.

[2020-03-17 18:33] jbphet commented on #295
IMPORTANT NOTE: When the slow speed is finalized, this issue should be assigned to me, since the slow motion speeds for the sounds will need to be adjusted to match.

[2020-03-17 18:38] jbphet commented on #283
Based on subsequent interviews, we've decided that this sound is good as is but we are going to try to enhance it a bit by adding stereo, see #284.  Closing.

[2020-03-17 18:38] #283 closed

[2020-03-17 18:42] Matthew-Moore240 commented on #284
**Notes for the rotation sound effect**

**Slow Motion**
1. Counter clockwise doesn't sound stereo and sounds more like a continuous fog horn
2. Clockwise in slow motion sounds good

**Normal Speed**
1. Counter clockwise sounds good
2. Clockwise sounds quiet and seems to get cut off  near the end

[2020-03-17 18:43] jbphet commented on #284
In the 3/17/2020 sound design meeting we decided to use mono sounds for the photons and continue to develop the stereo sounds for vibration and rotation.

[2020-03-17 19:35] terracoda commented on #296
@jessegreenberg, @Matthew-Moore240 liked option 5 for the button help text. Let's use that for now.

[2020-03-17 20:16] #236 closed

[2020-03-17 21:12] terracoda commented on #311
The visuals look great! I am just working on PDOM.