[2014-07-28 19:41] samreid opened #1 "Determine application architecture"
In the original Java code, the molecules and light simulation was split up into a "photon-absorption" library for the dynamics, which was used by molecules-and-light and greenhouse gas.  This issue is to note that eventually PhET will want to port the greenhouse gas sims as well, and we should decide where the code belongs.  I'll assign this issue to @jbphet for now since he will be working with @

[2014-08-14 17:27] jbphet opened #2 "Methane should look different versus how it appears in the Java version"
An issue was raised during the 8/14/2014 status meeting when this simulation was discussed.  The concern is that the current Java version of this simulation represents methane in a way that looks very "flat", and this is disturbing to many chemists.  This should be revisited for the design of this HTML5 version.

[2014-08-14 18:00] #2 closed, assigned to nobody

[2014-09-08 21:29] pixelzoom opened #3 "documentation of options parameter"
When making a related change (https://github.com/phetsims/molecules-and-light/commit/908cd6d0cc9a69c1a7c92bb8cd7d6636f57ef784) to molecules-and-light, I noticed a pattern in documentation of the options parameter that should be corrected.

Here's an example from OxygenAtom, but it occurs in several other places (Atom, AtomicBond, CarbonAtom, HydrogenAtom,...)

[code]

The documentation of options.

[2014-10-08 16:13] jessegreenberg opened #4 ""TypeError: Attempted to assign readonly property" while using Safari"
While running on Safari 6 and 7 we get the following error:
"TypeError: Attempted to assign readonly property"

Removing "use strict" mode seems to be a temporary solution.

We hit the error in the setVibration method in Molecule.js, currently on line 377.

[code]

[2014-10-08 18:14] #4 closed, assigned to nobody

[2014-10-15 02:22] ariel-phet opened #5 "White rectangle in molecule selection needs to be increased in vertical size"
In the current implementation of the sim, the white rectangle in the molecule selection panel does not have any vertical negative space around nitrogen dioxide or ozone. The vertical size of the rectangle should be increased (and the associated hover highlight).

[2014-10-21 16:01] pixelzoom opened #6 "code review"
@ariel-phet requested:

@jessegreenberg, please let @aaronsamuel137 know when the code is ready for review.

@aaronsamuel137, feel free to create issues (labeled 'code review'), make comments here, or put 'REVIEW' comments in the source code.

[2014-10-23 22:47] arouinfar opened #7 "Numbers in chemical formula should be subscripts"
Numbers in the chemical formulas should be written as subscripts. (e.g. N2 should be N<sub>2</sub>) The "O" in H<sub>2</sub>O also appears to be a zero rather than the letter O.

![screen shot 2014-10-23 at 1 54 05 pm](https://cloud.githubusercontent.com/assets/8419308/4760245/5f6dda4c-5aee-11e4-8055-e4db3bfea5eb.png)

[2014-10-24 05:01] #7 closed, assigned to nobody

[2014-10-24 16:18] #5 closed, assigned to ariel-phet

[2014-10-28 14:41] aaronsamuel137 opened #8 "strings might not handle internationalization well"
During code review #6, I noticed that things look a bit off if string lengths are doubled:

![screen shot 2014-10-28 at 8 39 19 am](https://cloud.githubusercontent.com/assets/3193912/4810066/8110946c-5eb0-11e4-9e3b-dee0d2a968d0.png)

Not sure if this needs to be addressed now, but wanted to make a record of it.

[2014-10-28 15:36] aaronsamuel137 opened #9 "Incorrect use of Property as a superclass in Atom.js"
During code review #6, I noticed that Atom extends Property in the following way:

[code]

The argument to property should be a value, not an object. Probably what you want in this case is to extend PropertySet instead:

[code]

Or you could just define a Property as an instance variable.

Currently you are adding another position property to all children of Atom, which should not be necessary if

[2014-10-28 15:46] aaronsamuel137 opened #10 "Atom constructor arguments"
During code review #6, I noticed that the constructor of Atom takes the following arguments:

[code]

However, it is called like so from its children classes:

[code]

These arguments should match, so I would expect something like

[code]

in the children classes instead. You also shouldn't be defining the same instance variables (representationColor, radius, mass) in both Atom and in children. On

[2014-10-28 15:51] aaronsamuel137 opened #11 "Atom.js and children don't use options?"
During code review #6, I noticed that CarbonAtom stores options as an instance variable, but I don't think it needs to.

[code]

Whenever the CarbonAtom constructor is called, it is called with:

[code]

It looks to me like it doesn't need to take options as an argument, extend options, or save a reference to this.options. If this is true, please get rid of options in this class and other Atom sub

[2014-10-28 16:08] aaronsamuel137 opened #12 "options in Molecule files"
During code review #6, I noticed the following code in CH4.js (and similar patterns in all the molecule files):

[code]

I see three potential issues with the options here.
1. This options.extend code is duplicated in all of the molecule files. If you need a default value, it seems like you could define in the the super class (Molecule) instead. (Perhaps you don't even need a default, is it ever u

[2014-10-28 16:54] aaronsamuel137 opened #13 "documentation in ExcitationStrategy"
During code review #6, I noticed that the documentation in ExcitationStrategy says:

"At the time of this writing, and "excited state" is depicted in the view as a glow that surrounds the molecule."

Is this still the case? The phrase "at the time of this writing" makes it sounds like things may have changed. Please remove this phrase and just indicate the current status of the excited state.

[2014-10-28 17:00] aaronsamuel137 opened #14 "PASS_THROUGH_PHOTON_LIST_SIZE in Molecule.js"
Can PASS_THROUGH_PHOTON_LIST_SIZE be a var instead of an instance variable? It doesn't look like this is ever modified. Our usual convention is to define constants like this as a var (up where the other class data vars are in this file)

See code review #6

[2014-10-28 17:33] aaronsamuel137 opened #15 "is notifyPhotonEmitted useful in Molecule.js?"
notifyPhotonEmitted is clearly ported from the Java code, but I'm wondering if its making the code less clear at this point.

emitPhoton calls it like so:

[code]

And the code for the notifyPhotonEmitted simply adds the photon to an ObservableArray:

[code]

It might more clear to just put this.photonAbsorptionModel.photons.add( photon ) directly in emitPhoton, since this is probably how we'd do

[2014-10-29 16:35] aaronsamuel137 opened #16 "EmissionRateControlSliderNode doesn't need to keep creating new Rectangles"
During code review #6, I noticed that setBackgroundRect always creates a new Rectangle:

[code]

This seems unnecessary. Why is the rectangle not just created once in the constructor, and the only the fill set in setBackgroundRectangle? It seems like the size never changes.

[2014-10-29 16:39] aaronsamuel137 opened #17 "Use vars instead of instance attributes where possible"
During code review #6, I noticed this code in EmissionRateControlSliderNode:

[code]

However, emissionControlSliderSize is only used locally in the constructor. In cases like this, it is better to use var emissionControlSliderSize instead of this.emissionControlSliderSize.

[2014-10-29 16:48] aaronsamuel137 opened #18 "unnecessary options in a few files"
Like in #11, the options parameter seems unnecessary in EmissionRateControlSliderNode and MoleculeSelectorPanel.

In both cases, the constructor is never called with options. In cases like these, there is no need to bother with passing in options and  _.extend, just put the values directly where they are used. (In fact, in EmissionRateControlSliderNode it looks like the position option is never us

[2014-10-29 17:02] aaronsamuel137 opened #19 "should photonTarget strings be moved to constants file?"
During code review #6, I noticed that the hardcoded string 'CONFIGURABLE_ATMOSPHERE' appears 8 times in the sim. Should this (and perhaps all the photonTarget strings from PhotonAbsorptionModel) be moved into a constants file an be referenced as a var instead of a hard-coded string?

Perhaps some of the other developers could comment before we go ahead with changing this.

[2014-10-29 17:13] aaronsamuel137 opened #20 "Unneeded code in MoleculeNode"
During code review #6, I noticed this code in MoleculeNode.js:

[code]

Is this doing anything? I don't see any reference electronicEnergyStateChanged in Molecule.js, and nothing seems different when I remove these lines.

[2014-10-29 17:17] aaronsamuel137 opened #21 "moveToBack in MoleculeNode"
During code review #6, I noticed this code in MoleculeNode:

[code]

Is there any reason why you don't just add the moleculeLayer to the the MoleculeNode after the bondLayer? The first added node will automatically be in the back.

[2014-10-29 17:21] aaronsamuel137 opened #22 "PAPhotonNode.js has no JSDoc at the top of the file"

[2014-10-29 17:27] aaronsamuel137 opened #23 "options passed to Node.call"
During code review #6, I noticed this super call to Node in PhotonEmitterNode:

[code]

Node.js does not understand a photonWavelength option. What is the intended behavior here? I think this can be safely removed.

[2014-10-29 17:34] aaronsamuel137 opened #24 "What is the purpose of the layers in PhotonEmitterNode?"
During code review #6, I noticed this code in PhotonEmitterNode:

[code]

Why bother to have this.emitterImageLayer and this.emissionControlSliderLayer if they only ever have one child each? Seems like all you need is this.photonEmitterImage and this.emissionRateControlSliderNode.

[2014-10-29 17:53] aaronsamuel137 opened #25 "Unnecessary call to updateImage() in PhotonEmitterNode"
During code review #6, I noticed the following in PhotonEmitterNode:

[code]

I think its safe to rely on link being called when the sim is initialized and the properties are initially set (correct me if I'm wrong). So you can get rid of the call to updateImage that isn't inside link. Try to apply this pattern to other files too if you have done a similar thing elsewhere.

[2014-10-31 00:55] aaronsamuel137 opened #26 "model is a misleading argument name in WindowFrameNode"
During code review #6, I noticed that the view component MoleculesAndLightApplicationWindow is passed as an argument to WindowFrameNode with the parameter name of "model"

[code]

This seems a little confusing to me, since model almost always refers to the main model of the sim. I would recommend changing it, perhaps to something like "window" since that makes it clear that it is the window that i

[2014-10-31 01:10] aaronsamuel137 opened #27 "TODOs and commented code in MoleculesAndLightScreenView"
During code review #6, I noticed two TODOs and some commented out code in MoleculesAndLightScreenView. Please address and remove these TODOs and either remove the commented code or explain why it be useful to have.

[2014-10-31 15:31] aaronsamuel137 opened #28 "JSDoc for Arrays"
This isn't a huge issue, but you are typically documenting Array JSDoc params like so:

[code]

I think it is more typical in PhET code to use more a a Java style like so:

[code]

From code review #6

[2014-10-31 15:37] aaronsamuel137 opened #29 "Document constant(s) in SpectrumWindow"
During code review #6, I noticed this function:

[code]

What is this constant 299792458? Can you add a comment about it?

[2014-11-02 20:44] #9 closed, assigned to jessegreenberg

[2014-11-02 21:47] #10 closed, assigned to jessegreenberg

[2014-11-03 06:07] #13 closed, assigned to jessegreenberg

[2014-11-03 06:25] #14 closed, assigned to jessegreenberg

[2014-11-03 06:57] #29 closed, assigned to jessegreenberg

[2014-11-03 07:18] #28 closed, assigned to jessegreenberg

[2014-11-03 07:48] #27 closed, assigned to jessegreenberg

[2014-11-03 14:52] aaronsamuel137 opened #30 "aboutDialogListener in ScreenView"
During code review #6, I noticed that MoleculesAndLightScreenView has a var "aboutDialogListener". I'm guessing this is a remnant from the about dialog code, and should be changed to a more appropriate name for this file?

[2014-11-03 14:59] #11 closed, assigned to aaronsamuel137

[2014-11-03 15:04] #12 closed, assigned to aaronsamuel137

[2014-11-04 01:44] #30 closed, assigned to jessegreenberg

[2014-11-04 02:36] #25 closed, assigned to jessegreenberg

[2014-11-04 06:42] #24 closed, assigned to jessegreenberg

[2014-11-04 06:55] #23 closed, assigned to jessegreenberg

[2014-11-04 07:01] #22 closed, assigned to jessegreenberg

[2014-11-04 07:12] #21 closed, assigned to jessegreenberg

[2014-11-04 07:23] #20 closed, assigned to jessegreenberg

[2014-11-04 15:22] #26 closed, assigned to aaronsamuel137

[2014-11-04 20:17] #18 closed, assigned to aaronsamuel137

[2014-11-05 18:29] #16 closed, assigned to aaronsamuel137

[2014-11-05 18:42] aaronsamuel137 opened #31 "Why is drawClipFrame a function?"
During my review of issue #17 and code review #6, I noticed that drawClipFrame is being passed an unnecessary argument:

[code]

The code for drawClipFrame:

[code]

Upon further examination, I began to wonder if there is a need for this function all together. It is only a few lines long and it is only called once from the constructor. Seems like the code in drawClipFrame can just be moved to the

[2014-11-05 19:06] aaronsamuel137 opened #32 "Photon emitter images don't line up"
This isn't really a code review issue per se, but the images for the microwave and ultraviolet emitters don't line up with the slider.

![screen shot 2014-11-05 at 12 04 19 pm](https://cloud.githubusercontent.com/assets/3193912/4923933/c80c3b54-651e-11e4-9ba2-0066a5e98b29.png)

I'm not sure if we need new images or if we can just rescale these images. Looks like both of these images could be cropp

[2014-11-07 18:41] #17 closed, assigned to aaronsamuel137

[2014-11-07 18:42] #31 closed, assigned to aaronsamuel137

[2014-11-11 20:00] pixelzoom opened #33 "Use single quote around strings"
PhET's convention is to use single quotes around all strings in code. (Double quotes in comments are fine.) This convention is not followed in several places in the code. For example:

PhotoAbsorptionModel line  342:

should be:

Search for " in your IDE, and replace with '.

[2014-11-11 20:03] pixelzoom opened #34 "missing assets directory"
Every simulation must have an assets directory, which contains the original files used to create images, audio, etc. For example, the (Illustrator? Photoshop?) file used to create images/microwave-transmitter.png should be in assets/.

[2014-11-11 20:14] pixelzoom opened #35 "missing doc directory"
Every sim should have a doc directory that contains model.txt (high-level model description) and implementation-notes.txt (implementation overview for developers).  See for example beers-law-lab/doc/.

[2014-11-11 20:21] pixelzoom opened #36 "Java translated strings need to be ported"
See PropertiesToJSON in chipper.  Let me know if you have questions about how to do this.

[2014-11-11 20:24] pixelzoom opened #37 "Return Button seems small"
When you select Ozone and Ultraviolet, the "Return Molecule" button appears. This button seems sort of small, and there's definitely room to make it larger.  See screenshot.

![screenshot_397](https://cloud.githubusercontent.com/assets/3046552/5000142/f909aba2-69a5-11e4-8705-8f1192ae6e2a.png)

[2014-11-11 20:29] pixelzoom opened #38 "missing credits"
Complete this in *main.js:

[code]

[2014-11-11 20:32] #1 closed, assigned to jbphet

[2014-11-11 20:35] pixelzoom opened #39 "there should be a subdirectory named moleculesandlight"
All sims should have a directory per screen, even single-screen sims.  So please move js/view/ into js/moleculesandlight/view/.  (No hyphens in moleculesandlight.)

[2014-11-11 20:42] pixelzoom opened #40 "use @private annotations"
Use @private annotation for fields and functions that should be considered private (only used internally to a .js file).

[2014-11-11 20:49] pixelzoom opened #41 "why is font family specified?"
I see 'Sans-serif' and 'Futura' specified for family in a few PhetFont instantiations. Why is family specified in these cases?  Discuss with designers, but I recommend removing these family specifications and using the default PhetFont family (Arial).

Note: 'Sans-serif' should be 'sans-serif' (generic families are lowercase). It's probably failing and falling back to 'sans-serif' in PhetFont.

[2014-11-11 20:52] pixelzoom opened #42 "use PhET convention for documenting require imports"
// modules not // Modules

// strings not // Strings

[2014-11-11 20:58] pixelzoom opened #43 "replace multiple arrays of associated items with a single array of object literals"
About this chunk of QuadEmissionFrequencyControlPanel, line 59:

[code]

I see the pattern here, arrays with same number of elements, array index is the same for all related items. But for maintainability, I think it would be preferable to have a single array containing object literals (data structure) like:

[code]

[2014-11-11 21:02] pixelzoom opened #44 "unnecessary Panel"
In QuadEmissionFrequencyControlPanel, this panel is unnecessary:

Recommend subtyping scenery.Node instead.

[2014-11-11 21:04] pixelzoom opened #45 "inline fonts in QuadEmissionFrequencyControlPanel"
PhetFonts created in QuadEmissionFrequencyControlPanel are only used once. It would be preferable to just inline them.

Eg, replace this:

[code]

...with this:

[code]

[2014-11-11 21:12] pixelzoom opened #46 "layout code could be clearer in QuadEmissionFrequencyControlPanel"
This bit of layout code in QuadEmissionFrequencyControlPanel line 110:

[code]

It would be easier to read as shown below. This also uses top/bottom, relationships, which makes more sense than centerY.

[code]

[2014-11-11 21:15] pixelzoom opened #47 "questions about use of ModelViewTransform2"
Some questions about this in QuadEmissionFrequencyControlPanel line 60:

[code]

Why 4 instances of ModelViewTransform2? (reuse 1 instance?)
Why the identity transform? Is this needed by PAPhotonNode for some reason?

[2014-11-11 21:16] pixelzoom opened #48 "rename mvt to modelViewTransform throughout"
This was a recent PhET convention change, sorry if you didn't get the interoffice memo.

[2014-11-11 21:22] pixelzoom opened #49 "use NITROGLYCERIN.ChemUtils.toSubscript"
... to convert molecule formulas to HTML. For example in MoleculesAndLightControlPanel:

becomes:

[2014-11-11 21:28] pixelzoom opened #50 "MoleculesAndLightControlPanel should extend RadioButtonGroup"
It currently extends Panel, and the Panel is unnecessary -- RadioButtonGroup includes its own panel (container).

[2014-11-11 21:35] pixelzoom opened #51 "odd wiring to photonTargetProperty"
In MoleculesAndLightControlPanel line 94:

[code]

It's odd that this wiring is done in a control panel. And the only time that photonTargetProperty.set is called is inside model.setPhotonTarget, so this seems kind of circular.  My guess is that this piece of code isn't doing anything, and should be deleted.

[2014-11-11 21:39] pixelzoom opened #52 "pass property value to observer function"
EmissionRateControlSliderNode line 65:

The value of the property is not being passed in, so you can use it:

[code]

Pass in the value, and there's no need to call property.get:

[code]

[2014-11-11 21:41] pixelzoom opened #53 "rename MoleculesAndLightControlPanel"
MoleculesAndLightControlPanel isn't very descriptive, since the sim has 2 control panels. Suggest renaming to MoleculeSelectionPanel.

[2014-11-11 21:45] pixelzoom opened #54 "absorb PhotonEmitterSelectorPanel into QuadEmissionFrequencyControlPanel"
PhotonEmitterSelectorPanel doesn't do much and isn't very well named. It's essentially just combining 2 icons for use on the radio buttons. Recommend to turn this into a private function inside of QuadEmissionFrequencyControlPanel.

[2014-11-11 21:53] pixelzoom opened #55 "style of layout code"
This is a pattern that I see throughout layout code in this sim.

For example, MoleculeSelectorPanel, line 37:

[code]

Rather than calling setters and getters for layout, it's preferable to use this style (for example):

[2014-11-11 22:07] pixelzoom opened #56 "incorrect pattern for defining inner types"
Inner types are not properly defined in SpectrumWindow. Because you're calling new to instantiate them, they need to inherit from some other type, and their constructors should not have explicit return statements.

For example:

Should be:

[code]

For another example of defining inner types, see beers-law-lab.ConcentrationMeterNode.

[2014-11-11 22:11] pixelzoom opened #57 "use CanvasNode for SpectrumWindow.ChirpNode"
SpectrumWindow.ChirpNode is creating its own DOM element. It's preferable to use CanvasNode. See for example beers-law-lab.ParticlesNode.

Also questionable is whether you really need the performance of canvas, since this is a static node. Have you tried doing this using scenery.Path?

[2014-11-11 22:14] pixelzoom opened #58 "rename MoleculesAndLightApplicationWindow"
I realize that this was probably the original name in Java implementation. But it's no longer the "play area", and "application window" isn't really accurate.  No suggestion off the top of my head, but I'll ponder it.

[2014-11-11 22:24] pixelzoom opened #59 "misc things in MoleculesAndLightApplicationWindow"
1. Rename this.frameWidth to this.frameLineWidth, so it's not confusing when you do (for example) this.height + ( 2 \* this.frameWidth ).
2. this.leftTop.x is this.left. And this.leftTop.y is this.top.
3. Factor out corner radius (7) for Rectangle and clipArea, make it a constant.

[2014-11-11 22:27] pixelzoom opened #60 "memory leaks in MoleculesAndLightApplicationWindow"
There are 2 memory leaks in MoleculesAndLightApplicationWindow, both cases when property observers are added (via link) but never removed.

Line 104:

[code]

Line 123:

[code]

[2014-11-11 22:42] pixelzoom opened #61 "delete all Atom prototype functions"
All of the prototype functions for Atom are unnecessary in a JavaScript implementation. Recommended to delete them.  Replace the ones that are used (getPositionRef, getRadius, getMass) with Atom properties (position, radius, mass).

[2014-11-11 22:49] pixelzoom opened #62 "move uniqueID into Atom?"
All subtypes of Atom have constructors that look like this:

[code]

If all you need is a unique ID for every atom, then why not move this functionality into Atom, like this:

[code]

[2014-11-11 23:26] pixelzoom opened #63 "why are options saved in AtomicBound?"
Is this line necessary?

I'm guessing not, since the only option (bondCount) is already being saved.

[2014-11-11 23:32] pixelzoom opened #64 "specify Atom.representationColor using {string} instead of {Color}"
Atom and its subtypes all use scenery.Color for specifying the representationColor. This is used to specify options.mainColor of a ShadedSphereNode, so the color can be either a {string} or {Color}.  I would use strings in any situation where they are allowed - less verbose, no require import.

[2014-11-11 23:40] pixelzoom opened #65 "replace Atom subtypes with factory functions?"
If https://github.com/phetsims/molecules-and-light/issues/62 is doable, then Atom subtypes don't really do much. They are just constructors with values filled in, and that argues for replacing them with factory functions. Add this to the static-functions portion of Atom's inherit call:

[code]

Call sites would look like:

Again... This is all about reducing the amount of code that needs to be mai

[2014-11-12 00:08] pixelzoom opened #66 "Molecule shouldn't know about PhotonAbsorptionModel"
Molecule constructor has this signature:

It has @param model because is does this in notifyPhotonEmitted:

Model elements (e.g. Molecule) should not need to know about the model that they are a part of. And giving Molecule access to the entire PhotonAbsorptionModel API is way too broad.  What should happen here is that Molecule should have a means of adding a listener for photon emissions. When a

[2014-11-12 00:22] pixelzoom opened #67 "Molecule.emitPhoton"
In the Java implementation, Molecule had these overloaded function:

JavaScript doesn't support method overloading like this, so you chose to rename the first method to emitNewPhoton.  Both of these methods create a new photon, so that name is misleading. A better name would be emitPhotonWithWavelength, since it describes its interface.

But notice that one of these 2 methods was protected. I don'

[2014-11-12 00:29] pixelzoom opened #68 "PhotonAbsorptionStrategy.reset documentation"
The doc for PhotonAbsorptionStrategy.reset says:

[code]

None of the subtypes override reset.  Is that an oversight, or is this documentation misleading?

[2014-11-12 01:27] pixelzoom opened #69 "delete set/get functions that simply set/get publicly-visible fields or properties"
In general, there's no need to port set/get methods that simply set/get publicly-visible fields or properties. For example, in Photon, getWavelength and getLocation can be deleted and replaced with direct access to the this.wavelength and this.location.

[2014-11-12 01:49] pixelzoom opened #70 "other ways of accessing PropertySet properties"
I see fooProperty.set() and fooProperty.get() being used as the means of setting/getting property values. But for properties in a PropertySet, there are a few ways that you can set/get their values. And knowing about these may make your code more readable (or even more performant) in some cases.

For example, PhotonAbsorptionModel extends PropertySet like this:

[code]

If we want to access the em

[2014-11-12 02:04] pixelzoom opened #71 "EmissionRateControlSliderNode violates HSlider contract"
EmissionRateControlSliderNode line 53:

[code]

emissionRateControlSlider is an HSlider.  This code is violating HSlider's interface contract by reaching inside of it to access this.options, which is clearly marked as @private.  From HSlider line 64:

[code]

 The TODO also implies that this will be going away in the future - not a problem if clients don't access it, but a big problem if they do.

[2014-11-12 02:09] pixelzoom opened #72 "EmissionRateControlSliderNode refactoring"
EmissionRateControlSliderNode line 106

[code]
1. this.model.getEmittedPhotonWavelength() is called 4 times. Call it once and store the value. Eg:

2. instead of a console error, this looks more like a case where you should throw an Error. In any case, it's good practice to include the value that caused the problem. Eg:

[2014-11-12 02:18] pixelzoom opened #73 "rename PAPhotonNode"
Doc says:

And I realize that this is the name in the Java implementation.

But following this logic, all types in photon-absorption should have a 'PA' prefix. No others do, so I would remove the prefix from this one. It just seems odd.

[2014-11-12 02:27] pixelzoom opened #74 "simplify locationProperty observer"
In PAPhotonNode, updatePosition is a private function with 1 line of code, and it's called in 1 place. Delete it, and link to locationProperty like this:

[code]

In general, if you have 1 line of code that is used in 1 place, there's no reason to factor it out into a separate function.

[2014-11-13 00:49] #49 closed, assigned to pixelzoom

[2014-11-13 01:50] pixelzoom opened #75 "i18n for ordering of molecule names and formulas"
I noticed this while verifying changes for #8.  This control is missing some i18n functionality. The ordering of molecule name and formula is currently specific to LTR (left-to-right) languages. We typically make this ordering configurable via translation.

![screenshot_398](https://cloud.githubusercontent.com/assets/3046552/5022087/a7c4b398-6a9c-11e4-9011-2c25cca7268d.png)

This should be handle

[2014-11-18 16:58] #54 closed, assigned to pixelzoom

[2014-11-18 17:05] #8 closed, assigned to pixelzoom

[2014-11-18 22:13] #73 closed, assigned to jessegreenberg

[2014-11-19 02:05] #19 closed, assigned to pixelzoom

[2014-11-19 02:06] pixelzoom opened #76 "sim fails jshint"
Not sure which of your recent commits caused this, but the sim is currently failing jshint:

[code]

[2014-11-19 03:09] #76 closed, assigned to jessegreenberg

[2014-11-19 03:40] #75 closed, assigned to pixelzoom

[2014-11-19 03:41] #72 closed, assigned to pixelzoom

[2014-11-19 23:45] #71 closed, assigned to jessegreenberg

[2014-11-20 17:41] #67 closed, assigned to pixelzoom

[2014-11-20 17:42] #68 closed, assigned to pixelzoom

[2014-11-25 01:18] #63 closed, assigned to jessegreenberg

[2014-11-26 03:45] #64 closed, assigned to pixelzoom

[2014-11-26 03:47] #65 closed, assigned to pixelzoom

[2014-11-26 03:47] #62 closed, assigned to jessegreenberg

[2014-11-26 23:14] #59 closed, assigned to pixelzoom

[2014-11-26 23:18] #57 closed, assigned to pixelzoom

[2014-11-26 23:18] #60 closed, assigned to pixelzoom

[2014-11-26 23:22] #66 closed, assigned to pixelzoom

[2014-12-01 19:29] #37 closed, assigned to pixelzoom

[2014-12-01 19:30] #42 closed, assigned to pixelzoom

[2014-12-01 19:39] #48 closed, assigned to pixelzoom

[2014-12-01 19:42] #50 closed, assigned to pixelzoom

[2014-12-01 19:44] #51 closed, assigned to pixelzoom

[2014-12-01 22:32] #58 closed, assigned to jessegreenberg

[2014-12-01 22:34] #53 closed, assigned to jessegreenberg

[2014-12-01 22:58] #52 closed, assigned to pixelzoom

[2014-12-01 22:59] #47 closed, assigned to pixelzoom

[2014-12-04 02:55] #40 closed, assigned to pixelzoom

[2014-12-04 02:56] #41 closed, assigned to pixelzoom

[2014-12-04 02:57] #39 closed, assigned to pixelzoom

[2014-12-04 02:57] #44 closed, assigned to pixelzoom

[2014-12-04 02:57] #45 closed, assigned to pixelzoom

[2014-12-04 02:58] #46 closed, assigned to pixelzoom

[2014-12-04 03:00] #43 closed, assigned to pixelzoom

[2014-12-10 19:02] #33 closed, assigned to pixelzoom

[2014-12-15 01:48] #56 closed, assigned to pixelzoom

[2014-12-20 22:16] #38 closed, assigned to jessegreenberg

[2014-12-20 22:29] #36 closed, assigned to pixelzoom

[2014-12-20 22:30] #69 closed, assigned to pixelzoom

[2014-12-20 22:30] #74 closed, assigned to pixelzoom

[2014-12-20 22:32] #61 closed, assigned to pixelzoom

[2014-12-20 22:33] #70 closed, assigned to pixelzoom

[2014-12-20 22:34] #55 closed, assigned to pixelzoom

[2014-12-20 22:35] #15 closed, assigned to pixelzoom

[2014-12-20 22:37] #3 closed, assigned to pixelzoom

[2014-12-20 22:41] #6 closed, assigned to jessegreenberg

[2014-12-20 22:50] pixelzoom opened #77 "photons are visible before they should be"
Somewhat related to https://github.com/phetsims/molecules-and-light/issues/32 ...

For 2 of the 4 lamps, you can see photons before they should be visible. They appear just to the right of the lamp's body, rather than looking like they are coming out rightmost part of the lamp (bulb or nozzle, depending on the lamp).   See the screenshots below, where I've added arrows to point to the photons that

[2015-01-19 18:40] jessegreenberg commented on #34
New assets and images have been added to the sim.  Is it beneficial to keep the replaced assets in the assets directory for documentation, or should the unused files be removed?   Reassigning to @jbphet because he may know the PhET standard for this, but I can certainly replace the old assets if needed.

[2015-01-19 18:45] pixelzoom commented on #34
Keep only the assets files that are current, delete vestigial/replaced asset files. GitHub will keep history if older files need to be resurrected. And this will make it easier for future maintainers to know which files are relevant.

[2015-01-19 18:49] jessegreenberg commented on #34
Ok, thank you. Old and unused assets have been removed from the directory.  I am closing this issue because the new assets for this sim have been added.

[2015-01-19 18:49] #34 closed

[2015-01-19 19:09] jessegreenberg commented on #32
New images have been added to the sim with a position offset to the slider so that it fits correctly on each photon emitter.  The new emitters now look like the following with sliders attached:

![infrared](https://cloud.githubusercontent.com/assets/6396244/5806120/5ef8c3f4-9fd3-11e4-846e-2def130f4b03.PNG)
![microwave](https://cloud.githubusercontent.com/assets/6396244/5806121/623d6d12-9fd3-11e4-9

[2015-01-19 19:24] pixelzoom commented on #32
You could avoid having to address https://github.com/phetsims/molecules-and-light/issues/77 if the nozzle on the (microwave?) emitter were made wide where it connects to the housing.

[2015-01-19 21:17] jessegreenberg commented on #77
The new ultraviolet emitter no longer has this issue, but it still persists for the microwave emitter.  For now I have included a small rectangle between photons and emitters.  Options 1 or 4 above may still cleaner solutions.  I can look into a clipping area if we do not want to redesign the microwave emitter to make the nozzle wider.

[2015-01-19 21:19] jessegreenberg commented on #32
Yes, that's very true. For now I have included a small black rectangle between photons and emitters as described in issue #77 so that photons do not appear prematurely for the microwave emitter.  If it is easy enough to redesign the microwave emitter so that the nozzle is wider, that may be the cleanest solution.  Otherwise I can look into clipping which could be better than the black rectangle.

[2015-01-20 02:17] jessegreenberg commented on #77
I sent an email to @arouinfar asking if it would be feasible to increase the nozzle width on the microwave emitter.  Keeping this open until we decide the best plan.

[2015-01-20 17:42] arouinfar commented on #77
I widened the microwave nozzle, and sent the asset files to @jessegreenberg. Let me know if this size will work.

![image](https://cloud.githubusercontent.com/assets/8419308/5822312/381ede40-a090-11e4-8fc0-7fb5e5955498.png)

[2015-01-20 17:50] arouinfar commented on #32
The updated slider positions look good to me. I've sent @jessegreenberg an updated microwave source with a wider nozzle to address issue #77. It should not affect this issue, so closing.

[2015-01-20 17:50] #32 closed

[2015-01-20 22:52] jessegreenberg commented on #77
The new emitter now covers photons so they do not appear prematurely.  The new image and assets have been added to the sim.  This issue is now resolved for all photon emitters so I am closing.

[2015-01-20 22:52] #77 closed

[2015-01-23 18:00] arouinfar opened #78 "Photons and molecules visible behind viewing window border"
When photons and molecules escape the viewing window, they appear under the border instead of completely disappearing. It's most noticeable when pausing the sim and using the next frame button to advance the motion. This issue is present in dev.2.

![image](https://cloud.githubusercontent.com/assets/8419308/5879627/10a65c84-a2ee-11e4-9e19-27edfeab2514.png)
![image](https://cloud.githubusercontent.

[2015-01-23 18:12] arouinfar opened #79 "Move Return Molecule button to the left"
The right side of the Return Molecule button appears too close to the border of the viewing window. The button should be moved a bit to the left, so the top and right padding are equal. This issue is present in dev.2

![image](https://cloud.githubusercontent.com/assets/8419308/5879765/3084721a-a2ef-11e4-96f5-26f6ecce3ba7.png)

[2015-01-26 03:05] jessegreenberg commented on #79
The 'Return Molecule' button has been moved to the left and corrected to its position before commit f9e7c8b389fe425ec23b34a6cf7a8ed58ce9e549.

![capture](https://cloud.githubusercontent.com/assets/6396244/5894928/6e71faf4-a4cd-11e4-8d01-dc52f19915e6.PNG)

Reassigning to @arouinfar for review.

[2015-01-26 17:16] arouinfar commented on #79
Looks good! Closing.

[2015-01-26 17:16] #79 closed

[2015-01-28 18:40] pixelzoom commented on #35
Pinging @jbphet again to please review model.txt for molecules-and-light.

[2015-01-28 19:13] phet-steele opened #80 "Return molecule button stays displayed"
1. Choose ultraviolet as the emitted wave (turn it on, too) and ozone as the molecule.
2. The ozone will break and fly off the screen to prompt the "Return Molecule" button.
3. If the button is not pressed and the user switches to a different molecule, the button stays displayed.
4. Switching to a third molecule has the button disappearing.

Note that if the user switches to nitrogen dioxide in st

[2015-01-28 19:23] arouinfar commented on #80
I also noticed this issue on my Mac (OS X 10.9.5, latest Chrome). Here are a few screenshots.

After first ozone fragment leaves the screen, the button appears
![image](https://cloud.githubusercontent.com/assets/8419308/5944836/4b314920-a6e7-11e4-9a67-7183011216f2.png)

Selecting a different (non-dissociative) molecule, the button stays on screen
![image](https://cloud.githubusercontent.com/assets

[2015-01-28 19:23] jessegreenberg commented on #78
Molecules and Photons should now disappear completely at the window boundary.  Reassigning to @arouinfar for review.

[2015-01-28 19:27] arouinfar commented on #78
It's still present in dev.3. Did you fix the issue after it was published, @jessegreenberg?

[2015-01-28 19:39] phet-steele opened #81 "FF images"
This sim looks pretty bad on FF 35. Here's some FF/Chrome comparisons from Win8.1 directly, but the images are similar to Win7.

FF
![ffinfra](https://cloud.githubusercontent.com/assets/5863899/5945190/f8ea948e-a6e9-11e4-9e36-df6131b7e9e9.png)

Chrome
![chromeinfra](https://cloud.githubusercontent.com/assets/5863899/5945240/4a162fa8-a6ea-11e4-924f-69649d992a41.png)

FF
![ffultra](https://cloud.git

[2015-01-28 19:52] jessegreenberg commented on #78
Yes, this was pushed after dev.3 was published.  Sorry, I am a little unclear about how PhET structures dev testing.  I just asked @samreid and @ariel-phet how I should handle issues like this.

[2015-01-28 20:07] jessegreenberg commented on #81
I notice this in IE as well, loaded images are not anti-aliased.

[2015-01-28 20:32] phet-steele commented on #80
It also persists after clicking reset all.

[2015-01-28 20:56] arouinfar commented on #78
No problem, @jessegreenberg. There's a way to see the latest version while working on site. Ariel will show me later this week, and I'll verify then.

[2015-01-29 18:14] orejolaphet opened #82 "Border for wavelength graph in "Show Spectrum" window disappears"
Test device: ASUS
Operating System: Win 8.1
Browser: Chrome 41
Problem description:
After opening the Show Spectrum window, hitting close momentarily removes part of the border for the wavelength graph.

Steps to reproduce:
Open sim
Select Show Spectrum
Select Close

Screenshots:
![molecule issues light spectrum](https://cloud.githubusercontent.com/assets/5631059/5963249/c1b9f72a-a7a7-11e4-8e8f-41

[2015-01-30 00:33] arouinfar commented on #78
Looks good, closing.

[2015-01-30 00:33] #78 closed

[2015-01-30 23:33] arouinfar opened #83 "Making the photon source sliders look more grabbable"
In interviews, students often click on several things before locating the slider on the photon source.

A few changes we'd like to make
- When the photon source is turned off, the bulb should be dimmed out. The goal is to cue users that something must be done to turn the source on.
- Changing the shape of the slider to mimic the shape of a switch and look more textured.
- Brightening the color of

[2015-02-03 05:52] jessegreenberg opened #84 "Carbon monoxide molecule does not reset properly if in excited state"
If the carbon monoxide molecule is in an excited state and the sim gets reset, the atomic bonds do not get put back into their correct position.  Below is an example of what the molecule might look like.

![capture](https://cloud.githubusercontent.com/assets/6396244/6015115/d461fd44-ab2d-11e4-9c34-f7425bd844aa.PNG)

Carbon monoxide is the only molecule that seems to have this problem.

To reproduc

[2015-02-03 06:52] jessegreenberg commented on #83
Emitter bulbs get dimmed when the photon source is turned off.  The slider gradient track is now thinner and the color of the slider thumb is now brighter.  Bullets 1, 3, 4 above have been completed.

![capture](https://cloud.githubusercontent.com/assets/6396244/6015777/52060670-ab36-11e4-9752-f29017bb9782.PNG)

![capture2](https://cloud.githubusercontent.com/assets/6396244/6015779/54e44c6c-ab36-1

[2015-02-03 06:57] jessegreenberg commented on #83
@arouinfar, I also notice that the gradient tracks in your provided screenshots fade in from a softer grey rather than black, is this a desired feature as well?

[2015-02-03 18:54] arouinfar commented on #83
@jessegreenberg, the flashlight is looking great! The gradient looks a bit too dark when fading to black, so fading to gray is preferable. Sorry I forgot to mention this tweak, but nice catch.

[2015-02-05 23:06] jbphet opened #85 "Update documentation with information from Java sim"
@jessegreenberg just had me review the implementation-notes.txt and model.txt files.  For the former, I would suggest removing references to the Greenhouse Effect sim, since it doesn't exist yet in HTML5 (@jessegreenberg and I discussed the details of this in person).

For the model.txt file, there are some good notes about model assumptions and simplifications in the TipsForTeachers_Molecules_Lig

[2015-02-07 19:57] pixelzoom commented on #35
Pinging @jbphet again to please review model.txt for molecules-and-light.

[2015-02-10 16:49] jbphet commented on #35
I reviewed this last week in person with @jessegreenberg.  I just checked the files, and I don't see the updates I discussed with him, so I'll add my comments here.

model.txt
+ There is some good information in the original Molecules and Light Teacher Tips document that should be folded into model.txt.  Particularly, the information in the section entitled "Important modeling notes / simplifictio

[2015-02-10 16:50] jbphet commented on #35
Assigning to @jessegreenberg to address the comments above.

[2015-02-10 18:35] jbphet commented on #85
This is a duplicate of #35 - I didn't realize that the other one existed.  I did a better job of documenting what is needed in that issue, so I'll close this one as a duplicate.

[2015-02-10 18:35] #85 closed

[2015-02-10 20:57] jessegreenberg commented on #83
The gradient now fades to grey as in the mockup.  A node has been drawn for the thumb on the slider and is ready to be added when we make the appropriate changes to HSlider.  It looks like the following:

![newslider](https://cloud.githubusercontent.com/assets/6396244/6136281/9afe997c-b12c-11e4-8b2c-02b01e2cc2a1.PNG)

[2015-02-10 21:04] pixelzoom commented on #83
What are the proposed changes to HSlider?

[2015-02-10 21:05] jessegreenberg commented on #83
The new

[2015-02-10 21:12] jessegreenberg commented on #83
The requested thumbNode shape cannot be drawn with current options parameters in HSlider.  A possible change could be create an optional parameter for the thumbNode so any node or shape could be used for the thumb.

[2015-02-10 21:21] pixelzoom commented on #83
An option to provide an alternative thumb seems useful.

[2015-02-10 21:25] jessegreenberg commented on #82
Sorry, I am not able to reproduce this.  Is there any more information about when this happens?

[2015-02-10 23:31] jessegreenberg commented on #35
I have added and refined the information in model.txt and implementation-notes.txt as described above.    For the original Java, should the link direct to Unfuddle or to the sim location in phet.colorado.edu?

Reassigning to @jbphet for review.

[2015-02-11 02:58] jessegreenberg commented on #84
This has been resolved by explicitly setting the rotation and vibration in the reset function. Closing.

[2015-02-11 02:58] #84 closed

[2015-02-11 05:47] jessegreenberg commented on #83
Great, I made a simple change to HSlider to get it working.  I can send it to you if you would like to review my change.  HSlider is a heavily used user interface so I would also understand if you rather I not touch this code.  Either way, should I make this an issue in sun?

[2015-02-11 16:32] pixelzoom commented on #83
Yes, please make a sun issue.  If you have push permission on sun, feel free to make the change. Otherwise send my a patch and I'll take care of it.

[2015-02-11 17:48] jessegreenberg commented on #83
I have moved the issue to sun.  I do not have permissions to push to sun so I will send you my patch, thanks for the help.

[2015-02-16 18:15] jessegreenberg opened #86 "Opening Spectrum Window crashes sim on ipad2"
Found on iOS 8.1.3
Opening the spectrum window crashes the sim on ipad2.  To recreate, launch the sim using ipad2 and click on the "Show Light Spectrum" button.  Occasionally, the screen will look like the following:

![photo](https://cloud.githubusercontent.com/assets/6396244/6216908/8339f39c-b5cb-11e4-8db7-aac656d410fa.PNG)

Otherwise it closes safari.

[2015-02-17 00:03] jessegreenberg commented on #86
The issue was with Plane, adding a rectangle of arbitrarily large size causes the screen to shrink into the upper left corner of the screen on ipad2.  This is shown on the image above.
SpectrumWindow now extends Dialog in a similar way to AboutDialog and uses Dialog methods to pop onto the screen.

[2015-02-17 00:05] jessegreenberg commented on #86
I can no longer reproduce this issue, closing.

[2015-02-17 00:05] #86 closed

[2015-02-17 00:33] jessegreenberg commented on #80
Thanks for catching this! It should be resolved in dev.5.  Reassigning to @phet-steele for review.

[2015-02-17 00:37] jessegreenberg commented on #81
I scaled down the image files manually to assist with anti-aliasing in FF and IE.  The loaded images should look better in dev.5.  Reassigning to @phet-steele for review.

[2015-02-17 00:42] jessegreenberg commented on #82
I was not able to reproduce this isssue, reassigning to @orejolaphet for review.  Please let me know if you observe this problem in dev.5 as well.

[2015-02-17 00:45] jessegreenberg commented on #83
New thumbs have been added to mimic the shape of a switch, and they are present in dev.5.  This should conclude the desired design changes listed above.  Reassigning to @arouinfar for review.

[2015-02-17 18:30] orejolaphet commented on #82
@jessegreenberg, sorry for the late reply, but I verified that the issue was still occurring for dev.4.
The issue is no longer present in dev.5, what ever changes occurred fixed it on my machine. Closing.

[2015-02-17 18:30] #82 closed

[2015-02-17 18:33] orejolaphet opened #87 "Sim is missing PhET Icon."
This sim is missing the PhET Icon in the bottom right corner.
Viewed on
-10.9.4 Safari 7.0.2
-Win 8 Chrome 41
![screen shot 2015-02-17 at 11 31 30 am](https://cloud.githubusercontent.com/assets/5631059/6234508/9ecfa21e-b698-11e4-84e2-89e93178ac17.png)

[2015-02-18 18:30] phet-steele commented on #81
They do look better. Not as amazing as Chrome, but yes they are better :+1:

[2015-02-18 18:31] #81 closed

[2015-02-19 16:29] orejolaphet opened #88 "(Suggestion) Gradient the color of the bulb to match the shade of the slider's location."
I just noticed that the bulb's only have two settings, on and off. Perhaps have the color of the bulb match the location of the slider? Looks ascetically strange is all.

Visible Light off
![screen shot 2015-02-19 at 9 27 03 am](https://cloud.githubusercontent.com/assets/5631059/6270779/93fbccc8-b819-11e4-840e-533e60ba114b.png)
Very small increment of the slider
![screen shot 2015-02-19 at 9 27 11

[2015-02-19 20:28] jessegreenberg commented on #88
I think this can be done.  Assigning to @arouinfar because this is more of a design decision.

In order to have dynamic colors, we will need to draw the bulbs with scenery rather than load in images.  The photon emitter housing can still be loaded in as an image.

@arouinfar, what do you think about this feature?

[2015-02-19 20:32] arouinfar commented on #83
The slider thumb is looking good. I have one more request -- in my original post, the gradient extends slightly beyond the track of the slider. This was done intentionally to help the slider thumb stick out a bit more. Can you please extend the gradient (but not the track itself) to be a bit wider?  I've included some screenshots below. Reassigning to @jessegreenberg.

Off:
![image](https://cloud.

[2015-02-19 20:37] pixelzoom commented on #83
This feature request is not supported by sun.HSlider, and will be non-trivial to add.

[2015-02-19 21:46] arouinfar commented on #83
Thanks for your input, @pixelzoom. I didn't realize this would be non-trivial since the sliders in Color Vision are similar to what I've requested.

![image](https://cloud.githubusercontent.com/assets/8419308/6276705/fa96b5ac-b845-11e4-98c7-8991c82056fb.png)

[2015-02-19 22:50] arouinfar commented on #83
@pixelzoom is there a workaround that could involve artwork rather than making changes to HSlider?

[2015-02-19 22:54] jessegreenberg commented on #83
I believe this is possible without making changes to HSlider.  As in Color Vision, the gradient is just a Rectangle separate from HSlider so this request should be possible.  I have made the change and the sliders now look like the following when fully on and off.

![cap](https://cloud.githubusercontent.com/assets/6396244/6277882/958e8392-b84f-11e4-91f1-09416c3ad80c.PNG)

![cap2](https://cloud.git

[2015-02-19 23:00] arouinfar commented on #88
I've emailed @jessegreenberg artwork for the photon sources with the bulbs removed.

[2015-02-19 23:02] arouinfar commented on #83
Thanks, @jessegreenberg! It looks great. Can you publish a new dev version to be used in interviews next week?

[2015-02-19 23:10] jessegreenberg commented on #83
Yes, certainly.  I will let you know when a new dev version is published.

[2015-02-20 20:01] phet-steele commented on #80
I haven't seen the button persist through molecule switching, looks fixed!

[2015-02-20 20:01] #80 closed

[2015-02-23 06:08] jessegreenberg commented on #88
The photon emitter bulb color now changes with photon emission frequency.  This change is published in dev.6.  Assigning to @arouinfar for review.

I had a difficult time getting the shading to match the old mockups exactly.  If you need me to tweak some colors or change anything please let me know.

[2015-02-23 06:09] jessegreenberg commented on #87
Thanks! PhET icons have been added in dev.6.  Assigning to @orejolaphet for review.

[2015-02-23 06:10] jessegreenberg commented on #83
I have published this change in version dev.6.  Assigning this to @arouinfar for review.

[2015-02-23 17:48] arouinfar commented on #83
Looks great! Closing.

[2015-02-23 17:48] #83 closed

[2015-02-23 18:35] arouinfar commented on #88
I think it looks pretty good, @jessegreenberg. I'm going to leave this issue open until after my interviews this week. If all goes well, I'll close the issue.

[2015-02-24 20:53] jessegreenberg opened #89 "Long load times on Ipad2"
This sim suffers from long loading times on iPad2.  I observe a loading time of around 16 seconds.

I believe this is caused by the ChirpNode in SpectrumWindow, which is expensive in calculating points to draw along the curve.  The chirp is drawn at sim launch so that it doesn't have to be redrawn every time the user presses the "Show Light Spectrum" button.  This causes long loading times at sim

[2015-02-24 20:55] jessegreenberg commented on #89
Reducing the calculations comes at a cost to resolution of the chirp node.  Perhaps a solution would be create a new image representing the chirp and load it into the sim.  No calculations would be necessary this way.

[2015-02-24 20:57] jessegreenberg commented on #88
I just noticed that this feature performs very poorly on iPad2.  I will look into a better way of implementing this.

[2015-02-24 21:36] jessegreenberg commented on #89
Just met with @jbphet to discuss this.  Removing chirpnode does not save too much time.

Leaving this open for now, but the issue seems to be something specific for dev version dev.6.

[2015-02-24 21:42] jbphet commented on #35
Just reviewed this with @jessegreenberg and it all looks good.  Closing.

[2015-02-24 21:42] #35 closed

[2015-02-24 22:16] jessegreenberg commented on #88
I just met with @jbphet and we discussed a better way of implementing this feature.  I will work on this and it will be published in a new dev version soon.

[2015-02-24 23:34] arouinfar commented on #88
I didn't notice any issues during my interview this afternoon, so I'll reassign to @jessegreenberg to implement the change necessary address the performance issues.

[2015-02-25 17:18] jessegreenberg opened #90 "Active photon emitters become transparent with first time use on iPad2"
A new implementation of the feature described in issue #88 is to layer 'on' and 'off' photon emitter images and set opacity of the on image based on the photon emission frequency.  This improves performance.

On iPad2, this introduces a bug where first time use of the photon emitter causes both of the 'on' and 'off' images to become transparent.  I was not able to reproduce this issue with any oth

[2015-02-25 17:27] jessegreenberg commented on #90
Initial implementation was to keep the 'off' image opaque and link the 'on' image transparency to the photon emission frequency.

For some reason, this issue seems to be resolved when the 'on' image is kept opaque and the 'off' image has variable transparency.  I am not sure why the order makes any difference.

[2015-02-25 17:54] jessegreenberg commented on #88
I have just published dev.7 with a new method of implementing this feature.  Instead of drawing the new bulbs with scenery, 'on' and 'off' emitters are layered and opacity of the 'off'' emitter is set by the emission frequency.

This performs much better on iPad2.  The original 'on' and 'off' emitter images are used so the emitters look exactly like the mockups.

Assigning to @arouinfar to review

[2015-02-25 17:59] jessegreenberg commented on #89
I just published dev.7 and I still observe loading times in the range of 14-16 seconds.

[2015-02-25 18:01] jessegreenberg commented on #90
I cannot reproduce this issue in version dev.7, so I am closing.

[2015-02-25 18:01] #90 closed

[2015-02-25 18:06] arouinfar commented on #88
It looks great! Thanks, @jessegreenberg.

[2015-02-25 18:06] #88 closed

[2015-02-25 19:19] jessegreenberg commented on #87
Icons have been added as of version dev.6, closing this issue.

[2015-02-25 19:19] #87 closed

[2015-03-02 00:27] jessegreenberg opened #91 "Poor iPad2 Performance"
There are some minor performance issues on the iPad2.  Specifically, I notice that the sim seizes when a molecule hits the bottom of the observation window before being removed:

![img_0027](https://cloud.githubusercontent.com/assets/6396244/6433866/367f482e-c037-11e4-9f74-5e03cc6b93d8.PNG)

The sim stops just long enough to be noticeable.  The most noticeable trait is that the atomic bonds lag be

[2015-03-02 16:55] jonathanolson opened #92 "infrared-source-off.png missing on GitHub"
I can't tell if it needs to be there (in which case it should be checked in), or if the reference to it is old. Prevents building of the sim.

[2015-03-02 17:08] jessegreenberg commented on #92
Sorry about that, I just checked in the 'off' images as they are in use once again.  Reassigning to @jonathanolson for review.

[2015-03-02 17:18] jonathanolson commented on #92
Looks good, thanks!

[2015-03-02 17:18] #92 closed

[2015-03-03 20:30] jbphet commented on #91
@jessegreenberg - can you note the dev version on which these problems were observed so that we know what to compare to as we start to make optimizations?

[2015-03-03 20:52] jbphet opened #93 "Poor iPad3 Performance"
This is closely related to #91, which documents some performance issues iPad2.

These issues were experienced on version 1.0.0-dev.7 (http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.0.0-dev.7/molecules-and-light_en.html).

All issues were found on PhET's iPad3 named "Disessa", which was running iOS version 8.1 (12B410) as of this writing.

[2015-03-03 20:52] jbphet commented on #93
First, as with issue #91, the load times are somewhat long, though I think I've seen them longer on some other sims.  I manually timed three loads using a stopwatch app and got the following values:

+ 12.05s
+ 12.18s
+ 12.68s

[2015-03-03 20:56] jessegreenberg commented on #91
This issue was first observed on version dev.7.   I just ran through all dev versions dev.1 - dev.7 and the issue seems to persist for versions.

[2015-03-03 20:59] jbphet commented on #93
The animation is quite jerky when the "halo" is going on and off.  In the screenshot below, you can see the setup for this test, and can also see that the delay caused by the halo becoming visible caused inconsistent spacing in the photon stream.  When switching back and forth from the setup shown to a setup with a test molecule that doesn't interact with visible light, such as oxygen, the animati

[2015-03-03 21:41] jbphet opened #94 "Possible slow memory leak"
@jessegreenberg and I did some timeline analysis of memory usage, and the allocation was not quite going back to the original levels after running for a while and then being reset.  Here are some values when run on @jessegreenberg's machine:

At start:
~13M heap
1039 Nodes

After ~2min testing
~16M heap
1290 Nodes

After running with IR photons flowing at CO
~17M heap
1294 Nodes

...then a reset (

[2015-03-04 18:00] arouinfar opened #95 "Tweaks to Microwave and Visible Sources"
I would like to make a few small adjustments to the artwork for the microwave and visible sources. The slider looks a bit crowded on the microwave source, so I have widened the body a little (while maintaining the same overall width). This will allow there to be more little negative space around the slider than there is in the latest dev version (below).

![image](https://cloud.githubusercontent.c

[2015-03-06 01:30] jessegreenberg commented on #93
Removing the halo gradient does improve performance for the interaction between visible photons and NO2.  Without the semi-opaque 'halo' the photon absorption behavior performs as well as any other strategy.

However, removing the gradients does not affect any of the performance issues described in issue #91.

[2015-03-06 18:06] jbphet commented on #93
We should use the ?profiler option and quantify the performance with and without the halo to determine whether doing the work to replace it with something else would be warranted.

[2015-03-08 02:40] jessegreenberg commented on #93
I used the ?profiler option to get some quantifiable performance data.  Here are the results:

The following are profiler results with a steady stream of visible photons being fired at nitrogen dioxide so that semi-transparent 'halo' gradients are produced.

On chrome:

	frames per second: fluctuates from 56-60
	avg frame time: 17 ms
	longest frame time: 33 ms
On Firefox:

	frames per second: fluc

[2015-03-08 02:57] jessegreenberg commented on #93
The profiler data above was taken with semi-transparent halo nodes completely removed.  Below is some data with semi-transparent halo gradients replaced with opaque yellow circles.

![capture](https://cloud.githubusercontent.com/assets/6396244/6544245/fc7fac5a-c503-11e4-810d-6154435768b7.PNG)

I thought it would be good to get a gauge for performance when halo visibility is still effected by the E

[2015-03-08 22:58] jessegreenberg commented on #93
I thought it would be beneficial to test the performance of radial gradients and opacity values seperately.
The following is profiler data for iPad2 with halos that have radial gradients and are fully opaque.

![capture](https://cloud.githubusercontent.com/assets/6396244/6548045/91be5c8c-c5b1-11e4-96f3-c2e4581db9a4.PNG)

On Chrome, Internet Explorer, and Firefox, profiler data exactly the same as

[2015-03-09 04:59] jessegreenberg commented on #93
Summary of the results above:

Changing the halo gradient and opacity has no effect on performance in Chrome/Firefox/Internet
Explorer.

On iPad2, fps is not heavily effected by the how the halos are represented.  Frames per second
constant at around 25-30 fps on iPad2 for all tested halo styles.

Both transparency and radial gradients cause the single frame time to spike up from the average when

[2015-03-09 05:35] ariel-phet commented on #93
@jessegreenberg you probably want to get some time with @jonathanolson as he tends to be our expert at optimizing performance

[2015-03-09 22:58] jessegreenberg commented on #95
New images for visible and microwave emitters have been added in version dev.8.  I have also updated the assets file to reflect changes to the artwork.  Reassigning to @arouinfar for review.

[2015-03-10 03:19] arouinfar commented on #95
It looks great! Thanks, @jessegreenberg. Closing.

[2015-03-10 03:19] #95 closed

[2015-03-11 18:42] jbphet opened #96 "Bonds are in incorrect locations on iPad"
The screenshots below illustrate the issue.  This was seen on an iPad 2 running iOS 7.0.4 and an iPad 3 running iOS 8.something.  The odd looking bonds are fairly obvious when the sim is running, but can be captured as shown below by pausing the sim when molecules are flying apart or rotating.

![mal-broken-bonds-1](https://cloud.githubusercontent.com/assets/3082831/6604126/0f679a40-c7ec-11e4-8585

[2015-03-11 18:58] jbphet opened #97 "Photon spacing is incorrect in some situations"
On iPad 2 and 3, the spacing of the photons can often be made to be uneven by starting the photons flowing, then pausing and un-pausing the sim several times.  See screenshot below.

![mal-photon-spacing](https://cloud.githubusercontent.com/assets/3082831/6604500/58039b94-c7ee-11e4-9a82-8965558fbf20.PNG)

[2015-03-11 19:00] jbphet commented on #97
I have not seen this exact behavior on other hardware, but on Win7+Chrome it does seem like the rightmost photon in a stream of photons often seems to "jump" a bit.  I think it may actually be a pause in its forward motion, but it is noticeable.  This may be a separate issue, but I'm keeping them together for now and will split out if one is fixed and the other still exists.

[2015-03-11 19:01] jbphet commented on #97
The version used for this testing was http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.0.0-dev.8/molecules-and-light_en.html.

[2015-03-11 19:11] jbphet opened #98 "Optimization ideas"
Discussed these yesterday with @jessegreenberg and thought it would be good to capture them.  Here are several things that we should consider pursuing as we work on improving the performance of this sim:

+ Try replacing halos with something that has no transparency.  @jonathanolson indicated that transparency often causes layer splits in Scenery, so it would be good to remove these splits and tes

[2015-03-11 19:16] jbphet opened #99 "Clipping area isn't clipping atoms as expected"
The edges of atoms can sometimes be seen outside the viewport frame when atoms break apart.  This can be seen in the screen shots below.  These was originally noticed on iPad and reproduced on Chrome.  The version being tested was http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.0.0-dev.8/molecules-and-light_en.html.

It would appear that something is not set up quite right with

[2015-03-11 19:21] jbphet commented on #98
During yesterday's discussion, @jessegreenberg agreed that he would try removing the halo and see how much the Block Summary changes and whether the frame rate increases significantly on the iPad.  This is the Block Summary from version http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.0.0-dev.8/molecules-and-light_en.html just after startup.  @jonathanolson says that this is big

[2015-03-11 19:22] jbphet commented on #98
Assigning to @jessegreenberg for next steps.

[2015-03-13 08:00] jessegreenberg commented on #98
Version dev.9 has been published as a version with halo gradients completely removed from the sim.

The following is a quick report of profiler results on versions dev.8 (halos included) and dev.9 (halos removed), tested on iPad2 (iOS 8.1.3).

dev.9 (halo gradients removed):
    29 FPS - 34 ms/frame

dev.8(halo gradients included):
    23 FPS - 43 ms/frame

[2015-03-13 08:03] jessegreenberg commented on #98
Here is the scenery debug snapshot produced by popupDebug with version dev.9 (halos removed)

Display Summary
[882w, 947h] frame:5229 input:true cursor:default
Nodes: 279
Instances: 279
Drawables: 228

Block Summary
DOMBlock#195
SVGBlock#20-commonAncestor (12 drawables)
DOMBlock#207
SVGBlock#64-commonAncestor (1 drawables)
SVGBlock#68-commonAncestor (6 drawables)
CanvasBlock#21-commonAncestor (1 d

[2015-03-13 08:13] jessegreenberg commented on #98
Version dev.9 seems to offer slightly higher FPS, but I see very little change in the block summary with halo gradients removed.

[2015-03-13 08:27] jessegreenberg commented on #96
This issue is slightly observable in Chrome with water atoms.  For vibration and rotation behaviors, one can see that the atomic bond positions lag slightly behind the position of atoms.
It is easiest to see while using the pause button once the water molecule has absorbed an infrared or microwave photon.

![capture](https://cloud.githubusercontent.com/assets/6396244/6635152/ee35f5a0-c927-11e4-9b9

[2015-03-13 15:48] jessegreenberg commented on #96
This issue is resolved with the commit above, I can no longer reproduce when I test on Chrome and iPad2 (iOS 8.1.3).

When the molecule moves, all atom positions change so I thought I could get away with linking the atomicBondNode update function to just one of the atom positions. But the update function needs to get called when either atom moves so that the atomic bonds are locked in the right po

[2015-03-13 16:28] jbphet commented on #96
I just tested this against the master branch, and it looks good.  Closing.

[2015-03-13 16:28] #96 closed

[2015-03-13 17:26] jbphet commented on #98
I just compared the number of blocks in the first block summary to the second and the second actually appears to have more blocks - 60 versus 59 - so removing the node that was using opacity doesn't seem to have reduced the number of blocks at all.

I dug into this a bit, and found the following in the "Root Instance Tree" portion of the popupDebug window.  I was searching for "opacity", hence the

[2015-03-13 18:57] jbphet commented on #98
Based on data collected here https://github.com/phetsims/tasks/issues/192 is doesn't seem like getting rid of opacity makes a big performance difference on an iPad 3.  We should discuss this with @jonathanolson to see if he is surprised by this, and to determine which things to try next.

[2015-03-13 21:57] jbphet commented on #98
@jessegreenberg and I looked at the issues with @jonathanolson, and he has logged two issues for Scenery (see links just above this comment) that should make the performance better in the problem cases that we are observing.

[2015-03-14 20:24] jessegreenberg commented on #99
While investigating this on Chrome and iPad2 (iOS 8.2) I notice two things:

1) The clipping area will behave well when molecule removal does not set the 'Return Molecule' button opacity.

2) I can no longer reproduce this issue after commit ff3a26b6949397481e1cce896c8b404fe371b6d3.

The workaround referenced in issue #98 seems to have resolved this, reassigning to @jbphet for review.

[2015-03-14 21:43] jessegreenberg commented on #89
As of version dev.9, long loading times are still observed for iPad2 (iOS 8.2 ).  I notice that removing the observation window reduces loading time significantly.  I manually measured loading times with and without the observation window included in the scene:

With observation window included:
* 16.48 s
* 16.67 s
* 16.37 s

With Observation window removed:
* 6.12 s
* 6.21 s
* 6.40 s

Removing th

[2015-03-14 21:44] jessegreenberg commented on #91
General iPad2 performance is related to issue #89.

[2015-03-16 19:51] jbphet commented on #97
After some investigation, I think there are two separate problems here.  The issue described in one of the comments about about a "jump" in the photon position was actually a pause in its position while the other photons moved around it.  This appears to have been due to a bug with some loop index values.  The errant loops were fixed, and I'm not seeing the behavior anymore.  The problem reported

[2015-03-16 21:17] jbphet commented on #89
Below is a screen shot of a flame chart captured while loading this sim in Chrome+Win7.  This was done using the RequireJS version from the current master so that full method names are shown, but I manually compared this to the chart from the same test run on a recent built version, and the charts are pretty comparable.  In this chart, the creation of the SpectrumWindow takes a lot of the time.  T

[2015-03-16 21:28] samreid commented on #89
@jbphet better ask @jonathanolson because I think there is a simple way to trigger scenery not to compute stroke bounds--could speed everything up with minimal effort and keeping everything in nice maintainable scenery code instead of a separate image.

[2015-03-16 21:30] samreid commented on #89
Or dynamically create the spectrum window after the sim has started?

[2015-03-16 21:57] jbphet commented on #97
This problem was due to the occasional "big time step" on the iPad.  A big step could cause a photon to be emitted and then moved with existing photons in a single step.  Reversing the order of emitting and moving, plus advancing the newly emitted by the appropriate amount, addresses the problem.  Assigning to @jessegreenberg to review.

[2015-03-16 22:18] jbphet commented on #93
I added back the halo but used a gradient that fades to transparent with no opacity.  Performance seems to be better, but may have been impacted by other recent changes.  Here is the commit: https://github.com/phetsims/molecules-and-light/commit/216c230940cdc5a42853c638b0d923c88df622a3.

[2015-03-16 22:48] pixelzoom commented on #89
How much time, on what platforms?

[2015-03-17 15:28] jessegreenberg commented on #89
The loading times are very long on iPad2 and iPad3.  I manually measured the loading time as shown above and it is an average of about 16 seconds on iPad2.

I also measured the load time on iPad2 when the spectrum window is removed and the load time is reduced by about 10 seconds.  I can do a test of what the wait time would be if we dynamically create the window when the button is pressed.

[2015-03-17 15:43] jbphet commented on #89
If removing the screen reduces the load time by 10 seconds, I'm guessing it would probably take around 10 seconds to generate it dynamically, which would be prohibitively long.  Let's first try looking at turning off bounds computation, as @samreid suggests above, and if that doesn't help let's start figuring out which portions of the spectrum window take the most time to create and investigate re

[2015-03-17 19:47] jessegreenberg commented on #97
Excellent, thanks very much @jbphet, just tested on my iPad2 and I can no longer reproduce the issue.  Closing.

[2015-03-17 19:47] #97 closed

[2015-03-17 20:49] jbphet opened #100 "Pointer area is off for the slider on the photon emitters"
Here's a screenshot:

![mal-pointer-areas](https://cloud.githubusercontent.com/assets/3082831/6697220/c68cad56-ccb4-11e4-8bcb-4f0b4ddb9a65.png)

[2015-03-17 20:53] jonathanolson commented on #89
Just pushed improvements that speed up the computation of stroked line bounds.

[2015-03-17 21:58] jbphet commented on #100
Fixed, now looks like this:

![mal-hit-testing-fixed](https://cloud.githubusercontent.com/assets/3082831/6698452/69b3fe54-ccbe-11e4-8e62-bb07d4646481.png)

Closing.

[2015-03-17 21:58] #100 closed

[2015-03-17 22:03] jbphet opened #101 "Overlapping touch areas in the molecule selection panel"
The touch areas in the molecule selection panel overlap with one another, see screenshot below.

![mal-overlapping-touch-areas](https://cloud.githubusercontent.com/assets/3082831/6698546/18d0fb44-ccbf-11e4-9ff7-2086b057d12a.png)

[2015-03-17 22:12] jbphet commented on #89
@jessegreenberg and I just did some testing and found that much of the long load time is due to the chirp node, even though in earlier testing it didn't seem to be a big deal.  Not sure what has changed, or if our original methodology was flawed, but in testing on an iPad 2 running iOS8, removing the node reduced load time by 10 seconds.  Reducing the number of points defining the node from 2000 t

[2015-03-18 05:30] jessegreenberg commented on #101
RadioButtonGroup has options for setting the x and y touch area expansions and their default values are both 5.  For tightly stacked radioButtonGroups, this will cause the touch areas to overlap.  I set the touch area expansion values to 0 and the buttons now look like this:

![capture](https://cloud.githubusercontent.com/assets/6396244/6703184/2f5b55e2-ccfd-11e4-9e7e-620723d7ba19.PNG)

Reassignin

[2015-03-18 05:44] jessegreenberg opened #102 "'Return Molecule' button always pickable"
While working on issue #101 I noticed that the mouse and touch areas for the "Return Molecule" button are always present even when the button is not visible.

![capture](https://cloud.githubusercontent.com/assets/6396244/6703284/efcf0700-ccfe-11e4-8b11-a831440bac7a.PNG)

[2015-03-18 05:57] jessegreenberg commented on #102
This is due to the recent workaround in commit ff3a26b6949397481e1cce896c8b404fe371b6d3, which sets the button opacity rather than visibility when it should be removed from the scene.  Since the button is always 'visible' even when fully transparent, it is always pickable.

Explicitly setting pickable property upon setting button opacity resolves this issue.  Closing.

[2015-03-18 05:57] #102 closed

[2015-03-18 07:01] jessegreenberg commented on #99
I have moved the WindowFrameNode into MoleculesAndLightScreenView, which restricted the clipping area of the Observation Window.  This should improve behavior of the clipping area.

[2015-03-18 18:45] jbphet opened #103 "Error message and assertion for reset in some situations"
This problem occurs on the current master and the  on http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.0.0-dev.9/molecules-and-light_en.html as an error message.  The dev.9 version is the only one I tested, this probably exists on others as well.

To duplicate, start the sim, switch the molecule to ozone and the emitter to UV.  As soon as the molecule breaks apart, press the res

[2015-03-19 22:18] jbphet commented on #101
Looks great.  I tested it on an iPad 2 and it works well.  Closing.

[2015-03-19 22:18] #101 closed

[2015-03-19 22:36] jbphet commented on #99
Tested on iPad, Chrome+Win7, and Firefox+Win7, and it looks much better in all cases.  Closing.

[2015-03-19 22:36] #99 closed

[2015-03-19 22:49] jbphet opened #104 "Use mipmapping for the emitter selection buttons"
On Firefox, the images on the buttons used for selection the photon emitters look rather aliased.  We should try using mipmapped versions and see if that fixes the issue.

Below is a piece of a screenshot the shows the problem.  It is particularly noticeable on the IR emitter and the flashlight, but also pretty visible on the sides of the UV lamp.

![mal-aliased-buttons](https://cloud.githubuserco

[2015-03-20 06:48] jessegreenberg commented on #103
This should be fixed with the commit above.  Molecule's setVibration function should not have assertions or error statements so that it still works for molecules that don't have vibration behavior.  I have fixed the function so that it behaves exactly as it does in the Java.

[2015-03-20 18:52] jbphet opened #105 "Photons often disappear when switching from landscape to portrait mode on iPad"
This was duplicated both on an iPad 2 running iOS 7.0.4 and an iPad 3 running iOS 8.1.  If you set up a situation where a stream of photons is coming out while the iPad is in landscape mode, then reorient the iPad to be in portrait mode, the photons disappear, but their affects still occur.

This is being seen on the current master, and similar behavior is seen on the published dev versions.

[2015-03-20 19:08] jbphet commented on #105
Screenshot below.  Photons should be visible, but aren't.  The molecule is glowing, indicating that it just absorbed a photon, so the model is still working.

![mal-photons-disappear](https://cloud.githubusercontent.com/assets/3082831/6758958/cea0cf3c-cf01-11e4-90f1-ff12a6588f35.PNG)

If I switch to a different photon emitter, the visible light photons reappear as they move off the screen to the r

[2015-03-20 20:22] jbphet commented on #105
This can be duplicated on Safari + Mac OSX by resizing the window while setting the sim up as described above (@jonathanolson suggested trying this).  For reference, the particular setup was the Mac named "Dirac", Safari version 8.0, OSX version 10.10.1.

[2015-03-20 20:33] jonathanolson commented on #105
Interestingly, I can reproduce this on the Macbook Air, but after resizing the particles freeze in place, and start disappearing in order (the right-most one disappears, then a second later the next-right-most disappears, etc. until they are all gone).

Additionally, after resizing again (even while they are not displayed), it sets all of them to visible and starts the process again.

Continuously

[2015-03-20 20:37] jonathanolson commented on #105
Also after pausing script execution (after they have disappeared), deleting the div directly after the problematic SVG causes them to reappear. Will investigate why (putting it back doesn't make them disappear again).

[2015-03-20 21:01] jonathanolson commented on #105
Removing the clipArea causes the bug to vanish. It's almost like the clipArea is moving to the left each frame after things get resized.

Looks like a Safari-specific SVG bug relating to clipping.

[2015-03-20 21:06] jonathanolson commented on #105
My best recommended workaround is to not use clipping, and instead fill the area around the "clip area" with the background color of the sim (maybe with a stroked rectangle) that will cover up any photons outside the desired area, and then have the border displayed above that.

I wasn't able to find any bug documentation about this, but just unsolved reports of "SVG things disappear" sometimes in

[2015-03-20 21:51] pixelzoom opened #106 "pointer areas overlap with longer strings"
1.0.0-dev.10, all platforms, with the following query parameters:

http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.0.0-dev.10/molecules-and-light_en.html?stringTest=double&showPointerAreas

There is significant overlap of point areas (touch and mouse) between the 4 "lamp" radio buttons and the "Show Light Spectrum" button, see screen shot below.  Since there is no overlap with

[2015-03-20 21:56] pixelzoom opened #107 ""Show Light Spectrum" dialog will not reopen if you closed it by clicking outside the dialog"
1.0.0-dev.10, all plaforms.

http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.0.0-dev.10/molecules-and-light_en.html

Steps to reproduce:
1. Start the sim.
2. Press the "Show Light Spectrum" button, the dialog opens.
3. Click the "Close" button, the dialog closes.
4. Press the "Show Light Spectrum" button, the dialog opens.
5. Click anywhere on the screen (but not on the Close b

[2015-03-23 22:37] jessegreenberg commented on #106
Sorry about that, this should be fixed with the commit above.  This is what it looks like now:

![capture](https://cloud.githubusercontent.com/assets/6396244/6792136/c9cc193c-d17a-11e4-8a12-01cef1a53ada.PNG)

Reassigning to @pixelzoom for review.

[2015-03-23 22:42] jessegreenberg commented on #107
Thank you for catching this!  I think I have isolated this to an issue in joist, which I have described in a ticket here: phetsims/joist#229.

Otherwise, I am using Dialog incorrectly, in which case I apologize.  I will wait to pursue this further until phetsims/joist#229 is reviewed.

[2015-03-24 00:54] jessegreenberg commented on #105
Thanks or the recommendation @jonathanolson, I have layered a stroked rectangle in place of the clipping area as you suggest above.  I tested this on my iPad2 (iOS 8.2) and it fixes the bug.

I have added some documentation in the code describing this as a temporary workaround.

Reassigning to @jbphet for review.

[2015-03-24 14:36] pixelzoom commented on #106
Looks good, closing.

[2015-03-24 14:36] #106 closed

[2015-03-31 18:35] jbphet commented on #105
Commit looks good and the behavior is now fine on my iPad 2.  Closing.

[2015-03-31 19:10] jbphet commented on #104
This was done, and looks much better in Firefox and IE now.  Firefox screenshot below.  Closing.

![mal-better-icons](https://cloud.githubusercontent.com/assets/3082831/6926980/598e664c-d7a7-11e4-8214-2ddbabe0f2d5.png)

[2015-03-31 19:10] #104 closed

[2015-03-31 19:11] jbphet commented on #103
Looks good - closing.

[2015-03-31 19:11] #103 closed

[2015-03-31 19:31] jbphet commented on #89
Just tested v1.0.0-dev.10 on iPad 2 iOS 7.0.4 and iPad 3 iOS 8.1 and load times are consistently around 5 seconds, which is quite good.  This seems to be addressed.  Closing.

[2015-03-31 19:31] #89 closed

[2015-03-31 22:48] arouinfar commented on #107
This issue appears to be resolved in 1.0.0-rc.1

[2015-04-01 16:34] jbphet commented on #107
Indeed, this was resolved by fixing https://github.com/phetsims/joist/issues/229 in the joist repo.  Closing.

[2015-04-01 16:34] #107 closed

[2015-04-01 17:17] arouinfar opened #108 "Update Design Team Credits"
The convention for crediting the lead design on a port is to list both the original lead on the Java/Flash sim and the lead designer for the HTML5 version. Please update the lead design credit to read: Kelly Lancaster (Java), Amy Rouinfar (HTML5)

Since the lead designer is not repeated in the team credits, please remove Amy Rouinfar from the Team section. Yuen-ying Carpenter and Emily Moore are a

[2015-04-02 16:17] bryo5363 opened #109 "Molecules spawn with bonds in opposite locations"
Test device: MacBook Pro

Operating System: 10.10.1

Browser: Chrome 41.0.2272.104 (64-bit)

Problem description: When using the ultraviolet lamp w/ molecules that have multiple bonds, sometimes the molecule will respawn with bonds in the opposite location.

Steps to reproduce:
-open sim
-select ultraviolet lamp
-select bent molecule w/ two bonds
-break the bonds
-press return molecule. sometimes

[2015-04-02 16:33] bryo5363 opened #110 "Spontaneous rotation occurs right before the molecule breaks"
Test device: MacBook Pro

Operating System: 10.10.1

Browser: Firefox 36.0.4

Problem description: The moment before a molecule breaks, there is a spontaneous rotation to it's original state

Steps to reproduce:
-open sim
-select molecule with two bonds
-select microwave so that the molecule rotates
-once the molecule has deviated from its original position, hit it w/ ultraviolet
-notice the molec

[2015-04-02 23:45] arouinfar commented on #108
I've noticed that the QA team is also missing from the credits.

[2015-04-02 23:48] arouinfar commented on #109
This is intentional behavior, @bryo5363, but good observation. Ozone and nitrogen dioxide both have resonance bonding, so we randomly choose which side will have the "double" bond.

[2015-04-02 23:48] #109 closed

[2015-04-05 20:47] jessegreenberg commented on #110
Good catch @bryo5363, and it looks like this behavior is present in the Java version as well.

[2015-04-05 22:03] jessegreenberg commented on #108
I have updated the team credits, now it looks like this:

![capture](https://cloud.githubusercontent.com/assets/6396244/6998836/e91ad02c-dbab-11e4-8965-37f32999ce7a.PNG)

@arouinfar are these the correct names for the QA team?

[2015-04-05 22:14] jessegreenberg commented on #110
Looking through the code, it looks like this behavior is an explicit design choice.  Constituent molecules are set so that their initial positions match the initial layout of the dissociated molecule.

@jbphet, do you know why this behavior was chosen rather than setting the constituent molecule positions to match the current orientation of the initial molecule?

For quick reference, here is where

[2015-04-06 15:51] arouinfar commented on #108
Looks great! Closing.

[2015-04-06 15:51] #108 closed

[2015-04-06 22:24] jbphet commented on #110
I'm fairly certain that this was a conscious design choice intended to give us greater control over the visual appearance of the break apart events and to minimize the complexities of interaction between two motion strategies, in this case the rotation strategy and the break apart strategy.  If I remember it correctly, the designers wanted the molecule fragments to always go off the top and bottom

[2015-04-07 19:08] jbphet commented on #110
I've added documentation to model.txt and to the source code comments for NO2 and O3.  That's all we're planning to do for this.  Closing.

[2015-04-07 19:08] #110 closed

[2015-04-13 22:49] arouinfar opened #111 "Add artwork credits"
When time allows, please publish a maintenance release crediting Alex Klinger for his artwork.

[2015-04-14 20:54] jessegreenberg commented on #111
We have added Alex Klinger to the sim credits.  Closing.

[2015-04-14 20:54] #111 closed

[2015-04-23 20:11] jbphet opened #112 "instrument with tandem"
add together/tandem support

[2015-04-23 20:43] jbphet commented on #112
forget to mention this issue in another relevant commit: 8f588c49f5dd7a2a0ac691b64194df6c01748bcf

[2015-04-23 22:11] jbphet opened #113 "Control of photon emission rate looks odd"
In the process of instrumenting this sim for data collection (see #112), I've noticed that the way the sliders on the photon emitters control the emission rate is a little odd.  It looks like the sliders control a model property, which is called emissionFrequency but actually maps the the slider range, is then monitored in the slider class, which then calls back into the model via a method called

[2015-04-23 22:18] jbphet commented on #112
Spent about 1 hour on this so far, which has been enough to show much of the basic functionality in the "mirror test".  This was done with @samreid.  This was much of the low hanging fruit, handling photon emission, molecule changes, and atom motion will be the trickier bits.

[2015-04-23 22:36] samreid commented on #112
I instrumented the molecule radio buttons above, it took 15 minutes.

[2015-04-24 00:29] samreid commented on #112
I instrumented the sliders above.  This took approximately 30 minutes, which was more than I anticipated.  The complications were:
1. There are actually 4 different sliders, one for each emitter
2. Previous sliders needed to be disposed() of
3. Previous slider thumb needed a dispose method
4. The model is powered by wavelength, not by emitter type and I needed a way to associate tandem UI componen

[2015-04-24 00:46] samreid commented on #112
I instrumented play/pause and step buttons above.  It took about 15 minutes, most of which was instrumenting ToggleButton and its model in sun (and adding dispose methods), which will be reused for other sims.

[2015-04-24 00:57] samreid commented on #112
I instrumented the reset all button above.  It was very straightforward and just (rounding up) 5 minutes.

[2015-04-24 01:29] samreid commented on #112
I instrumented the show/close spectrum window buttons above in about 10 minutes.  Will take more work to detect clicks within the spectrum window (which closes it) and even more work to detect clicks outside the spectrum window, which also closes it.

[2015-04-24 01:31] samreid commented on #112
By the way, we are trying to keep good time records for this sim since we were very curious how long it takes to instrument a simulation.  This seemed like a good candidate since I was unfamiliar with the codebase (@jbphet may be more familiar) and it hasn't previously been instrumented.  But note these time estimates only apply to @jbphet and @samreid, since others wanting to instrument sims woul

[2015-04-30 05:31] samreid commented on #112
Took 5 minutes to fix tandem support for joist in the above commit.

[2015-04-30 15:42] samreid opened #114 "Photon recentering interferes with playback"
While instrumenting the sim for tandem, I saw this code in ObservationWindow.js

[code]

PhotonNode sets the position by linking to the property, but it is overriden by this line:
[code]

thus preventing loading the positions of photons.  Can that line be eliminated?  I tried removing it and the sim seemed to function properly.

[2015-04-30 15:43] samreid commented on #114
I removed the line in question above so that I can proceed with #112 but it would be great to hear from @jessegreenberg if that line was doing something important or if it is okay to be removed.

[2015-04-30 15:47] samreid commented on #112
In the above commit, I instrumented photons for playback.  Took about an hour.  Much of this time was split into two categories: (a) in common code for supporting ObservableArray for playback and (b) identifying #114.  Instrumenting the observable array and adding to/from JSON for Photons was straightforward.  Though I would like to discuss this pattern with someone:

In Photon.js
[code]

[2015-04-30 17:22] samreid opened #115 "Can these seemingly unused options be removed?"
During #112 I saw this code:

[code]

However, the constructors for molecules don't take a second argument.  So can this be removed?  To support #112 I may need to add tandems to these constructors.

[2015-04-30 17:23] samreid commented on #115
EDIT: in the above comment, when I said "can this be removed", I am referring to the second argument, with initialCenterOfGravityPos.

[2015-05-15 14:51] jbphet opened #116 "Code for triggering update of the photon target is in an odd place"
This was noticed while instrumenting the code, see #112.

The following code is currently in the ObservationWindow.js file:

[code]

This code is listening to the setting of the photonTargetProperty in the model and is then telling the model to update the active molecule.  It's odd that this would be occurring in the ObservationWindow class - why not just do it in the model?

[2015-05-19 20:31] jbphet commented on #116
Implemented, closing.

[2015-05-19 20:31] #116 closed

[2015-05-19 20:35] jbphet commented on #115
These options should actually be respected.  In the current version of the code, both parameters to the molecule constructors are ignored.  The ```this``` parameter doesn't seem to make any sense to me.  The second parameter should probably be respected, since it will be needed if and when the multi-molecule version of this is needed, which exists in the Java version of the Greenhouse sim.

@jesse

[2015-05-28 15:48] jessegreenberg commented on #115
Molecules used to have options that included initial position and require the PhotonAbsorptionModel for construction.  Passing in the model was a mistake and removed from the constructor after code review.  `this` should not be passed in, I will remove it from the cases in PhotonAbsorptionModel shown above.

It was also decided in code review that Molecules and Light be built without preparing for

[2015-05-28 16:00] jessegreenberg commented on #114
Yes, I think this line was excessive and a mistake.  Sorry about that. Closing.

[2015-05-28 16:00] #114 closed

[2015-05-28 16:38] jessegreenberg commented on #115
The model and optional initial position parameter have been removed.  Reassigning to @jbphet for review since he has familiarity with this sim and is familiar with the relationship between Molecules and Light and the Greenhouse gas sim.

[2015-05-28 20:35] jbphet commented on #115
I went ahead and added the option for specifying the initial position of the molecules.  I figured it was fairly quick and easy to do while this is all fresh in our minds, and would take longer when this is adapted to support the Greenhouse simulation.  This was unit tested and regression tested and seemed to work just fine.  Closing.

[2015-05-28 20:35] #115 closed

[2015-06-08 19:05] jbphet commented on #112
This work is largely complete, but there are a couple of known deficiencies.  Right now, no user message is sent if the user opens up the spectrum window and then dismisses it by clicking on some portion of the window other than the close button, or by clicking outside of the spectrum window.  This will require some work in Joist.  I discussed this with the organization that is currently integrati

[2015-06-17 18:59] jbphet opened #117 "photons disappear and then come back when sim is hidden and then re-shown"
If the simulation is running with photons being emitted, and then the user switches to a different tab or minimizes the browser, the photons disappear and then start being re-emitted.

[2015-06-17 19:04] jbphet commented on #117
This was noticed while instrumenting this sim with tandem/together, see #112.

The problem is essentially that the model doesn't handle large time steps well - it advances the position of the photons by the large step, but doesn't re-emit and re-position a corresponding amount of new photons.  But for this sim, it doesn't matter that it advance by the large step, and in fact is probably better if

[2015-06-17 19:06] jbphet commented on #117
Implemented, closing.

[2015-06-17 19:06] #117 closed

[2015-07-30 17:33] jbphet opened #118 "Update may not work correctly on Safari"
We are getting ready to deploy this simulation for the Summer 2015 Redeploy.  There is a known issue with the update-checking feature with Safari, see https://github.com/phetsims/website/issues/259.  There is a chance (@jonathanolson estimates 10-20%) that a code change may be required in the common code, so we shouldn't do the redeploy until the issue is resolved.

This issue in molecules-and-lig

[2015-07-30 17:40] jbphet commented on #93
During the 7/30/2015 developer meeting we decided that if the performance is good on iOS8 and okay on iOS7, this issue can be closed.

[2015-07-30 17:41] jbphet commented on #91
During the 7/30/2015 developer meeting we decided that if the performance is good on iOS8 and okay on iOS7, this issue can be closed.

[2015-07-30 18:11] jonathanolson commented on #118
I believe this should be fixed after there's a website deployment.

[2015-08-03 16:53] jbphet commented on #118
I will leave this open for now and assign to myself, and once we have a release candidate I'll assign it to one of the QA people in order to make sure that it is thoroughly tested.

[2015-08-03 18:13] jessegreenberg commented on #91
Performance on iPad2 for iOS7 and iOS8 seems great.  Tested iOS8 on my iPad and iOS7 on Lave.  Closing.

[2015-08-03 18:13] #91 closed

[2015-08-04 15:41] jbphet commented on #112
The deficiencies mentioned in the previous comments have been partially addressed by adding some additional support for tandem/together to Joist, see https://github.com/phetsims/together/issues/99.  The one remaining problem is that no user message is sent when dismissing the spectrum window, or any other popup, by clicking on the window itself in a place other than the close button.  We have deci

[2015-08-04 15:41] #112 closed

[2015-08-04 19:53] jessegreenberg commented on #93
Performance is great on iPad3 iOS8, just tested with diSessa.  molecules-and-light does not use WebGL so we can assume that it will perform well on iOS7 for iPad3 as well. Closing.

[2015-08-04 19:53] #93 closed

[2015-08-04 20:11] jessegreenberg commented on #113
I made a change to the way the emission rate is controlled, see comit above.  I moved property emissionFrequency out of the PhotonAbsorptionModel and into the PhotonEmitterNode.  Property emissionFrequency exists in PhotonEmitterNode so that it can be used for linear mapping of the PhotonEmitterNode opacity.

Range of the slider now runs from 0 to 1 instead of 0 to 100 so so that slider maps direc

[2015-08-05 17:48] jbphet commented on #113
I just tried adding emission frequency as a tandem entity, but it isn't working out so well, because when the period is infinite (meaning that the emitter is off), the value shown in the event stream is ```null```.  Apparently, infinity is not something that JSON can deal with, see http://stackoverflow.com/questions/16644597/json-stringify-converting-infinity-to-null.  Also, I don't really like lo

[2015-08-06 14:45] jbphet commented on #98
Performance has been tested on tablets based on the recent changes, and has been judged to be sufficient, see #91 and #93.  Closing.

[2015-08-06 14:45] #98 closed

[2015-08-07 23:44] jessegreenberg commented on #113
Frequency Property is now back in the PhotonAbsorptionModel.  The tandem instance for emission frequency is back in the PhotonAbsorptionModel as well.

The map from photon emission frequency to period now exists exclusively in the PhotonAbsorptionModel.  Reassigning to @jbphet for review.

[2015-08-10 17:33] jbphet commented on #94
@jessegreenberg and I did some more in-depth memory profiling, and I believe that what I was seeing originally was due to Chrome's V8 engine's 2-generation garbage collection scheme (see http://jayconrod.com/posts/55/a-tour-of-v8-garbage-collection for more on this).  We ran a long term test with photons being emitted and took several heap snapshots to see whether memory eventually was reduced (pr

[2015-08-10 17:33] #94 closed

[2015-08-10 19:19] jbphet commented on #113
Looks good.  I did some additional cleanup and, along the way, discovered that we were using seconds as the time base in some places and milliseconds in others.  This was corrected so that seconds are no used throughout the code.  @jessegreenberg was working with me as these changes were made, so no need for further review.  Closing.

[2015-08-10 19:19] #113 closed

[2015-08-13 03:37] pixelzoom opened #119 "branch: test"
Please describe this branch.

[2015-08-13 17:38] aaronsamuel137 commented on #119
I created this branch to do some testing for build-server stuff. I will delete it when I am done.

[2015-08-13 17:53] elisemorgan opened #120 "Light Spectrum w/ Long String Test on iPad"
Test device: iPad 2

Operating System: iOS 8.3

Browser: Safari

Problem description: Light Spectrum window is larger than the screen dimensions when the Long String Test is used.

Steps to reproduce: Perform extremely long string test. Open Light Spectrum display.

Severity:

Screenshots:
![image](https://cloud.githubusercontent.com/assets/12610678/9257271/e47abfd4-41b1-11e5-8f5f-5bb8b91c37f9.jpg

[2015-08-14 18:19] jessegreenberg commented on #120
This should be fixed the commit above.  Spectrum window now looks like the following with very long strings:

![stringtestextremelylong](https://cloud.githubusercontent.com/assets/6396244/9280889/a4629c1e-427e-11e5-8e85-a754e6371e77.PNG)

And looks like the following with stringTest=double:

![stringtestdouble](https://cloud.githubusercontent.com/assets/6396244/9280899/ab425b82-427e-11e5-8bb1-fddf

[2015-08-19 18:24] elisemorgan opened #121 "Slight Quirks in text in iFrame and String Tests"
Test device:

Operating System: Windows 7

Browser: IE 11

Problem description: The are overlaying issues in the CO2 and NO2 text. This appears in the iFrame and in both the double and Extremely Long String tests.

Steps to reproduce: Open sim in iFrame or perform string test.

Severity: Minor

Screenshots:
![img_6752](https://cloud.githubusercontent.com/assets/12610678/9365132/212110cc-466d-11e5-

[2015-08-20 16:58] jessegreenberg commented on #121
I just reproduced this issue on Bates test machine, Windows 7, IE10.  Screenshots below -

At sim start up, chemical formula text looks horribly stretched out:
![expanded_text](https://cloud.githubusercontent.com/assets/6396244/9389747/d205da14-4729-11e5-82c3-df249a1bb69b.PNG)

At first interaction with sim (like mouse over any component) text corrects itself, but chemical formuls can still overla

[2015-08-20 19:33] phet-steele opened #122 "Slight artifacts on escaping and spinning NO2 and O3 molecules"
While testing 1.1.0-rc.1 in FF 40 (Win 8.1), I saw ever so slight artifacts being left behind after movement of NO2 and O3 molecules.

![tiny artifacts](https://cloud.githubusercontent.com/assets/5863899/9393547/b962b700-473f-11e5-92be-327b2a398f52.PNG)

Name: ‪Molecules and Light‬
URL: http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.1.0-rc.1/molecules-and-light_en.html
Version

[2015-08-20 19:47] jessegreenberg commented on #122
Unable to reproduce on Windows 7 FF 40.0.2, but to be honest I can't really see any artifacts in the image above.

[2015-08-20 19:48] jessegreenberg commented on #122
Ah, when I blow up the image, I can see very small green dots in between the two ultraviolet photons, @phet-steele is this what you are referring to?

[2015-08-20 19:49] phet-steele commented on #122
Yea, they travel all the way up the screen, too. They are small, sure, but pretty obvious on my screen.

[2015-08-20 19:50] phet-steele commented on #122
l'll update FF and see what happens.

[2015-08-20 19:53] phet-steele commented on #122
Still there.

[2015-08-20 23:38] jessegreenberg commented on #121
I did not realize that this issue was present for ALL strings on sim start up for stringTest=double.  Just tested on Windows 7 IE11 and observed the following behavior:

![mal_double_broken](https://cloud.githubusercontent.com/assets/6396244/9398236/f83635de-4761-11e5-93c5-3331f85ca8bd.PNG)

Again, text readjusts once the user interacts with the sim.  So this is most likely not isolated to Molecul

[2015-08-20 23:39] jessegreenberg commented on #121
Observe the following for chemical formulas in acid-base-solutions:

![acid-base-solutions](https://cloud.githubusercontent.com/assets/6396244/9398265/622a018c-4762-11e5-8498-a99c36cb2fa3.PNG)

[2015-08-20 23:41] jessegreenberg commented on #121
It looks like stringTest=double breaks text for all sims in Internet Explorer.  Moving issue to scenery for now.

[2015-08-24 17:09] ariel-phet commented on #122
@jessegreenberg you can mark this as will not fix for the moment, but leave this as an open issue.

[2015-08-24 19:13] jbphet commented on #122
@jonathanolson - I thought you might want to take a quick look at this and see if it is anything to be concerned about in Scenery.  If there is nothing obvious, please assign back to me.

[2015-08-24 19:13] jbphet commented on #122
Not needed for the upcoming release.

[2015-08-24 20:00] jonathanolson commented on #122
Looks like a Firefox-specific SVG rendering bug.

A potential fix would be to have at least 1px of transparency along the borders of the image (it looks like the semi-transparent content goes all the way to the edge of the image). Don't have a good idea of how likely this would be to fix it.

[2015-08-24 23:11] jessegreenberg commented on #122
I was just able to reproduce this.  It is so hard to see I think I missed it the first time
![tracers](https://cloud.githubusercontent.com/assets/6396244/9454891/e3d282e0-4a82-11e5-82cd-376e8d58b5e5.PNG)

Leaving as open issue, but not to be fixed for this release.

[2015-08-24 23:24] jessegreenberg commented on #121
This was fixed in https://github.com/phetsims/scenery/issues/455, issue is no longer present in IE:

![symbols fixed](https://cloud.githubusercontent.com/assets/6396244/9455094/e451c166-4a84-11e5-9f0e-d3d0951f2ee9.PNG)

![string_test_fixed](https://cloud.githubusercontent.com/assets/6396244/9455097/e7a0745c-4a84-11e5-93ea-ed8a9e00fe66.PNG)

Closing.

[2015-08-24 23:24] #121 closed

[2015-08-25 15:26] jbphet commented on #122
Since we're not going to try to address it for the next release, I will unassign the issue until we decide to close or address it.

[2015-08-27 18:55] jbphet opened #123 "create a new release candidate (1.1.0-rc.3) to pick up some recent changes"
In the 8/27/2015 meetings, it was decided that the 1.1 release of this sim should be delayed to pick up the fixes for the following issues:
+ https://github.com/phetsims/joist/issues/295
+ https://github.com/phetsims/joist/issues/296
+ https://github.com/phetsims/phet-edmodo/issues/2

[2015-08-31 17:00] jbphet commented on #123
We also want to pick up this one:

+ https://github.com/phetsims/chipper/issues/330

...and we might as well get this one too, since it affects the way directional formatting for strings is added, and it would be good to make sure that the sims all handle it the same way.

+ https://github.com/phetsims/chipper/issues/332

[2015-08-31 17:13] pixelzoom opened #124 "chem symbols should not be translatable"
Molecules and Light makes chemical symbols translatable.  Eg in the strings.json file:

[code]

In (all?) other chem sims, we decided that chemical symbols were *not* to be translatable. For example, Molecule Shapes, Acid-Base Solutions, Balancing Chemical Equations, Rectant Products and Leftovers, ph Scale,... none of these sims allows translating of chem symbols.

This issue should be addressed

[2015-08-31 17:47] jessegreenberg commented on #124
Chemical symbols have been removed from the strings file.  They were not even being used from this file so it was no issue to remove and a good thing to clean up.

[2015-08-31 18:16] #124 closed

[2015-09-01 17:17] jessegreenberg commented on #123
Patches to chipper and joist have been applied to 1.1.  molecules-and-light 1.1.0-rc.3 has been deployed on spot.  Closing.

[2015-09-01 17:17] #123 closed

[2015-09-01 17:17] jessegreenberg commented on #120
This issue has been resolved and the fix was verified in https://github.com/phetsims/tasks/issues/332.  Closing.

[2015-09-01 17:17] #120 closed

[2015-09-15 15:23] aaronsamuel137 commented on #119
Deleted branch. Closing

[2015-09-15 15:23] #119 closed

[2015-09-23 17:20] jbphet commented on #118
Assigning to @phet-steele to verify on the latest release candidate for this sim.

[2015-09-23 18:39] phet-steele commented on #118
Verified as good, at least as far as no problems when running with ?ea.

[2015-09-23 18:39] #118 closed

[2015-10-03 04:53] samreid opened #125 "Copyright statement should say "University of Colorado Boulder""
While I was looking at https://github.com/phetsims/chipper/issues/235 I noticed that the copyright statements in molecules-and-light read:
[code]

The legal entity name of the university is University of Colorado Boulder so the comments should read like this:
[code]

[2015-10-05 16:30] jessegreenberg commented on #125
Thanks for the catch, copyright statements updated and fixed in commit above.

[2015-10-05 16:30] #125 closed

[2015-10-28 18:01] phet-steele opened #126 "OSX 10.11 FF text "dimming""
Testing on OSX 10.11 and FF 41.0.2, the molecule selection panel text will "dim" when scrolling the mouse over them quickly (but NOT while moving slowly). Sim state shouldn't affect reproducibilty. Tested on Dirac.

Video:
https://drive.google.com/file/d/0B3HJopSo_QqLRFplUnVzTVA1Wlk/view?usp=sharing

Troubleshooting information:
Name: ‪Molecules and Light‬
URL: http://www.colorado.edu/physics/phet

[2015-10-29 22:15] jessegreenberg commented on #126
Able to reproduce myself with OSX FF 41.02.  The text dimming can also occur if the pointer is dragged across the photon emitter control panel.

This seems like a Scenery issue, so I will document an issue there.

@ariel-phet, I am not sure if this is severe enough to block the redeploy.  Could you please take a look at @phet-steele's capture of the issue and determine if this needs to be resolved

[2015-10-30 15:43] ariel-phet commented on #126
I believe this is just a text rendering bug with FF, and certainly not sim specific. Not a blocking issue, and you have noted an issue in scenery. Closing.

[2015-10-30 15:43] #126 closed

[2015-11-03 18:07] ariel-phet opened #127 "Remaining redeploy items"
**Design/Admin**
- [x] Rosetta test (Opening sim to trusted translators for beta)
- [ ] Check sim primer is up to date

[2015-11-03 18:07] ariel-phet commented on #127
Self assigning to check off once we have seen some working translations

[2015-11-03 23:23] jessegreenberg commented on #127
molecules-and-light version 1.1.0 has been published and redeployed.

[2015-11-04 04:45] aaronsamuel137 opened #128 ".eslintcache is checked in"
I noticed that build server continually has errors with molecules-and-light and no other sims, and started to investigate.

I think the problem is caused by the fact the .eslintcache is checked into github for this sim. It results in working changes always ending up in the MAL repo on the server, and therefore a build fail because the command git pull fails because of working changes.

This will n

[2015-11-04 04:59] aaronsamuel137 commented on #128
You can probably just remove it from the branch (and master) and run grunt deploy-production again. I don't think it needs a new maintainance release, you can just overwrite what is on the server.

[2015-11-04 05:17] jessegreenberg commented on #128
Thanks for catching this @aaronsamuel137.

That was my hope as well, and that is what I did.  The .eslintcache files have been removed.  Must have mistakenly checked them in some how, but .eslintcache is correctly in my .gitignore file.  ```grunt deploy-production``` ran cleanly.  @aaronsamuel137 is there anything else left to do to verify that molecules-and-light is playing nice with build-server

[2015-11-04 05:44] aaronsamuel137 commented on #128
I took a look in the log files and everything looked good. The sim redeployed and there were no working changes left in the MAL directory, which is what caused the problem before. I think this is fixed, but I'll reopen if I see anymore build fail emails.

[2015-11-04 05:44] #128 closed

[2015-12-04 19:33] jessegreenberg opened #129 "add namespace"
From phetsims/tasks#378, molecules-and-light needs a namespace.

[2015-12-04 19:34] jessegreenberg commented on #129
Commit above completes this. Closing.

[2015-12-04 19:34] #129 closed

[2016-01-04 17:16] ariel-phet commented on #127
The primer projects are being covered by https://github.com/phetsims/tasks/issues/429 and https://github.com/phetsims/tasks/issues/430 closing

[2016-01-04 17:16] #127 closed

[2016-01-11 19:17] pixelzoom opened #130 "unused strings"
[code]

[2016-01-11 20:06] jessegreenberg commented on #130
Unused strings removed, sim builds cleanly.  Closing.

[2016-01-11 20:06] #130 closed

[2016-02-09 16:35] samreid opened #131 "Sliders must be disposed if they are re-created"
Assertion failed: phetioID already registered: moleculesAndLight.moleculesAndLightScreen.infraredSlider.trackInputListener

[2016-02-09 16:45] #131 closed

[2016-02-23 20:29] phet-steele opened #132 "Edge 25 molecule selection boxes"
@ariel-phet @jonathanolson @jessegreenberg I feel like this is already a known issue, but might as well address it with phetsims/tasks/issues/523. There are obvious boxes around each molecule selection in Edge 25:

![mollightboxes](https://cloud.githubusercontent.com/assets/5863899/13265628/319a213e-da31-11e5-9a89-bdee1ff34511.PNG)

[2016-02-23 21:40] ariel-phet commented on #132
@jonathanolson unless this a ~1 minute fix, I don't think it is worth it currently.

[2016-02-23 21:41] ariel-phet commented on #132
If not a quick fix, please mark as priority:deferred and unassign

[2016-02-23 22:19] jonathanolson commented on #132
No quick fix identified, could be from anti-aliasing (light behind dark), or something related to the deselectedStroke that isn't specified (defaults to brighter than black).

[2016-02-25 23:28] jessegreenberg commented on #132
deselectedLineWidth of 0 is still visible on edge.  Setting the deselected stroke to black fixes this issue.

[code]

This issue can be closed, but will create a scenery issue to note that line widths in general seem thicker with Edge.

[2016-02-25 23:28] #132 closed

[2016-03-01 22:32] phet-steele opened #133 "spectrumWindow.closeButton implementation for phet-io instance proxies"
In the below:
![m lbuttons](https://cloud.githubusercontent.com/assets/5863899/13444137/cb29c51c-dfc1-11e5-92b1-06a336d6752f.PNG)
Firing spectrumWindow.closeButton does nothing to the spectrumWindow.showProperty value. @jessegreenberg informed me this is because the "Close" button essentially does nothing, and the sim instead uses an input from anywhere on the screen to close the spectrum window.

[2016-03-02 01:39] jessegreenberg commented on #133
Looks like the listener will need to be defined for PhET-iO and accessibility.  Added in commit above.  I am unable to test to verify that this is working in the wrapper, but pinging @phet-steele and @samreid to let them know that this was done.  Closing.

[2016-03-02 16:57] samreid commented on #133
I'll reopen assigned to me to test in the wrapper, thanks @jessegreenberg.

[2016-04-12 05:06] jessegreenberg opened #134 "Light Spectrum Dialog not centered on screen"
In master, the Light Spectrum Dialog is no longer centered in the screen. Once the window size changes, the dialog is centered correctly.

[2016-06-16 14:02] samreid commented on #133
Firing the close button from the instance proxies wrapper now properly closes the spectrum window, thanks @jessegreenberg.

[2016-06-16 14:02] #133 closed

[2016-07-07 20:01] pixelzoom opened #135 ""Light Spectrum" dialog is not centered"
Mac OS X 10.11.5 + Chrome latest.  Noticed in master b7f284fb02195f7865d751237113dc39f1a4f6a3.

When the "Show Light Spectrum" button is pressed, the dialog that opens is supposed to be centered, but it comes up in the upper-left corner (see screenshot).  If the browser window is resized, then the dialog moves to being centered.

![screenshot_46](https://cloud.githubusercontent.com/assets/3046552/

[2016-07-07 20:01] pixelzoom commented on #135
I have not tested on other platforms, but @ariel-phet reproduced this on Win+Chrome.

[2016-07-07 20:02] pixelzoom commented on #135
Problem also reproduced on Mac OS X + Safari + Firefox.

[2016-07-08 17:53] jessegreenberg opened #136 "Memory leak in Molecules and Light"
Molecules and Light is leaking memory.  I here is the heap every 30 seconds with fuzzMouse=100

![capture](https://cloud.githubusercontent.com/assets/6396244/16696535/9bda60e0-4502-11e6-974c-b52153bd4243.PNG)

[2016-07-08 18:01] jessegreenberg commented on #135
Caused by changes that came out of https://github.com/phetsims/joist/issues/329, but the issue is in SpectrumWindow.  For some reason, the SpectrumWindow dialog had a custom layout function which was unnecessary and did not set layout at the correct time.

[2016-07-08 18:01] jessegreenberg commented on #135
Above commit fixes the issue. Closing.

[2016-07-08 18:01] #135 closed

[2016-07-08 18:02] #134 closed

[2016-07-08 18:02] jessegreenberg commented on #134
Fixed in #135.

[2016-07-08 18:02] jessegreenberg commented on #136
Published version is leaking at the same rate with fuzzMouse=100.

[2016-08-10 18:07] samreid opened #137 "TypeError: Cannot read property 'show' of undefined"
While testing https://github.com/phetsims/beers-law-lab/issues/182 I ran

[code]

and observed:

[code]

This may be a test harness or axon problem, but I'm not sure at the moment, so I've created the issue here.  Launching

http://localhost/molecules-and-light/molecules-and-light_en.html?ea&brand=phet

Does not revel the problem.  I'll test in the harness again.

[2016-08-10 18:07] samreid commented on #137
It tested out OK in the harness this time.  Not sure what went wrong, closing.

[2016-08-25 23:34] pixelzoom opened #138 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:39] pixelzoom commented on #138
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:39] #138 closed

[2016-09-16 00:49] pixelzoom opened #139 "test-server error"
Appears to have been introduced in @c2fca3567dac4dfc1ab729684735973493a99157.

[code]

[2016-09-16 01:54] pixelzoom commented on #139
Looks like you have a context problem:

[code]

`this.spectrumWindow` should be `self.spectrumWindow`.

[2016-11-01 17:19] phet-steele opened #140 "Automated Testing Build Error (11/1/2016 10:00 AM)"
[code]

[2016-11-01 19:14] samreid commented on #140
Fixed, closing.

[2016-11-01 19:14] #140 closed

[2016-11-01 19:50] jessegreenberg commented on #139
https://github.com/phetsims/molecules-and-light/issues/139#issuecomment-247500926 Indeed, thanks! Closing.

[2016-11-01 19:50] #139 closed

[2016-11-15 18:16] phet-steele commented on #137
@samreid @jessegreenberg this error occurred during the 11/15 automated testing:

[code]

[2016-11-24 03:28] jonathanolson commented on #137
Also occurred on one of my three tests so far tonight.

[2016-11-29 20:39] jessegreenberg commented on #137
I let this sim fuzz for ~3 hours and it started to bog down from #136, but I never hit this issue.

[2016-12-05 16:33] jessegreenberg commented on #136
Removing assignment for now, will reassign when we plan on looking into this.

[2017-01-05 21:33] jonathanolson commented on #137
This has occurred 10 times in automated testing in the last few hours, 90% of which were in the built mode.

[2017-02-03 01:05] jonathanolson commented on #137
And again today:
[code]

[2017-02-15 21:42] jessegreenberg commented on #137
Ran into this again today, in the built version.

[2017-03-09 21:25] zepumph commented on #137
I found this is in automated phet-io tests today:

[code]

[2017-03-21 20:21] jessegreenberg commented on #137
@phet-steele is awesome and pointed out that this seems to be happening before the ScreenView is visible.  The issue is that the spectrum window (which extends Dialog) is undefined when we try to show it.

This bit of code looks suspect
[code]

Why are we trying to create the window in ```step``` rather than the constructor?

[2017-03-21 20:23] jessegreenberg commented on #137
Very quick fix would be to wrap the "Show Spectrum" button listener with

[code]

But we would like to understand why the dialog is not defined yet.

[2017-03-21 20:23] phet-steele commented on #137
Commit where this was changed, just in case: c2fca3567dac4dfc1ab729684735973493a99157

[2017-03-21 20:24] jessegreenberg commented on #137
Great, thanks @phet-steele, seems like it was introduced for https://github.com/phetsims/molecules-and-light/issues/135?

[2017-03-21 20:25] phet-steele commented on #137
Yup.

[2017-03-22 20:28] jessegreenberg commented on #137
The dialog wasn't defined because Dialog layout requires simBounds to be defined, and it isn't until everything in the sim is constructed.

The fix was to pre-construct the dialog content (for better performance) and create a new dialog with the content once the user opens the dialog.

@phet-steele this should be fixed with the above commit.  I tried refreshing the sim ~10 times and did not produc

[2017-03-22 20:28] #137 closed

[2017-03-23 14:52] Denz1994 opened #141 "Automated Testing Error"
Caught this while running:

phetmarks=>aqua=>Test Sims(Fast Build) with PhET-iO checked.

[code]

[2017-03-23 15:19] jessegreenberg commented on #141
Thanks @Denz1994, I think I recently introduced this.

[2017-03-23 15:23] jessegreenberg commented on #141
This happens the second time the dialog is opened.

[2017-03-23 15:30] jessegreenberg commented on #141
Probably because the CloseButton is not disposed when the dialog is closed - it should be to avoid a memory leak.  Would that will also remove the tandem id, or is there some other thing that must be done to remove the tandem and its id?

[2017-03-23 16:13] jessegreenberg commented on #141
Here is an example from RAdioButton:

[code]

[2017-03-23 17:38] jessegreenberg commented on #141
Thanks @Denz1994, should be fixed in the above commit.

[2017-03-23 17:38] #141 closed

[2017-04-05 22:49] jonathanolson opened #142 "Bad chemical formula display in RTL"
![screen shot 2017-04-05 at 4 38 59 pm](https://cloud.githubusercontent.com/assets/480878/24730032/7fad6722-1a1e-11e7-88c2-d8a908aedba6.png)

SubSupText fully assumes LTR direction and scrambles the output (and the string doesn't have the proper LTR marks around the chemical formula).

Using RichText as a drop-in replacement of SubSupText (and adding the LTR/POP bidirectional marks, e.g. `"value":

[2017-04-06 22:44] jbphet commented on #142
@jonathanolson and I discussed this over Skype, and decided that this could be addressed through a maintenance release to change from `SubSupText` to `RichText` followed by and update to the affected translations using Rosetta.

[2017-06-14 16:36] mbarlow12 opened #143 "Add keyboard navigation"
Like https://github.com/phetsims/ohms-law/issues/49, we would like keyboard navigation for the sim.

TODO:
- tool radio buttons
- conditionally remove 'Return Molecule' button from focus order when not displayed
- change focus order

[2017-06-15 17:02] jessegreenberg opened #144 "Replace PropertySet with Property"
From phetsims/axon#102, PropertySet is deprecated and should be replaced with Property.

[2017-06-20 20:22] jessegreenberg commented on #143
@mbarlow12 I pushed our changes we made today in the above commit.

[2017-06-21 15:56] mbarlow12 commented on #143
@emily-phet How should the focus order appear here? It's pretty far out of order at the moment.

[2017-06-21 17:03] jessegreenberg commented on #143
@emily-phet, @mbarlow12 and I were also wondering:

- What should happen to the focus on the "Return Molecule" button when the button disappears.  For now, @mbarlow12 placed focus on the photon emission slider when the button disappears.
- When the "step" button is disabled, should it be removed from the focus order?  For now, @mbarlow12 removed it from focus order when disabled for now.

We like

[2017-06-27 17:15] jessegreenberg commented on #143
6/27/17 meeting:

- We decided that radio button groups should work for the selection and navigation of photon emitters and molecules.
- We decided that the navigation order is good as it is now based on interaction patterns from interviews conducted by @arouinfar.
- Make sure that invisible/disabled buttons are still in the DOM (though not focusable) so screen reader users can find them even when

[2017-06-27 17:16] jessegreenberg commented on #143
![capture](https://user-images.githubusercontent.com/6396244/27600663-f924c572-5b29-11e7-81a0-2c4c653c8887.PNG)

@arouinfar @amanda-phet @amyh-phet @emily-phet regarding the last point, what should the background look like?  Should it be a grey rectangle that is under the focus highlight area?

[2017-06-27 18:30] amanda-phet commented on #143
I think @emily-phet mentioned a white rectangle, but an opaque gray rectangle might help to de-clutter while also not being overly distracting.

[2017-06-27 20:58] emily-phet commented on #143
@jessegreenberg I agree with Amanda that gray would be a good option to explore.

[2017-06-28 18:12] jessegreenberg commented on #144
@mbarlow12 would you mind helping with this issue?  This afternoon we can talk about context and how to address it.

[2017-06-28 21:33] jessegreenberg commented on #143
@mbarlow12 I fixed the Scenery problem with the above commit, thanks for catching that.

[2017-07-07 17:05] phet-steele opened #145 "TypeError: Cannot read property 'length' of null"
From phetsims/scenery/issues/629

[code]

[2017-07-07 17:09] jonathanolson commented on #145
Looks like it's being disposed and then used. I'm not familiar enough with the sim code for a quick fix.

[2017-07-07 17:10] jessegreenberg commented on #145
Thanks @jonathanolson, I will take a look.

[2017-07-07 23:30] mbarlow12 commented on #145
@zepumph, @jessegreenberg and I managed a quick workaround for this issue. We're waiting for some updates from @jbphet at the moment.

[2017-07-07 23:40] mbarlow12 commented on #144
Handled by dd33517 b5a67e4 b70e663.

[2017-07-07 23:40] #144 closed

[2017-07-10 15:15] jessegreenberg commented on #145
Thanks @mbarlow12.  The problem was that the EmissionRateControlSliderNode was getting disposed in a listener before a changed Property was finished calling all listeners that referenced the EmissionRateControlSliderNode.

It sounds like checking ```isDisposed()``` in the listener is actually the recommended fix for this, so I think we can close this issue.

[2017-07-10 15:15] #145 closed

[2017-07-10 16:49] jessegreenberg opened #146 "Lint errrors"
Molecules and Light is showing some lint errors in continuous testing, @mbarlow12 could you please look into it at your convenience?

[2017-07-10 17:42] mbarlow12 commented on #146
Fixed with b70e663

[2017-07-10 17:42] #146 closed

[2017-07-10 20:10] pixelzoom opened #147 "memory leak in SpectrumWindowDialog"
Introduced by https://github.com/phetsims/molecules-and-light/commit/dff581a2d2bc9fffbe79989d2338b39b553cf01b.

`disposeSpectrumWindowDialog` will never be called because Dialog.hide calls `disposeDialog` instead of `dispose`.  So `SpectrumWindowDialog.dispose` will never be called.

See also https://github.com/phetsims/joist/issues/424#issuecomment-314214885

[2017-07-10 20:31] pixelzoom commented on #147
You could probably work around this leak with this evil override in `SpectrumWindowDialog`:

[code]

[2017-07-10 20:32] pixelzoom commented on #147
... though the right way to resolve this would be to untangle `dispose`, `show`, `hide` in Dialog.

[2017-07-10 23:02] zepumph commented on #147
I'm not sure if this is a know error, but this is thrown when fuzz testing either brand. I think it is related to this issue, or #145. Let me know if I can help.

[code]

[2017-07-11 02:22] jessegreenberg commented on #147
Thanks @zepumph, it is related to this issue and https://github.com/phetsims/joist/issues/424.   This issue was created because the initial workaround to this fuzz error introduced a memory leak, but fixing phetsims/joist#424 is the real fix.

[2017-07-13 18:11] mbarlow12 commented on #143
Added the last two items in checklist. @emily-phet @arouinfar, the highlight seems a bit big with the above changes, but I'll defer to your judgment on that.

[2017-07-13 18:21] mbarlow12 opened #148 "Spectrum dialog doesn't reappear after closing once"
Keyboard navigation breaks the dialog's ability to reappear if the keyboard is used to close the dialog. Normal mouse behavior seems to persist until we close the dialog as above.

[2017-07-13 21:47] emily-phet commented on #143
@mbarlow12 - Great! Can you share a link or screenshot with the new changes?

[2017-07-17 23:52] jessegreenberg commented on #148
@mbarlow12 and I investigated this - @mbarlow12 discovered that it is because the close button listener doesn't is calling ```Dialog.prototype.hide instead``` of ```dialog.hide``` (in the local scope). Replacing should fix this issue.

[2017-07-17 23:53] jessegreenberg opened #149 "Spectrum Window dialog doesn't manage focus"
When the dialog is open, focus doesn't move to the "Close" button, and when the Dialog is closed, Focus doesn't move to the button that opened the dialog.

[2017-07-17 23:55] jessegreenberg commented on #149
@mbarlow12 and I began to investigate this, but we didn't get to the bottom of it.  We determined that since this dialog has a custom close button, we will have to focus it explicitly in a listener in MoleculesAndLightScreenView.  But we haven't determined why the dialog is not returning focus to the last active element when it is closed.

[2017-07-18 16:08] jessegreenberg commented on #149
I tracked the bug down to a problem with Dialogs and the Accessibility mixin.  Dialogs currently use document.activeElement as a fallback to to return focus to the item that had focus.  But the accessibility mixin needs to create new DOM elements occasionally when certain attributes or properties change.  So its trying to focus a DOM element that is no longer in the document.

[2017-07-18 16:11] jessegreenberg commented on #149
Assigning to me since this is a problem with Dialogs in general.

[2017-07-18 16:54] #148 closed

[2017-07-18 17:06] mbarlow12 commented on #143
@emily-phet here you go:

<img width="1236" alt="screen shot 2017-07-18 at 11 03 54 am" src="https://user-images.githubusercontent.com/5711147/28329917-df719de6-6ba8-11e7-92a0-91d1a1c33c37.png">

One last question, are we still implementing a custom fn & page up/down behavior? I saw some notes about this but haven't determined if it was discussed in detail and what that  behavior should be.

[2017-07-18 20:13] emily-phet commented on #143
@mbarlow12 The screenshot looks great! The slider thumb with focus really stands out nicely.

- Regarding custom fn and pg up/pg down behavior, it would be useful to be able to specify the step size when fn is used. Essentially, we'd like to be able to have a way to select a smaller step size for use with the shift modifier key, and a to select a larger step size for use with the fn modifier key.

[2017-07-18 20:49] jessegreenberg commented on #149
Fixed in the above commits, closing.

[2017-07-18 20:49] #149 closed

[2017-07-18 20:50] jessegreenberg commented on #147
Dialog is no longer leaking, and no longer causing errors since phetsims/joist#424 was closed.  Closing this issue.

[2017-07-18 20:50] #147 closed

[2017-07-18 21:02] jessegreenberg opened #150 "Focus moves to EmissionRateControlSlider when it shouldn't"
For #143, I found a bug where focus can move to the slider on the photon emitter when it shouldn't.  Steps to reproduce:

- Break NO2 apart with an ultraviolet photon
- Change molecules

Focus will incorrectly go to the slider.

@mbarlow12 can you please investigate?

[2017-07-18 21:23] jessegreenberg commented on #143
We could have an option called ```pageKeyboardStep``` that replaces the hard coded calculation in the keydown listener in HSlider.  We will also want getters and setters for ```pageKeyboardStep``` much like the ```setShiftKeyboardStep```and ```getShiftKeyboardStep``` that are already there.  @mbarlow12 let me know if you have questions while working on this.

[2017-07-19 18:48] mbarlow12 commented on #150
We were unconditionally moving focus to the slider whenever the button's visibility changed. I moved the focus reset to the button listener and reverted the button's opacity changes back to simply setting the node's visible property.

See commit a8f0047.

[2017-07-19 18:49] #150 closed

[2017-07-19 19:32] mbarlow12 commented on #143
@amyh-phet Are you referring to the END/HOME behavior for jumping to the min/max values? @jessegreenberg and I don't think we can separate the 'fn' key specifically from PageUp/Down. But using HOME/END as the min/max jump, we can then customize the PageUp/Down steps at will.

[2017-08-22 18:33] jessegreenberg commented on #143
@mbarlow12 added the ability to use custom step sizes for page up/page down.  I think the next steps are to
- Test it out in MAL, making the slider in this sim behave such that
  - Holding shift moves the slider 1/20 of the slider range
  - Default step size is 1/10 of the slider range
  - page up/page down move 1/5 of the slider range
- Have @mbarlow12 test is account on spot by building a versio

[2017-08-22 20:52] mbarlow12 commented on #143
Added the appropriate options for the Emission Slider for the changes requested in https://github.com/phetsims/molecules-and-light/issues/143#issuecomment-324113701.

[2017-08-22 22:33] jessegreenberg commented on #143
Thanks @mbarlow12.  We tried to deploy to spot but found that the account didn't have the right permissions.  Once that is sorted we will try again.

[2017-08-23 16:14] mbarlow12 commented on #143
Sim deployed:
http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.4.0-dev.1/molecules-and-light_en.html?accesibility

Let us know your thoughts!

[2017-08-23 16:58] arouinfar commented on #143
@mbarlow12 is the above link correct? Tried to test it in Chrome and Firefox, and I couldn't get the focus to appear when tabbing.

[2017-08-23 18:28] mbarlow12 commented on #143
Whoops! I misspelled accessibility. The link works now. Thanks!

[2017-08-23 20:47] arouinfar commented on #143
The keyboard navigation is feeling really smooth. I tested the behavior described in https://github.com/phetsims/molecules-and-light/issues/143#issuecomment-324113701, and everything looks great @mbarlow12!

[2017-08-23 21:03] amanda-phet commented on #143
Looks good to me.

[2017-08-27 17:34] samreid opened #151 "Molecule splitting is not captured in the state"
From https://github.com/phetsims/phet-io/issues/367 molecule splitting is not captured in the state:

![image](https://user-images.githubusercontent.com/679486/29752464-a7bc6f38-8b1b-11e7-8408-fd11e63978d0.png)

[2017-08-27 19:21] mbarlow12 commented on #151
I don't think I have access to any of the phet-io repos. Is it possible to grant that access for me?

[2017-08-28 15:13] samreid commented on #151
Likewise from https://github.com/phetsims/phet-io/issues/765

Upon breaking the Ozone or Nitrogen Dioxide molecule with an ultraviolet photon, the return molecule button does not return the molecule on the second smaller sim at all.
![molecules-light phetio return button not working](https://cloud.githubusercontent.com/assets/22551096/19821955/546b734c-9d1e-11e6-9092-4c54ad721428.gif)
Resetting th

[2017-08-28 15:13] samreid commented on #151
@ariel-phet can you please check on permissions for @mbarlow12?

[2017-08-28 15:31] ariel-phet commented on #151
@mbarlow12 I have converted you to an "owner" which means you now have access to all our repos. Behold the awesome power....

You may need to adjust some settings if you are getting notifications from repos you are not interested in, but now you should have access to anything you need.

[2017-08-28 15:32] samreid commented on #151
Thanks @ariel-phet.  @mbarlow12 let me know if I can provide any context/assistance as you are learning about PhET-iO.

[2017-08-28 21:12] mbarlow12 commented on #151
Thanks @ariel-phet & @samreid. I'll let you both know when I have questions.

[2017-08-30 17:34] terracoda commented on #143
Feels good to me, too.
One question, what is the little "pause-play" supposed to do?

[2017-08-30 18:32] jessegreenberg commented on #143
That is our "step" button.  It steps the simulation incrementally so that students can observe dynamic behavior in more fine detail by "stepping" through changes.

[2017-08-30 19:05] terracoda commented on #143
@jessegreenberg, thanks for the clarification. In that case, I think I found a small issue.

Pressing and holding the Enter key plays continuous steps just like pressing and holding down the button with the mouse. However, pressing and holding the Space key does do the same thing. I have to release the Space key and then the items move a tiny bit and then stop.

I think Enter and Space keys should

[2017-08-30 19:11] jessegreenberg commented on #143
Thanks @terracoda, Ill create an issue for that.

[2017-08-30 19:12] jessegreenberg opened #152 "Behavior of enter and spacebar for buttons"
From #143 @terracoda said

[2017-08-30 19:15] terracoda commented on #143
Just tested in Safari 10.0.3, and I see that the Arrow keys do not cycle through the list of molecules, or the list of lights like they do in Firefox. I think cycling through is the expected behaviour, but I will have to check. I'll create an issue.

[2017-08-30 19:19] jessegreenberg commented on #152
The difference is actually the standard behavior for HTML buttons.  Enter fires the button when pressed down (which is why you get press and hold behavior) and spacebar fires when the button is released. Doing something different might interfere with screen readers.

@terracoda does this seem correct to you, do you think it is worth deviating for PhET sims?

[2017-08-30 19:22] terracoda commented on #152
Ok, that's great! Since that's the default behaviour, we should go with that. Thanks for checking. I was just operating on the idea that Enter and Space do the same thing. Thanks for clarifying that they don't **always** do the same thing!

[2017-08-30 19:23] terracoda opened #153 "Should Arrow keys cycle through options?"
From #143, @terracoda noticed that

[2017-08-30 19:23] jessegreenberg commented on #152
Sounds good, I was surprised too @terracoda!  Closing.

[2017-08-30 19:23] #152 closed

[2017-08-30 19:25] jessegreenberg commented on #153
@terracoda can you please check what Safari does in this example?

https://www.w3schools.com/html/tryit.asp?filename=tryhtml_form_radio

[2017-08-30 19:37] terracoda commented on #153
@jessegreenberg, Safari does not cycle through on the w3schools example, but in this example, where `role="radiogroup"` is being used, Safari cycles through.

According to the ARIA Practices radiobutton items in a radiogroup should cycle through.
https://www.w3.org/TR/wai-aria-practices-1.1/#radiobutton

Menu items in a menuliist would also cycle through. I am assuming they will be radiobutton ite

[2017-08-30 19:46] jessegreenberg commented on #153
Thanks @terracoda it is the difference between

[code]

and
[code]

We went with the first option because ARIA didn't seem necessary. The bottom one will cycle through because there is a custom script to do so. The second one cycles in Safari because there is custom JavaScript for the behavior.

[2017-08-30 19:55] jessegreenberg commented on #153
@terracoda which markup would you rather have, and how important is it that radios cycle in Safari? We could switch to the ARIA approach, but I would guess it might take 2-6 hours to do a custom solution with ARIA that would involve

- Modifying sun/RadioButtonGroup to handle arrow keys on our own.
- Testing role="radiogroup" and role="radiobutton" to see if they are supported in NVDA and JAWS.

S

[2017-08-30 20:03] terracoda commented on #153
Hmm, does `fieldset` have a mandatory default role? Maybe we can just add the roles without changing the html?

[2017-08-30 20:06] terracoda commented on #153
Ideally, we want the sim to work the same in all browsers if possible?

[2017-08-30 20:16] jessegreenberg commented on #153
@terracoda we can also add some ARIA to the current markup, but it seems more likely that the cycling behavior is coming from the associated JavaScript:
https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/examples/radio/js/radio.js

[2017-08-30 20:18] terracoda commented on #153
Well, fixing disparities between user agents is one of the arguments for/ goals of Web Standards.

This is likely a Safari bug. It is pretty normal to cycle through groups of things (menu items, radio button items, listbox items).

[2017-08-30 20:33] terracoda commented on #153
Re https://github.com/phetsims/molecules-and-light/issues/153#issuecomment-326106131, yes, I think you are right. The cycling behaviour is built into the JavaScript because user agents do not all do the same thing, i.e., implement the specification as described.

Cycling in Safari likely won't come automatically by just adding the aria roles.

[2017-08-30 20:49] terracoda commented on #153
@jessegreenberg, I think it is worth investigating how well supported, the role "radiogroup" is in browsers and screen readers. The HTML `fieldset` element does not actually sound consistent across screen readers and all items within the `fieldset` are counted as items, rather than just the actual interactive items.

It's possible that
[code]
provides a better experience all around.

It is also po

[2017-08-30 20:53] terracoda commented on #153
@jessegreenberg, before making a big change in sun/RadioButtonGroup, maybe I could just provide some simple HTML snippets.

[2017-08-30 21:00] terracoda commented on #153
Here's another example using a `ul` and `aria-activedescendent`:
https://www.w3.org/TR/wai-aria-practices/examples/radio/radio-2/radio-2.html

[2017-08-30 21:11] jessegreenberg commented on #153
This is likely a Safari bug. It is pretty normal to cycle through groups of things (menu items, radio button items, listbox items).

Safari is going against the grain, but I question whether it is PhET's responsibility to ensure consistency. To me this seems like a case where we adhere to standards and assume the browser takes care of the rest.

I agree, definitely worth looking into.  We initiall

[2017-08-31 13:32] terracoda commented on #153
@jessegreenberg

Hmm, I feel it is a bit more nuanced than that. Yes, we should use HTML wherever possible first, and only use ARI when HTML can't do the job on its own. The ARIA specification came into being because HTML did not have the built-in semantics to describe all states, roles, and properties needed to make web applications more accessible. Then, HTML (HTML5) started adding more native e

[2017-08-31 13:35] terracoda commented on #153
More specifically, how should we go about testing some code samples that can give us the most accessible radio button lists in order to create an inclusive design pattern that serves PhET sims. There are several options:

1. ` fieldset `element as a grouping option -  Gets a group role by default. Drawback AT counts all elements inside the fieldset as items. May be readout inconsistently by AT.
2.

[2017-08-31 14:20] terracoda commented on #153
In the [Using ARIA document section 2.14](https://www.w3.org/TR/using-aria/#html-aria-gaps), the is a list of ARIA roles not native to HTML.  The roles `radiogroup` and `radio` are not on the list, so in theory we should be able to communicate these roles natively in HTML.

[2017-08-31 14:22] terracoda commented on #153
Maybe this issue should be moved to the a11y-research repo?

[2017-08-31 16:36] jessegreenberg commented on #153
Good idea @terracoda, this seems more general than specific to molecules-and-light.

[2017-09-01 19:37] zepumph opened #154 "state not saved correctly"
Copied from https://github.com/phetsims/phet-io/issues/851 to this repo

@samreid said
From #319:

1. Some photons are "leaking" and not getting removed from state
2. Clicking "Launch" yields a "duplicate item" issue
3. Molecule state is not saved.

And we reproduced this problem and January 11th, 2017

[2017-09-13 20:34] mbarlow12 commented on #151
Theory 1: the molecule's breakApart event is only emitted in BreakApartStrategy's step function, and it doesn't appear that the state calls the step function. It might be possible to instrument the emitter so that breaking apart is tracked in the state as well. It's also this event that handles updating the active molecules in the observable array.

Theory 2: Unlike photons, none of the Molecule t

[2017-09-14 15:44] mbarlow12 commented on #143
Tested in Safari 10.1.2, and the arrows are working properly. It looks like the 10.1 patch in March tackled some new JS and form input issues.

[2017-09-14 15:47] terracoda commented on #143
Awesome news @mbarlow12.

[2017-09-14 16:12] mbarlow12 commented on #143
Correct: I was confused about the desired behavior. @jessegreenberg clarified—new Safari does NOT jump back to the first item. Apologies!

[2017-09-14 16:14] terracoda commented on #143
Ok, still an issue to discuss for us, then ;-)

[2017-09-19 20:15] phet-steele opened #155 "Cannot register two different instances to the same id: infraredSlider"
I thought this was already reported, guess not...

[code]

[2017-09-19 22:20] jessegreenberg opened #156 "Remove explicit focusability handling for invisible UI elements"
In https://github.com/phetsims/scenery/issues/669, we made it so that  invisible items are hidden from keyboard navigation and screen readers. @mbarlow12 could you please remove the code that makes the "return molecule" button out of the focus order and verify that scenery is doing this for us?

[2017-09-19 22:20] jessegreenberg commented on #143
@terracoda would you please make a design doc for a11y for this sim?

[2017-09-19 22:24] jessegreenberg opened #157 "Disabled step button should be focusable"
According to https://ux.stackexchange.com/questions/103239/should-disabled-elements-be-focusable-for-accessibility-purposes it is an a11y recommendation that disabled  buttons remain focusable.  @mbarlow12  would you  please make the step button focusable when it is disabled?

[2017-09-20 14:19] terracoda commented on #143
@mbarlow12 and @jessegreenberg, here's a link to [Molecules and Light: A11y Design Main](https://docs.google.com/document/d/1r9D3vq4QvmmXkQ5G6HexpybUv_vL6LrYFb3wgPfUdWg/edit#heading=h.yycebzf92xvc)

May still need to add some considerations in this issue.

[2017-09-20 15:08] terracoda commented on #143
@amanda-phet, @arouinfar , @emily-phet, @mbarlow12 and @jessegreenberg, ok, I think I got all considerations in the design document.

Should this issue be closed?

[2017-09-20 15:12] terracoda commented on #143
@amanda-phet, @arouinfar , @emily-phet, @mbarlow12 and @jessegreenberg,
Should these buttons be in a group?

Can interested folks comment in the design document?

[2017-09-20 15:59] terracoda commented on #143
Sorry, I need to clarify last comment https://github.com/phetsims/molecules-and-light/issues/143#issuecomment-330883674,

I meant to say,

Should the Play, Pause, Step buttons be in a group?

And the grouping of these buttons can just take place in the DOM. It does not have to affect the current implementation of the tab navigation order, nor the use of the Tab key to focus the buttons.

[2017-09-20 16:14] jessegreenberg commented on #143
Thanks @terracoda! yes I think this issue can be closed.  Any further changes can be discussed and tracked in new issues.

I added a comment in the doc. Closing!

[2017-09-20 16:14] #143 closed

[2017-09-20 19:02] mbarlow12 commented on #151
@samreid had time to discuss this issue today. It appears that the Molecules are not instrumented at all; completing that would be the first phase to address this issue. The second will be ensuring proper creation and disposal/cleanup of the instrumented types.

@samreid estimated at least an hour for the initial work.

@ariel-phet and @kathy-phet, should we make this fix a priority for another re

[2017-09-20 19:12] kathy-phet commented on #151
@mbarlow12 - It sounds like you are working in this sim for a11y? If its synergistic, then fixing this phet-io bug would be great. Right now I don't know of a client who is using this sim, so its not requiring a quick turnaround with special testing.

[2017-09-21 17:20] mbarlow12 commented on #151
@kathy-phet - That's correct, as of now, I was assigned to a11y. Additionally, a11y is quite separate, so I can leave it alone for now if we don't want to spend the hours on it.

If we decide to move forward with sonification for the sim, then I think it'd make sense to tackle this issue simultaneously.

[2017-09-26 03:06] jessegreenberg commented on #157
Sorry, I have definitely heard this elsewhere, but that resource might not be correct! Lets sort out https://github.com/phetsims/sun/issues/317 before looking into this issue.

[2017-09-28 20:57] jessegreenberg commented on #153
In the last a11y meeting we decided that we will allow Safari to use its default behavior for radio  buttons and not cycle through from  bottom to top.

[2017-09-28 20:57] #153 closed

[2017-10-02 17:17] jessegreenberg commented on #157
In phetsims/sun#317 we decided that disabled buttons should stay in the navigation order,  so we can proceed with this issue.

[2017-10-02 18:03] mbarlow12 commented on #156
Confirmed that scenery properly removes the focus order. Closing.

[2017-10-02 18:03] #156 closed

[2017-10-02 19:34] mbarlow12 commented on #155
@zepumph helped work through this. We updated the disposal of properties in HSlider which handles the deregistration of tandems as well.

[2017-10-02 19:34] #155 closed

[2017-10-02 20:34] mbarlow12 commented on #157
Handled in above commit and noted in added comments. @jessegreenberg is it worth making a new chip-away issue for common code types that can be disabled like StepButton, RoundPushButton, and RoundToggleButton?

[2017-10-03 17:16] jessegreenberg commented on #157
Commit looks good @mbarlow12,  thanks.  I think it would be good to move that note out of ```StepButton``` to a more general design doc that collects PhET a11y considerations, Ill go ahead and move it if you agree.

[2017-10-03 17:19] jessegreenberg commented on #157
I don't think so @mbarlow12, this was the one of the first a11y sims that had a disabled button, and the rest of our button types are staying in the focus order by default (I checked RoundButtonView to make sure).

I think this can be closed.

[2017-10-03 17:19] #157 closed

[2017-10-03 17:24] jessegreenberg opened #158 "ExcitationStrategy broken"
Found on master, NO2 doesn't 'light up' when it absorbs visible light.

[2017-10-03 17:30] jessegreenberg commented on #158
@mbarlow12 would you mind looking into this?  I am wondering if this is from #144?  I can't find a reference to  ```highElectronicEnergyState.set()``` outside of ```fromStateObject``` so maybe it got removed.

[2017-10-03 17:43] jessegreenberg commented on #158
Or maybe that Property was missed.

[2017-10-05 16:44] zepumph opened #159 "Add molecule state to the data stream for Mike Winters"
Mike emailed us after I delivered him a phetio dev version of MAL:

Mike

I'll look into this, perhaps it would be easy to add.

[2017-10-05 16:46] jessegreenberg commented on #159
Very possibly related to #151 and #154.

[2017-10-05 18:00] zepumph commented on #151
Mike Winters was delivered a phet-io version of this sim this week. He is interested in getting state data of the molecule from the data stream (see [issue here](https://github.com/phetsims/molecules-and-light/issues/159). In a test was able to pass tandems through to the CO molecule and convert a few properties to Properties and instrument them. It was pretty straightforward and I think is necess

[2017-10-05 18:05] zepumph commented on #151
tagging https://github.com/phetsims/molecules-and-light/issues/154 in this issue as well.

[2017-10-05 18:32] zepumph commented on #151
After talking with @samreid, I am going to first pass tandems through to molecules, that will solve Mike's current issues. From there we should work on dynamic save/load.

[2017-10-06 03:21] zepumph commented on #151
I was able to instrument the Molecules enough to get the rotation, rotationClockwise, and vibrating properties onto the data stream. From here we will need to add a way to dynamically create molecules just like we are doing for photons.

[2017-10-06 18:23] zepumph commented on #159
Mike emailed back and wondered why these properties have to be nested under the Molecule name.

The following is a slack chat between @samreid and me.

Sam Reid [7:39] :
What if winters uses a matching pattern to detect which property to attach to?

Like a regular expression that matches `moleculesAndLight.moleculesAndLightScreen.model.*.vibratingProperty`

Michael Kauzmann [7:40 AM]
that seems ni

[2017-10-06 18:24] zepumph commented on #159
I'm still unsure about how to handle this. I'll ask Mike if he can cover it with regex for now.

[2017-10-06 19:26] zepumph commented on #151
So far I was not able to get the whole molecule state to save. I set things up well to continue though. I was clearing the molecule successfully, now I just have to find a way to add the molecule back in. One worry I have is that we need to know what the ObservableArray `model.activeMolecules` looks like before creating the molecules, so I think that we need to rework to setState method in phetio

[2017-10-06 19:31] zepumph commented on #159
MIke said he is good on a workaround. No matter I am interested in what would be best as a designed experience to a data stream user. @samreid should we just assume that when we get to MAL, there will be a data stream design meeting, and this will be sorted out?

[2017-10-06 19:34] samreid commented on #159
A MAL PhET-iO design meeting sounds like a good plan.

[2017-10-06 23:14] zepumph commented on #159
Alright then in that case I will go ahead and close this issue. From here I will try to work with Mike to get him usable phet-io features at the lowest cost to us (if it's small). Closing

[2017-10-06 23:14] #159 closed

[2017-10-06 23:19] mbarlow12 commented on #158
Fixed in 4614bf8d715497641643f95674a287c323ef5786.

[2017-10-06 23:19] #158 closed

[2017-10-09 19:52] arouinfar opened #160 "Keyboard Navigation Dialog"
@terracoda I imagine this dialog will match the Ohm's Law/Resistance in a Wire dialogs, correct? I believe the molecule and light source selections act as radio buttons, so they won't need any explicit instruction in the dialog. Can you confirm?

Here's the latest dev:
http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.4.0-dev.1/molecules-and-light_en.html?accessibility

[2017-10-09 22:14] zepumph commented on #151
Decreasing priority.

[2017-10-10 17:29] terracoda commented on #160
@arouinfar,in the keyboard navigation meeting today, we decided to add some group details to the General Navigation section.

And we changed the two-way slider representation for all two-way sliders.

I will add the content here or in the design document and then assign to you.

[2017-10-11 16:10] terracoda commented on #160
@arouinfar, how's this for content?

[2017-10-11 16:16] terracoda commented on #160
oops, hit control enter...

**Keyboard Shortcuts**
**Light Source Frequency Slider**
Move slider: [Left Right] or [Up Down]
Move in smaller steps: [Shift] + [Left Right]  or [Shift] + [Up Down] (stacked)

**General Navigation**
Move to next item or next group of items: [Tab]
Move to previous item or previous group of items: [Shift] + [Tab]
Move between group items: [Left Right] or [Up Down]
Exit t

[2017-10-11 16:26] terracoda commented on #160
@arouinfar, not sure we need both "Frequency" and "Slider". The verb "adjust" works better with "frequency" and "move" works better with "slider".

Any thoughts?

[2017-10-11 18:51] arouinfar commented on #160
Thanks @terracoda! I think "Light Source Slider" is descriptive enough. "Frequency" may lead some users to believe that they are changing the frequency of the light, rather than the rate at which the photons are emitted. I'll mock up the dialog this afternoon.

[2017-10-11 18:55] terracoda commented on #160
Awesome. I like "Light Source Slider", too.

[2017-10-11 20:07] arouinfar commented on #160
@terracoda did you deliberately decide to leave out the pg up/pg down and home/end shortcuts?

[2017-10-11 20:23] jessegreenberg commented on #160
Is there a reason that the slider in any sim needs custom content?  \I am also curious about
 https://github.com/phetsims/molecules-and-light/issues/160#issuecomment-335932290 and why "Light Source Slider" needs to be used instead of "Slider Controls".  If we can use the same content as RIAW and ohms-law for all sliders that would make this dialog more scalable.

[2017-10-11 22:13] arouinfar commented on #160
@jessegreenberg I would be fine with leaving it as "Slider Controls". @terracoda can you take a look at the two previous comments, and let me know how I should proceed?

[2017-10-13 18:25] terracoda commented on #160
@arouinfar, sorry, I forgot the other shortcuts (it is such a small slider). I can add them.

@jessegreenberg and @jessegreenberg , I think that we need some flexibility in the naming of the controls, because so many sliders in PhET sims do not immediately look like sliders.

In the case of this sim there is only one slider, so I would not choose to say "Slider Controls" in the plural. I would lik

[2017-10-13 18:30] terracoda commented on #160
Actually using the heading **Light Source Slider** makes it easier to just refer to slider below when describing the control.

How is a user to know that the button-thing on the Light Source is a Slider Control?

[2017-10-13 18:33] terracoda commented on #160
**Keyboard Shortcuts**
**Light Source Slider**
Move slider: [Left Right] or [Up Down]
Move in smaller steps: [Shift] + [Left Right]  or [Shift] + [Up Down] (stacked)
Move in larger steps: [Pg Up] [Pd Down]
Move to start: [Home]

**General Navigation**
Move to next item or next group of items: [Tab]
Move to previous item or previous group of items: [Shift] + [Tab]
Move between group items: [Left Ri

[2017-10-13 19:05] phet-steele opened #161 "Multiple assertions."
Due to recent axon/tandem changes?

[code]

[2017-10-13 19:27] jessegreenberg commented on #160
Understood, thanks @terracoda, for sims like john-travoltage I can see us needing flexibility.

In this sim, it looks just like a normal slider so custom content doesn't seem necessary to me.

[2017-10-14 01:32] terracoda commented on #160
@jessegreenberg, I agree it looks like a slider, but I still think it is better to match the dialog content to something that might actually eventually be in the parallel DOM content. In Ohm's Law, there is heading in the PDOM that matches "Slider Controls", but I do no think that will be the case here.

My feeling is that the presence of the words "Light Source" somewhere in the dialog would bene

[2017-10-16 22:30] arouinfar commented on #160
Thanks for the clarification @terracoda!

These controls sound a little odd to me:

Move to maximum light source: [End]

The slider is controlling the rate of photon emission. Home turns off the light source, and End maximizes the rate. If we'd like to keep the "Move" language, then I think "Move to minimum value" and "Move to maximum value" makes a bit more sense. An alternative option would be:

[2017-10-17 12:27] terracoda commented on #160
@arouinfar, I also think "Move to min/max light source" is odd, and I think "Move to min/max value" is a little vague.In general, I feel increase and decrease would be better verbs than move for this sim.

Consistency is important, but so is clarity. We'll have to consider when a sim's control needs a bit more specific language. Hopefully, we will recognize a few patterns, so we don't have to use

[2017-10-17 12:38] terracoda commented on #160
@arouinfar, the general navigation text is not quite accurate. The Tab key will take a user to a group. A group basically behaves the same as an interactive item. Once on a group, and only once on a group will the arrow keys work to navigate between items in that group.

What do you think of this wording change? I think it has to be clear that un-grouped single items and groups are navigated as to

[2017-10-17 13:01] terracoda commented on #160
@arouinfar, here's my stab at the Light Source Sliders. If we make the heading more clear, maybe we can use briefer language in the description of the controls.

**Adjust Photon Emission Rate with Light Source Slider**
Adjust slider: [Left Right] or [Up Down]
Adjust in smaller steps: [Shift] + [Left Right] or [Shift] + [Up Down] (stacked)
Adjust in larger steps: [Pg Up] [Pd Down]
Turn off light so

[2017-10-17 17:19] arouinfar commented on #160
In the 10/17/17 keyboard nav meeting, we decided to change the general wording for sliders that look like sliders:
* Adjust slider [left][right] or [up][down]
* Adjust in smaller steps: [Shift] + [left][right] or [Shift] + [up][down] (on two lines)
* Adjust in larger steps: [Pg Up][Pg Down]
* Jump to minimum: [Home]
* Jump to maximum: [End]

We also decided on the following terminology for the Gen

[2017-10-17 20:27] terracoda commented on #160
@arouinfar, looks awesome!

[2017-10-17 20:29] arouinfar commented on #160
Thanks @terracoda! Off to @jessegreenberg for implementation or reassignment.

[2017-10-18 16:53] jessegreenberg commented on #161
I am unable to observer this locally, and continuous testing is showing all tests passing for molecules-and-light for a few days. Closing.

[2017-10-18 16:53] #161 closed

[2017-10-19 15:48] jessegreenberg commented on #160
@mbarlow12 would you mind working on this since you are taking lead for keyboard nav of this sim? You should be able to build this content with common view types in scenery-phet `SliderControlsHelpContent` and `GeneralNavigationHelpContent`, but let me know if the types are insufficient.

[2017-11-07 17:37] zepumph commented on #160
@mbarlow12 it would be really nice to get you on board with https://github.com/phetsims/scenery-phet/issues/343 before/while implementing this dialog. Please note in that issue if you have any ideas to make these icons more consistently sized/shaped.

[2017-11-15 19:13] zepumph commented on #160
I'll take a stab at this now that phetsims/scenery-phet#343 is solved for the most part.

[2017-11-15 22:56] zepumph commented on #160
This is pushed to master. Back to @jessegreenberg for review.

[2017-11-16 02:17] zepumph commented on #160
@jessegreenberg when you review this, could you especially look at the string key I made, I'm not sure if we want a convention for this, but adding "KeyboardHelp." like prefix may be something we want to do before publishing all of these scenery strings.

From slack:
hey in scenery-phet-strings_en.json, do you think that all of the keyboard help strings should be "KeyboardHelpDialog.X" or "Keyboar

[2017-11-16 18:36] jessegreenberg commented on #160
Code changes look great @zepumph.  I think that would be an improvement  to the keys. Ill udpate the ones in scenery-phet. This needs to be done along with https://github.com/phetsims/QA/issues/66. Dialog looks great to me! @terracoda or @arouinfar can you check master and review the look before we close this isssue?

[2017-11-16 18:58] arouinfar commented on #160
Looking pretty good @zepumph @jessegreenberg! I've noticed a few changes from earlier designs (such as the latest rc of RIAW). Notably, the arrow icons are much larger than before and there appears to be a bit less padding in the string-containing keys, such as "Shift". The end result is that the keys look a bit more crowded, so I think the RIAW look is preferable.

RIAW:
![image](https://user-ima

[2017-11-16 19:27] jessegreenberg commented on #160
Thanks for pointing this out @arouinfar.  As part of the review in phetsims/scenery-phet#343 Ill test the options to make them match the mockup the RIAW dialog.

[2017-11-16 19:36] zepumph commented on #160
Thanks @jessegreenberg. The arrow keys should be easy. I think that I decreased the width padding because of the look of the square keys, so make sure to test with the KeyNode component view in the scenery-phet demo to make sure that both types of keys continue to live in harmony. We may need to add another option/create a different key type. Keep me posted if I can help.

This will be a good test

[2017-11-16 23:18] jessegreenberg commented on #160
Here is the dialog for MAL now:
![capture6](https://user-images.githubusercontent.com/6396244/32921148-ad1cd68a-cae9-11e7-80d0-5bed6134e675.PNG)

@arouinfar can you please review the look now?

[2017-11-16 23:19] arouinfar commented on #160
Looks wonderful @jessegreenberg!

[2017-11-17 00:44] zepumph commented on #160
@jessegreenberg ready to close?

[2017-11-19 11:30] terracoda commented on #160
I agree looks awesome!

[2017-11-21 06:15] jessegreenberg commented on #160
Indeed, thanks for implementing this @zepumph, ready to go.

[2017-11-21 06:15] #160 closed

[2017-11-27 19:46] jessegreenberg opened #162 "Deploy keyboard navigable version of this sim"
We are ready to proceed with a minor release off of master with keyboard navigation for this sim. With the recent chipper 2.0 work, we grabbed a stable SHA of chipper to use with new RC's. Here it is:
[code]
@zepumph volunteered to prepare this RC, many thanks and assigning to him.

[2017-11-27 20:47] jessegreenberg commented on #162
@phet-steele just showed me a multi touch issue while interacting with both a keyboard and a mouse, deployment should be on-hold until those are generally resolved.

[2017-11-27 20:58] jessegreenberg commented on #162
Blocking issue: https://github.com/phetsims/scenery/issues/713

[2017-11-28 17:38] jessegreenberg opened #163 "Add labels to navigable components"

[2017-11-28 18:02] terracoda commented on #163
@jessegreenberg, I might already have some labels for this sim here:
https://docs.google.com/document/d/1r9D3vq4QvmmXkQ5G6HexpybUv_vL6LrYFb3wgPfUdWg/edit

[2017-11-28 18:06] jessegreenberg commented on #163
For radio buttons, use exac labels that are there.

For slider, use [light name] + Light source.
Add play, pause, step labels to  those buttons.
Add popup ARIA attribute to "Show light spectrum" button, and include text as accessible label.

[2017-11-28 18:07] jessegreenberg commented on #162
We also want to pull in #163.

[2017-11-28 18:08] jessegreenberg commented on #163
@zepumph would you mind working on this? Sorry about the chicken scratch in https://github.com/phetsims/molecules-and-light/issues/163#issuecomment-347611563. The design doc @terracoda added is much nicer. Let me know if you have any questions.

[2017-11-28 18:09] terracoda commented on #163
@jessegreenberg, I think I was wrong about the pop-up part for the Show light spectrum, button.

[2017-11-28 18:10] terracoda commented on #163
The Show light spectrum button would be more similar to the Keyboard Shortcuts button than the PhET Menu button.

Is there a general "Has pop-up" that would be beneficial for both cases?

[2017-11-28 18:11] jessegreenberg commented on #163
@terracoda would this be used?
https://www.w3.org/TR/wai-aria-1.1/#aria-haspopup

[2017-11-28 18:14] terracoda commented on #163
Yes @jessegreenberg , that is the proper attribute that we could use for any content that gets popped up in a dialog.

The PhET Menu button, I think is different because it pops up an actual menu, but it seems like it may also be in this category.

[2017-11-28 18:16] terracoda commented on #163
What is the difference in code between the PhET Menu button and the Keyboard Shortcuts button? They do sound different as currently implemented.

[2017-11-28 18:16] jessegreenberg commented on #163
The PhET menu button is already using this attribute. https://www.w3.org/TR/wai-aria-1.1/#aria-haspopup includes menus in their recommendation. @terracoda should we add this to the keyboard help button and the "Show Light Spectrum" button in this sim?

[2017-11-28 18:20] terracoda commented on #163
@jessegreenberg, I think if browser and AT support is good, it would be good to do the same for dialogs that pop-up.

It gives a user the awareness that they are in separate space than the sim.

[2017-11-28 18:21] jessegreenberg commented on #163
Sounds good! It was tested when we deployed john-travoltage so I am confident in it. If it is too verbose we can easily remove it later.

[2017-11-28 18:27] terracoda commented on #163
Sounds good.

[2017-11-28 22:10] jessegreenberg commented on #162
While we still want to bring in #163, phetsims/scenery#713 is sufficiently fixed to no longer be a blocking issue.

[2017-11-29 01:02] zepumph commented on #163
The a11y view on master should be correct. Please review @jessegreenberg

[2017-11-29 17:07] phet-steele commented on #163
@zepumph did your commits cause this in a handful of repos?:

[code]

[2017-11-29 18:22] zepumph commented on #163
Yes the above is because of me. In SceneryPhet I update a few of the a11y strings to be object with a "value" named key that holds the string. This breaks xss fuzzing. It will be fixed immediately in https://github.com/phetsims/a11y-research/issues/65.

[2017-11-29 18:25] jessegreenberg commented on #163
@zepumph this is looking great! I had a few questions:

- [ ] Could you please add a label for the close button in the light spectrum dialog?
- [ ] Sorry, it was requested later in https://github.com/phetsims/molecules-and-light/issues/163#issuecomment-347615642, but could you please add the `aria-haspopup` attribute to  the "Show Light Spectrum" button?
- [ ] In the interest of making i18n easier

[2017-11-29 18:52] jessegreenberg commented on #163
Sorry! You already did it!

[2017-11-29 19:02] jessegreenberg opened #164 "aria-valuetext is incorrect for HSlider in this sim"
Found in #163, NVDA always reading slider value of '0'.

[2017-11-29 19:06] jessegreenberg commented on #164
Fixed with the above commit.

[2017-11-29 19:06] #164 closed

[2017-11-30 22:43] zepumph commented on #163
Nope, but I'll fix it. See https://github.com/phetsims/phet-info/issues/62

[2017-11-30 23:35] zepumph commented on #163
This was the best way I could think of implementing so that we never got undefined problems. If you don't pass an accessibleLabel to a radio button group member when creating a RadioButtonGroup, but you always have that option add whatever the value of `currentContent.accessibleLabel`, then you end up passing Node `{ accessibleLabel: undefined }`, which will cause an error because node setters can

[2017-12-01 00:49] zepumph commented on #163
Everything else is fixed but the above.

[2017-12-01 19:15] jessegreenberg commented on #163
Got it, thanks for clarifying. I was wondering about
[code]

But it is really splitting hairs. I see there is some symmetry with phet-io on the preceding lines, and this way we don't hit
[code]
unless we need to.

I verified everything else is fixed, it is sounding sharp on NVDA. @zepumph good to close?

[2017-12-01 19:26] zepumph commented on #163
Now I'm confused. The only usage of `accessibleLabel || null` that I see is in `VerticalAquaRadioButtonGroup.js`, but I didn't put that in.

[code]

Now that we have done work to RadioButtonGroup, @jessegreenberg does this look appropriate as well? If so please close.

[2017-12-01 19:33] jessegreenberg commented on #163
I believe I added that code. I am more OK with the usage in VerticalAquaRadioButtonGroup since it is the only option used, we could also have

[code]

But I think the way it is is OK. Ill go ahead and close, but @zepumph if you are concerned please feel free to reopen.

[2017-12-01 19:33] #163 closed

[2017-12-08 00:12] zepumph commented on #162
On hold until we are done with friction, issues have come up that will effect this too, so I will take shas from master after friction has been published.

[2017-12-08 00:13] zepumph commented on #162
https://github.com/phetsims/friction/issues/47 should be close to closing.

[2017-12-21 00:49] jessegreenberg commented on #162
Friction has been deployed, this sim is no longer on hold. We need to clean up "group" focus highlights, and then this sim should be ready for a release candidate.

[2017-12-21 20:13] jessegreenberg commented on #162
On request that came up was to make sure the spacing was the same between focus highlights and outer highlights for the radio buttons.

![no-space](https://user-images.githubusercontent.com/6396244/34268418-d8515172-e63d-11e7-84f9-d2925a78ff34.PNG)
![more-space](https://user-images.githubusercontent.com/6396244/34268420-d9572d62-e63d-11e7-956d-8288255ce4e0.PNG)

This is happening because the molec

[2017-12-26 19:24] pixelzoom opened #165 "phetio ids should not be formed using string concatenation"
I ran into this while working on a similar issue, https://github.com/phetsims/tandem/issues/41.

In sonificationDefault.js, these lines all duplicate the '.' separator:

[code]

You should definitely _not_ be using string concatenation to form the `phetioID` to SimIFrameClient `invoke`, for the same reasons mentioned in https://github.com/phetsims/tandem/issues/41.

Assigning to @zepumph and @jbph

[2017-12-26 22:45] samreid commented on #165
I'd like to note that all commits on the file are from @briannatomlinson but it would be good for @pixelzoom @jbphet @zepumph and I to come up with a plan before we make a recommendation.

Let's discuss the big picture in https://github.com/phetsims/tandem/issues/41 and it will tell us how to proceed here.

[2017-12-26 23:23] pixelzoom commented on #165
Hmmm... If all commits are from  @briannatomlinson, then the `@author` annotations also need to be fixed.

[2017-12-27 00:32] samreid commented on #165
Unless it was copy/pasted from a different repo/author?

[2017-12-27 16:02] zepumph commented on #165
I agree. I have not touched sonification on this Sim. I helped to create the framework for the first few sonification wrappers though. Perhaps a copy paste error.

[2017-12-27 17:08] briannatomlinson commented on #165
Yeah, I might not have removed them when I copied the base text formatting
from RIAW for all of the first files for MAL. I can fix this next time I'm
at one of my pcs where github is installed. Didn't mean to cause confusion!

Just let me know what you'd like me to do w.r.t. the phetio ids (I was
trying to follow what John had been doing in other files, but maybe I
misunderstood)

On Dec 27, 2017

[2017-12-28 18:33] jbphet commented on #165
In the opening comment, @pixelzoom says:

then

He then references https://github.com/phetsims/tandem/issues/41 for the explanation of why we shouldn't do this.  That issue is quite long, with dialog going back and forth between @pixelzoom and @samreid with a little bit of @zepumph thrown in.  The last comment in that issue at the moment is a request by @samreid for some review.  So, can someone p

[2017-12-28 18:41] pixelzoom commented on #165
Will do so as soon as the work on encapsulating ids is completed in phetsims/tandem#41. (That's why this issue isn't assigned to you yet.)

[2017-12-28 18:43] pixelzoom commented on #165
Mea culpa, the issue was previously assigned to you.  Stand by for examples when phetsims/tandem#41 is completed.

[2017-12-28 19:10] pixelzoom commented on #165
@jbphet Here's the summary and examples that you requested.

`PhetioIDUtils` encapsulates the creation and manipulation of phetioID.  It's preloaded and you access it as a global (like QueryStringMachine.js).

Where sonificationDefault.js uses the separator literal ('.') and string concatenation, use `PhetioIDUtils.append` to form a phetioID.

Example diff:

[code]

String concatenations that invo

[2017-12-28 19:11] pixelzoom commented on #165
While preparing the above examples, I also noted that these 3 constants:

[code]

... have misleading names.  These are not Property ids, the area simple the phetioID of the screen, model and view respectively.

[2017-12-29 17:29] jbphet commented on #165
All of the current sonification wrappers use string concatenation for forming PhET-iO IDs.  I just checked the history of `PhetioIDUtils, and it was born yesterday (Dec 28, 2017), so I think this new requirement for not using string concatenation is a recent development (feel free to correct me if I'm wrong on this).  This begs the question of whether it is worth the time and effort to go back thr

[2017-12-29 17:34] pixelzoom commented on #165
@jbphet said:

If you're saying that it's a new requirement not to use anti-patterns for creating ids, then I agree.  But I'm having really difficult time understanding why no one recognizes that using string concatenation to form an id is a really bad idea (regardless of whether PhetioIDUtils existed) and why I'm getting so much push back on this.  Frankly, I'm about to drop it.

[2017-12-29 17:47] jbphet commented on #165
@pixelzoom - I don't think you should drop it, and I appreciate that you brought it to the attention of those of us who are developing sonification wrappers.  Also, I don't really see what I've said as pushing back on the idea of avoiding string concatenation, I'm just trying to do an honest cost-benefit analysis of the time required to make these changes in the existing wrappers and the value tha

[2017-12-29 17:55] pixelzoom commented on #165
Thanks for clarifying @jbphet, and sorry for venting in your direction.

[2017-12-29 17:57] briannatomlinson commented on #165
I don't mind making the changes, I'll update MAL when I get back to Atlanta.

Thanks for all of the recommendations; I'm happy to follow whatever styling
and syntax PhET wants. (I'll make the other changes to the variable names
too!)

Brianna

On Dec 29, 2017 12:47 PM, "John B" <notifications@github.com> wrote:

@pixelzoom <https://github.com/pixelzoom> - I don't think you should drop
it, and I ap

[2017-12-29 18:27] samreid commented on #165
I'm also having trouble rationalizing the cost-benefit analysis of the proposed work.  In my opinion, the syntax of the phetioIDs (i.e. that components are separated by dots) is *the specification* for how phetioIDs are designed.  I can understand the value in factoring out the `.` and functions for working with it, but is it really worth it if we decide the `.` will never change?  Since we agreed

[2017-12-29 23:11] jessegreenberg commented on #162
This was done in the  above commits. @terracoda @emily-phet @arouinfar @amanda-phet @zepumph can someone please spot  check the look of the outer highlights in https://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.4.0-dev.5/molecules-and-light_en.html?accessibility

Are we ready for an RC?

[2017-12-29 23:13] jessegreenberg opened #166 "Focus gets trapped after clicking focused "return molecule" button"
Found while spot checking for #162. When "Return  molecule" button is visible, focus it with keyboard and then click button with mouse. You have to press tab twice before  focus  hits the emission rate control slider.

[2017-12-29 23:27] jessegreenberg commented on #166
Fixed via https://github.com/phetsims/scenery/commit/b2f92356254bcac2e80ba8d3a16d357e1713457f.

[2017-12-29 23:27] #166 closed

[2017-12-29 23:36] arouinfar commented on #162
@jessegreenberg the spacing looks great, but the outer highlight looks quite a bit different than Rutherford Scattering (lighter color and thicker stroke weight). I've missed one or two recent keyboard nav meetings, so it's possible I missed the relevant discussion, but I wasn't sure if the difference was intentional or not. Regardless, I think it's looking pretty nice!

[2017-12-30 00:09] pixelzoom commented on #165
If you want to duplicate '.' and use string concatenation, go for it.

[2018-01-02 05:52] samreid commented on #165
I have not heard a compelling reason for factoring it out, however, I don't think I should make a unilateral decision on this, so perhaps we should chat at an upcoming developer meeting.

[2018-01-02 17:59] jessegreenberg commented on #162
Discussed on 1/2/18:

We like the current look in MAL, but wanted to change the way the outer highlight works so that it looks good in sims with dark backgroudns (like rutherford-scattering). We are going to remove the transparency of the outer highlight, and have two colors, one for dark backgrounds and one for light.

[2018-01-02 18:34] jessegreenberg commented on #162
Here are the colors that we decided on during some in-meeting prototyping:
For light backgrounds:
`OUTER_GROUP_FOCUS_COLOR = new Color( 'rgba(233,113,166,1.0)' );`
For dark backgrounds:
`OUTER_GROUP_FOCUS_COLOR = new Color( 'rgb(159, 15, 80, 1.0)' );`

[2018-01-02 23:58] jessegreenberg commented on #162
This was done in the above commit, which also includes support  for changing all focus highlight colors dynamically. This is required for sims with color profiles (like rutherford-scattering), where we need the darker group highlight color over black backgrounds and the lighter one over other white background.

I think we are ready for an RC for keyboard nav. But I am not sure about the state of b

[2018-01-03 00:00] jessegreenberg commented on #136
We are going to redeploy this sim soon with keyboard nav, so now could be a good time to look  into this. @ariel-phet should I look into this now?

[2018-01-03 00:07] jessegreenberg commented on #136
The memory leak that was so intense in jul 2016 is no longer there. Here is another profile of this sim with snapshots taken every 30 seconds:

![capture](https://user-images.githubusercontent.com/6396244/34504968-4ce68e3a-efdf-11e7-9221-6acba4e367c4.PNG)

After 90 seconds,  heap is 50% of what it was before. Maybe dispose has since been implemented in HSlider? Anyway, does this warrant more time

[2018-01-03 00:09] jessegreenberg commented on #142
This sim will soon be redeployed with keyboard navigation.  @jonathanolson @jbphet is this an issue that should be addressed now? If so, let me know if I can help. I am not sure if recent chipper 2.0 work complicates this issue.

[2018-01-03 05:55] zepumph commented on #162
Unassigning, let me know if you need me.

[2018-01-03 16:43] jbphet commented on #142
@jessegreenberg - yes, I'd like to address it while we have the opportunity.  Is the deployment planned off of master?

[2018-01-03 18:48] jessegreenberg commented on #136
I let the sim fuzz in the background while doing other stuff, here is the profile over 45 min or so.
![capture](https://user-images.githubusercontent.com/6396244/34534584-e71b13c6-f07b-11e7-86eb-f37a8559c356.PNG)

After 30 min it is at 34.7 MB, and after 45 min it is at 34.6 MB, so it seems to  have stabilized. I am ready to close this issue.

[2018-01-03 18:48] #136 closed

[2018-01-03 18:53] jessegreenberg commented on #142
@jbphet yes it will be off of master, but possibly with a stable chipper SHA that is before some chipper 2.0 work.
From nov 16: `6f8b4c139ef54b626df1ac052874826d4b646cc0`

[2018-01-05 22:49] pixelzoom commented on #165
@samreid said:

I don't understand what the big cost is here. I could change all of the client sites in a fraction of the time that we've spent discussing this.

Using knowledge about the syntax for visual inspection is fine. Writing (and duplicating) code that uses knowledge of the syntax to form or manipulate the ID is not OK.  Haven't we learned that from mistakes made with PhET's version ID?

[2018-01-05 22:52] samreid commented on #165
@pixelzoom what do you think about this part?

[2018-01-05 22:53] pixelzoom commented on #165
Do PhET-iO clients create phetioIDs, or do they use phetioIDs as they appear in the API specification? If they are creating phetioIDs, please point me to examples.

[2018-01-05 22:54] samreid commented on #165
If I understand correctly, this is an example: https://github.com/phetsims/molecules-and-light/issues/165#issuecomment-354340685

[2018-01-05 23:00] pixelzoom commented on #165
15 var SCREEN_PROPERTY_ID = 'moleculesAndLight.moleculesAndLightScreen';
16 var MODEL_PROPERTY_ID = 'moleculesAndLight.moleculesAndLightScreen.model' ;
76 var photonEmittedPropertyID = 'moleculesAndLight.moleculesAndLightScreen.model.photons';
96 var coVibratingPropertyID = 'moleculesAndLight.moleculesAndLightScreen.model.CO.vibratingProperty';
107 var coRotatingPropertyID = 'moleculesAndLight.mol

[2018-01-05 23:04] pixelzoom commented on #165
These 5 should be what you called "full-formed" IDs. There's no "creation" of the IDs needed, they are obtained from the API specification.

[code]

There's exactly one id that requires dynamic construction (which currently has a poorly-named var):

[code]

It might be useful to change `PhetioIDUtils.append` to be varargs, or add a new function for that takes varargs, so the above could be:

[code

[2018-01-06 00:10] samreid commented on #165
Let me try a different analogy.  Expression exchange has these lines of code:

[code]

The `!` symbol may change in a future version of requirejs, so we should factor it out like so (assuming for the sake of argument that requirejs supported dynamic strings):

[code]
I am not trying to be pendantic.  I'm trying to understand the heart of your argument by looking at a similar situation.

In my opin

[2018-01-08 16:25] zepumph commented on #165
@pixelzoom said:

I see no difference between clients using fully-formed ids or creating the ids they need from string concatenation. Either way they depend on a stable api to not have to change their code. If the separator changes (which after discussing with @samreid yesterday I can say that it will probably never) then that's a stable api problem, and the client will need to update their code n

[2018-01-08 17:34] pixelzoom commented on #165
@zepumph said:

This is misguided client code. The duplication of ``"sim.view.component."` is not relevant when the id is a "black box" specified in the API.

[2018-01-08 17:42] samreid commented on #165
I agree with @pixelzoom's recommendation to generally use fully-formed phetioIDs where possible.

[2018-01-08 18:01] zepumph commented on #165
Consensus

* Don't split up ids into component parts, keep them as a "black box" whenever possible.
* Use PhetioIDUtils.js in sim code
* Use PhetioIDUtils.js in our wrappers where needed, like in `active.html`
* Don't enforce or encourage use of PhetioIDUtils.js in client code. @pixelzoom recommends being silent on the issue.

[2018-01-09 18:15] jessegreenberg commented on #142
@jbphet this is the last issue before this sim is ready for an RC with keyboard navigation, do you have a time estimate for this issue?

[2018-01-12 16:42] jbphet commented on #142
@jessegreenberg and I discussed this, and I'll see if I can take care of it quickly today and, if I can't, we will move forward with the release and fix it later.

[2018-01-12 18:31] jbphet commented on #142
I looked at it for a while, and my current understanding is that the changes that are still needed are in babel, not the sim code.  I spoke with @jonathanolson, and he mostly agreed, but suggested that I test it.  I tried to do this by moving the Arabic translation of MAL to the "tests" branch of babel and then testing the strings, but this didn't work.  There are a number of things that could hav

[2018-01-15 23:36] jessegreenberg commented on #162
RC prepared here: https://github.com/phetsims/QA/issues/84

[2018-01-16 17:27] phet-steele opened #167 "LoL icons and descriptions"

[2018-01-16 19:11] arouinfar commented on #167
Done!

[2018-01-16 19:11] #167 closed

[2018-01-17 17:08] samreid commented on #165
Fixed in active.html and tested in requirejs and built.  I'll look through the rest of phet-io-wrappers to see if we need a similar change elsewhere.

[2018-01-17 22:22] jbphet opened #168 "Multiple notifications being received for what should be a single state transition"
I'm working to track down an issue with a sonification wrapper for Molecules and Light where the sounds are sometimes played more loudly than they should be.  Here was what was reported to me:

I've done some investigation on this, and the reason that the sounds are loud is that the property `moleculesAndLight.moleculesAndLightScreen.model.CO.vibratingProperty` is reporting changes to `true` multi

[2018-01-17 22:22] jbphet commented on #168
I'm not sure who is the main person to tackle such issues right now, so I'm assigning to @samreid to address or delegate as appropriate.

[2018-01-17 23:46] samreid commented on #168
The workaround in the above commit does not solve the problem, so please continue to watch your ears while testing.  There are still multiplied audio plays called from this code:

[code]

This link of code:

[code]
is being called whenever the molecule type changes, so the listener is being registered and called many times.

Perhaps the wrapper should unlink the previous listener before linking a

[2018-01-17 23:55] samreid commented on #168
For the record, a nice way to test this is to change the body of SoundClip.play to:

[code]

then add console.log statements before each link statement in the sonificationdefault.js.  Then running the sim won't blow out your speakers and will make it clear where the culprit lies.

[2018-01-18 03:57] samreid commented on #165
I addressed all of the sites using `+ '.` and `.' +`, There may be other cases but in my opinion we can address those as we come across them.  @pixelzoom would you like to review?

[2018-01-18 14:35] briannatomlinson commented on #168
@samreid wanted to let you know that I saw this.

I've got some time this afternoon that I'll try it out. Are unlinks formed the same way as the link syntax is? I don't think I've used them before

[2018-01-18 17:03] samreid commented on #168
I can see in PropertyIO.js that unlink has the same signature, but as far as I know it is not well tested, and I'm concerned about whether the same listener reference is used.  Reassigning to myself for investigation.  If this unlink approach doesn't work, we may have to investigate an alternative like wiring up all listeners at the beginning but checking which callback was called before playing s

[2018-01-18 17:48] #165 closed

[2018-01-19 03:28] samreid commented on #168
I tried popping out the inner link like so, and it seems to have eliminated the duplicate notifications.  However, it should be carefully reviewed to make sure the behavior is as desired and there are no bugs introduced.  @briannatomlinson can you please take a look?

[code]

[2018-01-19 04:41] briannatomlinson commented on #168
Sure! I'll check it out tomorrow

On Jan 18, 2018 10:28 PM, "Sam Reid" <notifications@github.com> wrote:

[2018-01-19 19:35] jessegreenberg opened #169 "Add prototype descriptions to this sim"
Researchers at Georgia Tech have designed descriptions for this sim and we would like to add them as a prototype for how they will sound with a screen reader.

Just a note that this would be a great use case for the new one-off deploy process, though it is still a work in progress.

[2018-01-19 19:41] jessegreenberg opened #170 "branch: description"
In support of #169, this branch has prototype description for this sim. Would be great a s a one-off deploy, though that has not been implemented yet. But presumably could be used with this branch.

In the meantime I will update version and package.json in this branch to reflect the way the process will work.
branch: sonification
version: 1.5.0-sonification.1
deploys to molecules-and-light/1.5-son

[2018-01-21 14:20] emily-phet opened #171 "https://github.com/phetsims/molecules-and-light/issues"

[2018-01-21 14:21] emily-phet opened #172 "Unwanted loud sounds"

[2018-01-21 14:22] emily-phet commented on #172
Just testing out using Projects - didn't realize I could create issues from there!

[2018-01-21 14:22] #172 closed

[2018-01-21 14:22] #171 closed

[2018-01-21 14:38] emily-phet opened #173 "just a test of how issues and project boards work"

[2018-01-21 14:40] #173 closed

[2018-01-21 14:40] emily-phet opened #174 "testing project boards 2"

[2018-01-21 14:43] #174 closed

[2018-01-22 18:47] jessegreenberg commented on #169
Done and deployed to spot:
https://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.5-description.1/phet/molecules-and-light_en_phet.html?accessibility

https://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.5-description.1/phet/molecules-and-light_a11y_view.html

[2018-01-22 18:47] #169 closed

[2018-01-22 20:32] phet-steele commented on #167
phetsims/QA/issues/84

[2018-01-23 21:32] BryceAG opened #175 "Edge poor performance"
Test device: Hanson

Operating System: Win 10

Browser: Edge

Problem description: performance is slow. Particles at full speed reduce frame rate to 8, and at slow speeds reduce it to 20. Even if no particles are moving (paused) trying to drag the light source slider is delayed, and highlights for which molecule the mouse hovers over is also delayed. Selecting a molecule or play/pause is also dela

[2018-01-23 21:57] briannatomlinson commented on #168
@jbphet is there a reason that something like `soundAssociations.moleculeReaction.rotation.stop();` wouldn't be stopping the sounds? I tried to trace it back to the SoundClip.js and it seems like the list of `activeSources` is empty when it's trying to stop the sounds.

I know @mikewinters10 was trying to have the sounds play the entire time a particle is moving so he had used the longer clips & w

[2018-01-23 23:11] samreid commented on #168
I changed sonificationDefault to read like so:

[code]

And found that the sound was not stopped.

[2018-01-23 23:16] samreid commented on #168
I observed the same problem.

[2018-01-23 23:21] samreid commented on #168
Sometimes when calling play, it gets scheduled for the next animation frame:

[code]

In that case, waiting in the wrapper until the play had started causes the stop to work properly:

[code]

It seems we should revise SoundClip so to address scheduled stops.

[2018-01-24 03:44] samreid commented on #168
I added an issue above with one strategy that could make it possible to stop scheduled audio clips.

[2018-01-26 19:19] briannatomlinson commented on #168
@emily-phet -- this was the issue we just talked about dealing with the clips not stopping when we move between the particles.

[2018-01-29 17:06] briannatomlinson commented on #168
I just updated the main sonificationDefault file to handle removing the listeners, using Sam's code. The only thing left to change is the buffer in sound clip, then I think this should be done.

[2018-01-29 18:52] phet-steele opened #176 "Assertion failed: Cannot register two different instances to the same id: ***.highElectronicEnergyStateProperty"
Assigning to @samreid since he made the commit that instrumented this property.

[code]

[2018-01-29 20:56] jessegreenberg commented on #175
Verified on my machine. It isn't great on the deployed version either, but seems to have gotten a bit worse since the last deploy.

Published version fluctuates between 15-30 fps in Edge
1.4.0-rc.1 goes fluctuates between 7-15 fps in Edge

[2018-01-29 21:09] jessegreenberg commented on #175
@ariel-phet can you please prioritize this issue given the performance of the deployed version? Should we investigate?

[2018-01-29 21:15] jessegreenberg commented on #175
I checked in with @phet-steele, he is not aware of Edge performance degradation for other sims.

[2018-01-29 21:27] jessegreenberg commented on #175
Framerate looks better when particle movemennt animation removed (but still adding/removing from the view).  Did we change the clip area implementation in this sim?

[2018-01-29 21:39] jessegreenberg commented on #175
Doesn't look like clip has changed, we are still using the clip workaround for Safari:

[code]

[2018-01-29 21:52] jessegreenberg commented on #175
I will wait to spend more time on this until hearing whether or not it is a priority.

[2018-01-29 22:23] samreid commented on #176
It seems we may need to dispose a molecule (and make sure its tandems get unregistered) before creating the new one.  @jessegreenberg are you available to help on this?

[2018-01-29 22:43] ariel-phet commented on #175
@jessegreenberg yes worth investigating (even if you don't necessarily fix it). We will be working with MS to make a Win 10 version of our app, and making such an app one the windows platform will require us using a webview in Edge. So it would be good to be able to show MS some places where Edge is performing poorly.

[2018-01-29 23:20] jessegreenberg commented on #176
Definitely, I can take a look.

[2018-01-30 00:00] jessegreenberg opened #177 "photons removed from observation window not being disposed"
@phet-steele noticed this in addition to #176. When Photons leave bounds of the observation window they are not disposed.

[2018-01-30 00:06] jessegreenberg commented on #177
Fixed in the above commit, instance count in instance-proxies is staying at around 90 (it was climbing to well over 1000 before).

[2018-01-30 00:06] #177 closed

[2018-01-30 00:06] jessegreenberg commented on #176
Fixed in the above commit, I can no longer produce the problem.

[2018-01-30 00:06] #176 closed

[2018-02-01 19:49] jessegreenberg commented on #175
Rendering photons with SVG brings framerate up to 60fps!

[code]
Performance is still bad when changing opacity of the photon emitter is still pretty bad. Maybe different renderer will help there too?

[2018-02-01 19:51] jessegreenberg commented on #175
Same for the photon emitter, changing opacity of the photon emitter is very fluid when using SVG.

[code]

[2018-02-01 20:05] jessegreenberg commented on #175
Committed above, pending testing.

[2018-02-01 23:02] jessegreenberg commented on #162
RC finished QA testing, and the one issue that was found has a workaround. We are ready for the next RC.

[2018-02-06 18:49] oliver-phet opened #178 "User question: Water/UV Light behavior"

[2018-02-06 19:30] arouinfar commented on #178
@oliver-phet from the Teacher Tips:

absorb UV.

I did a bit of searching, and it seems that water does not dissociate in the specific UV-B region included in the sim. In general, the [primary photodissociation reactions](https://en.wikipedia.org/wiki/Photodissociation#Photolysis_in_the_atmosphere) in the atmosphere are considered to be the dissociation of ozone and nitrogen dioxide, both of which

[2018-02-06 19:34] oliver-phet commented on #178
Thanks, @arouinfar. Responding to user and closing.

[2018-02-06 19:34] #178 closed

[2018-02-07 00:26] jessegreenberg commented on #175
Merged into 1.4 release branch.

[2018-02-07 00:31] jessegreenberg commented on #162
RC spot check deployed in https://github.com/phetsims/QA/issues/89. On hold until that issue is closed.

[2018-02-07 17:55] jessegreenberg commented on #175
@phet-steele pointed out that moving mouse over the radio button groups (and other things with hover styles for that matter) makes the performance drop. I am going to try setting sim renderer to svg and see if that helps.

[2018-02-07 18:19] jessegreenberg commented on #175
Rendering the whole sim with svg in canvas seems to really improve performance. I don't see any weird rendering artifacts that have been reported in other sims. I am going to make a new RC with this change.

[2018-02-07 19:04] jessegreenberg commented on #175
Merged into the 1.4 release branch.

[2018-02-07 19:18] jessegreenberg commented on #162
A new RC spot check deployed in phetsims/QA#90. On hold until that issue is closed.

[2018-02-07 19:41] phet-steele commented on #175
Performance is quite spectacular now.

[2018-02-07 19:41] #175 closed

[2018-02-07 20:01] jbphet commented on #168
@briannatomlinson - I've modified `SoundClip.js` so that it can handle the case where both start and stop are called before the loading of the sound buffer is complete.  Please test this in the context of the MAL wrapper and let us all know if this resolves the last part of this issue.

[2018-02-12 18:04] oliver-phet opened #179 "User request: Methane"

[2018-02-12 18:33] jbphet commented on #179
Originally, this simulation was a tab on the Greenhouse Gas simulation, and that tab did include methane.  It wouldn't be hard to add it to the HTML5 version.

![image](https://user-images.githubusercontent.com/3082831/36112963-7e8c89b6-0fe8-11e8-8eb5-db1cb02489d6.png)

[2018-02-15 16:32] briannatomlinson commented on #168
I think this all seems good.

[2018-02-15 16:32] #168 closed

[2018-02-21 19:17] phet-steele commented on #142
The above commit successfully forces chemical formulae to be LTR while the rest of the strings stay RTL. Tested on master using `locale=ar` and `locale=fa`. This is fa:

<img width="437" alt="screen shot 2018-02-21 at 12 15 30 pm" src="https://user-images.githubusercontent.com/5863899/36500280-1d9972a2-1701-11e8-8577-e430dbd860ae.png">

[2018-02-21 23:27] jessegreenberg commented on #162
Simulation was deployed. This issue can be closed.

[2018-02-21 23:27] #162 closed

[2018-02-22 22:43] jbphet commented on #142
@ariel-phet - does this warrant a maintenance release?  The currently published version of MAL for the ar locale is messed up.

[2018-03-14 16:30] jessegreenberg opened #180 "Add accessible descriptions to this sim"
We are ready to add accessible descriptions to this sim.  Here is a link to the description spreadsheet that defines various descriptions for the sim.

https://docs.google.com/spreadsheets/d/1AwlqM8DUchUunzUHyK63xXIIjVtgkV6Q55oDLlKC9hg/edit#gid=0

@mbarlow12 said he could work on this, thanks!

[2018-03-14 16:41] jessegreenberg commented on #179
@ariel-phet is this something that should be added? @mbarlow12 is going to be working in this sim in the near future for #180, could he work on this issue at the same time?