[2020-03-17 21:20] terracoda commented on #311
@jessegreenberg, I need a few re-arrangements/changes to the PDOM representation of the Timing Controls.
1. Please remove aria-labelledby for the group.
2. Please move the help text for the radiobuttons to under the Sim Speeds h4 heading.
3. Please use new non-changing help text for the Play/Pause/Step Forward buttons, and leave it after the buttons. The new help text is:
  -  Play sim at chosen s

[2020-03-17 23:23] terracoda commented on #244
@jessegreenberg, I think we addressed this issue by having a a change in light source, reset the photons, clearing all non-absorbed photons from the screen.

Do you think we can close?

[2020-03-18 00:08] terracoda commented on #311
@jessegreenberg, I swapped the order of the help text phrases for the Pause/Step Forward buttons.

[2020-03-18 01:06] terracoda commented on #308
@Matthew-Moore240, I really struggled with the static part of the screen summary, what do you think of the static screen summary below? You can ignore the dynamic screen summary and the interaction hint in this issue.

**Static Screen Summary**

_After the "static part" there's the dynamic screen summary:_

_And then the interaction hint:_

[2020-03-18 01:08] terracoda commented on #308
@Matthew-Moore240 if you like it, please assign issue to @jessegreenberg for implementation. If you don't like please iterate and ask for help if you need it.

[2020-03-18 01:22] terracoda commented on #302
@Matthew-Moore240, we also need to remove the rates in the sentence that describes the "dynamic state of the sim". I will created an issue for that, too.

[2020-03-18 01:35] terracoda opened #312 "Update to dynamic state of the sim sentence"
Related to issue #302 and the removal of Photon Rate slider, we need to make sure the sentence describing the current state of the sim is updating correctly. The examples in the design doc are outdated.

@Matthew-Moore240, can you please test the sim and adjust the examples in the design doc. We no longer need to describes rates because we only have 1 rate. We still need cases for for on and off,

[2020-03-18 01:43] terracoda commented on #311
@jessegreenberg, I forgot the word, "photons" in the help text. I forgot to discuss this at todays meeting, but I think folks will like it.

I am adding "photons" to https://github.com/phetsims/molecules-and-light/issues/311#issuecomment-600307078

[2020-03-18 02:25] terracoda commented on #311
@jessegreenberg, I have totally messed up this issue. I want to keep the help text under the Pause/Play and Step Forward buttons **dynamic**, like this for now:

[[Pause]] [[Step Forward (disabled)]]
Pause sim to step photons forward little by little, or keep playing sim at chosen sim speed.

[[Play]] [[Step Forward]]
Step photons forward little by little, or play sim at chosen sim speed.

[2020-03-18 02:44] terracoda commented on #304
@jessegreenberg, @BLFiedler has completed teh detailed descriptions for the light spectrum dialog here in the [design doc](https://docs.google.com/document/d/1r9D3vq4QvmmXkQ5G6HexpybUv_vL6LrYFb3wgPfUdWg/edit?pli=1#heading=h.2a5d8quri1dk).

Is it possible to do a nested list structure like Brett created under the bolded text, "H2: Frequency and Wavelength Ranges"? I think that structure could make

[2020-03-18 02:46] terracoda commented on #304
@Matthew-Moore240, you are still welcome to rad the content and comment if you like.

[2020-03-18 16:04] jbphet commented on #298
@wandita said to me (via email):

I like that one as well, so I will move forward with integrating it.

[2020-03-18 17:02] Matthew-Moore240 commented on #308
Yeah that looks good to me! assigning to @jessegreenberg

[2020-03-18 19:05] pixelzoom opened #313 "convert model.txt and implementation-notes.txt to .md"
.md is the PhET standard for these files.

[2020-03-18 19:31] terracoda opened #314 "Verbose vibration context response not reset after reset or page load"
@jessegreenberg, I am not sure if I already opened an issue for this bug. Apologies if this is a duplicate issue. I notice this behaviour a while ago, so it is not recently introduced.

**Issue at Normal Sim Speed**
The molecule "reactions" or context responses start off with slightly more detail, and then change to one-word descriptions.
- Bonds of molecule stretching.
- Stretching.

The verbose

[2020-03-18 20:19] Ashton-Morris commented on #284
I hope I got the right rotation one. This one sounded less like a foghorn to me. [Files Here](https://drive.google.com/open?id=1UdeAk6MxXEZMSj2Nt6tDi35R-jej5ppM)

- vibrate-longer-spatialized-slow-mo.mp3
- vibrate-longer-spatialized-slow-mo.wav
- vibrate-longer-spatialized.mp3
- vibrate-longer-spatialized.wav
- vibrate to be fixed.wav
- rotate-directions-001-reverse-spatialized.mp3
- rotate-direct

[2020-03-18 20:20] terracoda commented on #295
@Matthew-Moore240, I tested sim [emissionFrequency=0.6&slowSpeed=0.5](http://phettest.colorado.edu/molecules-and-light/molecules-and-light_en.html?ea&brand=phet&emissionFrequency=0.6&slowSpeed=0.5) on two VO Speech Speeds 60 and 45.

**With VO Speech set to 60 or above**
- the context responses are great at normal speed, slow, and step forward

**With VO Speech 45** which seems slow to me (not sur

[2020-03-18 20:42] terracoda commented on #295
@Matthew-Moore240, could you have a listen. You can change the numbers in the query parameter. I agree with @arouinfar and @BLFiedler that 0.6 and 0.5 are good settings for normal and slow.

[2020-03-18 20:46] terracoda commented on #295
I will open a new issue, where @Matthew-Moore240 and I can review and optimize the slow and step forward responses.

[2020-03-20 17:56] BLFiedler commented on #270
Script complete, ready for review (still need a finalized version of MAL before recording can begin)

https://docs.google.com/document/d/15am5708SUVtuKrX2X91zEbkkj8qSlYHkAtYOaMMUnT4/edit?usp=sharing

[2020-03-22 23:03] zepumph opened #315 "move a11y strings into main strings json"
From phetsims/chipper#795. @jessegreenberg you are working on this sim, want to take the lead?

[2020-03-23 18:38] terracoda commented on #296
@jessegreenberg, the help text is changed to option 3:
- Turn light source on to start photons.

[2020-03-23 18:46] terracoda commented on #295
@Matthew-Moore240 and @terracoda have new responses on the design doc to discuss with team on Tuesday.

[2020-03-23 18:58] jessegreenberg commented on #315
Done, MoleculesAndLightA11yStrings has been deleted.

[2020-03-23 18:58] #315 closed

[2020-03-23 19:08] jessegreenberg commented on #313
Thanks, done

[2020-03-23 19:11] pixelzoom commented on #313
Look again.  Your heading formatting is messed up.

[2020-03-23 19:16] jessegreenberg commented on #313
Thanks, a space is required after the "#" for it to format correctly, missed it because it was formatted correctly without it in the WebStorm preview.

[2020-03-23 19:16] #313 closed

[2020-03-23 19:30] terracoda commented on #312
@jessegreenberg, @Matthew-Moore240 and I have updated the dynamic state of the sim sentence. There are examples in the design doc [close to here](https://docs.google.com/document/d/1r9D3vq4QvmmXkQ5G6HexpybUv_vL6LrYFb3wgPfUdWg/edit#heading=h.lfzscx53fh1b), Dynamic State of the sim.

[2020-03-23 19:37] jessegreenberg commented on #314
Thanks @terracoda, fixed in the above commit. The alert manager is now reset when the model resets.

[2020-03-23 19:37] #314 closed

[2020-03-23 19:41] pixelzoom commented on #313
Yeah, the WebStorm preview isn't very accurate.  I always check it on GitHub.

[2020-03-23 20:05] jbphet commented on #284
Note to self: Once these sounds are finalized, @Ashton-Morris and I should revise their names in GitHub to something clear and concise, and should store any asset files that would help him to recreate and/or revise these in the future.

[2020-03-23 21:58] jessegreenberg commented on #312
Alright, this is done in master @terracoda and @Matthew-Moore240

[2020-03-23 21:58] #312 closed

[2020-03-23 22:28] jessegreenberg commented on #311
In the above two commits, I removed the `aria-labelledby` for the group and moved the help text for radio buttons under the "Sim Speeds" h4 heading.

The new dynamic descriptions for the Play/Pause/Step buttons in https://github.com/phetsims/molecules-and-light/issues/311#issuecomment-600391713 are sim specific.

I would strongly recommend that we don't use sim specific descriptions for these butt

[2020-03-23 22:30] jessegreenberg commented on #310
Thanks, and sorry, this comment should have pointed to an associated issue. Its still being discussed in #295, and I will make note of that at the comment.

[2020-03-23 22:32] #310 closed

[2020-03-23 22:35] jessegreenberg commented on #308
This is now up to date, closing.

[2020-03-23 22:35] #308 closed

[2020-03-23 22:41] jessegreenberg commented on #306
The interaction hint in master is currently

And the design document currently says

@terracoda can you comment on whether this issue can be closed or the dynamic part should still be included?

[2020-03-23 22:44] jessegreenberg commented on #305
Using macOS 10.15 with and without VoiceOver I am still not seeing this issue. @terracoda is this still happening for you?

[2020-03-24 00:26] terracoda commented on #285
@jessegreenberg, @Matthew-Moore240 and I worked on some tweaks/rephrasing of the current normal speed, slow speed and step forward context responses.

We tried to align the verb tenses, shorten the slow motion responses to account for slower screen reader speeds and align the phrasing a little better across the three speed modes.

Examples are found in the [Table: Review of Molecule Responses](htt

[2020-03-24 00:33] terracoda commented on #295
@jessegreenberg, instead of making a new issue, I made added a comment in #285.

[2020-03-24 00:38] terracoda commented on #311
@jessegreenberg, hmm, one way to not have all these sim specific responses is to disable of the Pause/Play button when the the Light Source button is off.

@Matthew-Moore240 and I think that makes a lot of sense. We can discuss at tomorrow's a11y design meeting.

[2020-03-24 00:41] terracoda commented on #311
@jessegreenberg, yes, we can remove "photons". That does generalize the help text.

[2020-03-24 00:43] terracoda commented on #311
@jessegreenberg, you were referring to dynamic help text not the context responses.
You can remove "photons" from help text and we will discuss the context responses tomorrow.

[2020-03-24 00:48] terracoda commented on #306
@jessegreenberg, yes, apologies, @Matthew-Moore240 and I just discussed the new context responses today. So if the new context responses will work, we won't need this help text to be dynamic.

I'll mark this issue onhold.

[2020-03-24 00:49] terracoda commented on #306
If the context responses are cleared fro implementation we can come back to this issue.

[2020-03-24 00:55] terracoda commented on #305
Yep. Here's a screen shot of  a pressed button and no molecule:
<img width="912" alt="Screen Shot 2020-03-23 at 10 22 53 PM" src="https://user-images.githubusercontent.com/1902116/77377104-221a0600-6d55-11ea-9e17-0b55bda2d777.png">

[2020-03-24 01:02] terracoda commented on #303
@arouinfar I agree the interaction technically falls under "Basic Actions", but we still might want to describe the most important interaction?  It could help some students less familiar with keyboard interactions.

I drafted some new content for consideration that we can discuss at Tuesday's design meeting.

[2020-03-24 01:09] terracoda commented on #299
@jessegreenberg, I have created new UI context responses for the following:
- Light Source Toggle Button
- Pause/Play Button
- Step Forward Button

They may be too sim specific as you mentioned in #311
I think the responses help clarify the interactions, but there may be other solutions that are more general.

Let's discuss at Tuesday's a11y design meeting.

[2020-03-24 13:42] BLFiedler commented on #270
Emily posted to the Waves Intro issue:

[2020-03-24 13:52] jessegreenberg commented on #305
OK should be fixed in the above commit, @terracoda can you please make sure I got it?

[2020-03-24 14:13] terracoda commented on #305
I verfied the fix @jessegreenberg. Nice work! Closing.

[2020-03-24 14:13] #305 closed

[2020-03-24 15:42] jessegreenberg commented on #304
It is possible. The descriptions have been added to the sim, and the PDOM looks like this when the spectrum dialog is open:
![image](https://user-images.githubusercontent.com/6396244/77446251-8cb65a80-6dc4-11ea-87d9-087351f058a2.png)

Back to @BLFiedler and @terracoda for review.

[2020-03-24 16:09] BLFiedler commented on #304
Looks great to me. I'll leave it up to Taliesin if that seems like it'll work well to navigate via screen reader.

[2020-03-24 18:19] Matthew-Moore240 commented on #284
Panning for the rotation notes.

1. If rotating clockwise I think starting hard in the left ear and moving right gives the rotation more movement to clockwise. The same thing for counter clockwise.

[2020-03-24 19:45] jbphet commented on #298
Approved in the 3/24/2020 sound design meeting, closing.

[2020-03-24 19:45] #298 closed

[2020-03-24 20:56] jessegreenberg commented on #311
Thanks very much @terracoda, that sounds great. The dynamic help text has now been added.

In summary, I
1) Removed the aria-labelledby for the group.
2) Move the help text for the speed radio buttons to under the "Sim Speeds" h4 heading.
3) Updated the help text for the Play/Pause/Step buttons.

Back to @terracoda to review to make sure everything is done for this issue.

[2020-03-24 21:08] jessegreenberg commented on #301
OK thanks, this was done in the above commits. @Matthew-Moore240 can you please review? Anything else for this issue?

[2020-03-24 21:14] jessegreenberg commented on #299
I read through the issue and all sounds good @terracoda. By the end of meeting today we didn't decide how to proceed with this issue. Removing my assignment for now, but feel free to reasign when its ready for more work.

[2020-03-24 21:20] terracoda commented on #299
I'll re-assign after I discuss with @emily-phet. Thanks!

[2020-03-24 23:17] jessegreenberg commented on #296
OK, done in the above commits. I added
1) an accessible name for the button
2) The aria-pressed attribute to the sticky button
3) Help text (5) from https://github.com/phetsims/molecules-and-light/issues/296#issuecomment-598240042
4) Optionally the `switch` role to the button, which can be added with query parameter ?switch.

Back to you to review these two options @terracoda. I tested on NVDA wit

[2020-03-24 23:20] jessegreenberg commented on #286
Sounds good! `aria-haspopup` is used in master.  Anything else for this issue @terracoda?

[2020-03-24 23:21] jessegreenberg commented on #244
Indeed, this has been addressed with #288! Closing.

[2020-03-24 23:21] #244 closed

[2020-03-25 12:49] terracoda commented on #296
Review of button with Voice Over
**Option 1 - regular toggle button**
- `aria-pressed="false"` read out as toggle button on focus
  - Infrared Light Source, toggle button
- Upon activation, a change to `aria-pressed="true"` - no announcement of state change
- `aria-pressed="true"` - on refocus "selected" is read out confirming the state change.
  - Infrared Light Source, selected, toggle button

T

[2020-03-25 13:44] terracoda commented on #286
@jessegreenberg, you convinced me to use `aria-haspopup="dialog"` instead of aria-haspopup="true".

Please go ahead and change. I am seeing ` aria-haspopup="true"` and NOT `aria-haspopup="dialog"`

[2020-03-25 13:56] terracoda commented on #301
Looks good @jessegreenberg.

[2020-03-25 13:56] #301 closed

[2020-03-25 14:59] jessegreenberg commented on #286
Thanks for checking! Fixed in the above commit.
![image](https://user-images.githubusercontent.com/6396244/77550575-a8cf0000-6e87-11ea-9d72-913719e8dc39.png)

Closing.

[2020-03-25 14:59] #286 closed

[2020-03-25 15:09] jessegreenberg commented on #296
I verified that with ?switch the aria-pressed state is changing.
When not pressed:
![image](https://user-images.githubusercontent.com/6396244/77551616-f5670b00-6e88-11ea-96b7-61aecc8ebdbd.png)
When pressed:
![image](https://user-images.githubusercontent.com/6396244/77551693-06178100-6e89-11ea-893e-3368bc278364.png)

[2020-03-25 15:16] jessegreenberg commented on #296
Results with NVDA + Firefox:
Option 1:
- (Focus When not pressed): Infrared Light Source, toggle button, not pressed
  - (Pressing without moving focus): "Pressed"
- (Focus when pressed): Infrared Light Source, toggle button, pressed
  - (Pressing without moving focus): "Not Pressed"

Option 2: Identical to option 1.

[2020-03-25 15:32] jbphet commented on #295
Over Slack, @emily-phet said the following to me with respect to [this dev version](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.40/phet/molecules-and-light_en_phet.html):

I'm not sure how that will compare to the numbers discussed above for the speed settings, but I thought I'd add it as a point of comparison.  If the ultimate rate is substantially different than 70 bpm, I th

[2020-03-25 15:33] jessegreenberg commented on #296
Over slack, @terracoda and I discovered that we are supposed to use aria-checked with role=switch rather than aria-pressed. Re-testing Option 2:
**Results with NVDA + Firefox:**
Option 2:
- (Focus When not pressed): Infrared Light Source, toggle button, not pressed
  - (Pressing without moving focus): "Checked"
- (Focus when pressed): Infrared Light Source, toggle button, not pressed, checked
  -

[2020-03-25 15:42] BLFiedler commented on #295
The above numbers (emissionFrequency=0.6&slowSpeed=0.5) are a little faster. Coming out to about 96 BPM with two tests @ 10 sec each.

[2020-03-25 15:53] jessegreenberg commented on #296
Trying to improve NVDA, we tried using both aria-pressed AND aria-checked. State is reported correctly, but "pressed" and "checked" are both included.
**Results with NVDA + Firefox:**
Option 2:
- (Focus When not pressed): Infrared Light Source, toggle button, not pressed
  - (Pressing without moving focus): "Pressed, checked"
- (Focus when pressed): "Infrared Light Source, toggle button, pressed,

[2020-03-25 16:02] jessegreenberg commented on #296
Over slack @terracoda said that VO still sounds OK with both aria-pressed and aria-checked attributes. Unfortunately, the state change response is lost when aria-pressed is included. But the role and state are still conveyed correctly on focus.

We are going to proceed with
[code]

[2020-03-25 16:21] arouinfar commented on #295
Counting the number of photons emitted in 15s, [emissionFrequency=0.6](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.40/phet/molecules-and-light_en_phet.html?emissionFrequency=0.6&slowSpeed=0.5) is coming out to ~90 BPM. Bumping it down to [emissionFrequency=0.5](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.40/phet/molecules-and-light_en_phet.html?emissionFre

[2020-03-25 19:24] terracoda commented on #296
Just confirming and documenting that with Safari and VO, the states and switch role are communicated nicely on focus:
- Infrared Light Source, off, switch
- Infrared Light Source, on, switch

Without the extra attribute, VO also communicates the state change upon activation:
- on, Infrared Light Source
- off, Infrared Light Source

Once the bug in NVDA is fixed, we will be able to remove the unnec

[2020-03-25 19:43] terracoda commented on #311
This all sounds wonderful @jessegreenberg!

[2020-03-25 19:43] #311 closed

[2020-03-25 20:48] terracoda commented on #304
@BLFiedler, for the Visible light description, how do you feel putting the rainbow description as the first sub-bullet? It is new info, not following the same pattern as the light sources. I think it could be skipped over easily if it is the third bullet.

With the change, it would read like this:
- Visible, tiny range:
   - Shown from low energy to high energy as a rainbow of colors (dark red to

[2020-03-25 20:52] BLFiedler commented on #304
Shown as a rainbow of colors (dark red to red to orange to yellow to green to blue to violet).
Frequencies 4 times 10 to the 14 to 7 times 10 to the 14 Hertz.
Wavelengths 7 times 10 to the negative 7 to 4 times 10 to the negative 7 meters.

I think that's a good idea. I agree it could be easily skipped. Everything (frequencies, wavelengths, light spectra) is listed low to high energy, so I agree i

[2020-03-25 20:54] terracoda commented on #304
@jessegreenberg, could you adjust the content so it is the same as the group in https://github.com/phetsims/molecules-and-light/issues/304#issuecomment-604079253

[2020-03-25 21:08] terracoda commented on #303
@arouinfar and @Matthew-Moore240, we didn't get to this item in the agenda in our last meeting.
I think this content would work nicely, for the keyboard shortcuts dialog.

Do you both agree?

Note that content in square brackets represents key icons for the visual content which is listed first.

VISUAL CONTENT
**Keyboard Shortcuts**
[Tab] to get started

**Light Source**
Turn light source on or of

[2020-03-25 21:15] arouinfar commented on #303
@terracoda content looks pretty good, just a few comments.

Turn light source on or off [Enter] or [Space]

Should we swap the order to `Space` or `Enter` to match the order used for buttons under "Basic Actions" and the non-visual content for the Light Source?

Is there a reason to omit the `Enter` key here? This description doesn't line up with the visual content. We also mention both the `Space

[2020-03-25 21:43] terracoda commented on #303
@arouinfar, good catch. It should be the same as other sims like Friction and BASE.

[2020-03-25 21:45] terracoda commented on #303
I just checked BASE
![Screen Shot 2020-03-25 at 7 15 18 PM](https://user-images.githubusercontent.com/1902116/77588525-ff126200-6ecc-11ea-8f44-014d94f429ad.png)

[2020-03-25 21:46] terracoda commented on #303
@jessegreenberg, would need a mock up for this?

[2020-03-26 10:09] terracoda commented on #285
@jessegreenberg, we didn't get to this item in Tuesday's meeting.
Could you review the  [Table: Review of Molecule Responses](https://docs.google.com/document/d/1r9D3vq4QvmmXkQ5G6HexpybUv_vL6LrYFb3wgPfUdWg/edit#heading=h.8gkq5oll4829), and let us know if all the suggested changes are possible?

The main changes are in Slow motion and in Step Forward modes, though there are a couple of tweaks to th

[2020-03-26 14:04] jessegreenberg commented on #303
Nope, thanks @terracoda, https://github.com/phetsims/molecules-and-light/issues/303#issuecomment-604088541 should be sufficient.

[2020-03-26 14:29] terracoda commented on #303
@arouinfar, re the content under Basics Actions, it should be both [Space] and [Enter], but we left off [Enter] for simplicity.

We can keep that simple for now, or make an issue in common code to update it to include both keys. I forgot that it was simplified.

[2020-03-26 14:31] terracoda commented on #303
@jessegreenberg and @arouinfar, I updated the content in https://github.com/phetsims/molecules-and-light/issues/303#issuecomment-604088541

Apologies for reading @arouinfar's entire comment :-)

[2020-03-26 18:05] jessegreenberg opened #316 "Correct scaling of the LightSpectrumDialog"
Since we are working on this sim now, we can do this while it is fresh. From https://github.com/phetsims/joist/issues/586

[2020-03-27 10:30] terracoda commented on #299
@jessegreenberg, I spoke with @emily-phet about how to move forward on the Time Control Node and UI Context responses for this widget. Here's the two-pronged approach that  mentioned on slack:
1. First implement the UI context responses for Pause/Play and Ste Forward buttons so we have an accessible non-visual experience, and then
2. work on the new option that would allow disabling the Pause/Play

[2020-03-27 10:41] terracoda opened #317 "Implement UI Context Responses for Pause/Play and Step"
Following up to comment in https://github.com/phetsims/molecules-and-light/issues/299#issuecomment-604927266

Based on interviews with non-visual learners the Pause/Play and Step Forward buttons were not very intuitive to use.  This may have been in part due to the lack of context responses to communicate state changes.

To move forward with making this sim more accessible to non-visual learners,

[2020-03-27 11:35] terracoda commented on #317
@jessegreenberg, there are sim-specific and general responses in the table.

If it is not too much work, could you implement the sim-specific responses for now?

AND then we can review the general responses with others on the team when we discuss updates to Time Control Node?

[2020-03-27 12:16] terracoda commented on #295
@arouinfar, I think it feels pretty good at 0.5 as the base emission frequency, and as long as the photon fires close to immediately in both fast and slow cases, we might be fine.

I am willing to compromise with 0.55, so really either is fine.

[2020-03-27 12:17] terracoda commented on #295
Pinging @jbphet, to see if you are waiting on the outcome of this issue to finalize the sound?

[2020-03-27 12:21] terracoda commented on #295
I'll just add, because the sound can be constant, I don't think it hurts to be a little cautious or conservative with the emission frequency. With the slider users could start out slow. With the button, the normal rate is immediate. We do want that normal rate to be comfortable for learners.

[2020-03-27 12:24] terracoda commented on #295
@Matthew-Moore240 and @wandita can you both have a listen to the rates @arouinfar posted in https://github.com/phetsims/molecules-and-light/issues/295#issuecomment-603938661

These links are dev links so they should work for you both.

[2020-03-27 12:27] wandita commented on #295
Hi Taliesin
Thanks!
Where is the link? If the link is buried in Slack it is difficult. Do you have a direct link to it?
wanda

[2020-03-27 12:34] terracoda commented on #295
@wandita, apologies. Here are the choices for the emission rate:
1. Approximate rate of 90 BPM [emissionFrequency=0.6](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.40/phet/molecules-and-light_en_phet.html?emissionFrequency=0.6&slowSpeed=0.5)
2. Approximate rate of 72 BPM [emissionFrequency=0.5](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.40/phet/molecules-a

[2020-03-27 12:35] wandita commented on #295
Thanks Taliesin!
I will listen shortly!
wanda

[2020-03-27 12:58] terracoda opened #318 "UI Context Responses for Light Source Toggle Switch"
Related to issue https://github.com/phetsims/molecules-and-light/issues/296#issuecomment-604038103 and issue #317

To consistently communicate state changes and to warn users that the sim might be paused, we have the following context responses for the Light Source toggle switch.
- [Table: Light Source Toggle Switch](https://docs.google.com/document/d/1r9D3vq4QvmmXkQ5G6HexpybUv_vL6LrYFb3wgPfUdWg/e

[2020-03-27 13:10] terracoda opened #319 "Consider changes to UI Context Responses dependent on Time Control Node"
From https://github.com/phetsims/molecules-and-light/issues/299#issuecomment-604927266, we think this simulation would benefit many learners if the Pause/Play button was disabled when the light source is switched off.

We will consider updating or changing descriptions for this sim already outlined in #317 and #318 once Time Control Node has this option available.

This issue is also somewhat rela

[2020-03-27 13:31] wandita commented on #295
Dear Taliesin
Thank you so much!
Do we have a way  not to have to go through the “story telling” and all the functionalities to go directly to the sounds”?  (i.e  correct me if I am wrong…the interest is to hear the different rates …let me know)
In my browser he linksopen the Simulation and I have to through the whole simulation to hear the sounds of interest.   Do you have the sounds only as a se

[2020-03-27 13:40] terracoda commented on #295
@wandita, again, my apologies the dev version do not yet have a name on the light source button. It is just read out as "button" on focus.

I don't have access to pre-recorded emission frequency rates.

I suggest we have a quick zoom call or you can load each version in a browser tab, and then just press the tab key until you get to the unnamed "button" in each version seperately. The un-named but

[2020-03-27 13:42] terracoda commented on #295
@wandita, also I can see f I can get a later dev version with a properly named button.

[2020-03-27 13:51] terracoda commented on #295
@wandita, here are 3 accessible light source switches:
1. approximately 90 BMP or [emission Frequency 0.6](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.41/phet/molecules-and-light_en_phet.html?switch&emissionFrequency=0.6&slowSpeed=0.5)
2. approximately 72 BMP or [emission Frequency 0.5](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.41/phet/molecules-and-ligh

[2020-03-27 15:11] jessegreenberg opened #320 "Should the PlayPauseButton become disabled when the light source is off?"
The reasoning for doing this is to make it more clear that the photon emitter "On" button is the most important element in the sim, and make it so the PlayPauseButton isn't the first thing the user interacts with. But there are still some problematic cases with this feature that we should sort out. Before proceeding with #319 and making a change to common code in https://github.com/phetsims/scener

[2020-03-27 15:15] jbphet commented on #295
@terracoda asked:

Yes, @Ashton-Morris and I will need to update the vibration and rotation sounds to match whatever rate is decided upon.

[2020-03-27 15:29] jessegreenberg commented on #320
I added a query parameter `?disablePlayPause` to test this feature. It hacks into TimeControlNode so this is definitely not a long term solution, but it lets us try it out.

[2020-03-27 15:39] jessegreenberg commented on #320
I think this was mentioned at the last design meeting, but this gif identifies one sequence of events with that is problematic. It creates a situation where photons are in the observation window but the user cannot resume play.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/6396244/77772421-7f94a800-701e-11ea-9fa1-588e45510ca4.gif)

@arouinfar @terracoda can you test out this

[2020-03-27 19:15] terracoda commented on #320
Good catch @jessegreenberg, I do see this as a problem especially since photons can be left in the observation window after pausing and then turning off the light source. For few Step Forward presses there are residual photons even though the light source is off.

I don't know why this hasn't come up before, but really, there are all kinds of UX problems and accessible UX problems with Time Contro

[2020-03-27 19:43] terracoda opened #321 "Change help text for Light Source toggle switch"
@jessegreenberg, I think this change got missed in the shuffle.

Could you change the help text for the Light Source switch from:
- Activate light source to start exploration.
to:
- Turn light source on to start photons.

[2020-03-28 00:19] arouinfar commented on #320
Thank you @jessegreenberg. I find the interaction very odd, and I don't think we want to be messing with the play/pause enabledProperty like this.

I want to push back on this a bit. I have done dozens of interviews across many sims containing TimeControlNode, and I wouldn't say there are generally UX problems with this control. There have certainly been accessible UX problems within MAL, and we h

[2020-03-28 11:25] terracoda commented on #299
Just noting this other issue where a lot of discussion happened around toggle buttons
https://github.com/phetsims/a11y-research/issues/137#issuecomment-482796376

[2020-03-28 11:27] terracoda commented on #296
Just noting this other issue in a11y-research repo as a reminder of the discussion that have already taken place about buttons that communicate their state changes in different ways https://github.com/phetsims/a11y-research/issues/137#issuecomment-482796376

[2020-03-30 21:20] BLFiedler commented on #270
Waiting on a version that is sound complete before doing a proper recording, but I tried a version where I let the sim play in the background as I talked over it (as opposed to pausing to talk). It's smoother, and might be okay with some balancing between my voice and the sim. What do you think @emily-phet ?

https://drive.google.com/file/d/1h-mwvxKXN4ihhryPXngyR9sf56KcrqvP/view?usp=sharing

[2020-03-30 22:57] arouinfar commented on #320
In the MAL Meeting Agenda doc, @terracoda asks:

There has never been a sim with Normal/Slow radio buttons, but no play/pause/step buttons. From user testing, we know that TimeControlNode as a whole is fairly intuitive across a variety of sims, but I do not think those findings necessarily generalize to a lone Normal/Slow radio button group. I would not publish a sim with just the normal/slow radi

[2020-03-31 16:46] terracoda commented on #320
Thanks for pointing out these use cases with details. I imagine the Pause and Step Forward would be very useful for teachers during demonstrations as well.

[2020-03-31 16:47] terracoda commented on #320
@arouinfar, I really appreciate you taking the time to provide detail comments to my question.

[2020-03-31 17:57] jbphet commented on #284
We discussed @Matthew-Moore240's comment immediately above during the sound design meeting on Mar 24 and decided that reversing the sounds may be sufficient to address the concern, so I'll make that change.

[2020-03-31 18:08] jbphet commented on #284
Reviewed during the 3/31/2020 issue and we decided that the mods to the rotation sounds (swapping CW and CCW) addressed the issue, so we should be good to go with those sounds.

[2020-03-31 18:08] terracoda commented on #295
In Tuesday's design meeting we decided on emission rate of 0.5 and the 0.5 of O.5

[2020-03-31 20:01] jbphet opened #322 "Reduce time from turning on photon emitter until the first photon come out"
In https://github.com/phetsims/molecules-and-light/issues/295#issuecomment-597278072 I described an issue with the way the new button operates.  In today's sound design review meeting for this sim, it was recommended that this be made into a separate, standalone issue.

Here is the original description of the problem:

...to which @arouinfar reponded:

[2020-03-31 20:16] jessegreenberg commented on #320
This was discussed during design meeting today and after reviewing the points @arouinfar made above we decided not to disable the PlayPauseButton when the light source is off. Closing this issue.

[2020-03-31 20:16] #320 closed

[2020-03-31 21:29] jessegreenberg commented on #295
Over slack I asked if the PHotonAbsorptionModel still needs an emissionFrequencyProperty, and @arouinfar said

The model and view could potentially be simplified by removing this Property now.

[2020-03-31 22:32] jessegreenberg commented on #295
OK, this is done. Assigning to @jbphet for the sound portion of this issue, and to @arouinfar to make sure all is well with the new emission rates and play speed.

[2020-03-31 22:33] jessegreenberg commented on #322
There is a specific constant for this
```INITIAL_COUNTDOWN_WHEN_EMISSION_ENABLED = 0.3```

Should this just be removed now?

[2020-03-31 22:34] jessegreenberg commented on #322
I think so - even when set to 0 it feels like there is a small delay because the point where photons are emitted is slightly to the left of the right edge of the emitter image.

[2020-03-31 23:02] jessegreenberg commented on #322
Done in the above commit. @arouinfar can you please review?

[2020-03-31 23:36] jessegreenberg commented on #321
Done:
![image](https://user-images.githubusercontent.com/6396244/78084687-dedc1a80-7386-11ea-8a6c-31aa03c73285.png)

[2020-03-31 23:38] #321 closed

[2020-04-01 00:30] terracoda commented on #285
@jessegreenberg, as I noted on slack.

[2020-04-01 00:37] terracoda opened #323 "Review of molecule dynamic description"
@Matthew-Moore240, based on the changes we made in the [Table: Review of Molecule Responses](https://docs.google.com/document/d/1r9D3vq4QvmmXkQ5G6HexpybUv_vL6LrYFb3wgPfUdWg/edit#heading=h.8gkq5oll4829), can you review the language we used in the dynamic description in the Observation Window in Play Area.

We want to be using the same language as much as possible. It looks like the molecule dynamic

[2020-04-01 15:26] jessegreenberg commented on #319
@terracoda can you comment on what should be done with this issue now that https://github.com/phetsims/molecules-and-light/issues/320 and https://github.com/phetsims/scenery-phet/issues/592 are closed?

[2020-04-01 19:12] arouinfar commented on #322
Looks good in master @jessegreenberg!

[2020-04-01 19:12] #322 closed

[2020-04-01 23:44] terracoda commented on #319
@jessegreenberg, I think you can implement the context responses outline in #317 and #318 and close this issue.

This issue was just a place holder for discussion and a decision. The decision to not disable the the pause/play button happened in #320.

[2020-04-01 23:44] terracoda commented on #319
I guess I can just close this issue actually :-)

[2020-04-01 23:44] #319 closed

[2020-04-06 19:03] jessegreenberg commented on #323
@Matthew-Moore240 gave me this spreadsheet of updated dynamic descriptions for the first sentence of the dynamic observation window description: https://docs.google.com/spreadsheets/d/19eCpnjjaJ8it0Tzdbk_159xhH_WJVPVmv_jHwnSdw3s/edit#gid=0

Assigning to myself to implement.

[2020-04-06 19:57] jbphet commented on #295
I've looked through the code, and now that we have finalized rates for rotation and vibration, here are the rates that the sounds need to match up with:

Action | Normal Rate | Slow Motion Rate
--- | --- | ---
rotation | 1.1 rotations/sec | 0.55 rotations/sec
vibration | 5 cycles/sec | 2.5 cycles/sec

@Ashton-Morris - I just looked at the sounds that we currently have in master, and it looks like

[2020-04-06 21:57] jessegreenberg commented on #323
If I understood correctly, this issue was just for the molecule description in the observation window (first bullet). I think this has been updated to match https://docs.google.com/spreadsheets/d/19eCpnjjaJ8it0Tzdbk_159xhH_WJVPVmv_jHwnSdw3s/edit#gid=0. @Matthew-Moore240 can you confirm and review latest?

[2020-04-07 11:08] terracoda commented on #299
We decided last week to use context responses to scaffold non-visual users in using the Pause/Play button. Implementation of those will be tracked in #317.

[2020-04-07 11:09] terracoda commented on #299
Closing this issue.

[2020-04-07 11:10] terracoda commented on #299
We may need to

[2020-04-07 11:12] terracoda commented on #299
We can re-open this issue if we need to specifically address how we communicate the states of the Pause/Play button that is currently communicating its state through a label change.

[2020-04-07 11:12] #299 closed

[2020-04-07 15:52] jessegreenberg commented on #318
These have been implemented in master @terracoda! Over to you to review.

[2020-04-07 16:10] terracoda commented on #318
With the toggle button, this sounds awesome, @jessegreenberg.

I also tested with the "switch" query parameter. In the current switch implementation on VoiceOver the states are being communicated through the browser.

So depending on final decision (and testing in all 3 screen readers) in #296, we may need to tweak the context responses. I.e., if we go with a switch role and the state change is cl

[2020-04-07 16:19] Ashton-Morris commented on #295
[Here are the files.](https://drive.google.com/open?id=1dII2m4KtMuZyxGShyF0rXf7ZSGUKOkq6) They should be accurate in timing but I couldn't get the sim to load on my phettest so I didn't have a chance to get a screen recording in order to check them.

- vibration-slow-motion.mp3
- vibration-slow-motion.wav
- rotation-clockwise-slow-motion.mp3
- rotation-clockwise-slow-motion.wav
- rotation-counterc

[2020-04-07 16:45] jessegreenberg commented on #317
Done in the above commit, assigning to @terracoda to review.

[2020-04-07 17:25] jessegreenberg opened #324 "Change initial position of photons so that they appear immediately"
Initial position of photons is to left of emitter bulb so it takes about 10 steps for the photon to become visible. @jessegreenberg to see if it is easy to change initial position.

Sound of photon emission correctly plays when photon reaches edge of emitter bulb, so I should check in @jbphet and see if any adjustments need to be made to sound after this change.

[2020-04-07 17:54] terracoda commented on #318
At the MAL design meeting, @terracoda demoed these new context responses with the switch parameter and everything sounded good on VoiceOver.

@jessegreenberg, I'll close this issue. We can re-open or open new issues once we are testing the switch interaction that will be implemented in #296.

[2020-04-07 17:54] #318 closed

[2020-04-07 18:16] jessegreenberg commented on #303
Discussed during meeting today, this is ready!

[2020-04-07 18:19] terracoda commented on #317
This Pause/Play sounds great. I tested with both the regular toggle button and the the on/off switch. Both sound great.

I didn't make an issue for the Step Forward button. The Step Forward button has one context response in the case where the user tries to use the enabled Step Forward button when Light source is actually off. See[Table: Step Forward Button](https://docs.google.com/document/d/1r9D

[2020-04-07 22:00] jessegreenberg commented on #324
Done in the above commit. @arouinfar can you please review this behavior change? Before this commit photons slid into view from behind the emitter, which looked nice. But now they appear right when they are created so there is no delay when stepping, which is also good.

If this looks good to you Ill reassign to @jbphet to review the change I made to sound so that it plays right when the photon is

[2020-04-07 22:14] jessegreenberg commented on #317
Ah, thanks @terracoda, pushed above. There is now an alert for "Turn light source on to use Step Forward." but the rest haven't been added yet, those will come when the other alerts have been implemented.

[2020-04-07 22:40] arouinfar commented on #324
@jessegreenberg this is generally looking good, but things can be weird if switching between light sources while paused.

When the sim is playing, switching between light sources will clear the photons in the viewing window and the source will immediately release a photon. However, if the sim is paused when the light source is changed, there can be a very long gap before the next photon is release

[2020-04-07 22:42] jbphet commented on #233
I've integrated the latest spatialized sounds for rotation and vibration (as discussed in #284) and they are now timed to match the slow-motion value discussed and decided upon in #295.  To my knowledge, these are the last outstanding items for the sound design implementation.

I'm going to assign this issue to all of the individuals who were in the most recent sound design review meeting for this

[2020-04-08 00:49] terracoda commented on #233
The sim sounds awesome! And I see the photon fires immediately with both th e regular on/off button and with the Step Forward button!

[2020-04-08 15:24] jessegreenberg commented on #324
Thanks! I was able to make this happen too. It seems inconsistent, sometimes it takes ~5 presses to appear other times ~50 as you mentioned.

[2020-04-08 15:26] jessegreenberg commented on #324
It looks like the emission countdown timer isn't being reset when photon wavelength changes, so I suspect this is more related to #288 than changes for this issue.

[2020-04-08 15:44] jessegreenberg commented on #324
OK, fixed above. When changing photon wavelength the countdown timer is reset so a photon is emitted right away if the emitter is on.

[2020-04-08 16:14] jbphet commented on #324
The reason that the code was originally implemented such that the photons started behind the photon emitters (and thus were invisible when first created) is that the original design team was bothered by photons appearing fully formed in front of the emitter.  In the latest version on master, the photons are doing just that, and it is quite apparent when stepping.  I propose that we compromise a li

[2020-04-08 16:15] jbphet commented on #295
Sounds are integrated.  I'll have the design team review and will update this issue based on the results.

[2020-04-10 09:49] terracoda commented on #323
@jessegreenberg, yes, these are just for the Molecule Descriptions in the Observation Window - their main phases as they update in the back ground. The idea is that if a user pauses the sim while a molecule is in a particular phase and then goes and reads the Observation Window, they will get an accurate state description (an accurate current state).

@Matthew-Moore240, let me know if you need any

[2020-04-13 21:30] jessegreenberg commented on #324
Sounds good @jbphet, thanks. Done in the above commit, photons  look like this when first added to the screen:
![image](https://user-images.githubusercontent.com/6396244/79163106-67f24900-7dac-11ea-94bb-8da20728b1bd.png)

[2020-04-13 21:32] jessegreenberg commented on #306
@terracoda @Matthew-Moore240 is this issue still on hold?

[2020-04-13 21:32] jessegreenberg commented on #317
Also assigning to @Matthew-Moore240 in case he has time to review first.

[2020-04-13 21:49] jessegreenberg commented on #304
OK, change made in the above commit! Can this be closed @terracoda?

[2020-04-13 23:08] jessegreenberg commented on #303
UPdated, here is the dialog now:
![image](https://user-images.githubusercontent.com/6396244/79169295-118c0700-7dba-11ea-979b-8d0312a15868.png)

And the PDOm content:
![image](https://user-images.githubusercontent.com/6396244/79169310-181a7e80-7dba-11ea-982b-f78b28bc3dc4.png)

Reassigning for review.

[2020-04-14 12:03] terracoda commented on #303
@jessegreenberg, the Space key needs to come first in the visual representation like in https://github.com/phetsims/molecules-and-light/issues/303#issuecomment-604104539

Apologies for the original confusion in the Design document.

[2020-04-14 14:20] jessegreenberg commented on #303
@terracoda the "Enter or Space" icon is a reusable component, also used in sims like Molarity
![image](https://user-images.githubusercontent.com/6396244/79235276-658a0080-7e39-11ea-82af-1cace69e983e.png)

If I change the order here the order will also change for molarity, is that OK?

[2020-04-14 14:33] jessegreenberg commented on #296
Alright, the testing query parameter has been removed and the representation in https://github.com/phetsims/molecules-and-light/issues/296#issuecomment-603926435 is now used in master. This issue can be closed.

[2020-04-14 14:33] #296 closed

[2020-04-14 14:35] jessegreenberg commented on #252
This issue is now stale, the button label has changed, and the alerts fire when the button appears in the observation window, not when the molecule breaks apart. Closing.

[2020-04-14 14:35] #252 closed

[2020-04-14 15:34] terracoda commented on #303
Yes, that should be just fine. I didn't look carefully at other sims when I  provided Molarity's content.

Will the change automatically fix the accessible text, too, in Molarity, or do I need to make an issue?

[2020-04-14 15:34] terracoda commented on #303
@jessegreenberg, by the way, nice catch!

[2020-04-14 15:59] jbphet commented on #324
I just tested it in the sim and it looks great - thanks @jessegreenberg!

[2020-04-14 16:02] jessegreenberg commented on #324
Great thanks! And we got a 👍 from @arouinfar so I think this issue can be closed.

[2020-04-14 16:02] #324 closed

[2020-04-14 17:13] terracoda commented on #306
No stale. Closing.

[2020-04-14 17:13] #306 closed

[2020-04-14 17:29] jessegreenberg commented on #317
Reassigning to myself, Ill reassign to review once the step alerts are done.

[2020-04-14 20:22] jessegreenberg opened #325 "Should "Complex Content Responses" counters reset when play speed changes?"
For several of these responses, the response is dependent on whether or not it is the first of its kind in a sequence of photon/molecule interactions. But current implementation doesn't consider whether play speed changes. So for instance, the following output is possible.

**[User turns on emitter, sim playing normal speed]**
- "Photons on."
- "Stretching"
- "Stretching".

**[User switches to "Sl

[2020-04-14 20:28] terracoda commented on #325
I think a reset on the counter would be quite wonderful, so the learner gets the detailed response at least once.

[2020-04-14 20:28] terracoda commented on #325
At least once for each speed.

[2020-04-14 20:29] jessegreenberg commented on #325
OK, thanks!

[2020-04-14 20:46] jessegreenberg commented on #325
Done in the above commit.

[2020-04-14 20:46] #325 closed

[2020-04-16 03:48] jessegreenberg commented on #323
The dynamic descriptions for the observation window are done, and can be reviewed at https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.46/phet/molecules-and-light_a11y_view.html

[2020-04-16 03:48] jessegreenberg commented on #317
These alerts are complete, and can be reviewed at
https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.46/phet/molecules-and-light_a11y_view.html

[2020-04-16 04:06] jessegreenberg commented on #303
OK, thanks @terracoda , the order has been switched.

[2020-04-16 04:10] jessegreenberg commented on #302
@Matthew-Moore240 @terracoda can this issue be closed?

[2020-04-16 04:11] jessegreenberg commented on #285
These alerts are complete and are ready for review at https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.46/phet/molecules-and-light_a11y_view.html

[2020-04-16 04:12] jessegreenberg commented on #285
Note that the original issue was that alerts were piling up. But what is left to review is the new alert content.

[2020-04-16 16:22] terracoda commented on #303
Looks good, @jessegreenberg. Thanks and closing.

[2020-04-16 16:22] #303 closed

[2020-04-16 16:24] terracoda commented on #285
- [x] verified Step Forward phrases in A11y View
- [ ] verified Step Forward phrases with VoiceOver

[2020-04-16 19:39] terracoda commented on #323
@jessegreenberg and @Matthew-Moore240, the molecule phases in the in the Observation all look great.

I found some awkwardness after NO<sub>2</sub> and O<sub>3</sub>) break apart and float away. Once the pieces of the molecules are fully off screen, there's no indication in the Observation Window that they are gone. Though there is an indication in the screen summary.

This situation also causes s

[2020-04-16 19:42] terracoda commented on #323
We can deal with the awkwardness in context response in the context response issue #285 once I finish reviewing with a screen reader.

[2020-04-16 20:05] terracoda commented on #323
@BLFiedler and @arouinfar, we need a wording verification for Phase 4 of the break apart situation noted in  https://github.com/phetsims/molecules-and-light/issues/323#issuecomment-614855745

After hearing the phase 3's for either O<sub>3</sub> or NO<sub>2</sub>, what would be most correct?
- Molecule pieces gone. Reset or change molecule.
- Molecules gone. Reset or change molecule.
- Molecule gon

[2020-04-16 20:44] emily-phet commented on #270
@BLFiedler - A few thoughts:
- With the goal of attempting, when possible, to demonstrate the sounds following a similar flow we might want a teacher or learner to use when using the sim...I think it would make sense to start by going through each of the light sources first. You can do this quickly, pointing out that there is a difference tone for each, and (if you like) the pitch change mapping.

[2020-04-17 13:44] terracoda commented on #323
Thanks @arouinfar. I'll assign to @jessegreenberg for the implementation.

@jessegreenberg, please add this Phase 4 for both molecules that break apart:
- Molecule pieces gone. Reset or change molecule.

[2020-04-17 14:38] terracoda commented on #317
@jessegreenberg, the UI context responses that support the use of the Pause/Play and Step Forward buttons sounds great to me.

Marking as resolved.

[2020-04-17 14:38] #317 closed

[2020-04-17 14:41] terracoda commented on #304
Looks good. Closing time.

[2020-04-17 14:41] #304 closed

[2020-04-17 14:44] terracoda commented on #295
@jbphet, did we verify everything for this issue. Can this issue be closed?

[2020-04-17 14:45] terracoda commented on #302
All issues I was tracking in this issue are closed except for #295. Once that issue is closed, this issue can be closed.

[2020-04-17 14:46] jbphet commented on #295
Yep.  Closing.

[2020-04-17 15:21] terracoda commented on #285
@jessegreenberg, I am not experiencing any pile ups with the step forward button.
All the detailed Step Forward response look great.

There is one spot where things get awkward which is related to what I noticed in issue for the dynamic descriptions - once Ozone or Nitrogen Dioxide break apart, their pieces float away. Once they are off screen we need one more phrase (Phase 4) to fire. This will m

[2020-04-17 16:30] terracoda commented on #302
All issues noted in this issue have been addressed. Closing.

[2020-04-17 16:30] #302 closed

[2020-04-17 16:35] terracoda commented on #284
@jbphet, I've been testing the descriptions (with sound) in very recent versions. The sounds are sounding pretty good to me, so I am un-assigning for now. Please re-assign if you need anything from me, or close if this issue is now stale.

[2020-04-17 16:41] terracoda commented on #247
Many changes to the design have been made since interviews, including a bunch of refined slow motion, and step forward responses.
Closing this issue as descriptions of rotation and direction have been addressed.

[2020-04-17 16:41] #247 closed

[2020-04-20 13:36] emily-phet commented on #233
Sounds great to me!

[2020-04-20 15:14] jbphet commented on #284
I think it's safe to close this one.  The sound design is getting a final round of review in https://github.com/phetsims/molecules-and-light/issues/233, so if anything comes up in that issue that relates to this one, we can reopen, but right now things are looking (and sounding) good.

[2020-04-20 15:14] #284 closed

[2020-04-21 09:21] terracoda opened #326 "Update to Static Screen Summary"
To review today at MAL's Interactive Description Design Meeting:
The Static part of the Screen Summary is awkward (not active-sounding enough). I think some minor tweaks could make it a lot more fun sounding.

**Current Static Screen Summary**

**Suggested Update Static Screen Summary**

After the above static screen summary, there are three more pieces that round off the full screen summary:
1. t

[2020-04-21 13:17] terracoda commented on #326
Since this wording change is rather minor, this issue is mainly for @terracoda, @Matthew-Moore240 and @jessegreenberg to discuss at today's design meeting. That said, others are free to comment on the issue or join today's meeting to discuss.

[2020-04-21 13:42] Ashton-Morris commented on #233
Sounds great to me as well

[2020-04-21 17:16] terracoda commented on #326
Decision to updated static screen summary.

[2020-04-21 19:06] terracoda commented on #231
Based on interview feedback and design discussions many design changes have been made to MAL's interactions and MAL's interactive description:
1. Light Source slider replaced with Light Source button/switch
2. Sim Speeds for exploration at normal and slow speeds
3. Added Context Responses to support use of Pause/Play and Step Forward buttons
4. Improved wording for Context Responses that describe

[2020-04-21 21:09] jbphet commented on #233
Discussed in the 4/21/2020 sound design meeting, and have determined that the sound design is ready for publication.  Closing.

[2020-04-21 21:09] #233 closed

[2020-04-22 16:57] terracoda opened #327 "Add hotkey instructions to Keyboard Shortcuts dialog"
With the success of the Pause/Play hotkey in https://github.com/phetsims/scenery-phet/issues/571#, we need to update the Keyboard Shortcuts dialog.

[2020-04-23 16:56] BLFiedler commented on #231
Notes in document!

[2020-04-27 17:29] jbphet commented on #295
I just showed this sim to someone who is not a PhET team member, and they initially thought that the photons from the light source were knocking previously absorbed photons out of the molecule.  When I watched the simulation for a while, there really are a lot of times when the absorbed photon leaves the molecule right when a photon emitted from the source is over the molecule, so I can see why so

[2020-04-27 18:48] jbphet commented on #295
An examination of the code showed that the average hold time is 0.9 seconds, and the emission frequency is 0.8 seconds, so yeah, there is a very high probability that a photon will be close to a molecule when an absorbed photon is re-emitted.  I've adjusted the range for this so that this situation no longer arises at all.  @arouinfar - please check this out on master and let us know if you think

[2020-04-27 18:52] jbphet commented on #295
@jessegreenberg - there is some odd looking code in `PhotonAbsorptionModel`, and it made it difficult for me to figure out what the emission frequency really is.  The methods `getSingleTargetPeriodFromFrequency` and `getSingleTargetFrequencyFromPeriod` use a constant called `MIN_PHOTON_EMISSION_PERIOD_SINGLE_TARGET` to calculate a frequency from a period, but I couldn't figure out why.  I suspect

[2020-04-27 18:54] jbphet commented on #295
Oh, and it looks like the method `getSingleTargetFrequencyFromPeriod` may not be used at all anymore.

[2020-04-27 18:56] jbphet commented on #295
@BLFiedler - can you please also comment on whether the change to the re-emission behavior is worthwhile?  The discussion starts with [this comment](https://github.com/phetsims/molecules-and-light/issues/295#issuecomment-620125719).

[2020-04-27 19:26] jbphet opened #328 "Clean up sound file names, make sure we have all the needed assets"
In https://github.com/phetsims/molecules-and-light/issues/233 we implemented the sound design for this sim.  The sound files used went through a lot of churn, so now that the implementation has been approved, we need to make sure the sound files are reasonably well named and that we have the appropriate assets around in case we ever need to modify or recreate them.

[2020-04-27 19:40] jbphet commented on #328
@Ashton-Morris - can you please provide `.wav` files for some sounds that we don't have them for or that don't match the `.mp3` versions that we are using (see the list below)?  Also, if there are any other files related to producing any of the sounds (e.g. for Reaper), it would be good to have those as well in case we ever need to make changes.

Here is a list of the `.wav` files that we need, wi

[2020-04-27 19:44] BLFiedler commented on #295
Short answer: If it's easy, sure.

From interviews I've done on MAL, I don't think I've run into that exact case.  My impression is that it's more likely the case someone believes that a photon is deflected (or bounces off) the molecule rather than being absorbed and re-emitted. It's possible that scenario is also more likely if a photon passes by the molecule the same time a photon is emitted and

[2020-04-28 14:40] terracoda commented on #327
**This is our current keyboard dialog:**
![Screen Shot 2020-04-28 at 11 31 22 AM](https://user-images.githubusercontent.com/1902116/80499887-15866000-8948-11ea-9cc1-acb4e9c59182.png)

@Matthew-Moore240 and @jessegreenberg, what do you think of adding the line:
- Pause or play activated light source [Alt] + [K]

just below the instructions to turn on the light source. This would keep these instruct

[2020-04-28 14:47] terracoda commented on #327
@arouinfar, @BLFiedler and @wandita you are welcome to comment or join our meeting today to comment on the wording of the instructions for the custom shortcut key we have added to MAL.

The shortcut (Alt key + k) is working great in [dev version 1.5.0-dev.47](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.47/phet/molecules-and-light_en_phet.html):

[2020-04-28 14:57] BLFiedler commented on #327
Should there be any indication that this pauses the entire simulation (inclusive of any interaction process the molecule is undergoing)? Or did you already rule that out? I suspect they would pick up on that fact if the molecule was auditorily wiggling when they paused it and it kept wiggling when they resumed, but maybe not always?

Another fun interaction I've discovered that I think is a result

[2020-04-28 15:07] terracoda commented on #327
@BLFiedler, that's so funny about the fast firing. It doesn't seem to break the described experience, so that's good.

[2020-04-28 15:19] Ashton-Morris commented on #328
@jbphet I tried but webstorm is having some issues with github after I did an os update.

[I have put those files here though ](https://drive.google.com/open?id=1dII2m4KtMuZyxGShyF0rXf7ZSGUKOkq6)

[2020-04-28 15:42] jessegreenberg commented on #327
This was my thought too, instead of "light source" maybe say "simulation" since it is pausing/playing light source, photons, and moleculese?

Thanks, this is definitely a bug to solve introduced by reducing the delay of emitting a photon. Ill open a new issue for this. Especially broken when pressing and holding the "enter" key.

[2020-04-28 15:46] terracoda commented on #327
I like to use sim language, how about:
- Pause or play action in Observation Window [Alt] + [K]

[2020-04-28 15:47] jessegreenberg commented on #326
I updated the screen summary as described in https://github.com/phetsims/molecules-and-light/issues/326#issue-603845486, ready for review.

[2020-04-28 15:56] jessegreenberg opened #329 "Possible to emit endless stream of photons"
Mentioned by @BLFiedler in https://github.com/phetsims/molecules-and-light/issues/327. Since the delay of photon emission was removed in https://github.com/phetsims/molecules-and-light/issues/322 it is possible to emit an endless stream of photons. Press and hold the enter key on the photon emitter button to observe.

![image](https://user-images.githubusercontent.com/6396244/80509141-faffb700-894

[2020-04-28 16:10] jessegreenberg commented on #329
OK, should be fixed. The emission countdown timer is only reset when there are no other photons in the observation window.

[2020-04-28 16:10] #329 closed

[2020-04-28 16:26] jessegreenberg commented on #323
Over slack I asked if this has an impact on the description for the observation window since the content is shared. @terracoda said that when molecules are removed from the observation window, the description should change from
(what is there currently)

to

[2020-04-28 16:27] terracoda commented on #323
This last description is like a fourth phase and final phase of the molecules demise.

[2020-04-28 16:39] terracoda commented on #323
@jessegreenberg, oh maybe there are only 3 phases in the Observation Window
1. Ultraviolet photon absorbed, Nitrogen Dioxide molecule breaks into NO and O.
2. NO and O floating away.
3. Molecule pieces gone. Reset or change molecule.

Is this how it would work?

[2020-04-28 16:41] jessegreenberg commented on #323
For the description item I was thinking there would only be two phases.
1. Ultraviolet photon absorbed, Nitrogen Dioxide molecule breaks into NO and O.
2. Molecule pieces gone. Reset or change molecule.

[2020-04-28 16:42] terracoda commented on #323
Oh, phase 1, "photon passes", doesn't always happen.

[2020-04-28 16:43] terracoda commented on #323
For the actual excitation there are only 2 phases, but the sim can be paused at any moment, so it can be frozen in one of the 4 phases, right?

[2020-04-28 16:53] jessegreenberg commented on #323
Im just thinking about the break apart case for now, the possible states are
- Light source off.
- Photons passing through.
- Molecule breaks apart.
- Constituent molecules removed from window.

"Ultraviolet photon absorbed, Nitrogen Dioxide molecule breaks into NO and O." and
"NO and O floating away." both describe the third state, so I don't know how/when to show both.

So at the moment the poss

[2020-04-28 16:53] jessegreenberg commented on #323
Sorry, is that what you meant by 4 phases?

[2020-04-28 17:00] terracoda commented on #323
Oh, I wasn't counting the off phase. There were already 4 phases. There will now be 5 phases.

[2020-04-28 17:19] BLFiedler commented on #270
@emily-phet To the first point, do you mean to just discuss and click through the radio buttons with the light source off? It's difficult to isolate photon sounds with starting molecule (CO) in the way, since it will interact w/ both Micro & IR. The reason I have the light source pitch mapping at the end is I have already blown up NO and the screen is empty so I can focus solely on the photon "bel

[2020-04-28 17:25] terracoda commented on #327
And the accessible content is:
- Pause or play action in Observation Window with Alt key plus K.

Change "Light Source" heading to "Observation Window"

Decision in meeting Apr. 28, 2020

[2020-04-28 20:51] jbphet commented on #328
The files have been checked in, we should be good to go.  Closing.

[2020-04-28 20:51] #328 closed

[2020-04-28 22:41] jessegreenberg commented on #323
We discussed this issue during design meeting today and decided to make the following changes:

- In the observation window escription item after break apart, add "{{A}} and {{B}} floating away." so it will look like

- To match timing of the "Reset Molecule" button, this description and matching alerts should appear after the *first* constituent molecule is removed rather than the second.

[2020-04-28 23:08] jessegreenberg commented on #323
OK, I think all discussed in this issue is complete. Assigning to @terracoda and @Matthew-Moore240 to review.

[2020-04-28 23:21] arouinfar commented on #295
@jbphet the behavior in master looks good to me. I would be fine with making the change permanent.

[2020-04-28 23:27] arouinfar commented on #231
@terracoda I read through the document, and I don't have anything to add. I like/agree with the points @BLFiedler added to the doc.

[2020-04-29 03:05] jessegreenberg commented on #327
This content was added, @terracoda can you please review?

[2020-04-29 03:06] jessegreenberg commented on #285
This has been added in https://github.com/phetsims/molecules-and-light/issues/323 so I think this issue can be closed.

[2020-04-29 03:06] #285 closed

[2020-04-29 03:53] jessegreenberg commented on #295
Thanks, Im not sure what was going on here, it was indeed confusing! Frequency is no longer used when determining the rate of photon emission, we just have a defined emission period now. Reassigning to @jbphet to review or if there is more for https://github.com/phetsims/molecules-and-light/issues/295#issuecomment-620167989

[2020-04-29 13:48] emily-phet commented on #270
@BLFiedler - If it's helpful to you, you might start the video with a different molecule in place. Though don't if it would require reworking later parts of the script to accommodate.

Even if molecule interaction interferes a bit, I still think it's worth bringing teachers attention to the different photon sounds early. Since they'll be hearing a lot of photon sounds throughout the video and whil

[2020-04-29 14:44] terracoda commented on #327
Looks good @jessegreenberg, though I think it would be improved if you wrap the text by putting a line break either just before "in Observation Window" or just before "Observation Window".

**Kind of like this:**
![Screen Shot 2020-04-29 at 11 49 34 AM](https://user-images.githubusercontent.com/1902116/80609633-e688f080-8a12-11ea-86f8-c10ec330a53a.png)

[2020-04-29 14:51] terracoda commented on #326
Looks good! Closing.

[2020-04-29 14:52] #326 closed

[2020-04-29 15:17] terracoda commented on #323
The Observation Window description looks great, and not related to this issue, I think the Context Responses look good, too.

[2020-04-29 15:17] #323 closed

[2020-04-29 15:29] terracoda commented on #231
@BLFiedler thanks for your suggestions. I've decided to do interviews instead of asynchronous review of MAL's design changes. I adapted @BLFiedler 's suggestions into what to watch for points and 6 questions.

See new [document template ](https://docs.google.com/document/d/1mvN6hZBnWOwG-j3ZsaMJAHZ_7V5W249idp57u3spXcY/edit)for zoom interviews.

[2020-04-29 15:46] jbphet commented on #295
Thanks @jessegreenberg - that looks better.

@arouinfar and @BLFiedler - Thanks for your input.  I'll leave the change in place.  We can revisit if anything arises based on QA testing or subsequent interviews.

[2020-04-29 15:46] #295 closed

[2020-04-29 15:47] terracoda opened #330 "Dev Link for upcoming MAL interviews"
We will do 2 more interviews to evaluate the design changes in MAL.

Please post a dev link that contains both Interactive Description and Sonification by end of day April 29, 2020.

[2020-04-29 17:22] terracoda commented on #231
I'll close this issue for now. I think I am ready for MAL's final evaluations.

[2020-04-29 17:22] #231 closed

[2020-04-29 21:02] jessegreenberg commented on #330
@terracoda here is a dev link to the latest version. If you notice any issues please let me know.

https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.48/phet/molecules-and-light_en_phet.html

[2020-04-30 00:50] terracoda commented on #330
@jessegreenberg, I have sound in the dev link. Thanks for sending it along.
My problem must be local.

[2020-04-30 15:22] jessegreenberg commented on #330
OK sounds good! Closing this issue since link was prepared.

[2020-04-30 15:22] #330 closed

[2020-05-04 18:27] terracoda commented on #327
In today's interview with our VoiceOver COnsultant we learned that the custom Pause/Play shortcut does not work with Quick Nav enabled. It works fine and as designed when Quick Nav is not on.

@jessegreenberg, I am assuming that's just how it is. Do you have any comment about this?

[2020-05-04 18:28] terracoda commented on #327
@jessegreenberg, I'll move the quick nav comment to a new issue.

[2020-05-04 18:30] terracoda opened #331 "Custom Pause/Play Shorcut does not with Quick Nav enbaled"
Moved from #327 ...
In today's interview with our VoiceOver Consultant we learned that the custom Pause/Play shortcut does not work with Quick Nav enabled. It works fine and as designed when Quick Nav is not on.

@jessegreenberg, I am assuming that's just how it is. Do you have any comment about this?

[2020-05-04 19:02] terracoda opened #332 "Dynamic or static help text for light source switch?"
In an interview today, our VO consultant found it a little confusing that when the Light Source was switched on the help text still said, "Turn light source on to start photons."

We have two routes for improved clarity:
1. Keep help text static, but clarify the on/off functionality.
  - Turn light source on and off to start and stop photons.

2. Make help text dynamic:
  - Turn light source on to

[2020-05-04 19:57] terracoda opened #333 "Add "photon passes through" context response to slow motion"
In today's interview with our Voice Over consultant, @Matthew-Moore240 and @terracoda thought that the experience could be improved with a timed context response for molecule/light source combinations that will not result in an excitation.

This context response would be enabled for Slow speed only is selected. We think that when the sim is on Normal speed things happen fast enough that it is easi

[2020-05-04 19:58] terracoda commented on #333
Tagging @arouinfar, @BLFiedler, @jessegreenberg and @wandita that we will discuss these options at tomorrow's design meeting.

[2020-05-04 20:11] terracoda opened #334 "Consider minor changes to Light Spectrum dialog"
Our consultants asked a couple of questions about the Light Spectrum dialog content in the final review sessions for MAL.
1. One consultant asked, "Is this Alt Text?" when reading through the "Show Light Spectrum" dialog. She was wondering if there was a diagram that was being described. The presence of the diagram is not obviously apparent in the non-visual experience. I'd like to consider a labe

[2020-05-04 20:27] terracoda commented on #334
@emily-phet, @arouinfar, @BLFiedler, and @wandita, we will discuss these options for minor changes to the Light Spectrum diagram at tomorrow's design meeting.

[2020-05-04 21:05] terracoda opened #335 "Can we do anything about "No and O float away?""
Can we do anything about the context response that announces, "NO and O float away"? This is spoken as “No and O float away”, by screen reader software.

Options are:
1. Do nothing - hopefully AT will improve in the future and any confusion in the interim can be cleared up in a supported learning context.
2. Spell out the molecule pieces:
    - “Nitrogen Oxide and Oxygen float away.”

The response

[2020-05-04 21:50] jessegreenberg commented on #331
I just tested Safari with VoiceOver on macOS Catalina 10.15.4 and I was able to use the shortcut with Quick Nav enabled. Sorry, I am not sure what was happening during the interview.

[2020-05-04 22:08] jessegreenberg commented on #327
Sounds good @terracoda the text now wraps

[2020-05-04 23:35] terracoda commented on #331
I'll test it tomorrow. It was not working in the interview session until Quick Nav was turned off.

[2020-05-04 23:41] terracoda commented on #327
Looks great, thanks @jessegreenberg
<img width="899" alt="Screen Shot 2020-05-04 at 9 10 39 PM" src="https://user-images.githubusercontent.com/1902116/81023715-d70f0a80-8e4b-11ea-9cf6-15e80792473c.png">

[2020-05-04 23:41] #327 closed

[2020-05-04 23:48] terracoda commented on #331
Works fine for me, too, with Quick Nav enabled. Not sure what the issues was. Closing and we'll see if it comes up in RC testing.

[2020-05-04 23:48] #331 closed

[2020-05-05 00:03] terracoda opened #336 "Consider Step Forward hotkey?"
The Pause/Play hotkey worked great, and one comment was it would be good to have one for Step Forward, too.

I am wondering if we should consider this for future releases, and for the Timing Control widget, in general.

[2020-05-05 17:03] terracoda opened #337 "Step Forward gets stuck when Enter Key is held down"
In last Friday's interview with JAWS consultant we noticed the Step Forward interaction gets stuck when holding down the Enter Key.

Focus also slipped to off the Step Forward button to Light Source button.

[2020-05-05 17:12] jessegreenberg commented on #337
Reviewing the playback of what happened, it looks like JAWS + Firefox was being used.

[2020-05-05 17:15] terracoda commented on #337
Note that we were using JAWS and Firefox in the interview instead of Chrome.

[2020-05-05 17:15] arouinfar commented on #334
@terracoda I like "Light Spectrum Diagram" for the button label.

For the rainbow, do we need to name all of the colors, or could we say something like:
* Shown as a rainbow of colors (red to violet).

 I am not sure that we need to describe the exact order of the colors in a rainbow to meet the goals of the diagram. By naming the ending colors, the user can still make the connection that red ligh

[2020-05-05 17:16] terracoda commented on #337
Let's just verify these things do not happen in Chrome.

[2020-05-05 17:20] terracoda commented on #332
Decision: We go with option 2 - dynamic help text.

[2020-05-05 17:38] jessegreenberg commented on #334
We discussed on 5/5/20 -

One drawback to changing the visual label is that we may want translators to re-translate the string. But we are adding other strings to this version so we may want to notify translators that there are new strings to translate anyway.

[2020-05-05 17:42] jessegreenberg commented on #335
This was also mentioned in https://github.com/phetsims/molecules-and-light/issues/255

[2020-05-05 17:43] terracoda commented on #335
We will wait for voice reading software and web standards to improve.

[2020-05-05 17:43] #335 closed

[2020-05-05 17:49] terracoda commented on #336
Decision: Let's try ALT +  L for Step Forward.
@terracoda to update Keyboard dialog content.

[2020-05-05 17:54] jessegreenberg commented on #332
OK, assigning to myself to add.

[2020-05-05 18:21] terracoda opened #338 "Update Keyboard Shorcuts dialog with Step Forward hot key"
Related to #336, with the addition of a Hotkey for Step Forward, we need to update the Keyboard Shortcuts dialog.

![keyboard-shortcuts-dialog](https://user-images.githubusercontent.com/1902116/81099836-18ec8f00-8ee6-11ea-9819-daca546568f1.png)

**Visual content**
- When action is paused step forward little by little [Alt key] + [L]

**Accessible content**
- When action is paused step forward litt

[2020-05-05 18:54] terracoda commented on #333
@emily-phet, we discussed this issue at today's design meeting. @Matthew-Moore240 and I would like your input on whether you think it is necessary or not.

@Matthew-Moore240 and I wondering if it would be useful on Slow speed to add a pass-through response for light source and molecule pairs that have no chance of an excited state?

We often do not describe non-changing situations, but there are c

[2020-05-05 18:54] jessegreenberg commented on #338
Functionality of the step forward button is being tracked in #336 so moving content there.

[2020-05-05 18:55] jessegreenberg commented on #338
On hold until #336 is sorted since that issue may change teh descriptions.

[2020-05-05 18:56] jessegreenberg commented on #336
@terracoda said

[2020-05-05 19:04] jessegreenberg commented on #336
The problem with such large steps is that there is a small distance around the molecule to query for absorption. The center of the molecule needs to enter this rectangle to test for absorption
![image](https://user-images.githubusercontent.com/6396244/81105177-89dd7800-8ee1-11ea-9a33-98d11b5df87c.png)

If the time step is too large, it would be possible for the photon to step completely over the m

[2020-05-05 19:25] jessegreenberg commented on #336
The above commit adds the hot key to molecules and light with the same behavior as the step forward button.

[2020-05-05 19:42] jessegreenberg commented on #336
I added a query parameter `keyboardTimeStep` (in seconds) that lets you change the time step for "Alt + L" key press. The default value is 0.0167.

https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.49/phet/molecules-and-light_en_phet.html?keyboardTimeStep=0.0167.

@terracoda @Matthew-Moore240 can you try it out to see if we should explore this further?

[2020-05-05 19:46] jessegreenberg commented on #336
Over slack @terracoda said

This would be much more complicated, and currently isn't supported by the model. The model steps forward in time but this would involve moving the photon to a new position independent of time.

[2020-05-05 19:57] jessegreenberg commented on #332
This was done in master, assigning to @Matthew-Moore240 or @terracoda to review.

[2020-05-05 20:04] jessegreenberg commented on #337
OK, I confirmed that this is happening with Chrome and JAWS.

[2020-05-05 20:12] jessegreenberg commented on #337
I verified that this is just the behavior of JAWS for all buttons. It is happening for this basic HTML too
[code]

[2020-05-05 20:16] jessegreenberg commented on #337
I added this to our AT bug tracker at https://docs.google.com/document/d/1518zv6F0odExFsodShZxwTmWNQk3civuNwtQUR-rEBs/edit

Reassigning to @terracoda so you are aware of this result since it came up during an interview. But otherwise I think this can be closed.

[2020-05-05 20:16] terracoda commented on #336
@jessegreenberg 0.0835 seems to work really well. It gives about 5 steps instead of 25 or 26.

[2020-05-05 20:17] terracoda commented on #336
I'd need to review the description and sound a little more carefully.

[2020-05-05 20:24] jessegreenberg commented on #260
Coming back to this issue and I am no longer able to produce it. I see the green line selecting the "list item" for the radio button, and then it moves to the radio button just like in https://github.com/phetsims/molecules-and-light/issues/260#issue-539318694 but activating the radio button with spacebar always results in JAWS reading the correct radio button label. Closing this issue.

[2020-05-05 20:24] #260 closed

[2020-05-05 20:31] jessegreenberg commented on #250
I am coming back to this issue but I haven't been able to reproduce this. @KatieWoe would you mind seeing if you can make this happen?

[2020-05-05 20:37] jessegreenberg commented on #251
This is still happening.

[2020-05-05 20:39] jessegreenberg commented on #251
This is what the HTML looks like
![image](https://user-images.githubusercontent.com/6396244/81113882-e98e5000-8eee-11ea-93d1-2424eb4e685a.png)

The random syllables are the subscript and geometry part of the each item ("2, linear") and ("4, tetrahedral" and so on.

[2020-05-05 20:44] jessegreenberg commented on #251
I wonder if this is caused by the inner html marking things as subscripts
![image](https://user-images.githubusercontent.com/6396244/81114222-9d8fdb00-8eef-11ea-87db-3f4fdaf58f10.png)

[2020-05-05 20:44] terracoda commented on #334
@arouinfar asked:

I'm not a 100% sure, but it like good for BVI learners to describe the range and spell out the details that are visually available. So this might be best:

- Shown as a rainbow starting with red and ending in violet (red, yellow, green, blue, indigo, violet).

I'll see how this fits in with the rest of the description.

[2020-05-05 20:56] jessegreenberg commented on #251
Yes, that seems to be what it is. Reading each list item is broken up when reading this
[code]

VoiceOver reads "Nitrogen, N", then it takes another gesture to read "2, linear".

[2020-05-05 21:00] jessegreenberg commented on #251
OK, I verified that it is happening in vanilla list of radio buttons
[code]

So I feel confident that there is nothing to be done about this, this is just how iOS VoiceOver reads subscripts.

[2020-05-05 21:00] arouinfar commented on #334
I think this is a good compromise. If users want to listen to the entire spectral order they can, but the most important information is fore-fronted.

[2020-05-05 21:02] jessegreenberg commented on #251
Added to AT bug tracking document, closing.

[2020-05-05 21:02] #251 closed

[2020-05-05 22:03] emily-phet commented on #333
It makes sense to me that those utilizing the sim non-visually would benefit from having important non-actions (such as the case in this sim when the light does not interact at all with the selected molecule) described. This sets up a parallel situation of "selection molecule, attend to what's happening". In cases where the molecule interacts, in the first few photon emissions they'll hear indicat

[2020-05-05 22:31] KatieWoe commented on #250
It doesn't seem to be happening on master.

[2020-05-05 22:32] KatieWoe commented on #250
It does still happen on the built version the issue was reported for, so this isn't due to a firefox fix or an nvda fix.

[2020-05-05 22:54] jessegreenberg commented on #250
OK thanks for checking @KatieWoe. I don't feel like I have time to look into what changed in our code to understand why it was fixed, but glad to hear that it isn't happening anymore.

[2020-05-05 22:54] #250 closed

[2020-05-06 01:20] jessegreenberg commented on #179
@arouinfar this is done on master now. The code @mbarlow12 wrote in https://github.com/phetsims/molecules-and-light/commit/834ac2a6a3b9fbd11824a9b8bb7e4dd8b1428e52 was really great, I took the functionality directly from that branch. The only difference is I added the 3D functionality to Molecule instead of creating a new type for methane.

One thing I had trouble with was making space in the radi

[2020-05-06 09:13] terracoda commented on #334
@arouinfar, I noticed in the design doc, the original description also included "from low to high energy":
- Shown **from low energy to high energy** as a rainbow of colors (dark red to red to orange to yellow to green to blue to violet).

I think @BLFiedler and I decided to remove that part as it is already stated at the top that the entire list is "lowest to highest energy."

I agree, I think th

[2020-05-06 09:15] #337 closed

[2020-05-06 09:23] terracoda commented on #332
Thanks @jessegreenberg, this looks and sounds great.
I think will also supports learners when the sim happens to be paused. Provides an extra reminder that things are already "on".

[2020-05-06 09:23] #332 closed

[2020-05-06 09:36] terracoda commented on #336
@jbphet and @Ashton-Morris could you have a listen to the MAL with parameter set to 0.0835

https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.49/phet/molecules-and-light_en_phet.html?keyboardTimeStep=0.0835

Then do the following:
1. Turn photons on
2. Use ALT + K to Pause action
3. Use ALT + L to step forward action in big (bigger) steps

I think it sounds really good, but it would

[2020-05-06 09:41] terracoda commented on #336
In my opinion the descriptions and sounds work well with the bigger step size.

And for the record, the proposition in this issue is to make the ALT + L hotkey use the bigger step, and not change the default step size that happens with the Step Forward button.

[2020-05-06 10:02] terracoda commented on #336
The two hotkeys (ALT + K and ALT + L) work really nicely together. I can leave the my focus on one of the radio groups and then pause and play at will and choose to step forward at will.

I'm finding the bigger steps really useful, so once sound timing is verified I think we should add the ALT + L hotkey.

[2020-05-06 15:09] jessegreenberg commented on #253
I just tried this but was not able to reproduce. I think this is the same issue as #237 and #225 which where fixed right around the time of https://github.com/phetsims/QA/issues/461. CLosing this issue.

[2020-05-06 15:09] #253 closed

[2020-05-06 15:34] jessegreenberg commented on #336
I agree, that step size feels nice! A couple of times I was able to get the photon to completely step over the molecule's absorption area (and so we didn't get a "photon passes through" alert), but it is rare.

[2020-05-06 15:53] arouinfar commented on #179
@jessegreenberg looks really nice in master!

[2020-05-06 15:55] #179 closed

[2020-05-06 16:04] jessegreenberg commented on #334
These changes are done, can you please review @terracoda?

[2020-05-06 16:26] jbphet commented on #336
In general, I think the behavior of the sound in this case seems reasonable.  I do have some questions based on using the sim this way (something that I don't do very often but perhaps should):

1. When switching from play to pause and vice versa using the alt-k hot key, the play/pause sound is not played.  If I use tab navigation and switch them using focus+space, the sound *is* played.  Is it in

[2020-05-06 19:29] terracoda commented on #336
Great questions @jbphet
1 & 2 - I assume the sound should play the same when pausing/playing and stepping. I didn't specifically request this, so glad you asked. I think we might need sound listeners for the custom keys as they are custom. Do you need to do that or can @jessegreenberg?
3. Custom shortcuts like this are new territory. I wouldn't want to do anything like press and hold until we know

[2020-05-07 03:40] jessegreenberg commented on #336
For the sound, this isn't something I have done before but I would be happy learn! @jbphet let me know what you think is best here.

As a data point, web video/audio players scrub when you press and hold arrow keys. Our usage is a bit different though.

That is true, and will happen for all of PhET's buttons (ResetAllButton, PlayPauseButton, sound button, others). The reason this happens is becaus

[2020-05-07 16:47] terracoda commented on #334
Looks great! Thanks @jessegreenberg !

[2020-05-07 16:47] #334 closed

[2020-05-08 15:47] jbphet commented on #336
No time like the present!  So yes @jessegreenberg , it would probably be good for you try adding the sound, since we need to get all developers a bit more familiar with it.  There are a set of singleton sound instances that can be included in the appropriate file that should, I think, make this pretty straightforward.  Please have a look at `playSoundPlayer`, `pauseSoundPlayer`, and `stepForwardSo

[2020-05-08 18:22] terracoda commented on #333
@Matthew-Moore240, with @emily-phet 's comments, our initial thoughts, and my recent discussion with @jessegreenberg with how the model works, this is how I think we might proceed for adding a pass-though context response:

1. Add a delayed or confirming context response to indicate explicitly a photon pass-through on both Normal and Slow speeds and in all cases.
    - We first discussed that this

[2020-05-08 18:51] Matthew-Moore240 commented on #333
Yeah this seems totally fine to me! Option 1 is good.

[2020-05-08 18:53] terracoda commented on #336
@jessegreenberg, if 0.0666 is more reliable as you say in https://github.com/phetsims/molecules-and-light/issues/336#issuecomment-624751344, I am good with that timing.

0.0666 still results in about 5 or 6 bigger steps rather than the 25 or 26 little by little steps one gets by default with the Step Forward button.

[2020-05-08 18:56] terracoda commented on #336
As for if the sound should fire repeatedly when holding down Enter (or ALT + L). I think some regular repetition of the sound when a Step Forward interaction is happening benefits non-visual users because we do not describe the photons progression across the screen.

[2020-05-08 19:08] terracoda commented on #336
@jessegreenberg, both @Matthew-Moore240 and I agree the "bigger" Step Forward step with ALT + L is really nice. Assigning to you for implementation.

I am not sure if it is best to continue the discussion on Sound here or in a new issue?

Please create a new issue if that makes sense.

[2020-05-08 19:20] terracoda commented on #336
@jessegreenberg, again, for the sound issue, as you said the same repeat sound happens when holding down any button (Including the very strong sounding Reset All button).

What are our options for optimization here, and I am thinking this kind of optimization is a general one, one that would be what we want for all sims, not just MAL.

[2020-05-08 19:23] terracoda commented on #336
@jbphet, @emily-phet, and @Ashton-Morris does this issue warrant a sound meeting discussion?
The is about repeat firings of sound when a button is held down with the Enter Key.

I have a feeling this has come up before?

[2020-05-08 19:28] terracoda commented on #333
@jessegreenberg, assigning over to you for feasibility of this general pass-through context response for Normal and Slow speed.

[2020-05-08 19:58] jessegreenberg commented on #333
OK, ill go ahead and add this.

In the model, we know when a molecule will never absorb a photon of particular wavelength. @terracoda @Matthew-Moore240 would you like this response to ONLY happen if the photon will never be absorbed?

[2020-05-08 20:09] jessegreenberg commented on #336
OK sounds good, thanks!

Cool, sounds great! Ill give it a try, and @terracoda ill open a new issue to track this.

Hmm, I can think of three options at the moment but there may be more.
- Limit button sounds to only play once every X ms.
- Prevent all button sounds if we get click events faster then once every X ms.
- Limit button presses to only be able to fire once every X ms with a keyboard.

[2020-05-08 20:34] jessegreenberg opened #339 "Add sounds to play/pause/step hotkeys"

[2020-05-08 20:34] jessegreenberg commented on #339
From #336

[2020-05-08 22:03] jessegreenberg commented on #339
These have been added, and you made it very easy for me! @jbphet and @terracoda can you please review?

[2020-05-08 22:37] jessegreenberg commented on #336
The time step for the global hotkey has been set.

I would be happy to join too, this issue involves both alternative input and sound.

[2020-05-09 13:13] emily-phet commented on #336
@terracoda looped me in re repeating button sound.

I doubt there is a general solution for this - "button" is a big category within PhET and depending on the context it may make sense to hear repeating sounds or to hear only one etc.

If you all think this is a major issue for MAL, I suggest it be handled as a sim specific one. If it's a minor thing, I suggest leaving it as is to not delay public

[2020-05-11 17:19] jbphet commented on #336
@terracoda said:

...and @emily-phet said:

Even though I brought it up, my vote now would be that, given the input above, we leave it as is and revisit if it ever turns out to be a problem during interviews or if we get any complaints from users.

[2020-05-11 17:20] Ashton-Morris commented on #336
I think it sounds really good. I would be open to a short sound related meeting to address what you are describing above

[2020-05-11 19:37] jbphet commented on #339
I've reviewed the code, and it looks reasonable to me.  @terracoda - I'll leave it to you to verify that the behavior is what we're after.

[2020-05-11 21:13] terracoda commented on #333
@jessegreenberg, thank you for this clarification. That was our original thought, to have this response "to ONLY happen if the photon will never be absorbed."

I am really comfortable with that approach, and it means we could potentially adjust the timing, i.e., make it shorter than how I described it above.

Do you think you could plan implementation with a query parameter for the timing?

[2020-05-11 21:15] terracoda commented on #333
Assigning back to you @jessegreenberg .

[2020-05-11 21:38] terracoda commented on #339
From my "non-visual screen reader" perspective this ALT + L interaction is really awesome - much preferred to the default Step Forward.

The sounds sound great to me and the number of steps across the Observation Window seem really good.

I don't know what JAWS and NVDA will say with each ALT + L key press, but VO does not mention the actual keys on key presses. With VO, if nothing is happening, I

[2020-05-11 21:38] #339 closed

[2020-05-11 21:54] jessegreenberg commented on #333
For sure, ill add a query paramter.

[2020-05-11 22:28] terracoda commented on #336
@Ashton-Morris, glad you agree.
I think we nailed it. Please see issue #339 which I just closed.

We are going to wait on the "repeating sound" part of the issue.

I think this issue is all verified, so closing.

[2020-05-11 22:28] #336 closed

[2020-05-11 22:33] terracoda commented on #338
@jessegreenberg with the success of #336 and #339, please update the Keyboard dialog with the bigger steps option.

[2020-05-12 16:22] jessegreenberg commented on #338
OK, this row of content has been added, @terracoda can you please review?

[2020-05-12 18:01] terracoda opened #340 "Light Spectrum final check"
We describe the Light Spectrum Diagram in detail. However some of the numbers are rounded up or down. I am wondering if this is a mistake or if it is ok to approximate.?

Here's the Diagram
![Screen Shot 2020-05-12 at 3 22 33 PM](https://user-images.githubusercontent.com/1902116/81728067-6deb5080-9464-11ea-9001-c0077925e79b.png)

Notice that some of the dotted lines creating the demarcations fall

[2020-05-12 18:03] terracoda commented on #340
@BLFiedler, you can use the A11y View to read it all at a bigger font
![Screen Shot 2020-05-12 at 3 32 17 PM](https://user-images.githubusercontent.com/1902116/81728985-d850c080-9465-11ea-8993-fae1833ddfee.png)

[2020-05-12 18:06] terracoda commented on #338
Looks and sounds awesome!
![Screen Shot 2020-05-12 at 3 04 34 PM](https://user-images.githubusercontent.com/1902116/81729265-485f4680-9466-11ea-9f5f-608b0ab450bc.png)

[2020-05-12 18:06] #338 closed

[2020-05-12 18:17] terracoda commented on #340
@arouinfar, @BLFiedler gave it his best shot, can you verify the ranges in the descriptions to make sure they are close enough to the visual as they can be or at least not incorrect.

[2020-05-12 18:21] terracoda commented on #340
@BLFiedler said on slack:

@arouinfar, this is a pixel-polish for the descriptions, if you will allow me to say that. If it sounds good to you, we are good.

[2020-05-12 20:47] jessegreenberg commented on #333
OK, this is done. There is a query parameter to pay with the timing called `?passThroughCount`. Default value is 5. You can test it by adding it to the end of the sim url.
.../molecules-and-light/molecules-and-light_a11y_view.html?brand=phet&ea&passThroughCount=2

@terracoda @Matthew-Moore240 can you please try it out?

Just something I noticed while playing with it, is there any concern that this

[2020-05-13 16:55] BLFiedler commented on #340
Looks like I used this (https://www.siyavula.com/read/science/grade-10/electromagnetic-radiation/11-electromagnetic-radiation-03) while generating the descriptions when I was a little unclear on the graphic.

[2020-05-13 17:05] terracoda commented on #340
@arouinfar, there is also a summary before the list of frequencies and wavelengths which I did not include in the screen shot above. The full description can be accessed in the A11y View.

[2020-05-13 23:33] arouinfar commented on #340
@terracoda @BLFiedler the descriptions all sound reasonable to me.

[2020-05-13 23:33] #340 closed

[2020-05-14 18:17] terracoda commented on #333
@jessegreenberg, asked:

I have the same concern, how hard would it to have the wording change to indicate multiple photos change the verb to present progressinve:
- Photons passing.
- {lightSourceName}} **photons passing** through {{moleculeName}} molecule.
    -  For example: "Microwave photons passing through Methane molecule."

When I reflect on the case of these "non-reactive" pairs, the situ

[2020-05-14 18:20] terracoda commented on #333
Otherwise, it sounds awesome to me.

[2020-05-14 18:20] terracoda commented on #333
And I think 5 is a good number, especially on normal speed.

[2020-05-14 18:28] terracoda commented on #340
@BLFiedler, I love the uses list for rays in that resource you linked to https://github.com/phetsims/molecules-and-light/issues/340#issuecomment-628117599

[2020-05-14 22:24] jessegreenberg commented on #333
Yep, done in the above commits. I removed the query parameter ?passThroughCount, and it alerts after 5 pass through events.

@terracoda @Matthew-Moore240 back to you for review.

[2020-05-15 00:07] terracoda commented on #333
@jessegreenberg, I think it sounds great!
@Matthew-Moore240, I give you the honor of verifying and closing our last description design related issue. Please have a listen.

[2020-05-15 17:06] Matthew-Moore240 commented on #333
It sounds awesome! Great job everyone!

[2020-05-15 17:06] #333 closed

[2020-05-19 18:12] jessegreenberg opened #341 "Update credits"
From #201, credits should be updated for next publication,

Current list:
Verified additions to Team: Wanda Diaz Merced, Brett Fiedler, Matthew Moore, Taliesin Smith, Brianna Tomlinson, Syan Zhou
 Verified Sound Design: Ashton Morris, Mike Winters

Others will be added (like around QA and such). We will modify when we get closer to final publication.

[2020-05-20 20:29] loganbraywork opened #342 "Using the right mouse button while interacting with sim causes freeze"
<b> Test device </b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 v. 1903

**Browser**

Chrome 83.0.4103.61 (Official Build) (64-bit)

**Problem description**

For https://github.com/phetsims/QA/issues/503

This occurs when interacting with any functional part of the sim, including the pause button, reset all button, and the radio buttons. An error log does appear in the console. While

[2020-05-20 21:36] loganbraywork commented on #342
Interestingly, this bug does not occur on Firefox but does occur on Edge and another unsupported Chromium browser

[2020-05-21 19:46] KatieWoe opened #343 "Scrolling when zoomed may have momentum"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/503.
When zoomed in and moving the screen around, there can be momentum to the scroll, meaning that it keeps moving for a bit even after you have stopped actively moving it. This is seen when scrolling using the scroll wheel (spinning it or pressing down and moving

[2020-05-21 21:56] samreid commented on #237
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 22:19] KatieWoe opened #344 ""Something happening" sound will not play if started during step through"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/503. Very minor sound interruption type sound.
If you start a molecule action that has a sound associated with it (such as the molecule bending) by stepping through the paused sim, and then press play while the action is happening the sound does not play for the res

[2020-05-21 22:58] KatieWoe opened #345 "Keyboard Nav Play/Pause clarification and suggestion"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/503
First: In the keyboard nav dialog box it says, "Pause or play action in Observation Window" for Alt+ K and this is in the Observation Window section. I interpreted this to mean that you had to be in the observation window to use this command. However, it does wo

[2020-05-21 23:34] KatieWoe commented on #342
Good catch @loganbraywork

[2020-05-21 23:49] KatieWoe commented on #213
For https://github.com/phetsims/QA/issues/503 I am again noticing slow zoom and scroll in Firefox. Reopening for a second look.

[2020-05-22 11:09] terracoda commented on #345
@KatieWoe, yes a hot key for Step Forward was suggested in interviews and we implemented that right after submitting the Dev test. The latest Keyboard Shortcuts dialog includes ALT + L to Step Forward in bigger steps which is really helpful for non-visual Step Forward.

Both shortcuts are indeed "global" in nature. They were implemented to allow learners their keep attention on what is happening w

[2020-05-22 11:20] terracoda commented on #345
Very astute of you @KatieWoe to catch this, apologies this update to the Keyboard Dialog was not included in the Dev Test, though the behaviour should be, I think.
![Screen Shot 2020-05-12 at 3 04 34 PM](https://user-images.githubusercontent.com/1902116/82662824-22296b80-9c09-11ea-915b-ce7eca79aec3.png)

[2020-05-22 16:10] KatieWoe opened #346 "IE Alt K opens Feedback Hub"
**Test device**
Dell
**Operating System**
Win 0
**Browser**
IE
**Problem description**
For https://github.com/phetsims/QA/issues/503. IE is being dropped, but I'm still doing a basic check to see if everything opens and works, which is how I caught this. May need to be discussed.
In IE, when using keyboard nav, the Alt + K command opens up the feedback hub window, rather than pause the sim. Alt +

[2020-05-22 16:36] jessegreenberg commented on #346
Thanks @KatieWoe  - Ill see if this can be prevented, in case we want to do that.  Is this specific to IE11 or does it also happen in Edge?

[2020-05-22 16:40] KatieWoe commented on #346
It works fine on chromium Edge. Don't have old version of Edge to see if it does there.

[2020-05-22 16:50] KatieWoe opened #347 "Should zooming control instructions be included?"
For https://github.com/phetsims/QA/issues/503.
The methods for zooming seem to be:
1 - keyboard navigation with ctrl +, -
2 - Pinch to zoom with fingers
3 - ctrl + mouse wheel

The zoom controls in the menu of browsers do not work. If I were trying to zoom in on something, that would be what I would try. I think it would be helpful to indicate that zooming is possible in the sim and instructions f

[2020-05-22 20:02] KatieWoe commented on #347
If we do add instructions, another control I remembered/rediscovered:
4. ctrl + 0 to undo zoom and set sim to default proportions

[2020-05-22 20:38] jessegreenberg commented on #347
Thanks @KatieWoe. @emily-phet @terracoda I am curious what you think about this.  All the standard methods for zoom/pan work as they would in another browser. What specifically doesn't work is the browsers UI for controlling zoom
![image](https://user-images.githubusercontent.com/6396244/82707680-87ea1780-9c4a-11ea-861c-015dc6531b9a.png)

Do we need to let the user know this, or include zoom in th

[2020-05-22 20:40] jessegreenberg commented on #346
OK no worries, thats good enough and indicates that this isn't a microsoft reserved key command still. Given low use for IE11 and the fact that the world is phasing it out, I think it would be acceptable to try and prevent IE11 from opening the feedback hub if we can.

[2020-05-22 20:42] jessegreenberg commented on #345
@KatieWoe do you think this addresses your concerns and can this be closed?

[2020-05-22 20:43] KatieWoe commented on #345
Yup

[2020-05-22 20:43] #345 closed

[2020-05-22 21:00] emily-phet commented on #347
@jessegreenberg This is because we're controlling magnification ourself, so the sim only responds to interactions it can directly intercept, correct? So interacting with the browsers menu, the sim doesn't know that's happening and can't respond.

[2020-05-22 21:11] KatieWoe opened #348 "Molecule names have more room for max width"
**Test device**
Lovelac
**Operating System**
ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/503. Occurs in published version. Not limited by platform.
When using stringTest=double, the strings for the different molecules are limited to the size of the original name. This can make them quite short, and with plenty of room in some cases to potentially e

[2020-05-23 00:31] jessegreenberg commented on #347
That's correct @emily-phet - and the reasons we cannot use "native" browser zoom are in https://github.com/phetsims/scenery/issues/175#issuecomment-494547681.

[2020-05-23 17:03] terracoda commented on #347
@emily-phet and @jessegreenberg, I'm not sure how much room we will have in the Keyboard Shortcuts dialog as accessibility features progress and become more numerous and diverse.

What if the location where we now have as the Keyboard Shortcuts buttons was replaced by a pop-up A11y Options menu, and from that menu the learner would have access to instructions for the different features? Such as:
-

[2020-05-26 16:28] terracoda commented on #237
@jessegreenberg, I don't this issue was re-opened for me. Assigning to you. Please re-assign me when needed?

[2020-05-26 16:45] terracoda commented on #347
In addition, since the Zoom feature will be an option for all sims with or without other a11y features, it might make sense to have a general dialog available fro the PhET Menu, kind similar to the About dialog.

[2020-05-26 17:21] jessegreenberg commented on #347
I really like this, and think this will be important as we layer on more adaptive features.

For zoom, my opinion is that we shouldn't add anything unless we receive feedback from users that the current input method is confusing. The input for zoom is very conventional for interactive content/games. Google Maps, for example, does not zoom with the browser zoom controls in settings.

[2020-05-26 17:37] jessegreenberg commented on #348
Thanks @KatieWoe, I can appreciate this.

The current implementation keeps the same spacing between text and icon no matter what the length of the text is, and scales the text down to fit.

In my opinion, it isn't worth adding complexity to reduce the spacing if the text label is wider for i18n. Especially since this test is not realistic, translated labels will not double the molecular name AND t

[2020-05-26 17:57] jessegreenberg commented on #346
OK, I tried to prevent this from opening and could not with event.preventDefault(). This makes sense, it doesn't seem like anything a web developer should be able to control. Would be good to discuss with @terracoda @Matthew-Moore240 and maybe others to see if this should prevent use of Alt + K.

[2020-05-26 17:59] jessegreenberg commented on #343
Thanks @KatieWoe, this is incorrect behavior.

[2020-05-26 18:10] KatieWoe commented on #347
I would add that, even though instructions for zooming may not be needed, an indication that it is possible may be. Personally, if I wanted to zoom, I would only really try one method before I assumed it couldn't be done at all, and my default would be the browser menu.

[2020-05-26 18:23] arouinfar commented on #348
I agree with @jessegreenberg.

MAL has been translated into more than 50 locales, and the smallest the strings get is in Mongolian, locale code `mn`. I think these strings are still very readable.

![image](https://user-images.githubusercontent.com/8419308/82936127-5b384780-9f4b-11ea-91bb-0668d98bc220.png)

[2020-05-26 18:23] #348 closed

[2020-05-26 18:26] terracoda commented on #346
I feel we can leave as is. The is an added feature and does not prevent use of the Pause/Play button. Alt + K is particularly useful for non-visual access and non-visual users will likely not be using IE11.

[2020-05-26 18:27] terracoda commented on #346
@jessegreenberg will add this to a11y bugs list.

[2020-05-26 18:32] terracoda commented on #344
@jbphet, could you comment if it is possible to make the excitation sound start if Play is pressed after starting an excitation in Step Forward mode?

[2020-05-26 18:32] jessegreenberg commented on #346
Added to the list, closing.

[2020-05-26 18:32] #346 closed

[2020-05-26 18:40] samreid commented on #237
The TODO is:

[code]

[2020-05-26 18:40] samreid commented on #237
Since https://github.com/phetsims/molecules-and-light/issues/237 was closed, perhaps this should be changed to use `accessibleName`?

[2020-05-26 18:48] terracoda commented on #347
@KatieWoe, I agree that it is important to indicate that zooming is possible. The web team has already designed an icon for this feature. The icon will appear on the sim tiles and on the sim pages, so it will be communicated that the sim is indeed zoomable (which is particularly useful for small mobile devices).

The zoom feature will be rolled out generally to several simulations with or without

[2020-05-26 18:56] jessegreenberg commented on #237
Thanks @samreid, the real issue that needs to be fixed before the TODO can be removed is https://github.com/phetsims/scenery/issues/1026, so I updated the code comment to reference that open issue instead.

[2020-05-26 18:56] #237 closed

[2020-05-26 21:04] terracoda commented on #344
@KatieWoe, can you confirm that you hear description in this case?

[2020-05-26 21:26] KatieWoe commented on #344
I do (checked on nvda) Although I notice it doesn't talk about the emitted photon. Is that intended?

[2020-05-27 08:44] terracoda commented on #344
It only says emitted on Slow speed and Step Forward. On Normal speed, there is no time fro details. The sounds are meant to take care of that. Missing one excitation or one emission sound is likely not a show breaker.

That said, it will be nice to hear what @jbphet has to say about this issue.

[2020-05-27 14:43] KatieWoe commented on #344
I'll take a much closer look when I get to the a11y screen reader parts of the testing.

[2020-05-27 15:54] jbphet commented on #344
Yes, this could be done.  The tricky part would be synchronizing the sound with the oscillations, but I think we should do it anyway and not worry about having perfect synchronization (the sounds could probably be synced too, but this would be *much* more complicated).

I think I'll just go ahead and work on this and have you two (@terracoda and @KatieWoe) test it on master and, if we like it, we'

[2020-05-27 17:59] jbphet commented on #344
Actually, it looks like the fix that I did for https://github.com/phetsims/tambo/issues/105 also addressed this problem.  @KatieWoe and @terracoda - can you please test on master and see if the behavior there is better and addresses the reported problem?  If so, please mark this as "fixed-awaiting-deploy" and unassign.  That way we can make sure to test it before the final re-publication.

[2020-05-27 18:29] KatieWoe commented on #344
This does seem fixed on master

[2020-05-27 20:00] terracoda commented on #344
Yep, it sounds good for me. I'll go ahead and close. @KatieWoe, please re-open if I was not supposed to close.

And thanks @jbphet!

[2020-05-27 20:00] #344 closed

[2020-05-27 20:02] KatieWoe commented on #344
It can be closed as long as you don't need it tested for in an upcoming rc or dev test.

[2020-05-27 20:08] KatieWoe opened #349 "Mac VO is difficult to use and keeps saying "busy""
**Device**
Mac Pro
**OS**
Mac 10.15.5
**Browser**
Safari 13.1.1
**Problem Description**
For https://github.com/phetsims/QA/issues/503. Found with Mac VO, does not seem to happen with other sims using Mac VO (checked published version of Friction) which indicates an issue with Molecules and Light, rather than VO itself.
When starting to interact with the sim with Mac VO, depending on how you start

[2020-05-27 21:07] KatieWoe commented on #349
https://drive.google.com/file/d/1ctYMVSDFXtzJe5YUk7p1wDQZgw-fiNHd/view?usp=sharing
On mobile VO, trying a two finger swipe (which should read from the top of the page) instead reads a lot of links and buttons that I didn't really recognize. This continues on for a while (video only covers about half of it). I'm wondering if it has the same cause.
@jessegreenberg if you think it is separate, let me

[2020-05-27 21:16] jessegreenberg commented on #349
Interesting, thanks @KatieWoe - yes it may be related but I am not sure. Its like VoiceOver is reading through browsing history or previous webpages or something.

[2020-05-27 21:59] KatieWoe opened #350 "Mobile VO starts in the middle of the sim"
**Device**
iPad
**OS**
iPadOS 13
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/503
When you have Mobile VO active and follow a link to the sim, the focus for the sim starts in the middle, on the button to turn on the light. Swiping left/right shows that this is where the focus seems to start by default. I would expect it to start at the top of the scene descr

[2020-05-28 17:01] KatieWoe opened #351 "Mobile VO calls bullet point "unpronounceable""
**Device**
iPad
**OS**
iPadOS 13
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/503
When Mobile VO is reading through the Light Spectrum dialog, specifically the ranges for the wavelengths and frequencies, it says the white sub bullet points are unpronounceable. It specifically says "unpronounceable, white bullet" before reading out the info. No info is lost,

[2020-05-28 19:39] KatieWoe opened #352 "Mobile VO Read through interrupted unevenly when even happens"
**Device**
iPad
**OS**
iPadOS 13
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/503. Seen with mobile VO, may occur generally but looked ok on NVDA. May be a general mobile VO issue
When reading through the scene description, if an alert about a molecule or photon comes up, the reading is interrupted, but not cleanly. Words are cut off and lost, both in the in

[2020-05-29 15:59] terracoda commented on #347
I'll close this issue since any further discussion will happen in https://github.com/phetsims/website/issues/1064

[2020-05-29 22:00] zepumph opened #353 "Use PhetioGroup"
From https://github.com/phetsims/molecules-and-light/issues/203 and https://github.com/phetsims/tandem/issues/87

This may not take too long, and would be good cleanup. @jessegreenberg is there a timeline on taking RC shas for this sim? I think we should do this work afterwards.

[2020-06-01 22:55] loganbraywork opened #354 "Paths and object positions in state wrapper do not reflect actual positions and paths"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v. 1903

**Browser**

Chrome Version 83.0.4103.61

**Problem description**

For https://github.com/phetsims/QA/issues/505

In the States wrapper, when an object is moved, the paths seem to create very jagged lines, as well as display objects crashing into each other which did not occur in the original version of the sim.

**Steps

[2020-06-02 15:35] terracoda commented on #352
@KatieWoe, From the video I don't hear what is problematic?
With sims like MAL that have an active state that continuously updates (this is our first sim with this behaviour), I'm not sure we can address any issues related to simultaneous responses and with simultaneous changes happening in the state descriptions.

We do not want the responses (alerts) to pile up and get stale.

I think it might b

[2020-06-02 16:35] terracoda commented on #351
@KatieWoe, I hear "unpronouncable", too, on mobile and I hear "white bullet" on MacBook Pro.

Unfortunately, removing the visual bullets with CSS removes the list semantics all together in Safari and then learners using VO lose list semantics and the list count. This is a Safari issue (https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html)

@jessegreenberg, we can discuss testing the wor

[2020-06-02 16:41] terracoda commented on #349
This does not happen on my iPhone7.

[2020-06-02 16:45] terracoda commented on #350
Browsers, typically place focus on the first focusable element. I am not sure this is a bug.

[2020-06-02 18:38] jessegreenberg commented on #351
Discussed during today's meeting -

We are going to see what iOS VO says for a nested list in a vanilla HTML page.
Then we are going to see what adding the aria-role 'list' does to the output.
Then if that doesn't fix it we can see if the CSS has an impact on making it "unpronouncable".

[2020-06-02 18:48] terracoda commented on #352
If I got your example correct, we think this is expected behaviour and will close the issue.

[2020-06-02 18:48] #352 closed

[2020-06-04 21:22] terracoda commented on #350
I did some reading and I only found one example of where a developer was intentionally setting focus on an H1 to improve the screen reader UX. General documentation about focus was silent on where focus should start on page load.

At Tuesday's design meeting you and I also thought it is essential for the screen reader UX to start at the top of the page.

With that in mind and since this does not h

[2020-06-04 21:23] terracoda commented on #350
Links to the resources I read are in the design doc here at[ Notes & Research on Issues](https://docs.google.com/document/d/1r9D3vq4QvmmXkQ5G6HexpybUv_vL6LrYFb3wgPfUdWg/edit#heading=h.ojjnbwgugfgf).

[2020-06-04 22:03] jessegreenberg commented on #353
Yep! We are hoping to grab RC shas by June 9.

[2020-06-08 16:45] KatieWoe opened #355 "CT Cannot read property numberOfChildren of null"
[code]

[2020-06-08 16:46] KatieWoe commented on #355
Just informed that this is part of https://github.com/phetsims/studio/issues/134.
Closing

[2020-06-08 16:46] #355 closed

[2020-06-08 22:25] jessegreenberg commented on #351
I was able to verify that this is happening in this HTML page as well, which verifies that this is not happening because of our PDOM CSS
<details>

[code]

[2020-06-08 22:43] jessegreenberg commented on #351
OK in this example I am following https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html - effectively this is removing semantics with `list-style: none`, and then adding our own back with role=list

[code]

We still don't hear "white bullet", but mobile VoiceOver says "list start" when it gets to the first nested bullet item.

[2020-06-08 22:47] terracoda commented on #351
Ok, I was just testing some code, too.

[2020-06-08 22:48] jessegreenberg commented on #351
This sounds OK on desktop VoiceOver too. "White Bullet" is gone, but instead VoiceOver says "list 2 items level 2" when we reach the nested list
[code]

[2020-06-08 22:53] jessegreenberg commented on #351
I just tested with NVDA and what is mentioned in https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html also applies to that AT as well. the CSS removes semantics for NVDA too. Reading from the top with NVDA, the example in https://github.com/phetsims/molecules-and-light/issues/351#issuecomment-640927194 sounds like

"Bullet, Pizza. Bullet, Toppings. List with two items, Mushroom. Onion.

[2020-06-08 22:54] terracoda commented on #351
This is wonderful news, @jessegreenberg.
I was just verifying this code:
[code]

And I think it is good on my Mac, but I couldn't test in on mobile.

[2020-06-08 22:58] terracoda commented on #351
@jessegreenberg, in Safari on MacOS, I hear the list semantics, too, and no more "bullet" on main list items or "white bullet" on sub-list list items.

If all sounds good on JAWS and Chrome, I think this should be a new common code pattern for us. We do not miss-use lists.

[2020-06-08 23:03] terracoda commented on #351
@jessegreenberg, I don't think you need the explicit role on the list items, only lists, like this:

[code]

and then the CSS somewhere convenient

[code]

[2020-06-08 23:05] jessegreenberg commented on #351
I just tried with JAWS and it sounds reasonable there. Reading from the top:
"Bullet, Pizza. Bullet, Toppings. List with two items, nesting level 1. Mushroom. Onion. List end nesting level 1. Bullet, Ice Cream."

[2020-06-08 23:07] jessegreenberg commented on #351
Re https://github.com/phetsims/molecules-and-light/issues/351#issuecomment-640932018

OK @terracoda sounds good! Seems like we can go ahead and do this in the sim.

[2020-06-08 23:07] terracoda commented on #351
Awesome, I saw we run with this - no more "unpronounceable"!

[2020-06-08 23:08] terracoda commented on #351
@jessegreenberg, where would we open an issue so this fix could be part of common code and eventually maintenance releases?

[2020-06-08 23:13] jessegreenberg commented on #351
Hmm, good question I am trying to think of how to do this best too. Have we used nested lists before? If not, there is no need for this as a maintenance release because this is only sim to have this. And I don't want to remove semantics for all lists in PhET code, just ones that have this problem.

This is also very much an Apple bug and we should submit a bug report for it. I am wondering if we s

[2020-06-08 23:18] terracoda commented on #351
@jessegreenberg, it's not just the "unpronouncable".
I have actually been wondering for a long time, how to get rid of the undesireable voicing of "bullet" and  sometime "bullet, bullet" that VoiceOver says on all list items.

We do not use nested lists very often, and in a couple of cases I decided against it because the non-visual experience sounded unpleasant to me.

We do use lists (legitimate

[2020-06-08 23:21] terracoda commented on #351
Let's fix MAL and open a general issue elsewhere for discussion.

[2020-06-08 23:22] terracoda commented on #351
And totally I agree this is an Apple bug.

[2020-06-09 03:25] jessegreenberg commented on #351
OK sounds good, I started https://github.com/phetsims/a11y-research/issues/158 to discuss best markup for unordered lists. In the meantime Ill proceed with a sim specific fix.

[2020-06-09 04:00] jessegreenberg commented on #351
Workaround applied, @terracoda  can you confirm this is fixed?

[2020-06-09 04:15] jessegreenberg commented on #350
This is not intended, but also not sure if it is an issue. What is shown in the video is the screen reader cursor, not DOM focus. We have seen that NVDA sometimes "remembers" where the cursor was the last time the user was on the page and puts it back there next load. Maybe that is what is happening here, but I couldn't get it to happen with consistency. I went from https://github.com/phetsims/QA/

[2020-06-09 04:21] jessegreenberg commented on #350
Just as a data point, the "remembering" where cursor is definitely happens on MacOS VoiceOver. If you move the virtual cursor somewhere then reload the page, the cursor will still be there after sim is reloaded.

[2020-06-09 04:33] jessegreenberg commented on #349
I tried for about 10 minutes to get this happen but I have not been able to unfortunately. I still suspect that this is a performance problem.

@terracode @KatieWoe could you please add any computer specific details? Here are mine:
macOS Catalina 10.15.4
MacBook Pro (Late 2013)
Processor 2.4 GHz Dual-Core Intel Core i5
Memory 8 GB 1600 MHz DDR3

What is your battery percentage at when you see this

[2020-06-09 04:33] jessegreenberg commented on #349
I think this is a different  ssue, Ill make a new one.

[2020-06-09 04:39] jessegreenberg opened #356 "Mobile VO reading things that are not in sim"
From #349 - @KatieWoe mentioned that reading from the top with two finger gesture swipe with iOS VoiceOver included lots of links and other things that were not in the simulation page. See https://github.com/phetsims/molecules-and-light/issues/349#issuecomment-634940123.

Video: https://drive.google.com/file/d/1ctYMVSDFXtzJe5YUk7p1wDQZgw-fiNHd/view?usp=sharing

[2020-06-09 04:44] jessegreenberg commented on #356
Unfortunately I cannot produce this bug. I have tried on my iPad Air 2 and my iPhone 8. In the video I hear "phet-dev, button" "Safari version, button", "PhET free online physics, chemistry..., button", something with "?profiler", "john-travoltage, button", "Frequently Visited, heading"...

It sounds like Safari history or settings or something. Were these open right before you tested @KatieWoe? I

[2020-06-09 12:08] terracoda commented on #351
@jessegreenberg, on MacOS, applying the fix to the nested `ul` does remove "white bullet" from the sub-listed items.

Presumably, this removes "unpronounceable" from the sub-listed items in the mobile experience. I need a dev link to test that, though.

However, I think we will improve the listening experience even more by applying this fix to both the parent `ul` and the nested `ul` and potential

[2020-06-09 12:35] terracoda commented on #351
For this issue, please apply the fix to the parent list in the Light Spectrum Diagram dialog.
[code]
This results in much less "code/structure verbosity". I do not hear the count on the first item, but rather only on subsequent items, which is kind of nice. Reading backwards through the list creates a miss-read on the fist, i.e., last sub-list item, but I think this is acceptable and it quickly fi

[2020-06-09 14:26] jessegreenberg commented on #351
OK, I added the workaround to the parent list as well in the above commit. @terracoda can you please review? Here is a dev version for mobile:

https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.51/phet/molecules-and-light_en_phet.html

[2020-06-09 14:40] KatieWoe commented on #356
I don't believe so, but it is certainly possible. It doesn't seem to be doing it now. In fact, it seems to be reading from the correct spot now? Not sure what changed.

[2020-06-09 14:48] KatieWoe commented on #349
macOS Catalina 10.15.5 (may have updated since the issue was made, so may have been 10.15.4)
PacBook Pro 2017
Processor 2.3 GHz Dual-Core Intel Core i5
Memory 8 GB 2133 MHz LPDDR3

It would have been between 90 and 100 percent and plugged in.

[2020-06-09 14:48] jessegreenberg commented on #343
@KatieWoe can you please verify that this is fixed in master? query param for phettest is ?zoom=true

[2020-06-09 14:51] jessegreenberg commented on #356
OK, very strange. I have noticed sometimes that VoiceOver will read content from a previous window, like once I had VO on while dialing a phone number, and VO continued to read buttons after I had closed my calling app.

Anyway, I feel comfortable closing this, do you @KatieWoe?

[2020-06-09 14:52] KatieWoe commented on #356
Sure

[2020-06-09 14:52] #356 closed

[2020-06-09 14:56] jessegreenberg commented on #349
OK thanks @KatieWoe - pretty similar specs, nothing to indicate your computer is a slower model. Would you mind quickly checking again and seeing if this happens with consistency?

[2020-06-09 15:01] jessegreenberg commented on #342
Error is specifically "cannot read initial point of null". When I try on chrome though (unbuilt) i first get "Attempted to add an input listener that was already added", so Ill start there.

[2020-06-09 15:03] jessegreenberg commented on #342
Also important, this only happens when zoomed all the way out.

[2020-06-09 15:06] KatieWoe commented on #349
It is still happening. In fact, I seemed to be having even more trouble getting it to read anything.

[2020-06-09 15:16] jessegreenberg commented on #349
Would you mind trying with this version? (zoom disabled)
https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.50/phet/molecules-and-light_all_phet.html

[2020-06-09 15:19] KatieWoe commented on #349
It does seem to be working with that link when I did a quick check

[2020-06-09 15:19] jessegreenberg commented on #342
In Chrome, the right mouse click doesn't send a "down" event to the browser. But it does in FF. That explains why this doesn't happen on that browser.

[2020-06-09 15:37] KatieWoe commented on #343
Looks good on Win 10 Chrome master in regards to clicking down on the scroll wheel. I did notice that some of the "floating" behavior seem to happen when you use the scroll wheel too. It's a bit hard to tell if that is an issue though.

[2020-06-09 15:49] terracoda commented on #351
**Verification in MacOS with Safari  and VO**
1. main list item
<img width="949" alt="verification-main-listitem-macos" src="https://user-images.githubusercontent.com/1902116/84169850-ae35f280-aa53-11ea-9b7f-61c8363e5817.png">
2. sub list item
<img width="951" alt="verification-sublist-item-MacOS" src="https://user-images.githubusercontent.com/1902116/84169859-b1c97980-aa53-11ea-8285-46a6c1339609.

[2020-06-09 16:10] terracoda commented on #351
On iOS (iphone 7 13.4.1)
I hear no count on the either the main list items or sub-list items, but I get a clear indication of when a list starts and when a list ends.

At the start of the main list I hear:
- Radio, large range, list start

At the start and end of each sub list I hear:
- Frequencies less than ... list start
- Wavelengths ... list end

And I hear for the end of the main list:
- Gamm

[2020-06-09 16:12] terracoda commented on #351
@jessegreenberg, both MacOS 10.13.6 and iOS 13.4.1 are verified.
Closing. Please re-open if I am closing prematurely.

[2020-06-09 16:12] #351 closed

[2020-06-09 16:41] terracoda commented on #350
@jessegreenberg, did you review the react example? I know it's not exactly the same situation as for us, but on page load, the focus is set intentionally to the H1.  This achieves 2 things:

1.  ensures the stale VO cursor does not appear on the new page
2. ensures reading starts from the top

Both seem worthwhile to me, at least for VoiceOver users.

Are there specific reasons not to set the focu

[2020-06-09 16:55] jessegreenberg commented on #343
Thanks @KatieWoe sounds good - floating with the wheel is intentional, as it looks good with trackpad input and matches Mac behavior with a mouse. If it is annoying or problematic we can change it, but it feels OK to me.

I am going to close this issue as the main problem is fixed.

[2020-06-09 16:55] #343 closed

[2020-06-09 17:28] jessegreenberg commented on #350
From the video:

I disagree with this, and I believe that the user experience of setting the focus at the page title when routing from one page to the next is a better user experience than setting the focus on whatever the first focusable element may be.

My personal preference would be to agree with ESlint and google (from notes in your doc)

My opinion is that this breaks convention and is not n

[2020-06-09 17:55] jessegreenberg commented on #342
OK, this issue has been fixed in the above commit, which prevents a listener from being added to a press Pointer if it is already in the list of background presses.

[2020-06-09 17:55] #342 closed

[2020-06-09 17:58] jessegreenberg commented on #213
So it seems that there is some impact of native browser zoom on scroll amount. For instance, I see in this in Firefox at
![image](https://user-images.githubusercontent.com/6396244/84183072-5601ef00-aa59-11ea-8ece-70f7ec4e44db.png)

But the problem goes away at 100%, and gets even faster at 300%.

[2020-06-09 18:00] jessegreenberg commented on #213
There is this firefox specific code in related to wheel
[code]

[2020-06-09 18:06] jessegreenberg commented on #213
Very strange, the speed of translation is also impacted during arrow presses.

[2020-06-09 18:37] terracoda commented on #350
We discussed at meeting. @jessegreenberg to add notes and create a11y-research issue.
We won't fix this for MAL publication, but will consider as a general design issue post MAL publication.

[2020-06-09 18:37] #350 closed

[2020-06-09 18:45] terracoda commented on #211
Unsupported platform. Won't fix.

[2020-06-09 18:45] #211 closed

[2020-06-15 22:53] jessegreenberg commented on #213
OK, this has been fixed. Any panning is scaled to correct for native browser zoom or window size so that it behaves the same regardless of those factors. This was not an issue just for Firefox but for all browsers that had some zoom set to anything other than 100%. Closing.

[2020-06-15 22:53] #213 closed

[2020-06-15 22:55] jessegreenberg commented on #222
Closing, since IE11 is no longer a platform we will test for sims.

[2020-06-15 22:55] #222 closed

[2020-06-16 14:44] jessegreenberg commented on #349
Trying to get this to happen again, I couldn't get it to say "busy" during normal use. But it would say "busy" if the sim was zoomed in and panned to a new element on change of focus. But after about 2 seconds it was catch up and read the newly focused item.

[2020-06-16 14:52] KatieWoe commented on #349
What about when you are trying to listen the scene description? That seemed to be the bigger cause of problems when testing.

[2020-06-16 15:01] jessegreenberg commented on #349
Is anything else going on in the sim, or just right after sim load?

[2020-06-16 15:04] KatieWoe commented on #349
right after sim load, but it depends on what you do at the beginning. As said in original issue:

[2020-06-16 15:10] jessegreenberg commented on #349
OK, thanks. I still am not able to get this to happen. I tried moving from the navigation bar and reading through the sim with arrow keys, and also reading through everything with "control" + "option" + "A" and I haven't heard it say "busy" yet.

[2020-06-16 15:15] jessegreenberg commented on #349
Ahh, I got it to happen by just pressing the arrow keys! The safari command to read content in VoiceOver is to press "control" + "option" + "arrow keys".

But when I just use arrow keys I do hear busy. I am not sure yet what the arrow keys are requesting VO to do or if our sim is doing performance intensive work in response to the arrow keys. Ill investigate.

[2020-06-16 15:16] terracoda commented on #349
I thought the command to read with cursor was:
- Control Option Right Arrow?

To interact with an interactive item:
- Control Option Shift Down Arrow... and VO says:
-" Interact with the title of switch"

Hmm, I wonder where, "the title of" is coming from - more VO-MAC silliness.
Why doesn't VO just say, "Interact with Infrared Light Source switch"?
VO knows the name of the button and knows it is

[2020-06-16 15:19] jessegreenberg commented on #349
OK, thanks @terracoda I confirmed that, this is helpful.

[2020-06-16 15:28] terracoda commented on #349
Yep, with zoom enabled, I get "Safari busy" a lot. I also get am sim content in between the busies. And their seems to be a bit of delay.

Sounds like it is similar for you @jessegreenberg.

[2020-06-16 15:29] terracoda commented on #349
OK, now my fan is going crazy. The sim in zoom and VO  is off.

[2020-06-16 15:33] jessegreenberg commented on #349
@terracoda what are your thoughts on whether zoom should be supported with VoiceOver? Is that a combination we need to support? It seems like the zoom operations really strain VoiceOver and I would like to know how far to go in working on optimizations.

[2020-06-16 15:56] terracoda commented on #349
@jessegreenberg, that's a good question. Zoom is likely most useful for people with Low Vision who may or may not be using screen reader software.

Screen reader software is most often used by people who blind who who do not have enough vision to read text on the screen.

I think we can focus on making sure the sim works well with VO on when not Zoomed.

I hear "busy" and often lose access to Cont

[2020-06-16 16:10] KatieWoe commented on #349
I don't think I saw it in iOS. I never tried using a screen reader while zoomed in, it just did it if it was possible to zoom in.

[2020-06-16 17:14] jessegreenberg commented on #349
The above commit stops VoiceOver from saying "busy" when at max zoom and pressing the arrow keys.

[2020-06-16 17:14] jessegreenberg commented on #349
OK, that sounds good to me @terracoda, thanks.

[2020-06-16 17:55] jessegreenberg opened #357 "Remove unused assets"

[2020-06-16 17:59] jessegreenberg commented on #357
Hmm, the sounds and images are definitely being used, so something is wrong with the warning.

[2020-06-16 18:03] jessegreenberg commented on #349
Here is a new version with this fix:

https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.53/phet/molecules-and-light_en_phet.html?zoom=true

@KatieWoe and @terracoda can you test to see if it is improved in this version?

[2020-06-16 18:35] terracoda commented on #349
@jessegreenberg, I think you are amazing.
I played with sim without zooming and I never heard "busy" once.
I then zoomed, and I heard "busy", but I think I hard it less than before.

As discussed in our meeting today, I'll reach out to @emily-phet. And I as we discussed we will have more control and learners will have more options when they combine a Self-Voicing option with the Zoom option.

I'll

[2020-06-16 18:44] emily-phet commented on #349
@terracoda and @jessegreenberg I think it's fine to proceed with RC with less than ideal experience combining Zoom and VO.

[2020-06-16 18:47] terracoda commented on #349
Ok, @jessegreenberg, I think this issue is ready to close, so closing.

[2020-06-16 18:47] #349 closed

[2020-06-16 20:35] jessegreenberg commented on #357
The strings were unused but as far as I can tell the images and audio are being used. I reopened https://github.com/phetsims/chipper/issues/909 for this.

[2020-06-16 20:35] #357 closed

[2020-07-09 12:34] terracoda commented on #201
@jessegreenberg, in https://github.com/phetsims/chipper/issues/954#issuecomment-655786009, @zepumph commented that the issue (https://github.com/phetsims/chipper/issues/954) was no longer blocking and people needing sha's for should talk to @chrisklus to get the they need.

I am marking that issue as done for the MAL check list. Hopefully, you can put the sim in RC now :-)

[2020-07-10 19:17] KatieWoe opened #358 "LoL Ctrl+0 to remove zoom doesn't seem to work"
For https://github.com/phetsims/QA/issues/513. Win 10 Chrome in Legends of Learning harness.
When testing the LoL harness, I noticed that I was able to zoom in and out as expected using Ctrl+scroll, Ctrl++, and Ctrl+-, but that Ctrl+0 did not seem to do anything.

[2020-07-10 19:25] jessegreenberg commented on #358
Interesting, thanks. So what I am seeing is that it depends on where focus is within the simulation. If focus is on a the photon emitter radio buttons or the molecule selection radio buttons keyboard zoom control (+, -, 0) does not work at all. However, if you are on any other button, all zoom controls (+, -, 0) work OK.

[2020-07-10 19:26] KatieWoe commented on #358
Update: this seems to be an issue for iframes actually, where, in addition to Ctrl+0 not working, Ctrl++ and Ctrl+- seem to control the page, not the sim.

[2020-07-10 19:26] jessegreenberg commented on #358
Actually, I just confirmed https://github.com/phetsims/molecules-and-light/issues/358#issuecomment-656851007 outside of the iframe as wel, it is not possible to zoom in with keyboard if focus is on those radio button groups.

[2020-07-10 21:02] KatieWoe commented on #358
Recording: https://drive.google.com/file/d/1Ka8QFEKoEszbuZnxAaUtl7KzXtOOw91z/view?usp=sharing

[2020-07-10 21:46] jessegreenberg commented on #358
Thanks @KatieWoe - I don't have access to that file, could you please share?

[2020-07-10 22:02] jessegreenberg commented on #358
I think there are two issues being discussed here.

This is true, and actually expected - sorry I didn't mention this. If using keyboard commands, the browser assumes that you are sending commands to the parent web page, and so zoom commands will not go to the iframe, but will go to the parent. This is partly for security, an iframe should generally not intercept input from the parent frame. Zoomi

[2020-07-10 22:39] KatieWoe opened #359 "Alt+k and Alt+l work when dialog is open or not using keyboard nav"
**Test device**
Lovelace
**Operating System**
ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/513
The alt+k and alt+l commands work when the dialog for light spectrum is open, which seems pretty odd. It also works even if you haven't activated keyboard nav using tab.

**Visuals**
![lightspectrumaltl](https://user-images.githubusercontent.com/41024075/8

[2020-07-10 22:43] jessegreenberg commented on #359
Thanks @KatieWoe -

This part seems OK to me. But being able to use the global hotkeys while a Dialog is feels incorrect to me. This will probably also happen for the About Dialog, PhET Menu, Keyboard Shortcuts Dialog, and others.

@terracoda what do you think about this, should you be able to use "global" hotkeys while a modal window is open?

[2020-07-11 11:05] terracoda commented on #359
@jessegreenberg, there should be no access (keyboard access or otherwise) to the content underneath a dialog when the dialog is open. A learner should have to exit the dialog to get back to the content with any keyboard commands.

There are techniques for locking out access to the content. I think we resolved that problem in previous work.

Are you able to "turn off" the hot keys when the dialog i

[2020-07-13 16:10] KatieWoe opened #360 "Step forward is different with alt+l than with the button"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/513.
Stepping forward with alt+l steps forward more than pressing the step forward button (with mouse or keyboard nav) does.

**Visuals**
Alt+l
![choppybyaltl](https://user-images.githubusercontent.com/41024075/87327210-051a6600-c4f1-11ea-9b3d-2e7af88693d6.gif)
Butt

[2020-07-13 16:48] jessegreenberg commented on #359
OK, that makes sense to me.  Our previous work on this was just to remove items from the focus order when a modal dialog/menu is active. I am not sure yet how to prevent global hotkeys in this case but I will investigate.

[2020-07-13 16:56] jessegreenberg commented on #360
Thanks for pointing out @KatieWoe but this behavior was actually requested in https://github.com/phetsims/molecules-and-light/issues/336#issuecomment-624242818. The reason is that with larger time steps it will be easier for screen reader users to receive feedback from molecule/photon interactions since there are less steps where nothing happens.

Closing this issue, but feel free to reopen if I m

[2020-07-13 16:56] #360 closed

[2020-07-13 17:10] jessegreenberg opened #361 "Verify that movement during arrow keys and mouse wheel looks good in RC 1.5.0-rc.3"
For the molecules-and-light RC https://github.com/phetsims/QA/issues/513.

@KatieWoe suggested that there was too much movement, and the movement was too slow. Movement speed during arrow key presses and mouse wheel control was modified to snap to destinations a bit faster.

Fix was handled in https://github.com/phetsims/scenery/issues/1062. Changes for the scenery issue were merged into a release

[2020-07-13 19:18] KatieWoe opened #362 "Inconsistencies with Mac Scrolling"
Discussed with @jessegreenberg over zoom.
Macs have a Command key, which does most of what Ctrl does on a PC. It also has a key called Control. Which of these buttons controls zoom commands in the sim seems inconstant. Control is needed if you are scrolling to zoom. Command is needed if you are using +/-/0.
Seen on Mac 10.12 Safari

[2020-07-13 20:28] jessegreenberg commented on #359
The above commits provide a solution for this, and they are on master. @KatieWoe can you please confirm they are working as you would expect now?

[2020-07-13 21:12] KatieWoe opened #363 "Xhtml file does not support zoom"
**Test device**
Dirac
**Operating System**
MacOS 10.12.6
**Browser**
Safari 12.1.2
**Problem description**
For https://github.com/phetsims/QA/issues/513
Zooming doesn't seem to work on the xhtml file in safari. Tried using the command++/-. The sim would twitch, but not zoom in at all.

[2020-07-13 22:25] KatieWoe commented on #363
Seems to happen on Chrome as well.

[2020-07-13 22:40] KatieWoe commented on #359
Look fixed on master

[2020-07-13 22:55] jessegreenberg commented on #362
We decided that there is nothing that needs to be done for this issue. "Command" is the conventional key to initiate zoom with keyboard controls on a mac. What is atypical is that we have "control" plus two-finger-scroll gesture triggering zoom on Mac as well. On other web pages, this just scrolls as if "control" were not pressed.

But we decided that this difference was OK, and very unlikely to c

[2020-07-13 22:55] #362 closed

[2020-07-13 22:56] jessegreenberg commented on #359
Thanks @KatieWoe, I will move those changes to the release branches then.

[2020-07-13 23:42] jessegreenberg commented on #363
Interesting, thanks. Zoom works correctly when using mouse/wheel. And command + +/- works if focus is within the simulation. But if there is no focus then it doesn't work.

[2020-07-13 23:49] jessegreenberg commented on #363
In HTML, this fires: `document.body.addEventListener( 'keydown', () => console.log( 'heyo!' ) )`. But in XHTML I never see the output. So adding listeners to the body is problematic in XHTML?

[2020-07-14 00:09] jessegreenberg commented on #363
Changing KeyStateTracker to attach listeners to window instead of body seems to fix things and still work in the HTML, but I don't understand why it isn't working in the HTML in the first place. I might end up doing this, but want to think about it a little more.

[2020-07-14 14:58] jessegreenberg commented on #363
It looks like listeners attached to the `document` are also correctly called in XHTML. Not a huge difference but it is closer to body in the hierarchy, so I am going to attach to document.

[2020-07-14 15:31] jessegreenberg commented on #363
@KatieWoe can you please confirm this is fixed in https://phet-dev.colorado.edu/html/molecules-and-light/1.6.0-dev.1/phet/xhtml/molecules-and-light_all.xhtml?  If so I will merge change with release branch.

[2020-07-14 15:36] jessegreenberg commented on #199
This branch can be deleted now.

[2020-07-14 15:38] #199 closed

[2020-07-14 15:39] jessegreenberg commented on #198
This branch can be deleted now.

[2020-07-14 15:39] #198 closed

[2020-07-14 15:40] jessegreenberg opened #364 "branch: wheelZoom"
I see it in list of branches, but it is not necessary anymore. It can be deleted.

[2020-07-14 15:41] jessegreenberg commented on #364
It is removed.

[2020-07-14 15:41] #364 closed

[2020-07-14 16:07] KatieWoe commented on #363
Looks good on Win 10 Chrome and Mac 10.15 Safari

[2020-07-15 03:31] muedli opened #365 "Sim took one minute to load on Firefox"
<b>Test Device</b>

Personal Devices: MacBook Air, Desktop PC

<b>Operating System</b>

macOS 10.15.5, Windows 10 1909

<b>Browser</b>

Firefox 78.0.2

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/513. The sim is taking way too long to load on Firefox for me. When I timed it, it took one minute. This might be because of my garbage internet, but the sim is loading reasonabl

[2020-07-15 16:10] jessegreenberg commented on #365
Hmm, thanks for reporting. phet-dev is often very slow for me so I suspect it is related to that. On both windows Firefox and Chrome the sim takes about 10 seconds to load. Actually, with the Firefox dev tools I can see how long is spent getting the sim from the server:
![image](https://user-images.githubusercontent.com/6396244/87568368-8c9fda80-c693-11ea-92a2-4b6acbf0a6e0.png)

And once that requ

[2020-07-15 16:11] jessegreenberg commented on #363
Great, thanks @KatieWoe

[2020-07-15 16:43] jessegreenberg commented on #363
cherry-pick complete, dependencies updated in https://github.com/phetsims/molecules-and-light/commit/e39683fcc5ddbdeecce61e528351bce70f07ff81

[2020-07-15 20:06] muedli commented on #365
I recorded the network time and the sim is loading really fast now. It's taking about three seconds now. I'm guessing it just has to do with my internet. I think it's safe to close this issue.

[2020-07-15 20:06] #365 closed

[2020-07-15 21:39] KatieWoe opened #366 "Full Screen Alt+k and Alt+l sound"
**Test device**
Jordan
**Operating System**
Mac 10.13.6
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/513
When in full screen on safari, pressing the alt+k or alt+l buttons leads to the "wrong/you can't do that" donk sound. The command still occurs.

**Steps**
1. Open full screen with the phet menu while in safari
2. Use the alt+k and alt+l commands
3. Compar

[2020-07-16 20:23] KatieWoe opened #367 "Possible conflicts between iOS zoom and voice over"
Device
iPad 6th Gen
OS
iPadOS 13.6
Browser
Safari
Problem Description
For https://github.com/phetsims/QA/issues/513
There are some potential problems between the zoom feature on the iPads and Voice Over. However, these seem like they may not be solvable, and priority may be low. First, I was unable to find a way to zoom in or out while using Voice Over. This is due to gestures being highly used in

[2020-07-16 20:34] loganbraywork commented on #367
For Firefox NVDA, all mouse functions appear to work, and using ctrl + and ctrl - both work, but arrow keys are overridden by screen reader at all times.

[2020-07-16 20:56] KatieWoe opened #368 "iPad VO convenience at end of Light Spectrum dialog"
**Test device**
iPad 6th Gen
**Operating System**
iPadOS 13.6
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/513
Once VO reaches the end of a dialog (in this case, the Light Spectrum dialog) swiping reads the last line again, rather than looping back to the top of the dialog. This means that, in order to leave the dialog at this point, a user must swipe backwa

[2020-07-16 21:21] KatieWoe commented on #352
Noting this issue in https://github.com/phetsims/QA/issues/513, in an instance where the scene description was cut off, but restarted without ever reading the alert.

[2020-07-16 21:32] KatieWoe opened #369 "Scene description says to turn on light, even when it is already on"
**Test device**
iPad 6th Gen
**Operating System**
iPadOS 13.6
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/513
When reading through the scene description, it will say `Turn light source on to explore.` even when the light source is already on.
**Visual**
![turnonlight](https://user-images.githubusercontent.com/41024075/87724935-91d75500-c779-11ea-9ae2-fc58c9

[2020-07-17 17:35] KatieWoe opened #370 "VO Full Screen describes sound in another tab"
For https://github.com/phetsims/QA/issues/513. Mac 10.15 Safari.
Unsure if this is an issue with the sim or with VO. When in full screen, VO would come up with an alert that a github background tab was making sound, even though the sim was the only tab and no such background sound could be heard.
![Image from iOS](https://user-images.githubusercontent.com/41024075/87814800-a66f2800-c821-11ea-9b18-

[2020-07-17 17:54] terracoda commented on #370
That is really weird @KatieWoe.

[2020-07-17 17:57] KatieWoe commented on #370
Yeah, I couldn't figure out what it was talking about. Sorry I don't have much else to add to the issue. It didn't cause any major problems that I could find, other than it being wrong. It did repeat it periodically.

[2020-07-17 18:01] terracoda commented on #369
We could have made this initial hint dynamic, but decided against it.
The likely scenario for non-visual access is that a learner will be reading from top to bottom, and while they can back and rad from top again after turning on the light source, in most cases they won't.

If the hint gets them playing with the light source on/off switch, it is doing its job.

I think, we can leave as is. I reall

[2020-07-17 18:02] terracoda commented on #369
Or @jessegreenberg, any thoughts to add?

[2020-07-17 18:05] Matthew-Moore240 commented on #369
Yeah I think we can leave it as is, I think it would be a very rare scenario for this to confuse a learner.

[2020-07-17 18:06] terracoda commented on #369
@jessegreenberg, I'll go ahead and close. You can re-open if you need to.

[2020-07-17 18:06] #369 closed

[2020-07-21 16:21] jessegreenberg commented on #370
Hmm, this is very strange. Likely not something that we can control but an issue with VoiceOver or Safari reporting sound from the wrong tab. Ill do some searching.

[2020-07-21 16:21] jessegreenberg commented on #370
I wonder if any HTML5 elements controlling audio are not in the full screen element.

[2020-07-21 16:35] jessegreenberg commented on #370
Hey, it looks like this was reported here: https://github.com/phetsims/molarity/issues/157

[2020-07-21 16:41] jessegreenberg commented on #370
In https://github.com/phetsims/molarity/issues/157#issuecomment-554150953 I reported that this was fixed in master in Molarity, but I am seeing the same behavior in molarity now as well.

[2020-07-21 17:19] jessegreenberg commented on #370
OK, the bug is happening in the following html:
[code]

[2020-07-21 17:22] jessegreenberg commented on #370
I just tried playing a youtbe video in full screen mode with VoiceOver, and VoiceOver said "Youtube started playing audio in a background tab." So I think this is just a weird VO thing.

In my testing so far I wasn't able to get VO to read the incorrect tab name, but I don't expect there is anything for us to do sim-side about that either.

I recommend we close as `wontfix` after adding this to ou

[2020-07-21 17:30] jessegreenberg commented on #368
This is a nice thought @KatieWoe but it is unfortunately not something we can control. On MacOS VoiceOver there is actually a user setting for this called "Allow cursor wrapping" which will move the cursor to top of the page after reading the last thing. But this option is not available in iOS VoiceOver.

Closing.

[2020-07-21 17:30] #368 closed

[2020-07-21 20:26] jessegreenberg commented on #370
We reviewed this issue during meeting today and agreed this seems like a strange VO quirk and agreed that we shouldn't spend any more time investigating.

[2020-07-21 20:30] jessegreenberg commented on #370
I added the issue to the bug tracker, see https://docs.google.com/document/d/1518zv6F0odExFsodShZxwTmWNQk3civuNwtQUR-rEBs/edit

[2020-07-21 20:30] #370 closed

[2020-07-21 20:44] jessegreenberg commented on #367
Thanks @KatieWoe and @loganbraywork. The behaviors that you described are expected, and sorry I didn't make this clear in the QA issue.

Correct, the VO gestures monopolize the screen, and we dont want to (and cannot) disable them for zoom.

Correct.

Hmm, this is a little strange. It is happening because we don't reposition PDOM elements off screen in attempt to reduce that where possible for per

[2020-07-21 20:44] #367 closed

[2020-07-21 21:09] jessegreenberg commented on #366
OK, I tried the `preventDefault` workaround that was successful with arrow keys, but it didn't work here. Unfortunately this is just another case of item 24 in the quirk tracking document.

Closing.

[2020-07-21 21:09] #366 closed

[2020-07-21 21:11] jessegreenberg commented on #358
https://github.com/phetsims/scenery/issues/1056 will likely involve substantial changes that should not be pulled into the release branch. I think I am going to try a specific commit that will fix the issue for MAL without introducing lots of changes that would de-stabilize the release..

[2020-07-21 21:58] jessegreenberg commented on #358
This has been fixed for the release branch.

[2020-07-21 22:02] jessegreenberg commented on #341
It is time for this. @KatieWoe @terracoda are there any other names to add to the list?

[2020-07-21 22:08] KatieWoe commented on #341
QA: Liam Mulhall, Kathryn Woessner, Logan Bray, Jaspe Arias
These should be in alphabetical order (I was just going down the matrix).

[2020-07-21 22:33] jessegreenberg commented on #358
To clarify, what I expect to work now in the release branch is that zoom commands from a keyboard should control zoom level when focus is on a radio button group. But I do not expect zoom commands with a keyboard to work in the LoL harness unless keyboard focus is within the simulation.

[2020-07-24 12:41] terracoda commented on #341
The a11y list is good, @jessegreenberg.

[2020-07-30 19:32] KatieWoe commented on #363
This is working in https://github.com/phetsims/QA/issues/520 on ChromeOS. Closing

[2020-07-30 19:32] #363 closed

[2020-07-30 19:44] KatieWoe commented on #359
This looks fixed in https://github.com/phetsims/QA/issues/520 on ChromeOS. Closing

[2020-07-30 19:44] #359 closed

[2020-07-30 21:19] KatieWoe commented on #358
Looks fixed in https://github.com/phetsims/QA/issues/520 on ChromeOS. Closing

[2020-07-30 21:19] #358 closed

[2020-07-30 21:29] KatieWoe commented on #361
Looks good in https://github.com/phetsims/QA/issues/520 on Win 10 Chrome Closing

[2020-07-30 21:29] #361 closed

[2020-07-31 18:00] KatieWoe commented on #341
QA still needs to be done for https://github.com/phetsims/QA/issues/520 @jessegreenberg

[2020-07-31 19:37] BLFiedler commented on #270
Alright - this is what I would consider my "best" attempt so far. I gave up trying to do one cut for the entire script, so there is a little editing here (the unpredictability of the photon absorption really catches you out with some strange pauses. I challenge you to identify where I cut out 3 visible photons ;) ).

Pulling in @terracoda to have a listen too if she has time.

https://drive.google

[2020-07-31 20:06] terracoda commented on #270
@BLFiedler, I'd say that's a cut! I think you did a fantastic job!
It looked and sounded really smooth to me.

There are plenty of places where you are not talking over the sounds, and I think it makes it beneficial that you talk over the sounds at certain points. It makes it clear that this sim has continuous sound once the photon button is pressed and the sim is not paused.

Nice job!

[2020-08-04 18:47] jessegreenberg commented on #341
Thanks @KatieWoe - now that phetsims/qa#520 is done can you comment on any names that should be added?

[2020-08-04 18:49] KatieWoe commented on #341
Just the ones in https://github.com/phetsims/molecules-and-light/issues/341#issuecomment-662132103

[2020-08-05 14:15] BLFiedler commented on #270
Hearing that MAL is publishing soon, I've gone ahead and uploaded this version to YouTube and added captions to be added to the website alongside the MAL publication. I'll close when that is done, but if there are any problems here, let me know and I can address ahead of that (or fix after).

[2020-08-05 22:30] jessegreenberg commented on #316
This is done as part of phetsims/joist#586

[2020-08-05 22:30] #316 closed

[2020-08-06 18:02] #270 closed

[2020-08-06 18:02] #226 closed

[2020-08-10 18:32] jessegreenberg commented on #341
Credits have been updated in both master and the release branch.

[2020-08-10 18:33] jessegreenberg commented on #210
This is no longer an issue now that the UI has been changed to include TimeControlNode
![image](https://user-images.githubusercontent.com/6396244/89817633-82e48800-db16-11ea-9b8c-33d9351d5388.png)

[2020-08-10 18:33] #210 closed

[2020-08-11 12:59] terracoda opened #371 "Need new screenshot and thumbnail for latest version of MAL"
@jessegreenberg, great that MAL is published! Hip, hip, hooray!

You may already know that there is no thumbnail on the filter page and an out-of-date screenshot on the sim page.

I am not sure of this is a website issue or a sim issue. Please advise.

[2020-08-11 13:02] terracoda commented on #371
Maybe this is related to #223?

[2020-08-11 15:49] jessegreenberg commented on #371
Thanks @terracoda - I can't remember if there is an automated way to create the screenshot or if I need to do it manually. Ill take a look.

As for the filter page I don't know why it isn't showing up there and will probably need some help from someone more knowledgeable about the website.

[2020-08-11 16:12] jessegreenberg commented on #371
OK @KatieWoe is familiar with how to make the new thumbnail and said she would do it, thanks! @KatieWoe can you please make the image from the master branch and put it in the 1.5 branch as well?

[2020-08-11 16:48] jessegreenberg commented on #371
I discussed the missing image on the filter page with @chrisklus. We verified that the build of MAL did not generate the icon with width of 420, the one used by that page. We noticed that other sims had these images added at different times than the build, indicating that they were added manually. I am not sure what the long-term solution should be, but it seems like we should be building the 420

[2020-08-11 18:16] KatieWoe commented on #371
The above commits should do it. Screenshots and alts are replaced. Some changes made due to new photon rates, so old screenshots couldn't be fully matched.

[2020-08-12 15:54] jessegreenberg commented on #371
Awesome, thanks @KatieWoe.

@chrisklus we the images are ready to be added.

[2020-08-12 23:07] jessegreenberg commented on #371
OK, 1.5.1 was just published which updated the screenshot image. We are still looking into the missing image for the filter page.

[2020-08-12 23:22] jessegreenberg commented on #371
Alright, @chrisklus was able to manually put the missing image into the build directory so that it shows up on the filter page. Would be good to get to the bottom of this soon so that it doesn't happen on next publication. However, MAL specific things are done. Closing this issue. Thanks for pointing out the missing image @terracoda.

[2020-08-12 23:22] #371 closed

[2020-08-13 17:02] jessegreenberg commented on #341
Reopening - coming back to this I misread that https://github.com/phetsims/molecules-and-light/issues/341#issuecomment-663519122 meant the list in https://github.com/phetsims/molecules-and-light/issues/341#issue-621184284 rather than the list in the sim. Names in https://github.com/phetsims/molecules-and-light/issues/341#issue-621184284 need to be added and then another maintenance release should

[2020-08-13 17:33] jessegreenberg commented on #341
https://github.com/phetsims/chipper/issues/969 is currently still an issue so if I deploy a maintenance release it will remove the images used by the filter page and other things. I need to wait to deploy until that issue is fixed or someone from the website team can help manually put the images up.

[2020-08-17 16:44] mattpen commented on #341
phetsims/chipper#969 should be fixed now and shouldn't block progress on this issue.

[2020-08-17 23:39] jessegreenberg commented on #341
Thanks @mattpen - and it looks like the fix was made to perennial so no changes will need to be moved to the MAL 1.5 release branch. I am going to go ahead with deploying the next maintenance release of MAL.

[2020-08-19 16:32] jessegreenberg commented on #341
1.5.2 was deployed with updates to credits.

[2020-08-19 16:32] #341 closed

[2020-08-24 23:26] arouinfar opened #372 "Update Teacher Tips"
Lots of change were made in the 1.5 release, and the Teacher Tips should be updated.

[2020-09-01 15:36] jessegreenberg opened #373 "Uncaught Error: Assertion failed: matrix should be a finite Matrix3"
Caught from https://github.com/phetsims/aqua/issues/106, trying to enable multitouch fuzzing.
[code]

[2020-09-01 15:37] jessegreenberg commented on #373
The matrix it is trying to set is full of `NaN`s.

[2020-09-01 15:53] jessegreenberg commented on #373
Seemed to happen quickly in the above comment, but now after many minutes of fuzzing I cannot get this to happen.

[2020-09-01 16:07] jessegreenberg commented on #373
I suspect it is a division by zero error
[code]

local points could be right on the localCentroid and distance could possibly end up as zero.

[2020-09-01 16:16] jessegreenberg commented on #373
OK, I just hit this assertion:
assert && assert( localSquaredDistance !== 0, 'distance to centroid should not be zero' );

happened while I was resizing window if that matters.

[2020-09-01 16:29] jessegreenberg commented on #373
Detailed infor:

There are two Presses down. Each have same trail with id `215-216`, going to simulation root. First one at (81,205). Second one at (166,584). Local points are BOTH at `{x: 50.30255742309739, y: 413.06044413233985}`. Target points are same as Pointer points.

I don't think this is the problem, the scale is limited. Stepping beyond the assertion shows no problems.

[2020-09-01 16:37] jessegreenberg commented on #373
OK, hit the actual error - this time two Pointers are down in the exact same spot:
![image](https://user-images.githubusercontent.com/6396244/91881709-e82c2480-ec4f-11ea-80de-0e9bc97b224d.png)

[2020-09-01 17:53] jessegreenberg commented on #373
Should be fixed in the above commit - if Press points are in exactly the same spot (which is only possible during fuzz testing) we will not adjust scale at all. I tested by trying `?fuzz&fuzzPointers=3` for many minutes, and in aqua (where it seemed to happen more frequently. Can no longer get it to occur. Closing.

[2020-09-01 17:53] #373 closed

[2020-09-03 00:09] zepumph commented on #353
Unassigning until we work on PhET-iO in this sim.

[2020-09-22 15:22] Denz1994 opened #374 "TimeSpeedProperty valid values don't match Time Speed radio buttons"
Discovered during https://github.com/phetsims/scenery-phet/issues/607:

In the studio view of MAL, searching for "TimeSpeedProperty" shows `Valid Values: Fast, Normal, Slow`. However, the radio buttons are limited to only "Normal" and "Slow". Selecting the "Fast" option in the studio view will deselect both radio buttons in the sim view and doesn't seem to change the sim speed.

I would expect the

[2020-09-22 16:40] jessegreenberg commented on #374
Thanks @Denz1994 fixed in the above commit, only valid options in studio now:
![image](https://user-images.githubusercontent.com/6396244/93911740-c7943f00-fcd0-11ea-922e-5a8f7b79a3eb.png)

[2020-09-22 16:40] #374 closed

[2020-10-05 14:51] KatieWoe opened #375 "CT phetioID already registered"
[code]

[2020-10-06 15:48] samreid commented on #353
The current pattern is now throwing errors on CT, so I decided to try it out. But I am stuck on a count mismatch on the destination frame.  Here's my progress patch:

<details>

[code]

</details>

[2020-10-10 03:37] #201 closed

[2020-10-14 20:25] terracoda opened #376 "iOS14 - Pause/Play button may not work with VoiceOver enabled"
iOS 14 was just coming out when MAL was published, so it may not have been fully tested with VoiceOver.

I just heard that the Pause/Play button was not working for a VO user who was using iOS 14.

@jessegreenberg volunteered to check out this issue.

[2020-10-14 20:26] terracoda commented on #376
@KatieWoe said she could chime in and help if needed.

[2020-10-14 21:23] KatieWoe commented on #376
I confirmed the issue with the play pause button. Even more worryingly, I wasn't able to turn on the light source. I also couldn't press the mute button. I was able to change speed, molecule, and source, but buttons may be the issue. When trying to press them, I heard the sounds that I would expect, but nothing happened.

I tested another sim (Gravity Force Lab) and saw the same sort of issue. I w

[2020-10-14 21:44] jessegreenberg commented on #376
I just upgraded to iOS 14, and I am noticing some other differences with this upgrade. But buttons including the PlayPauseButton and ResetAllButton are working as I would expect with VoiceOver.

[2020-10-14 21:48] KatieWoe commented on #376
Did a quick check on Mac 10.15.7 on Safari 14 and was able to use the buttons there.

[2020-10-14 21:49] jessegreenberg commented on #376
OK, I just tested the published version and I did see the problem. So this is NOT a problem on master, but is a problem on the published version. It looks like everything is getting two events, so the play/pause button is getting fired twice rapidly which explains why @KatieWoe heard the sound but it didn't change state.

[2020-10-14 21:51] KatieWoe commented on #376
That explains why I saw the problem in some cases, but not others.

[2020-10-15 01:06] jessegreenberg commented on #376
Indeed, this is a general issue. It looks like many things are getting both pointer events and PDOM click events now so things are getting the PDOM click event and the pointer event. Moving to scenery.

[2020-10-15 01:06] #376 closed

[2020-10-18 00:34] samreid commented on #375
This will likely be solved by https://github.com/phetsims/molecules-and-light/issues/353

[2020-10-18 03:38] samreid commented on #375
Proposed fix committed for #353, let's track it there.  Closing.

[2020-10-18 03:38] #375 closed

[2020-10-18 03:38] samreid commented on #353
The main ingredient I was missing was to convert `photon.dispose` to `photonGroup.disposeElement(photon)`.  After adding that, things are working much better.  @zepumph can you please review at your convenience?

[2020-10-21 22:37] zepumph commented on #353
RE: https://github.com/phetsims/molecules-and-light/issues/375, I'm a bit surprised to see that general registration assertion instead of a more specific one built into trying to add/remove elements during state, like https://github.com/phetsims/tandem/blob/607bb16eef2b0f1335a1e1f886ed3fa16637e07b/js/PhetioDynamicElementContainer.js#L320-L322. Do you think there could be a way to check on this cen

[2020-11-13 16:14] kathy-phet opened #377 "Query parameters to limit gases and light sources"
Received an inquiry from a national effort to create an openly-licensed science curriculum. They would like to be able to remove some gases and some energy sources. Would it be difficult to add a query parameter to enable users to do this sort of limitation? I also would like to understand how this would interplay with the accessible description and features?

[2020-11-13 17:11] samreid commented on #377
About the query parameter syntax, we could opt-in by saying exactly which sources and gases are desired:
?sources=microwave,visible&gases=carbonMonoxide,nitrogen,water.

Or we could indicate which ones to omit:
?omitSources=visible&omitGases=methane

The top "opt-in" approach seems more natural, but if most use cases are "I'd just like to remove one or two things", then the latter "opt-out" approa

[2020-11-13 19:27] jessegreenberg commented on #377
I like that syntax, that would make sense to me.

I don't anticipate any problems with adding support for this. I don't think there will be an impact on the accessibility features. I reviewed the descriptions and don't see any that are dependent on a certain number of gasses/sources or assume all are in the sim.

@kathy-phet what do you think about the syntax that @samreid proposed, should I add t

[2020-11-13 19:30] samreid commented on #377
Specifically, please comment whether you prefer the "opt-in" or "opt-out" approach.

[2020-11-13 20:53] arouinfar commented on #377
I'm think the opt-out approach will generally end up with shorter query parameter values, so that'd be my vote. It also sounds more advantageous for this particular client.

[2020-11-13 22:12] kathy-phet commented on #377
Moving discuss here: https://github.com/phetsims/special-ops/issues/175

[2020-11-17 19:58] samreid commented on #353
Great idea @zepumph! I changed that in the commit.  Can you please review that part?

I wasn't clear on this, can you elaborate or brainstorm some possibilities?

[2020-11-18 18:27] zepumph commented on #353
https://github.com/phetsims/molecules-and-light/commit/7103b2d065c057f0a8e8461632e91de22063d327 looks really nice. I love the cleanup and uninstrumentation of the model.

I have been trying to make the conversion to/use of PhetioGroup as simple as possible, but right now there are still some wrong things that can yield some awkward error messages. In this particular case, if you call `Photon.dispo

[2020-11-18 18:53] samreid commented on #353
Sounds good, what if close this issue and open a tandem issue about the last point?  Also, we may have limited options regarding `Photon.dispose()` vs `photonGroup.disposeElement()` if we code the member elements (like Photon) so that they are unaware they are group members.

[2020-11-18 21:44] zepumph commented on #353
I think I would prefer to just close, and keep it in our minds for the next times we are using PhetioGroup and run into this.

[2020-11-18 21:44] #353 closed

[2020-12-10 19:35] terracoda opened #378 "(Mobile A11y) My Challenge is not opening with VO's double tap with VO enabled"

[2020-12-10 19:36] #378 closed

[2020-12-18 22:37] jessegreenberg commented on #377
Closing this issue, it is being tracked in the issue above.

[2020-12-18 22:37] #377 closed

[2021-01-26 19:17] jessegreenberg opened #379 "Maintenance release with openSciEd string for i18n"
In https://github.com/phetsims/chipper/issues/999 @zepumph made it an error to nest non-a11y strings because they are not translatable. It caught the openSciEd label which should not have been using nested strings and is currently not translatable. Commit was fixed in master by @zepumph, thanks! That change needs to be moved to molecules-and-light release branch so the string is translatable.

[2021-01-26 20:31] jessegreenberg commented on #379
1.5.7 was redeployed with c61b55fdcfe9b09f289490dce42d12de215eb72f. @KatieWoe helped verify that the string is now translatable. This can be closed.

[2021-01-26 20:31] #379 closed

[2021-04-20 21:41] jbphet opened #380 "Some of the sound files are larger than they probably need to be"
While working on the soundboard (see https://github.com/phetsims/phetmarks/issues/45), I noticed that the slow-motion rotation sounds are very long.  I suspected that this means that the files are also quite large, and indeed they are.  According to Windows Explorer, the size for both `rotation-counterclockwise-slow-motion.mp3` and `rotation-clockwise-slow-motion.mp3` is  is 303 KB.  The lengths o

[2021-04-20 21:42] jbphet commented on #380
Note to self: Remember to benchmark the sim size and startup time before and after making the changes to these files.

[2021-04-21 18:53] jessegreenberg opened #381 "Update documentation under /doc to indicate relationship with greenhouse-effect"
After https://github.com/phetsims/greenhouse-effect/issues/19, contents under doc won't be accurate anymore and will need to be udpated.

[2021-04-28 17:10] jessegreenberg opened #382 "Move translated strings from molecules-and-light to greenhouse-effect"
From https://github.com/phetsims/greenhouse-effect/issues/19, code and strings being moved from molecules-and-light to greenhouse-effect. When this sim is republished (after Greenhouse Effect is published ), translatable strings should be moved over to that repository so translators don't have to start over for this sim.

[2021-05-05 19:30] jessegreenberg commented on #223
This directory has been renamed.

[2021-05-05 19:30] #223 closed

[2021-05-06 20:57] jessegreenberg opened #383 "branch: soundDesignProto01"
Found while going through branches for https://github.com/phetsims/special-ops/issues/198. This was a one-off branch for https://github.com/phetsims/molecules-and-light/issues/216. @jbphet would you like to keep this one-off branch or can it be pruned?

[2021-05-06 20:58] jessegreenberg commented on #199
Re-deleted for https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:59] jessegreenberg opened #384 "branch: filters"
A branch to explore using global CSS filters to control color profiles in the sim. No plans to work on this in the near future, but would be good to keep this around. We will likely pick it up again in a more general way someday.

[2021-05-06 21:00] jessegreenberg commented on #364
Re-deleted for https://github.com/phetsims/special-ops/issues/198

[2021-05-06 21:01] jessegreenberg opened #385 "branch: 3dtemp"
A branch created to explore a "3D" look for methane. This work has been merged into master. Deleting it now while going through https://github.com/phetsims/special-ops/issues/198

[2021-05-06 21:01] #385 closed

[2021-05-06 21:02] jessegreenberg commented on #181
Re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-06 21:02] jessegreenberg commented on #170
Re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-11 19:55] jbphet commented on #383
This branch is no longer needed and was accidentally brought back.  I've re-deleted it.  Closing.

[2021-06-23 18:52] pixelzoom opened #386 "Hotkeys are not handled correctly in translated strings."
Noted while working on hotkey support for Fourier in https://github.com/phetsims/fourier-making-waves/issues/91.

Hotkeys are inlined in the implementation, for example see greenhouse-effect MicroScreenView:

[code]

Then they are duplicated in the translated strings, for example in molecules-and-light-strings_en.json:

[code]

So if the code needs to be changed, we'll have to change (potentially

[2021-06-26 00:35] arouinfar commented on #372
Looks like @BLFiedler already took care of this long ago, thanks!

[2021-06-26 00:35] #372 closed

[2021-08-26 15:18] KatieWoe opened #387 "CT Perennial task failed"
[code]

[2021-11-02 14:20] samreid opened #388 "Mark this sim as typescript, since it depends on greenhouse-effect"
Discovered in https://github.com/phetsims/dot/issues/112, we need to mark this sim as typescript, since it depends on greenhouse-effect.

[2021-11-02 14:22] samreid commented on #388
Fixed, assigning to @jessegreenberg so he is aware.  OK to close when you are.

[2021-12-21 15:44] KatieWoe opened #389 "CT Build failed with status code 1"
[code]

[2022-02-25 19:36] KatieWoe opened #390 "Photons remain frozen when sim is launched"
Found during https://github.com/phetsims/phet-io/issues/1626.
If there are photons on the screen when the sim is launched, the photons freeze in place in the launched sim and do not move. Switching the light source seems to get rid of them.
![photononscreen](https://user-images.githubusercontent.com/41024075/155780413-461597ad-0b6c-4355-a61b-9245d4ab3bfa.gif)

[2022-02-25 20:19] zepumph commented on #390
Excellent. This seems to be a state bug. We will get to this next time we work on the sim. Tagging @jessegreenberg and @jbphet so they are away in case they need to publish greenhouse + MAL with phet-io state support sooner rather than later (I don't think that's true).

[2022-04-29 23:18] jessegreenberg opened #391 "Remove platform.edge workarounds?"
From https://github.com/phetsims/phet-core/issues/115, it would be nice to remove these workarounds. Edge has become chromium based and I suspect these workarounds are no longer necessary.

[2022-04-29 23:23] jessegreenberg commented on #391
I just tried the sim on Edge and photons are animating quickly.

@KatieWoe would you be able to run the sim on Edge and comment if you notice it running slower than Chrome after this change?

[2022-05-03 15:42] Nancy-Salpepi commented on #391
@jessegreenberg I'm not seeing any differences in the sim when testing with Chrome vs. Edge. The movement of the photons as well as the vibration/rotation of molecules looks good.

[2022-05-25 21:44] KatieWoe opened #392 "CT After startup, only dynamic instances prescribed by the baseline file can be registered."
[code]

[2022-05-26 16:23] zepumph commented on #392
Tracked and fixed in https://github.com/phetsims/sun/issues/761, closing.

[2022-05-26 16:23] #392 closed

[2022-09-03 20:26] samreid commented on #388
All sims can now use TypeScript and TypeScript dependencies, so this does not need attention.  Closing.

[2022-09-03 20:26] #388 closed